[2020-10-28 15:12] awinogradov opened #1 "Завести доску для ведения issues"

[2020-10-28 16:15] and7ey opened #3 "Голосом не распознается "Я""
Спрашиваю в своем смартапе - "кто будет угадывать - ты или я?", а "я" ответить игрок не может. СберБокс такой ответ не распознает. "Я, я" распознается как "yeah yeah".

[2020-10-28 16:28] #1 closed

[2020-10-29 06:21] and7ey opened #4 "Блок Ввод числа в Graph работает некорректно"
Блок Ввод числа с голосовым вводом сейчас использовать нельзя, т.к. голосовой ввод не работает корректно (123 распознается как 1пробел2пробел3, а потому числом уже не считается).
Использую сейчас Ввод текста. А затем делаю преобразование -

`$tg_user_id = String($tg_user_id).toLowerCase().replace(/восемь/g, '8').replace(/семь/g, '7').replace(/шесть/g, '6').replace(/пять/g, '5').replace(/четыре/g,

[2020-10-29 06:23] and7ey opened #5 "Использование музыки СберЗвук в смартапах"
Можно ли сделать так, чтобы музыка из СберЗвука была доступна в навыках? Было бы полезно для навыков типа "Угадай мелодию" - чтобы не искать свою музыку и чтобы все было законно.

(Понятно, что музыка может появляться и исчезать в каталоге, но разработчики навыков смогут это предусмотреть).

[2020-10-29 06:28] and7ey opened #6 "Canvas App не протестировать из Graph"
Если запускать Canvas App из Graph, то никакие запросы на frontend endpoint не посылаются. Было бы правильно либо их отсылать, либо хотя бы уведомлять, что Canvas App надо тестировать либо в браузере, либо на СберБоксе/в СберСалюте.

[2020-10-29 08:14] subnetsRU opened #7 "Отсутствуют кнопки (саджесты) при первом запуске смартапа на сбербокс и сберпортал"
Запускаем смартап на Сбербокс.
В ответе от смартапа в payload присутствует:
`"suggestions":{"buttons":[{"title":"test","action":{"type":"text","text":"test"}}]}`
Но на экране кнопка (саджест) отсутствует. Появляется только при последующих запросах в смартап.

[2020-10-29 08:20] awinogradov opened #8 "Test connection"

[2020-10-29 08:20] #8 closed

[2020-10-29 08:20] subnetsRU opened #9 "Засыпание смартфона при использовании Салюта."
При использовании приложения Салют на android 9 (и некоторых других версиях, судя по всему те что менее 10-ой) смартфон засыпает прямо на ответе от ассистента.
Приходится постоянно тыкать в экран, чтобы взаимодействовать со смартапами.

[2020-10-29 08:31] subnetsRU opened #10 "Ассистент слышит сам себя при кнопке с server_action."
Если в payload от смартапа отдавать кнопки с server_action:
`"suggestions":{"buttons":[{"title":"test","action":{"type":"server_action","server_action":{"action_id":"test"}}}]}`
то ассистент (на адройде 9 точно) начинает слышать сам себя:
![my_voice_little](https://user-images.githubusercontent.com/18159237/97543689-a282a280-19d9-11eb-9489-71a5e5d2e3f2.jpeg)

Чаще всего баг повторяется при следующ

[2020-10-29 08:39] subnetsRU opened #11 "Интент "Включи на" принудительно завершает смартап"
Запускаю смартап.
ASR распознаёт сказанное мной как "включи на" и при этом смартап принудительно завершается, а затем предлагается выбрать голос ассистента.
![enable](https://user-images.githubusercontent.com/18159237/97544914-4f115400-19db-11eb-8ac5-a55d5e2da03c.jpeg)

Это в дополнение к списку, который был озвучен в ТГ @smartapp_studio
* погода
* сколько времени
* установка таймера
* громкость
*

[2020-10-29 08:47] subnetsRU opened #12 "Очень маленький timeout для chatapp смартапов на сбербокс."
Текущий таймаут на сбербокс 40 секунд.
Если вы не взаимодействуете со смартапом дольше этого времени, то сбербокс возвращается на главный экран.
Если ответ от смартапа идёт дольше чем это время (_например зачитываются правила игры_), то приставка уже на главном экране, а зачитывание текста продолжается.

Необходимо существенно увеличить таймаут.
Ведь получается, что у человека нет времени не то, ч

[2020-10-29 08:52] subnetsRU opened #13 "Добавить timezone пользователя в JSON"
В смартапах хотелось бы получать timezone пользователя, чтобы, как пример, правильно с ним здороваться.
Сейчас получается смартап говорит "Доброе утро", а у пользователя уже "Добрый вечер".

[2020-10-29 08:56] and7ey opened #14 "Включить в chatbot.yaml доп. информацию из Studio"
К примеру, frontend endpoint url - чтобы в выгрузке из Code был проект целиком, а не только его бэкенд часть
(полезно для бэкапов, клонирования проектов).

[2020-10-29 09:22] subnetsRU opened #15 "Добавить в команды запуска смартапа команды типа "спроси у"."
Добавить в команды запуска смартапа команды по типу:

- спроси у
- узнай у
- попроси у

Необходимые для смартапов с одним ответом и не предполагающих дальнейшего диалога с пользователем. Такой тип запуска смартапа у пользователя будет ассоциироваться с односложным ответом и автоматическим завершением смартапа.

Например: "узнай у _<НАЗВАНИЕ СМАРТАПА>_ курс доллара"
В этом случае платформа запустит

[2020-10-29 09:32] subnetsRU opened #16 "Сбербокс и интенты "Дальше", "Назад" и тому подобные."
Сейчас на сбербокс при интенте "дальше" в смартап вообще ничего не приходит.
При интенте "назад" сбербокс закрывает смартап.

В чате @smartapp_studio выяснилось, что связано это с попыткой управления кнопками направления пульта голосом.
Это здорово, но получается, что подобные интенты нельзя использовать в смартапе. Мы, разрабочики смартапов, конечно можем переделать "дальше" на "далее", а "назад"

[2020-10-29 09:44] subnetsRU opened #17 "Проблемы с синтезом речи для озвучивания буквы"
Примеры TTS с совсем плохо звучащих букв:
[code]

[2020-10-29 10:05] subnetsRU opened #18 "Распознавание речи и лучшая гипотеза не на русском, а на английском языке."
Сейчас в системе распознавания есть явный перекос в сторону английского языка.
Причём это проявляется не только на словах, но и на именах.
Как примеры:
[code]
Имя "Влад", тоже приезжает как "vlad".

Пример распознавания слова "вампир":
[code]
Пример распознавания слова "бритва":
[code]
Включая распознавание отдельных букв, как примеры:
* "буква С" основная гипотеза "буква S"
* "буква З" основная г

[2020-10-29 10:18] subnetsRU opened #19 "Сбербокс и отображение каталога"
1. На главном экране "запусти каталог" очень много места съедается просто так.
Даже на большом экране
![catalog_1](https://user-images.githubusercontent.com/18159237/97555039-aa960e80-19e8-11eb-951e-e4ecec04c8a6.png)
Для навыков очень мало места и приходится много листать.

2. При нажатии "вниз" с экрана п.1 мы попадаем не на экран с разделами каталога, а в список умений сбербокса:
![catalog_2](ht

[2020-10-29 10:31] skobets commented on #14
@and7ey, имеется ввиду сам url выгружать вместе с бекендным проектом или речь про хранение самого исходного кода фронта?

[2020-10-29 10:32] and7ey commented on #14
URL, конечно же.

[2020-10-29 11:22] asmalakhov-sberdevices commented on #14
@and7ey а потребность, только в URL фронта?

[2020-10-29 12:15] xoxulin opened #20 "[Smartapp Studio] Проблема сброса валидации Активационных имен в панели вывода на Модерацию"
"Флаг" ошибки в активационном имени не сбрасывается.
* Жмём "+Добавить имя"
* Вводим название со спецсимволом и получаем ошибку, что приводит к появлению иконки "внимание" перед "Активационные имена" и отключением кнопки "отправить на модерацию"
* редактируем или удаляем строку с ошибкой в имени
* иконка "внимание" и кнопка "отправить на модерацию" так и остаются
* ок, переходим какой нить другой

[2020-10-29 12:28] subnetsRU commented on #20
Видео с этой проблемой: https://t.me/smartapp_studio/3187

[2020-10-29 12:56] and7ey commented on #14
В идеале - все настройки смартапа (название, активационные фразы и т.п.). См. мой use case - сделать бэкап, сделать полную копию смартапа.

[2020-10-29 17:04] and7ey opened #21 "[Graph] Блоки Ввод текста и Ввод числа - нет разметки для речи"
В этих блоках нельзя задать как произносить (голосом) указанный текст. Итого текст "укажите свой ID" читается как "укажите свой ид" и ничего с этим поделать нельзя.

[2020-10-29 17:06] and7ey opened #22 "[Assistant Client] Нужна реализация в виде script"
Для снижения уровня вхождения в разработку Canvas App, нужно сделать решения для подключения ассистента просто через <script>.

[2020-10-29 22:05] and7ey opened #23 "Имя смартапа в Code остается старым"
Имя смартапа в Code остается старым, если проект переименовать в Studio

[2020-10-30 08:34] and7ey opened #24 "Миграция проекта из Graph в Code"
https://t.me/smartapp_studio/3482 обсуждение здесь и ниже

[2020-10-30 08:36] and7ey opened #25 "[Assistant Client] Не показывает текстовые ответы"
Нужно отображать текстовые ответы от бэка на фронте и предусмотреть возможность отключать голос. Тестировать фронт с голосом - долго.

[2020-10-30 13:32] vitalets commented on #16
У меня похожая проблема - платформа перехватывает фразу "Время", хотя это запланировано по сценарию смартапа. В данной ситуации пользователь находится в контексте смартапа и явно говорит "Время" не с целью. узнать текущий час.

Возможно стоит включать системный перехват интентов через некоторый таймаут бездействия, т.е. когда пользователь из контекста смартапа уже вышел. Хотя это тоже не всегда ср

[2020-10-31 06:40] subnetsRU opened #26 "При нажатии кнопки с server_action на сбербокс не прерывается ответ ассистента"
В дополние к [тикету 10](https://github.com/sberdevices/salute-issues/issues/10) обнаружилась ещё одна особенность, но уже на сбербоксе.
Если нажимать на кнопку с server_action, во время ответа от ассистента, то его речь не прерывается, так как это происходит в приложении Салют (на андройде точно, за айфон не скажу) и он продолжает говорить до конца, а только потом выполняется action.

[2020-10-31 07:01] subnetsRU opened #27 "Каталог показывает, что chat app "18+", хотя это не так"
При открытии каталога на Сбербокс, например раздела игры, у многих отображается, что игра "18+", хотя это не так.
В настройках в Studio указаны иные настройки возрастного ограничения.

[2020-10-31 07:02] subnetsRU opened #28 "В каталоге не показывается описание смартапа"
При нажатии на смартап в каталоге на сбербокс отсутствует описание, хотя в stuido оно есть.

[2020-11-02 11:43] subnetsRU commented on #11
Обнаружен ещё один интент - «выбрать» ([ТГ](https://t.me/smartapp_studio/3637))

[2020-11-02 12:24] #28 closed

[2020-11-02 18:21] snyuryev opened #29 "Добавить возможность сохранения сценария в Code по комбинации клавиш Ctrl(Cmd)+S"

[2020-11-02 18:22] snyuryev opened #30 "Добавить возможность работы с Math в сценариях Code"

[2020-11-03 05:13] Genenko-Svetlana commented on #10
Исправление ожидает влития и тестирования

[2020-11-03 05:27] #27 closed

[2020-11-03 05:50] Genenko-Svetlana commented on #11
Заведён дефект

[2020-11-03 06:53] Genenko-Svetlana commented on #19
В новой версии каталога планируется поднять блок с категориями наверх, добавить новые подборки на главную, часть из них будет редакторскими, часть будет собираться автоматически

[2020-11-03 07:05] Genenko-Svetlana commented on #9
По android есть баг, поправили в ноябрьской версии (ориентировочно 09.11.20)

[2020-11-03 07:12] Genenko-Svetlana commented on #26
В работе

[2020-11-03 07:30] Genenko-Svetlana commented on #12
Таймаут увеличен до 90 сек.
Планируем делать фичу, чтобы навык сам мог переопределить для себя параметр бездействия.

[2020-11-03 07:41] subnetsRU commented on #12
Спасибо. Вечером проверю.

[2020-11-03 07:44] subnetsRU opened #31 "Добавить возможность смартапу переопределить время бездействия"
Реализовать возможность переопределять значение timeout самому смартапу.

Как продолжение тикета #12

[2020-11-03 07:47] subnetsRU commented on #9
Ясно, спасибо. Ждём.

[2020-11-03 10:48] and7ey opened #32 "Не показываются кнопки (саджесты), если добавлены к полю Ввод текста"
Если используется просто блок Текст, то кнопки показываются -
[code]

А если блок Ввод текста, то кнопки не показываются -
[code]

[2020-11-03 15:52] and7ey opened #33 "CanvasApp не работают в СберСалюте"
Делать два практически одинаковых смартапа, один - для Салюта, другой - для Бокса, выглядит странным.
Почему бы не добавить настройку в Canvas App, говорящую о том, этот смартап и без canvas-части он может полноценно?

[2020-11-04 11:09] subnetsRU commented on #12
Протестировал.
На моём сбербокс всё те же 40к секунд.
Подскажите, это надо ждать апдейта прошивки сбербокса ? Или это ещё реализовано, но не выпущено в продакшн ?

[2020-11-04 15:17] and7ey opened #34 "В Canvas стандартные кнопки (buttons) нельзя выбрать пультом"
Приходится изобретать свои. Но зачем тогда нужны стандартные buttons? Может, их не надо тогда показывать на экране вовсе?

[2020-11-05 07:29] KKPotapova commented on #3
закрыт ошибочно

[2020-11-05 07:31] asmalakhov-sberdevices commented on #21
@and7ey Возьмем в проработку этот вопрос.
Как решение сейчас, можно использовать Блок ввод текста + интенты
Добавить Текст с разметкой и блок интент. В интенте создать "собственный интент" и заполнить его как $NUMBER::number
Тут number это название переменной, в которую сохранится ввода пользователя. После :: можно указать любое название. переменной. В сценарии переменная будет доступна через $num

[2020-11-05 07:50] Genenko-Svetlana commented on #12
Разработчики подтвердили, что это уже реализовано. Сможете мне выслать видео в Telegram?

[2020-11-05 08:10] subnetsRU commented on #12
Да, конечно, сейчас отправлю.

[2020-11-05 08:25] RulevAnton commented on #17
1. Почти все буквы фиксятся с помощью ssml разметки с помощью тега spell-out, который проговаривает слова по буквам по типу:
<speak>Букву <break time="200ms" />
<say-as interpret-as="spell-out"> в </say-as>
<break time="100ms" /> уже называли. Её нет в этом слове. Нужна новая версия.</speak>
Даже Ъ и ь раскрывает :slightly_smiling_face:
2. В основном остаются проблемы с буквами:
е
ё
и
й
ы

[2020-11-05 08:42] subnetsRU commented on #18
Вот ещё "пару" ярких примеров.

Человек пытался сказать "Райкин":
[code]

"изолента":
[code]
"барсук":
[code]

"бренд":
[code]
"Внуково":
[code]
При этом с "пулково" всё ок:
`"message":{"original_text":"пулково","normalized_text":"пулково ."`

"ковёр":
[code]

Имя "Макс":
[code]

Даже своё название шлёт на аглицком:
[code]

[2020-11-05 08:48] subnetsRU commented on #34
На самом деле можно. Я вчера тоже столкнулся с этим.
Если на пульте нажать несколько раз вправо, то есть шанс, что вы переместитесь на кнопки и окажетесь на самой правой кнопке. Нажатие "вниз" ни к чему не приводило, сколько б раз не нажимал.
Кол-во нажатий вправо может варьироваться. Вероятно связано с кол-вом элементов на экране или ещё чем.

ИМХО: нужно оставить штатные тоже. Надо просто понять

[2020-11-05 09:09] RulevAnton commented on #17
Для оставшихся букв можно использовать такое обходное решение:
1. "е"
<speak>Букву <break time="200ms" />
<say-as interpret-as="spell-out"> ее </say-as>
<break time="100ms" /> уже называли. </speak>

2. "ё"
<speak>Букву <break time="200ms" />
<say-as interpret-as="spell-out"> йо </say-as>
<break time="100ms" /> уже называли. </speak>

3. "и" - вроде и так норм звучит, но можно подтюнить так:
<spea

[2020-11-05 09:29] and7ey commented on #34
Штатные, конечно, лучше. Тогда нужно сделать, чтобы они работали нормально.
И нам не придется тогда руками кнопки добавлять.

[2020-11-05 09:35] and7ey commented on #21
Антон, не очень понял предлагаемое решение.

Тут имелось в виду Блок текст + интенты? (не блок ВВОД текста)

`$NUMBER::number` это ведь ввод числа? А у меня ввод текста.

[2020-11-05 09:37] and7ey commented on #30
А сейчас разве не работает? У меня вот так -

[code]

Или что-то другое имеется в виду?

[2020-11-05 09:40] vkycniichai commented on #17
@subnetsRU уточните, помогли ли рекомендации, приведенные выше?

[2020-11-05 09:42] Genenko-Svetlana commented on #12
Задачу вновь открыла. Ждем решения после 10.11

[2020-11-05 13:57] and7ey opened #35 "Увеличить время работы ключа Assistant Client"
1 день - очень мало. Раз в день приходится делать бесполезное действие.

[2020-11-05 15:41] awinogradov commented on #34
Пульт эмулирует нажатия клавиш клавиатуры: TOP, LEFT, RIGTH, DOWN, ENTER.

[2020-11-05 15:55] subnetsRU commented on #34
Это хорошо что он эмулирует.
Но эта информация не помогает в понимании проблемы по переходу на suggestions.buttons с помощью пульта при нажатии, скажем "вниз" (DOWN).

[2020-11-05 16:15] awinogradov commented on #33
CanvasApp будут работать в Салюте.

[2020-11-05 16:16] awinogradov commented on #22
https://github.com/sberdevices/assistant-client/issues/24

[2020-11-06 07:44] subnetsRU commented on #17
Ну с такой разметкой стало получше, конечно, но не идеально.
Те же "е"и "и" у Джой звучат именно как две буквы.

Вообщем если вас устраивает такое произношение букв, то давайте я оставлю приведённую вами ssml разметку.

[2020-11-06 07:49] subnetsRU commented on #3
А можно, в рамках этого тикета, ещё поработать над произношением "ы" ?
Если просто говорить "ы", то вообще ничего не распознаётся.
Если сказать "буква Ы", то может распознаться просто как "буква" или "буква М".

[2020-11-06 10:04] RulevAnton commented on #17
@subnetsRU распознавание отдельных букв будет улучшаться со временем, а пока можно пользоваться этим обходным решением.

Попробовал букву "е" для Джой:
`<speak>Букву <break time="200ms" />
<say-as interpret-as="spell-out"> ее </say-as>
<break time="100ms" /> уже называли. </speak>`

У меня звучит вот так:

[Uploading 3b86f1df-b5d8-4e6e-af79-65b214b1f331.wav…]()

[2020-11-06 12:47] subnetsRU commented on #27
Да, факт, что теперь не у всех игр 18+, но и не то, что указано в настройках в Studio.
Например "крути барабан" и "сто к одному" в Studio указано "0+", а в каталоге висит как "6+".
Почему ?

[2020-11-06 13:13] VsevolodKiselev commented on #27
Исправили

[2020-11-06 14:15] subnetsRU opened #36 "Странный текст от ASR"
Получил тут странноватый текст от asr.
"messageId":1604410542110919000,"sessionId":"c7dec2d5-cb65-4ccf-9c6b-6ec975162415"
"message":{"original_text":"с л о н","normalized_text":"с литр о наш ."
Странно тут, как минимум, две вещи:
* почему в original_text буквы через пробел
* почему в normalized_text вообще что-то другое

в гипотезах слово тоже по буквам
[code]

[2020-11-06 14:23] subnetsRU commented on #17
Мой контакт в телеге @VirusNet, но смысла слать запись есть только в том случае если у вас какая-то другая Джой.
Если она штатная, то собственно звучит и у вас и у меня она одинаково.
И для моего слуха "ее" звучит как две буквы. Протестил на жене - она говорит что слышит одну.

[2020-11-06 14:43] asmalakhov-sberdevices commented on #29
Хороший инсайт, взяли себе в бэклог.

[2020-11-06 14:59] asmalakhov-sberdevices commented on #14
Добавили в бэклог, ориентировочно вернемся к задаче в первом квартале следующего года.

[2020-11-06 15:05] asmalakhov-sberdevices commented on #6
Спасибо за инсайт. Добавим задачу об уведомлении в бэклог.

[2020-11-06 15:19] asmalakhov-sberdevices commented on #23
Добавили задачу в бэклог.

[2020-11-06 15:39] subnetsRU commented on #36
Вот свежий пример, чуть другой, но тоже странный:
в original_text "zaz" и в гипотезах даже не близкие слова
[code]

[2020-11-06 15:40] asmalakhov-sberdevices commented on #21
@and7ey да, опечатался выше. Имел ввиду Тут имелось в виду Блок текст + блок интент.
Для ввода текста можно добавить в интент `$TEXT::text` - он будет сохранять любой текст

Но задачу занесем себе в бэклог, спасибо!

[2020-11-09 06:26] asmalakhov-sberdevices commented on #24
Возможность открыть проект Graph в Code сейчас доступна, для этого нужно зайти в Code по прямой ссылке https://smartapp-code.sberdevices.ru/ и найти нужный проект в списке проектов.

Для тестирования Canvas app необходимо использовать  [SberDevices Assistant](https://smartapp-code.sberdevices.ru/documentation/#/docs/ru/developer_tools/sdk/overview)

Уведомления о тестировании добавим в задаче http

[2020-11-09 06:31] and7ey commented on #24
Этот тикет не о том, как открыть проект Graph в Code. А об удобной миграции.
В переписке в ТГ я писал - сейчас надо руками создать новый проект в Code, потом туда импортировать то, что было создано в Graph. Нужно задавать новое название. А еще стартовый node задавать руками. Вместо того, чтобы нажать одну кнопку "Мигрировать".

[2020-11-09 08:24] snyuryev commented on #30
почему-то у меня в сценарии писал ошибку про trunc()

[2020-11-09 08:37] subnetsRU commented on #9
Планы, по выпуску исправленной версии, не изменились ? Сегодня ?

[2020-11-09 13:39] and7ey opened #37 "Нужен инструмент для тестирования TTS"
Как у яндекса спичкит - см. в середине страницы https://cloud.yandex.ru/services/speechkit

[2020-11-09 13:42] subnetsRU commented on #37
Не сказать, что прям критично нужно, но не помешает точно.

[2020-11-09 19:34] snyuryev opened #38 "CLI для деплоя и сборки проектов Code"

[2020-11-09 19:34] snyuryev opened #39 "CLI для деплоя и сборки проектов Code"

[2020-11-09 19:40] #38 closed

[2020-11-10 10:21] kuznetsovn commented on #11
7 ноября обновили пром, ошибка ушла

[2020-11-10 10:21] #11 closed

[2020-11-10 10:33] subnetsRU commented on #11
Проверил, подтверждаю.
Спасибо.

[2020-11-10 11:31] #17 closed

[2020-11-10 11:33] Genenko-Svetlana commented on #9
Проверьте завтра утром, пожалуйста. Ждём обратную связь от вас.

[2020-11-10 14:13] and7ey opened #41 "Уведомления на почту об изменении статуса модерации"
**Где пригодится фича**: в инструментах
**Описание фичи**: сейчас об изменении статуса смартапа, отправленного на модерацию, можно узнать лишь из списка в Studio - нужны уведомления на почту, чтобы не мониторить руками статус

[2020-11-10 15:06] ffDowen commented on #35
К сожалению, мы не планируем в ближайшее время работу по данной задаче.

[2020-11-10 15:06] #35 closed

[2020-11-10 15:14] subnetsRU commented on #35
Печально... Ибо я соглашусь с автором тикета.
Дня три бы, хотя бы.

[2020-11-10 15:16] and7ey commented on #35
Ну тогда какое-нибудь другое решение надо придумать. Ключ - на неделю, но можно запускать только свой навык.

И, кажется, некорректно перемещать невыполненные задачи в Done. Сделайте колонку Cancelled что ли ;).

[2020-11-10 15:20] Genenko-Svetlana commented on #18
1. Распознаёт на английском, вместо русского, потому что по сумме вероятностей наших моделей так получилось, что есть ошибка модели, которая будет улучшаться со временем. Это длительный процесс.
Но можем точечно прорабатывать отдельные слова. Для этого необходим список этих слов. Например, из ваших примеров выше.
2. По распознаванию отдельных букв - срок исправления примерно месяц.

[2020-11-10 15:21] Genenko-Svetlana commented on #3
Срок исправления - середина декабря, 20

[2020-11-10 18:47] and7ey opened #42 "Показывать корректные знаки препинания в текстах в Graph и Code"
**Где пригодится фича**: Graph и, возможно, Code
**Описание фичи**: https://smartapp-code.sberdevices.ru/documentation/#/docs/ru/platform_services/editorial_policy?id=%D0%97%D0%BD%D0%B0%D0%BA%D0%B8-%D0%BF%D1%80%D0%B5%D0%BF%D0%B8%D0%BD%D0%B0%D0%BD%D0%B8%D1%8F - проверяйте наличие правильных знаков препинания сразу в Graph и Code. Показывайте ошибки. Или исправляйте автоматом (кавычки, например).

[2020-11-10 18:57] and7ey opened #43 "Поддержка персонажей на стороне Graph"
**Где пригодится фича**: Graph
**Описание фичи**: В полях ввода текста надо разделить поля на две или даже три группы - разные реплики для разных персонажей. Потому что сейчас уже смартап через Graph, не зная программирования (=извлечения данных из character), не сделать (если только не использовать везде фразы, не зависящие от пола персонажа).

[2020-11-11 06:25] subnetsRU commented on #9
Вижу что версия приложения изменилась. Теперь это 20.11.0.4145
Но увы и ах, проблема всё ещё актуальна. Мобильник по прежнему засыпает.

[2020-11-11 07:10] subnetsRU commented on #18
Эта слова ещё выловить надо. Хорошо, буду пристальнее просматривать логи и писать тут как замечу подобные слова, но всё зависит от активности пользователей.

Речь о Карле Марксе:
[code]

Вот ещё пример.
Не знаю, что говорил пользователь, но от asr упорно прилетало "wylsacom".
Это было на этапе "назовите ваше имя". Пользователь восемь раз пытался назвать имя, но потом плюнул и вышел.
[code]
Тоже са

[2020-11-11 07:32] RulevAnton commented on #18
В новой версии модели распознавания, которая пойдёт сегодня в пром уже исправилось:
Саша;
Райкин;
изолента;
ковёр - очень редко уже стреляет;
sberbox - так и должно быть, это умышленно;
Карл Маркс;

Насчёт wylsacom - тут нужно ещё понимать, как люде чаще говорят и забивают, например в поисковике по запросу "Вилсаком" выдаёт ответы больше с "wylsacom".

По остальным проблемам завёл багу.

[2020-11-11 07:41] RulevAnton commented on #18
Насчёт вилсакома ещё подумаем, как лучше.

[2020-11-11 08:11] asmalakhov-sberdevices commented on #30
@snyuryev  на какое выражение получаете ошибку про  trunc()?
Часть функций math встроена в стандартную библиотеку graph.

Но мы добавим в бэклог задачу, по добавлению дополнительных встроенных JS библиотек для Соde, в котором будет math.

В целом сейчас для Code библиотеку можно добавить в ручном режиме. Создать соответствующий файл в проекте, например тот же math.js и вставить в него контент из б

[2020-11-11 11:20] KKPotapova commented on #5
Добрый день! С ответом вернемся до конца текущей недели.

[2020-11-11 12:25] subnetsRU commented on #18
Я, честно сказать, только сейчас узнал, что "Wylsacom" это ник одного ютубера.
Думал, что это ошибка распознавания имени человека, какого-то не очень распространённого имени.
Тогда этот вопрос снимается, т.к. это **НИК**, а **не ИМЯ**.
Тогда этому человеку стоило послушаться ассистента и его просьбе. Чего он не сделал и продолжал упорствовать со своим "вилсакомом".

[2020-11-11 14:03] Genenko-Svetlana commented on #9
Спасибо, продолжаем работать над проблемой.

[2020-11-11 14:05] Turanchoks commented on #34
Навигация в CanvasApp'ах на Сбербоксе нужно реализовывать самостоятельно. Пульт эмулирует нажатие кнопок стрелочек и кнопки Enter, на них можно завязаться и реализовать свою навигацию. Общее решение для навигации в приложения для ТВ – Spatial Navigation. Мы работаем над тем, чтобы выложить на github нашу реализацию. Сейчас можете попробовать polyfill (https://github.com/WICG/spatial-navigation). Н

[2020-11-11 14:08] Turanchoks commented on #34
На саджесты, к сожалению, пультом никак не перейти и пока не планировали поддержать такое поведение

[2020-11-11 14:23] and7ey commented on #34
@Turanchoks, а в чем смысл такого подхода? Зачем каждому разработчику
(1) самостоятельно рисовать кнопки (хотя они уже и так рисуются в каких-то отдельных случаях)
(2) реализовывать эту логику?

Почему бы не реализовать такую (единую) логику на стороне Сбера?

[2020-11-11 14:24] asmalakhov-sberdevices commented on #43
@and7ey
Сейчас узнать выбранного персонажа у пользователя можно через rawrequest
https://smartapp-code.sberdevices.ru/documentation/#/docs/ru/developer_tools/flow/advanced/variables/raw_request

[2020-11-11 14:26] subnetsRU commented on #34
У меня получалось. О чём я уже писал выше.
Для этого я нажимал нцать раз вправо и оказывался таки на саджестах.
Могу повторить и если надо записать на видео.

А так согласен с **and7ey**. Зачем рисовать отдельно кнопки если они и так рисуются внизу... не ясно.

[2020-11-11 15:24] VsevolodKiselev commented on #33
Срок реализации данного функционала 1 квартал 2021 года.  Можно будет создать несколько апликейшенов

[2020-11-11 15:26] and7ey commented on #33
Зачем несколько апов? Ап должен быть один.
Просто для устройства без экрана вызовы на frontend endpoint делать не надо.

[2020-11-11 15:28] awinogradov commented on #33
Это далеко не всегда верно. Сценарий чата и канваса может быть сильно разным в силу наличия того самого экрана.

[2020-11-11 15:30] and7ey commented on #33
Конечно, может. Мое изначальное предложение для кейса, когда сценарий один. Если он один, то можно ставить галочку "ап будет работать хорошо и без экрана" и тогда использовать единый ап.

[2020-11-11 15:36] Turanchoks commented on #34
1. Можете, пожалуйста уточнить, какие кнопки?
2. Эта либа при работает на основе положения дом элементов на странице и переводит фокус. Не всем приложениям это подходит.

@subnetsRU скриншот или видео очень бы помогли. Под buttons имеется ввиду HTML buttons ведь? (<button>Кнопка</button>)

[2020-11-11 15:44] talagaev commented on #31
проблема будет решена когда мы переведем внешние чат апы в отедльные вкладки (по аналогии как сейчас ассистент живет). так вот там не будет ограничения вовсе.
По планам - q1 2021

[2020-11-11 15:47] talagaev commented on #26
звучит как баг, можете это в канале написать где есть наши QA чтобы проверили и звели баг если что

[2020-11-11 15:48] talagaev commented on #12
у меня в 1.65 уже все ок)

[2020-11-11 15:49] subnetsRU commented on #34
Буду дома запишу видео.

Нет, под  "Кнопка" я подразумеваю кнопки из suggestions.buttons из JSON, а не html кнопку, которую можно выводить на экране canvas.

Автор тикета так же говорит о них (suggestions.buttons).
Ведь в самом начале он пишет:

единственные стандартные buttons на экране canvas это suggestions.buttons

[2020-11-11 15:49] talagaev commented on #10
этот кажется Антон Гимон уже завел тике в нам

[2020-11-11 15:52] christinadomanskaya commented on #13
В работе. Ожидаемый срок - через неделю.

[2020-11-11 15:52] subnetsRU commented on #31
Тогда может статус всё же не "Done", а "Deffered" ?

[2020-11-11 15:52] talagaev commented on #7
Светлана, а можете этот тоже к нам перенести в QA - похоже на баг

[2020-11-11 15:58] subnetsRU commented on #33
Может всё же статус  "Deffered", а не "Closed" ?

[2020-11-11 16:00] subnetsRU commented on #12
1.65 я так понимаю версия прошивки бокса.

Буду дома гляну какая у меня и проверю.

[2020-11-11 16:26] awinogradov commented on #33
В github issues нет такого понятния. Мы добавили колонку Defferd на борде тут https://github.com/sberdevices/salute-issues/projects/1

[2020-11-11 16:27] and7ey commented on #33
а зачем вообще закрыли? создавать два идентичных апа - это странно (только представьте каково их поддерживать потом)

[2020-11-11 16:30] and7ey commented on #34
все верно, речь про suggestions.buttons

[2020-11-11 16:44] Avalpetrova commented on #19
Привет! Согласна с тем, что первый экран малоинформативен. Мы это учитываем при разработке нового дизайна. В следующей версии это не поправится, но в будущих точно. По поводу экрана с категориями, мы его поднимем в следующей версии каталога. Что касается "списка умений сбербокса", все приложения в каталоге это расширение умений ассистента и сбербокса. И этот экран задумывался как дополнительное об

[2020-11-12 02:23] Genenko-Svetlana commented on #32
Исправлено, проверяйте, пожалуйста.

[2020-11-12 02:27] Genenko-Svetlana commented on #6
Срок реализации 31.12.2020

[2020-11-12 02:28] Genenko-Svetlana commented on #4
Срок реализации 11.12.2020

[2020-11-12 02:28] Genenko-Svetlana commented on #29
Срок реализации 31.03.2021

[2020-11-12 02:31] Genenko-Svetlana commented on #14
Срок реализации 31.03.2021

[2020-11-12 02:31] Genenko-Svetlana commented on #23
Срок реализации 26.02.2021

[2020-11-12 02:32] Genenko-Svetlana commented on #30
Срок реализации 31.03.2021

[2020-11-12 02:33] Genenko-Svetlana commented on #21
Срок реализации 31.03.2021

[2020-11-12 02:38] Genenko-Svetlana commented on #9
Срок реализации 26.11.2020

[2020-11-12 02:41] Genenko-Svetlana commented on #10
Дмитрий, проверьте, пожалуйста, устранена ли проблема.

[2020-11-12 02:42] Genenko-Svetlana commented on #12
Проверьте, пожалуйста, ждем обратную связь

[2020-11-12 02:52] Genenko-Svetlana commented on #31
Срок реализации 31.03.2021

[2020-11-12 05:07] subnetsRU commented on #12
У меня всё по прежнему, т.к. прошивка бокса 1.63.11
Соответственно вопрос: а когда 1.65 дойдёт до простых смертных ?

[2020-11-12 05:55] subnetsRU commented on #34
https://dropmefiles.com/lLNqj

В видео наглядно видно, что это не совсем так.

[2020-11-12 05:59] subnetsRU commented on #33
Ну я о ней и говорю. Прошу прощения, что не совсем корректно выразился.

[2020-11-12 06:05] filomat commented on #20
Исправили

[2020-11-12 06:21] subnetsRU commented on #10
Проблема по прежнему актуальна. Версия Салюта 20.11.0.4145
![5080035b-40b0-480c-a7cb-3e8c895a6477](https://user-images.githubusercontent.com/18159237/98903437-a1b53a80-24c8-11eb-8158-d297461cf561.jpeg)

[2020-11-12 07:03] subnetsRU commented on #20
Подтверждаю. Повторить баг не удалось. Сейчас статус корректно сбрасывается.

[2020-11-12 07:20] and7ey opened #44 "Graph некорректно работает с "пустыми переменными""
**Где нашелся баг**: Graph
**Описание проблемы**:
<img width="393" alt="Снимок экрана 2020-11-12 в 10 17 53" src="https://user-images.githubusercontent.com/900474/98907837-85b59700-24d0-11eb-8175-bf5abfabdbd6.png">
при таком коде, где $te - пустое значение, следующий блок просто не срабатывает (текст не выводится), а при `$te=" "` (с пробелом) все работает.

[2020-11-12 07:21] talagaev commented on #12
на след неделе начнет раскатываться

[2020-11-12 09:21] subnetsRU commented on #26
@talagaev, верно ли я понимаю, что ваше сообщение адресовано Светлане ?

Если мне, то я не понял где писать.
Да и я всё описал Светлане в личке в ТГ и она подтвердила, что ваши так же смогли повторить этот баг у себя.

[2020-11-12 09:37] talagaev commented on #26
Да

On Thu, 12 Nov 2020 at 12:22, SubnetsRU <notifications@github.com> wrote:

--
Пётр

[2020-11-12 10:37] Turanchoks commented on #34
@and7ey @subnetsRU Понял, спасибо, неверно понял изначальный вопрос.

@talagaev Подскажи, пожалуйста, разобраться

[2020-11-12 10:38] sasha-tlt commented on #25
Добавили такую возможность в @sberdevices/assistant-client@1.1.0. Достаточно в  `createSmartappDebugger` добавить параметр [settings](https://github.com/sberdevices/assistant-client/blob/main/README.md#AssistantSettings). Например, `createSmartappDebugger({ ..., settings: { dubbing: false } };`

[2020-11-12 10:40] #25 closed

[2020-11-12 15:46] xoxulin commented on #20
@subnetsRU закрываю проблему

[2020-11-12 15:46] #20 closed

[2020-11-12 19:37] subnetsRU opened #45 "Canvas и finished=true на сбербокс"
**Где нашелся баг**: в завершении canvas смартапа на сбербокс.
**Описание проблемы**: запускаем canvas. Затем webhook'ом присылаем finished=true и сессия завершается со стороны смартапа, но окно canvas не убирается с экрана, т.е. сберокс не возвращается на домашний экран.
**Проблема воспроизводится у других пользователей?** да.
**Дополнительная информация**: если завершать canvas штатной фразой "х

[2020-11-12 19:41] subnetsRU commented on #34
Исходя из сегодняшнего общения в zoom, где было сказано что сам апп и
suggestions.buttons находятся "по разную сторону баррикад", то получается, чтобы это нормально работало, как бы не было печально, надо отказываться от suggestions.buttons и рисовать кнопки внутри canvas самому и делать навигацию самому.
Но так получается, что при нажатии на кнопку canvas должен как-то передать команду webhook'у.

[2020-11-12 19:59] subnetsRU opened #46 "Мониторинг смартапов"
Сегодня в zoom было сказано про мониторинг смартапов. О чем до сих пор не было известно и в документации я не видел, чтобы это как-то упоминалось.
Так же было озвучено наказание, если апп не работает, в виде удаления из каталога.

Просьба озвучить условия по которым работает (или будет работать) система вашего мониторинга.
Как она работает?
Что конкретно мониторится?
Каковы условия для удаления из

[2020-11-12 20:10] subnetsRU commented on #7
Ещё вчера точно не работало.
Сегодня, работает у chat app, но не работает на canvas app.

Уже исправили, но не успели отписать?
Исправилось само, потому что поправили что-то еще?
Иное?

[2020-11-13 07:32] snyuryev opened #47 "Приведенение $entities к единообразию"
$entities undefined при обработке команды (action_id) сценарием Code
Просьба сделать пустой массив, как в случае если бы пользователь сказал фразу и ней не были распознаны сущности.

[2020-11-13 08:06] sasha-tlt commented on #45
@subnetsRU, попробуйте вызывать assistant.close (https://github.com/sberdevices/assistant-client#close-void) или window.AssistantHost.close (если не используете @sberdevices/assistant-client) на фронтенде.

[2020-11-13 08:55] Genenko-Svetlana commented on #45
Canvas App сам должен прислать close_app в sdk, когда закончил сценарий. Рекомендацию про самозакрытие Canvas App добавим в документацию на следующей неделе.

[2020-11-13 09:07] vkycniichai commented on #15
Возможность обсуждается внутри команды, ответ, ориентировочно, будет предоставлен к концу месяца.

[2020-11-13 09:16] vkycniichai commented on #7
Исправлено в ChatApp. Для Canvas app ведется работа над фиксом.

[2020-11-13 09:28] subnetsRU commented on #18
"педали":
[code]
Тут не знаю, что говорили, но результаты странные:
[code]
"крош":
[code]
"Парашют":
[code]
"вот он":
[code]
"чертеж":
[code]
"потолок":
[code]
"дай":
[code]
"парик":
[code]
"родина":
[code]
"фомка":
[code]
"лом":
[code]
"смола":
[code]
"артём":
[code]
"коза":
[code]
"осёл":
[code]
"туман":
[code]
"коза":
[code]
"мелками":
[code]
"кисточки":
[code]
"варан":
[code]

[2020-11-13 09:29] subnetsRU commented on #45
Хорошо, попробую отпишусь.

[2020-11-13 09:43] Genenko-Svetlana commented on #45
Ок, ждём обратную связь

[2020-11-13 11:03] subnetsRU commented on #45
Вызов assistant.close() закрыл "окно" и вернул бокс на главный экран.
Спасибо.

Да, было бы здорово, т.к. это не очевидно.

[2020-11-13 11:03] #45 closed, assigned to talagaev

[2020-11-13 11:05] Genenko-Svetlana commented on #45
Очень хорошо! В документацию добавим.

[2020-11-13 12:36] snyuryev opened #48 "Добавить в todo пример sendData"
Было бы полезно!

[2020-11-13 12:59] RulevAnton commented on #18
В понедельник выкатим на ИФТ новую модель с минорными изменениями, в неё проверю последний список и добавлю в тикет.

[2020-11-13 14:16] Turanchoks commented on #48
Уже в работе!

[2020-11-13 17:24] Turanchoks commented on #34
@subnetsRU Да. Скоро пример этого появится в демо аппе

[2020-11-13 18:44] snyuryev opened #49 "После смены персонажа приходится перезапускать смартап (Chat App)"
Если был запущен смартап (Chat App) и пользователь вызвал смену персонажа, то для продолжения работы необходимо заново запустить смартап.

В Canvas App после смены персонажа можно продолжить разговор со смартапом.

[2020-11-13 19:21] subnetsRU commented on #49
ИМХО: на мой взгляд, надо вообще запретить смену персонажа во время запущенного навыка., ну то есть никак не реагировать.
Хочешь сменить, выйдешь и сменишь.

[2020-11-14 14:25] snyuryev opened #50 "Расширить стандартных пакет иконок в plasma ui"
Просьба добавить
"Информация"
"Share"

[2020-11-14 15:14] and7ey opened #51 "Не работают переменные в блоке Ввод текста"
**Где нашелся баг**: Graph
**Описание проблемы**:
Не работают переменные в Graph в блоке Ввод текста. "Какой-нибудь текст $var" отображает в салюте "Какой-нибудь текст {{$session.var}}"
**Проблема воспроизводится у других пользователей?** не знаю
**Дополнительная информация**: https://t.me/smartapp_studio/4493

[2020-11-14 15:46] snyuryev opened #52 "Приведен неправильный пример использования CardMedia (plasma ui)"
На странице документации
https://plasma-docs.netlify.app/components/card/
указан пример использования Card и CardMedia
**<CardMedia height="12rem">**
не указан параметр **src** (обязателен)

[2020-11-14 16:23] snyuryev opened #53 "Пример ScrollList не работает (plasma ui)"
Пример ScrollList не работает
https://plasma-docs.netlify.app/components/ScrollList

Где объявлен **markerRef** ?

Item и key отсутствуют в StyledListItem
**<StyledListItem item={item} key={item.id} />**

[2020-11-14 20:52] snyuryev opened #54 "Странное озвучивание текста ассистентом."
Навык работает через вебхук.
Выбран персонаж Сбер.
Проверял на приложение Сбер Салют iOS

По непонятной причине  вместо "из сети" озвучивает "из **стационарной** сети"

[2020-11-15 12:16] subnetsRU commented on #34
Итак попробовал я assistant.sendData.
На версии 1.0.2 @sberdevices/assistant-client не взлетело.
При нажатии на кнопку в sberbox ассистент сразу выпуливал фразу "навык временно недоступен" и на webhook совсем ничего не приходило, но при этом в браузере это работало.

По совету от **Turanchoks** в ТГ чате обновил assistant-client до версии 1.1.2 и sendData заработала и на sberbox.
Навигация по кноп

[2020-11-15 18:19] snyuryev opened #55 "Assistant client: Uncaught DOMException: Failed to execute 'start' on 'AudioBufferSourceNode': cannot call start more than once."
Такую ошибку можно увидеть в консоли если приходит новый респонс от бэкенда во время озвучивания текста с предыдущего респонса.

Режим: дебаг
Версия assistant client 1.1.2

[2020-11-16 04:10] Genenko-Svetlana commented on #54
Сергей, добрый день!
Пришлите, пожалуйста, json

[2020-11-16 06:36] Genenko-Svetlana commented on #51
Добрый день! Планируем устранить завтра до конца дня.

[2020-11-16 06:40] Genenko-Svetlana commented on #49
Добрый день! Планируем доработки в следующем году.

[2020-11-16 07:18] RulevAnton commented on #54
Проблему воспроизвел, зевёл дефект.
В след релиз постараемся успеть, к 18.11 - 19.11.

[2020-11-16 11:12] Yeti-or commented on #50
Иконки расширим, про инофрмацию будет что-то такое:
<img width="326" alt="info" src="https://user-images.githubusercontent.com/1813468/99246015-a7d35000-2815-11eb-95cf-a6085419b33a.png">

@snyuryev Расскажите какое действие предпологается у иконки share ?

[2020-11-16 11:18] Yeti-or commented on #53
Перерабатываем компонент, https://github.com/sberdevices/plasma/pull/73/

В данном случае действительно ошибка в документации, должен быть не markerRef а ref:

[code]

[2020-11-16 12:43] xenia-molchanova commented on #5
Добрый день! Прошу прощения на задержку, получила от ребят из СберЗвука.

Если коротко - просто передать данные мы не можем, каждый кейс нужно решать отдельно с ребятами из СберЗвука.
"Просто отдать - ни в коем случае нельзя. Это противоречит юридической договоренности с правообладателями.
Обсудить варианты - можно.
Если есть бизнес кейс, приложения могут напрямую со СберЗвуком подписать договор,

[2020-11-16 13:16] snyuryev commented on #50
Спасибо!

По "share" - это "отправить информацию на девайс пользователя"
Простор для использования достаточно большой - отправить на телефон (емейл или любой канал связи) чек или картинку, или ссылку

[2020-11-16 13:16] snyuryev commented on #54
Отлично!

[2020-11-16 13:22] snyuryev commented on #53
Спасибо за информацию!

[2020-11-16 15:11] RulevAnton commented on #18
В новой модели не воспроизводится:
- педали
- Парашют (воспроизводится редко)
- вот он
- чертеж
- потолок (воспроизводится редко)
- дай
- родина
- артём (только через "е", т.к. "ё" не поддерживает asr пока)
- коза
- Туман
- коза (воспроизводится редко)
- мелками (воспроизводится редко)

Остальное добавил в дефект https://sbtatlas.sigma.sbrf.ru/jira/browse/SDVOICECOR-369

[2020-11-16 15:24] subnetsRU commented on #18
Имя "Света":
[code]

Имя "Ярик":
[code]

Имя "верка":
[code]

Имя "Тома":
[code]

[2020-11-16 20:32] snyuryev opened #56 "Assistant client: AssistantCharacterCommand приходит только 1 раз"
При смене ассистента команда не приходит.
(локальный режим)

[2020-11-16 20:34] snyuryev commented on #56
версия 1.1.2

[2020-11-17 07:02] vkycniichai commented on #48
@snyuryev есть ли какие-то дополнительные вопросы по теме обращения?

[2020-11-17 07:10] and7ey opened #57 "Некорректно работает кнопка Отправить на клавиатуре в Сбер Салюте на Android"
**Где нашелся баг**: Сбер Салют на Android
![photo_2020-11-17 10 05 46](https://user-images.githubusercontent.com/900474/99357286-b6c10d80-28bc-11eb-9212-31586517fbf2.jpeg)
**Описание проблемы**: кнопка отправки сообщения на клавиатуре Android работает странно - после нажатия кнопки клавиатура скрывается (зачем? при использовании зеленой кнопки со стрелкой вверх - клавиатура не скрывается), а само

[2020-11-17 07:12] vkycniichai commented on #5
@and7ey есть ли дополнительные вопросы по теме?

[2020-11-17 07:22] and7ey commented on #5
Пока, видимо, нет. Пока сервисы Сбера не запущены полноценно - речи о бизнес-кейсе быть не может, увы.

[2020-11-17 09:28] #5 closed

[2020-11-17 09:29] vkycniichai commented on #5
Тикет закрыт.
Если будет необходимо получить дополнительную информацию по вопросу - контакты указала Ксения выше.

[2020-11-17 10:38] subnetsRU opened #58 "[Салют] После таймаута смартапа кнопки (suggestions) от него остаются на экране."
**Где нашелся баг**: в приложении "Салют".
**Описание проблемы**: После того как смартап был закрыт по таймауту его кнопки (suggestions) не убираются с экрана.
![timeout_sugg_bug_scrn](https://user-images.githubusercontent.com/18159237/99379565-e9c5ca00-28d9-11eb-89a6-cd99d97f8daf.jpeg)
Как повторить: запускаем апп, выключаем мобильник. Ждём пять минут, включаем мобильник.
На предыдущей версии Сал

[2020-11-17 10:41] Genenko-Svetlana commented on #58
Зафиксировали, поправим, но уже в следующем году.

[2020-11-17 10:42] Genenko-Svetlana commented on #57
Зафиксировали, поправим, но уже в следующем году.

[2020-11-17 12:12] subnetsRU opened #59 "[Canvas app] Реализовать возможность убирать иконку ассистента и кнопки (suggestions)"
Обсудили в ТГ, создаю тикет, чтобы не забылось и не потерялось.

**Где пригодится фича**: везде.
**Описание фичи**:  Реализовать возможность открывать Canvas app на весь экран.
Т.е. возможность убрать иконку ассистента и место под кнопки (suggestions).
То как это сейчас есть в provider app. Там есть возможность использовать всё место на экране.
**Дополнительная информация**: По сути растёт из тике

[2020-11-17 13:27] snyuryev commented on #48
@vkycniichai нет, спасибо!

[2020-11-17 15:14] asmalakhov-sberdevices commented on #42
Добавим задачу в бэклог, но к проработке вернемся не раньше следующего года.
Приоритет будет зависеть, от запросов и других пользователей по этой фиче, если запросов будут расти, думаю приоритет повысим.

[2020-11-17 15:14] asmalakhov-sberdevices commented on #39
Добавим задачу в бэклог, но к проработке вернемся не раньше следующего года.
Приоритет будет зависеть, от запросов и других пользователей по этой фиче, если запросов будут расти, думаю приоритет повысим.

[2020-11-18 04:06] Genenko-Svetlana commented on #51
Срок реализации - 31.12.2020

[2020-11-18 04:07] Genenko-Svetlana commented on #44
Срок реализации - 31.12.2020

[2020-11-18 04:07] Genenko-Svetlana commented on #43
Срок реализации - 31.03.2021

[2020-11-18 04:43] Genenko-Svetlana commented on #59
Зафиксировали, реализуем, но уже в следующем году.

[2020-11-18 08:54] #48 closed, assigned to Turanchoks

[2020-11-18 09:00] vkycniichai commented on #36
@subnetsRU исправлено на проме

[2020-11-18 11:42] subnetsRU commented on #18
Имеется в виду Иммануил Кант:
[code]
Имеется в виду Иоганн Себастьян Бах:
[code]
"шуберт":
[code]
Имя "ева" против "у *бок":
[code]
"*ер":
[code]
"мистер":
[code]
"метро":
[code]
"марками":
[code]
"вор":
[code]
"рокфеллер":
[code]
имеется в виду билл "гейтс":
[code]
"блин":
[code]
"гарнир":
[code]
"лама":
[code]
имя "яник":
[code]
"белка":
[code]
"подарок":
[code]
"блатной":
[code]
"кариес":
[code

[2020-11-18 15:30] snyuryev opened #60 "Assistant client: добавить AssistantSurfaceCommand"
AssistantSurfaceCommand - содержит информацию о поверхности где запущен апп.

[2020-11-19 10:58] subnetsRU commented on #13
Не поверил своим глазам, но стало приходить:
[code]
Это уже "прибито гвоздиками" или ещё может поменяться ? Т.е. можно начинать использовать ?
И ещё вопрос, а чего `timestamp` такой длинный ?
А в RUN_APP `time`отсутствует, только в MESSAGE_TO_SKILL почему-то.

[2020-11-19 11:51] subnetsRU commented on #18
"новый раунд":
[code]
"убери":
[code]
"баня":
[code]
"болен":
[code]
"дед":
[code]
"игра"?:
[code]
"масяня":
[code]
имя "саша":
[code]
тут не знаю что было сказано, но прилетело так "ni no son да ты делал":
[code]
"год":
[code]
"гиря":
[code]

[2020-11-19 11:54] subnetsRU commented on #12
@talagaev, сегодня уже четверг, но до меня обнова всё ещё не долетела.

Скажите, поменялись планы ? Или обнова разливается, но до меня просто ещё очередь не дошла ?

[2020-11-19 14:19] sasha-tlt commented on #56
@snyuryev, выпустили 1.2.0 с фиксом

[2020-11-19 14:42] snyuryev commented on #56
@sasha-tlt
Работает! Спасибо!

[2020-11-19 14:57] #56 closed, assigned to Turanchoks

[2020-11-19 15:01] vkycniichai commented on #36
@subnetsRU есть дополнительные вопросы по теме, или можем закрывать тикет?

[2020-11-19 15:05] subnetsRU commented on #36
Ну я пока больше похожих примеров не встречал.

Если вы считаете, что тикет выполнен, то давайте закроем.

[2020-11-19 15:56] and7ey opened #61 "Не заполняется комментарий при сохранении в Code"
**Где нашелся баг**: Code
**Описание проблемы**: если нажать сначала кнопку Собрать, а потом кнопку Сохранить в Code, то поле Комментарий не заполняется
**Проблема воспроизводится у других пользователей?** не знаю.

[2020-11-19 15:56] and7ey opened #62 "История версий в Code"
Где можно увидеть историю версий в Code?
Что значит неработающая ссылка "Код" в Code? Не она ли должна открывать историю версий?

[2020-11-19 15:58] and7ey commented on #51
В Code если попробовать использовать переменные в InputText, то возникает та же самая проблема.

[2020-11-20 04:52] Genenko-Svetlana commented on #34
В Canvas стандартные кнопки (buttons) нельзя выбрать пультом #34 - @and7ey можно закрывать?

[2020-11-20 04:54] Genenko-Svetlana commented on #32
@and7ey проверяйте, пожалуйста.

[2020-11-20 04:56] Genenko-Svetlana commented on #54
@snyuryev проверяйте, пожалуйста

[2020-11-20 06:47] and7ey commented on #34
Я бы все-таки проработал этот вопрос на вашей стороне более детально.

Сейчас suggestions.buttons в Сбербокс не работают. Итого каждый разработчик должен их делать самостоятельно. Отрицательные стороны этого -
1) Каждый разработчик делает одно и то же самостоятельно.
2) Не используется уже имеющаяся функциональность - suggestions.buttons.
3) У каждого разработчика будет свой дизайн этих кнопок, св

[2020-11-20 06:49] RulevAnton commented on #54
Коллеги, обновление ещё не выехало, надеемся на сегодня, что раскатим на ИФТ, проверим и вечером покатим.
Если не успеем, то уже на след. неделе.

[2020-11-20 06:52] RulevAnton commented on #18
Коллеги, может есть вариант закрыть данный тикет и сообщать о проблемных словах в другом формате (если такая возможность есть), может по почте.
Потому что иначе, мы этот тикет никогда не закроем :)

А по распознаванию отдельных букв (кроме буквы "я", которая тут https://github.com/sberdevices/salute-issues/issues/3)  завести отдельный тикет?

[2020-11-20 07:06] subnetsRU commented on #18
Ну почему же никогда. Когда ASR начнёт считать русские гипотезы лучшими чем английские и когда подобные ситуации станут просто исключением, а не правилом, то считай тикет закрыт.

На самом деле вы же можете отлавливать эти ситуации на своей стороне. Например писать в отдельный какой-то лог всё что было отдано с латинскими буквами в кач-ве основной гипотезы.

Если вопрос мне, то я скажу так: В данн

[2020-11-20 07:41] Genenko-Svetlana commented on #18
@RulevAnton @subnetsRU у меня есть предложение. Рационализаторское :-)
Давайте использовать GitHub (одна точка входа), но создавать отдельные задачи в которых, например, до 10 слов.
Что думаете?

[2020-11-20 07:54] subnetsRU commented on #18
Думаю, что так мы наплодим тикетов в которых сами начнём путаться. Да и они начнут мешаться среди других тикетов.

С таким подходом, по сути, получится не менее одного тикета в день.

[2020-11-20 10:06] RulevAnton commented on #18
Ну если никого не смущает, что этот тикет будет висеть продолжительное время, то можно и тут.
Главное для нас, получать этот фидбек, за что @subnetsRU отдельное спасибо.

[2020-11-20 10:16] Genenko-Svetlana commented on #18
@RulevAnton @subnetsRU к сожалению, будет смущать.
Я голосую за отдельные тикеты. Будет порядок. Отработали тикет - закрыли и взяли следующий.

[2020-11-20 10:28] RulevAnton commented on #18
Окей, как будет удобнее, со своей стороны продолжаю оформлять в баги, будем править.
Новую пачку сегодня-понедельник оформлю.

[2020-11-20 10:31] subnetsRU commented on #18
@Genenko-Svetlana, хорошо, поступим так как вы сочтёте нужным.

[2020-11-20 10:43] Genenko-Svetlana commented on #18
@RulevAnton тогда напиши здесь, когда всё будет отработано.

@subnetsRU - ждём следующую порцию слов в новом тикете :-)

[2020-11-20 10:57] vkycniichai commented on #15
@subnetsRU возможность реализации фичи будет рассмотрена командой в 2021 году.
Пока тикет закрываем, если будет принято положительное решение, то заявка будет открыта повторно.

[2020-11-20 12:44] #19 closed

[2020-11-21 10:46] subnetsRU opened #63 "[ASR] Лучшая гипотеза не на русском, а на английском языке [2]"
Продолжаем начатое в #18

"индюк":
[code]
"газировка":
[code]
не уверен что сказали "дима", но:
[code]
не ясно что сказали, но явно не "far":
[code]
"капитан":
[code]
"мюллер"
[code]
"стар" (старый):
[code]
"битл", а не "битлз":
[code]
"ель":
[code]
имя "ильдар":
[code]
"кисуля":
[code]
фамилия "керимова":
[code]
"алекс":
[code]
"лава":
[code]
"ели" в смысле ёлки, а не еды:
[code]
"гум":
[code]
"м

[2020-11-21 11:06] subnetsRU commented on #63
"принц":
[code]
"пантера":
[code]
"ватерлоо":
[code]
"ларёк":
[code]
"маркет":
[code]
"шоп":
[code]
"поэма":
[code]
имя "света":
[code]
"самка":
[code]
имя "гена":
[code]
"фары":
[code]
"кикимора":
[code]
"тундра":
[code]

[2020-11-21 15:13] subnetsRU opened #64 "[SBERBOX,SALUTE] Card type grid_card крашит Sberbox и Salute"
Где нашелся баг: В Sberbox и Salute
Описание проблемы: приставка перегружается и показывает экран "смерти"
Проблема воспроизводится у других пользователей? скорее да, чем нет.
Дополнительная информация: Я разбирался с card grid_card в smartapp api.
Всё шло неплохо, пока я не попробовал "item_width":"resizable"...
Приводит это к тому, что получая такой JSON приставка не раскрывает шторку с навыком

[2020-11-21 16:01] subnetsRU commented on #64
Нашелся доброволец - @s41ty
Проблема воспроизвелась и на его сбербоксе.

[2020-11-22 08:17] subnetsRU opened #65 "[ASR] Лучшая гипотеза не на русском, а на английском языке [3]"
Продолжение тикета #18

21.11.2020 14:43:44.6216]
"фараон":
[code]
[21.11.2020 14:46:43.0041]
"макаку":
[code]
[21.11.2020 14:51:20.6432]
"мишель":
[code]
[21.11.2020 14:55:14.8260]
"карина":
[code]
[21.11.2020 14:56:47.2956]
"санам марш":
[code]
[21.11.2020 14:57:22.6501]
"ровней":
[code]
[21.11.2020 15:18:22.1755]
"майка":
[code]
[21.11.2020 15:22:33.9340]
"мясо":
[code]
[21.11.2020 15:26:31.065

[2020-11-22 08:19] subnetsRU commented on #65
[21.11.2020 18:52:22.3001]
"торт":
[code]
[21.11.2020 18:57:41.2157]
"хакер":
[code]
[21.11.2020 19:01:03.2531]
"лор":
[code]
[21.11.2020 19:15:44.0061]
"комп":
[code]
[21.11.2020 19:43:41.2548]
"град":
[code]
[21.11.2020 19:56:05.5330]
"рокер":
[code]
[21.11.2020 19:57:20.1603]
"петр":
[code]
[21.11.2020 20:02:09.6608]
"теле шоу":
[code]
[21.11.2020 20:06:44.3336]
"бар шарик":
[code]
[21.11.2020

[2020-11-22 08:22] subnetsRU opened #66 "[ASR] Распознавание отдельных букв"
Продолжаем начатое в #18, но по отдельным буквам.

[21.11.2020 14:54:14.2882]
"буква к":
[code]
[21.11.2020 14:57:30.0445]
буква "д":
[code]
[21.11.2020 15:47:26.3727]
буква "ф":
[code]
[21.11.2020 16:11:05.9659]
буква "у":
[code]
[21.11.2020 17:09:24.6492]
буква "в":
[code]
[21.11.2020 17:09:56.0797]
"буква л":
[code]
[21.11.2020 18:54:03.4461]
"буква р":
[code]
[21.11.2020 18:54:20.1489]
"буква

[2020-11-22 09:42] subnetsRU commented on #64
Сейчас проверил сей баг на Салюте.... Салют закрылся сам по себе и теперь при нажатии на кнопку ассистента приложение просто вылетает.

Видео тут: https://t.me/smartapp_studio/5311

* Остановка приложения и запуск по новой не помогают.
* Очистка кеша и перезапуск тоже не помогли.
* Перезагрузка телефона тоже не спасает.

Помогла только переустановка приложения Салют.

[2020-11-23 07:32] RulevAnton commented on #66
Уже есть на это баг, работы ведутся в рамках тикета SDVOICECOR-308

[2020-11-23 09:00] subnetsRU commented on #3
[22.11.2020 22:26:03.5463]
"я":
[code]

[2020-11-23 09:01] Genenko-Svetlana commented on #62
Сейчас данный функционал отсутствует, но его добавление включено в беклог (1 квартал 2021)

[2020-11-23 09:01] subnetsRU commented on #66
[22.11.2020 13:50:10.7861]
"р":
[code]
[22.11.2020 14:24:16.6114]
"т":
[code]
[22.11.2020 14:27:35.6704]
"д":
[code]
[22.11.2020 14:27:50.5647]
"р":
[code]
[22.11.2020 14:28:24.1885]
"б":
[code]
[22.11.2020 14:28:57.6938]
"д":
[code]
[22.11.2020 14:29:16.2488]
"г":
[code]
[22.11.2020 14:29:31.2513]
"в":
[code]
[22.11.2020 14:30:58.5473]
"м":
[code]
[22.11.2020 14:33:30.9801]
"буква р":
[code]
[22.

[2020-11-23 09:02] subnetsRU opened #67 "[ASR] Лучшая гипотеза не на русском, а на английском языке [4]"
Продолжение тикета #18

В этой подборке прошу вас обратить внимание, что в `normalized_text` попадает текст `NUM_TOKEN`.

[22.11.2020 11:02:39.6220]
"у пять":
[code]
[22.11.2020 11:51:46.2917]
"данил":
[code]
[22.11.2020 12:12:07.5310]
"сами":
[code]
[22.11.2020 12:14:46.6257]
"у стен":
[code]
[22.11.2020 12:16:40.0201]
"ох":
[code]
[22.11.2020 12:17:22.9028]
"фильм":
[code]
[22.11.2020 12:18:35.4

[2020-11-23 09:03] subnetsRU commented on #36
Нашелся новый пример:
[22.11.2020 17:51:15.4929]
"н о е":
[code]

[2020-11-23 09:13] RulevAnton commented on #18
Имя "ева" против "у *бок": - Тут не понял, "еба" распознаётся как "у ебок"?

[code]

"*ер": - тут не знаю, надо ли менять, в любом случае "хер" замажется ***

[code]

Остальное, что воспроизводится, добавил в SDVOICECOR-369.

[2020-11-23 09:22] subnetsRU commented on #18
В гипотезах "ева" и произносилось это на этапе "назовите ваше имя". Что именно было сказано вам конечно виднее, т.к. у меня ж не доступа к сырым данным. Если пользователь сказал "уёбок", то тогда откуда взялась "ева" ?

Ну как бы и "хер" надо править. А почему замажется ? Т.е. навык не сможет понять что выругались.

[2020-11-23 09:39] RulevAnton commented on #63
"кимер сен" - а что это?)

Завёл SDVOICECOR-404

[2020-11-23 09:43] subnetsRU commented on #64
Нужна какая-то дополнительная информация по багу ? Или всё понятно ?

[2020-11-23 09:45] RulevAnton commented on #18
ну придет то "хер", на экране просто замажется ***.
Ок. Добавлю в тикет.

[2020-11-23 09:48] subnetsRU commented on #63
[Ким Ир Сен](https://ru.wikipedia.org/wiki/%D0%9A%D0%B8%D0%BC_%D0%98%D1%80_%D0%A1%D0%B5%D0%BD). Основатель северокорейского государства.

[2020-11-23 09:50] subnetsRU commented on #18
А, ну на экране пусть замазыватся. Но, имхо, ведь сейчас "her" тогда на экране отображается :D, что тоже не оч.хор. Потому надо бы поправить.

[2020-11-23 09:59] RulevAnton commented on #18
peter schubert - исполнители на английском распознаются.

[2020-11-23 10:17] subnetsRU commented on #18
Но это всё же русскоязычный помощник. Разве нет ? И, как мне кажется, что логичным будет и в этом случает лучшей гипотезой давать именно русскоязычное название.

[2020-11-23 10:49] Genenko-Svetlana commented on #64
Всё понятно, баг в работе

[2020-11-23 11:00] RulevAnton commented on #18
В данном случае приняли решение на латинице.
Как с Linkin Park.

[2020-11-23 11:22] sasha-tlt commented on #55
@snyuryev, выпустили версию 2.0.0 - в нее включили исправление данной проблемы

[2020-11-23 11:32] RulevAnton commented on #65
SDVOICECOR-406

[2020-11-23 11:34] #55 closed, assigned to Turanchoks

[2020-11-23 11:37] RulevAnton commented on #66
на буквы уже есть тикет SDVOICECOR-308, в рамках которого были собраны тестовая корзина на 3к таких случаев и обучающая - на 30к

[2020-11-23 11:39] RulevAnton commented on #66
Плюс в скором времени появится возможность отправлять модель коротких фраз в виде Hints:
[code]
Что сильно улучшит распознавание букв (я, ты и т.д.)

[2020-11-23 11:41] RulevAnton commented on #3
SDVOICECOR-308
+
Плюс в скором времени появится возможность отправлять модель коротких фраз в виде Hints:

{
    "asr_hints": "{\"enable_letters\": true}"
}
Что сильно улучшит распознавание букв (я, ты и т.д.)

[2020-11-23 11:41] RulevAnton commented on #18
SDVOICECOR-369

[2020-11-23 11:47] subnetsRU commented on #66
Ок, тогда не буду больше выкладывать примеры. Думал, что чем больше примеров тем лучше.

С нетерпением жду исправления.

[2020-11-23 11:52] RulevAnton commented on #36
из тикета https://github.com/sberdevices/salute-issues/issues/67

В этой подборке прошу вас обратить внимание, что в normalized_text попадает текст NUM_TOKEN.

[22.11.2020 11:02:39.6220]
"у пять":

[code]

[22.11.2020 13:52:04.7248]
"курс":
[code]
[22.11.2020 13:52:33.5448]
"начать раунд":

[code]

[2020-11-23 12:02] subnetsRU commented on #36
Раз уж вы обратили на это внимание, то замечу, что не только с `NUM_TOKEN` такое.

Но и с другими тоже:
[code]

[2020-11-23 12:10] RulevAnton commented on #67
Про нум токет от Никиты Кузнецова:

NUM_TOKEN в normalized_text - это фича. normalized_text - это нормализованный текст, размерность многообразия максимально снижена для целей классификации. В нём исправлены опечатки, все слова стоят в начальной форме, а все конкретные сущности (например, "Иван Иванович") заменены на типы этих сущностей (например, на "PERSON_TOKEN")

[2020-11-23 12:11] Lytkini commented on #13
Объект `meta.time` описан в документации:
https://developer.sberdevices.ru/docs/ru/developer_tools/amp/smartappapi_description_and_guide.md#содержимое-payload-для-сообщения-с-типом-message-to-skill

[2020-11-23 12:12] subnetsRU commented on #13
Большое спасибо, то что надо.

[2020-11-23 12:13] #13 closed

[2020-11-23 12:14] and7ey commented on #3
Без "enable_letters" распознавание букв не будет работать? Как "enable_letters" отправить из Graph?

[2020-11-23 12:15] subnetsRU commented on #67
Ок, т.е. не баг, а фича. Тогда вопрос снимается.

[2020-11-23 12:22] RulevAnton commented on #36
1. Про нум токет от Никиты Кузнецова.

NUM_TOKEN в normalized_text - это фича. normalized_text - это нормализованный текст, размерность многообразия максимально снижена для целей классификации. В нём исправлены опечатки, все слова стоят в начальной форме, а все конкретные сущности (например, "Иван Иванович") заменены на типы этих сущностей (например, на "PERSON_TOKEN")

2. [22.11.2020 17:51:15.492

[2020-11-23 12:23] RulevAnton commented on #67
Перенсу сюда из 36 тикета:
[22.11.2020 17:51:15.4929] - это проблема asr, перенес в #67
"н о е":
[code]

[2020-11-23 12:27] #36 closed

[2020-11-23 12:46] RulevAnton commented on #67
SDVOICECOR-407

[2020-11-23 15:47] snyuryev commented on #55
@sasha-tlt спасибо, проверю

[2020-11-24 07:21] subnetsRU opened #68 "[ASR] Лучшая гипотеза не на русском, а на английском языке [5]"
Продолжение тикета #18

[23.11.2020 14:42:45.9569]
"стоп":
[code]
[23.11.2020 14:46:19.5897]
"абрахам":
[code]
[23.11.2020 15:19:19.7698]
"принц":
[code]
[23.11.2020 18:50:36.1875]
"муху":
[code]
[23.11.2020 19:10:10.6391]
"это фишка":
[code]
[23.11.2020 19:31:32.9529]
"нарциссы":
[code]
[23.11.2020 19:31:45.4086]
"нарцисс":
[code]
[23.11.2020 19:33:00.7564]
"гарсон":
[code]
[23.11.2020 19:33:38.2

[2020-11-24 07:31] subnetsRU commented on #18
Тогда просьба пояснить. Почему в каких то случаях на английском, а в каких-то на русском. От чего это зависит ?

Примеры:
[code]
Разве в этом случае оно не должно быть едино для всех ?

[2020-11-24 08:14] RulevAnton commented on #18
Вообще "шуберт" и "Моцарт" - это фамилии. А полное имя считается исполнителем и распознаётся на латинице.
Вообще считаем, что это может распознаваться на обоих языках. Конкретно шуберт и моцарт, к примеру.

[2020-11-24 11:13] subnetsRU opened #69 "при отправке CLOSE_APP шлётся текст предыдущего голосового запроса пользователя"
CLOSE_APP в canvas app:
[code]
При этом текст:
[code]
Вот последние действия пользователя. Порядок сообщений сохранен, как и временные метки:
[code]

Обсуждали в ТГ: https://t.me/smartapp_studio/5421

[2020-11-24 13:37] and7ey opened #70 "Добавить в Plasma UI Kit компонент с кнопками, заменяющими suggestions"
**Где пригодится фича**: Plasma UI Kit, CanvasApp
**Описание фичи**: сейчас в CanvasApp не поддерживаются стандартные suggestions (https://github.com/sberdevices/salute-issues/issues/34), потому каждый разработчик вынужден добавлять эти кнопки самостоятельно. В итоге - в каждом смартапе они будут свои (разного размера, цвета, с разными шрифтами, расположением и т.п.). Нужно сделать компонент, кото

[2020-11-24 14:23] RulevAnton commented on #68
SDVOICECOR-410

[2020-11-24 14:53] asmalakhov-sberdevices commented on #24
@and7ey
Речь идет о том, чтобы не редактировать текущий проект Graph, а открыть его в Code как отдельный проект?
Можете подробнее описать кейс, почему именно такой вариант нужен больше.

[2020-11-24 14:59] asmalakhov-sberdevices commented on #61
@and7ey
При Сборке - сохранение проекта происходит автоматически.
Комментарий автоматически заполняется названиями файлов, в которых были изменения.
После сборки, если изменений не было, то комментарий остается пустым.

[2020-11-24 15:50] and7ey commented on #61
Может тогда, если изменений не было, а сохранение произошло автоматически, то кнопку Сохранить надо делать недоступной для нажатия?

[2020-11-24 16:18] snyuryev opened #71 "Кнопка "Остановить" (апп) в студии должна быть красного цвета"
Аналогично "Отозвать с модерации".

[2020-11-25 07:31] and7ey opened #72 "Логирование работы смартапов"
**Где пригодится фича**: Code, Graph
**Описание фичи**: в настоящий момент невозможно исследовать некоторые проблемы, которые возникают в работе смартапов, т.к. используется слишком много инструментов, у которых нет логов.
Например, CanvasApp, разработанный в Code. Пользователь взаимодействует с CanvasApp, событие прилетает куда-то, оттуда в Code, из Code - назад клиенту и на front endpoint. Все э

[2020-11-25 07:57] KKPotapova opened #73 "Список слов и фраз, которые могут принудительно завершить работу смартапа"
Мы готовим список слов и фраз, которые могут принудительно завершить работу смартапа, но при этом нужны для выполнения сценариев.
Чтобы избежать неожиданностей и дать вам больше возможностей для создания богатых возможностями приложений, мы предлагаем вам поделиться словами и фразами, которые пригодятся в ваших смартапах и не должны их выключать.
Например, слово «хватит» и т. п.
Предлагайте ваши в

[2020-11-25 08:22] KKPotapova commented on #73
Комментарий в канале Телеграм от @SergeyCool:
А почему не оставить только "хватит"? Остальные типа "Выход" или "Завершить" уже сами разработчики добавят с сценарий. Я потому и ответил, что только за 1 слово. Оно уже в ходу у Алисоманов, многие привыкли. А вот когда навык/смартап прерывается по другим словам, то для многих разработчиков это часто воспринимается, как лезть в личные дела апа. Но это

[2020-11-25 09:48] subnetsRU commented on #73
Наверно стоит сначала запостить текущий список:
* перестань;
* завершить сценарий;
* выйти из сценария;
* выйти из приложения;
* закройся;
* выйти;
* выйди;
* сверни;
* сворачивай;
* надоела;
* надоел;
* надоело;
* стоп;
* хватит;
* прекрати;

Даже не смотря на то, что слово "хватит" губительно для моего смартапа я даже не буду предлагать его убрать. Мне кажется это самое то для озвучивания желани

[2020-11-25 10:19] snyuryev commented on #73
"вперед"
"назад"
и аналогичные "навигационные" команды не должны прерывать работу аппа
а в целом чем меньше вариантов для закрытия аппа тем лучше для всех

[2020-11-25 10:42] subnetsRU opened #74 "[ASR] Лучшая гипотеза не на русском, а на английском языке [6]"
Продолжение тикета #18

[24.11.2020 12:09:07.1865]
"бельмондо":
[code]
[24.11.2020 13:51:52.4647]
"купи":
[code]
[24.11.2020 14:24:11.8008]
"а ресторан":
[code]
[24.11.2020 14:27:04.0854]
"то билли":
[code]
[24.11.2020 14:40:03.0801]
"марка":
[code]
[24.11.2020 14:45:43.6628]
"акробат":
[code]
[24.11.2020 16:41:08.5866]
"баня":
[code]
[24.11.2020 17:41:27.3388]
"джордан":
[code]
[24.11.2020 18:03:

[2020-11-25 11:40] Sergeycul commented on #73
Первый мой опыт с ассистентом БЕЗ ЭКРАНА был с колонки Алисы. С семьей запустили навык «Папа Джонс» для шутки и когда поняли, что не можем с него выйти, то попали в тупик. Что только не пытались говорить, в итоге колонка так и осталась в режиме «навыка». В итоге пришлось полностью колонку обнулять и переподключать заново, так что я знаю об этой проблеме. И только потом вычитал в поиске, что надо б

[2020-11-25 12:01] snyuryev opened #75 "Assistant client: добавить возможность отправки текста"
"sendText" - по аналогии с "sendData"
"sendText" - альтернатива произнесенному пользователем тексту

[2020-11-25 12:36] Turanchoks commented on #75
@snyuryev 👋
Расскажите, пожалуйста, какой у вас кейс?

sendText – есть такой внутренний API, через него работает панелька ассистента в режиме разработки локально.

[2020-11-25 12:39] subnetsRU commented on #75
Серёг, а действительно в чём смысл ? Ничего же не мешает запихать что угодно в sendData и текст в том числе.

Ну и смысла его отправлять обратно в webhook ? Что есть "альтернатива" ?

[2020-11-25 16:48] and7ey commented on #72
Для внешних HTTP-запросов (например, из Graph) надо логировать время запроса, время ответа, что запросили-что получили в ответ.

[2020-11-25 17:07] snyuryev commented on #75
@Turanchoks @subnetsRU некоторым разработчикам бы пригодилась такая функциональность при реализации кастомных саджестов. т.е. на канвас (например вниз) ставятся кнопки и по нажатию на них отправляется текст в бэкенд.

понятно что в том же Code можно добавить event и ловить sendData вместе с текстом, но у кого-то уже может быть реализован сценарий и адаптация заняла бы меньше время (нет необходимос

[2020-11-25 17:14] and7ey opened #76 "Таймаут на HTTP-запросы"
**Где нашелся баг**: Graph (возможно, есть и в Code)
**Описание проблемы**: сейчас в Graph невозможно задать таймаут на HTTP-запрос. Сторонний сервис может отвечать дольше, чем время, отведенное на ответ смартапа. Нужно (1) дать возможность задавать таймаут на HTTP-запрос, (2) сделать дополнительное условие - что делать, если ответ не получен вовремя (как сейчас задается Завершен с ошибкой). В иде

[2020-11-26 05:55] subnetsRU commented on #75
Ах, это с code связано. Теперь понятно. Сразу б написал ;)

[2020-11-26 07:47] subnetsRU opened #77 "[ASR] Лучшая гипотеза не на русском, а на английском языке [7]"
Продолжение тикета #18

[25.11.2020 13:16:22.0967]
"имя":
[code]
[25.11.2020 13:30:20.4739]
"крики":
[code]
[25.11.2020 16:16:06.1964]
"червь":
[code]
[25.11.2020 16:43:39.3081]
"цена":
[code]
[25.11.2020 16:47:27.1073]
"подсказка":
[code]
[25.11.2020 16:50:29.6176]
"врун":
[code]
[25.11.2020 17:27:25.4205]
"комод":
[code]
[25.11.2020 17:28:59.3870]
"поляна":
[code]
[25.11.2020 19:34:43.5756]
"сос

[2020-11-26 08:37] RulevAnton commented on #74
SDVOICECOR-419

[2020-11-26 08:52] RulevAnton commented on #77
SDVOICECOR-420

[2020-11-26 09:16] Yeti-or commented on #70
@and7ey можете приложить пару скриншотов о каких кнопках идет речь
видео из https://github.com/sberdevices/salute-issues/issues/34 перестало работать

[2020-11-26 09:35] and7ey commented on #70
<img width="862" alt="Снимок экрана 2020-11-26 в 12 34 09" src="https://user-images.githubusercontent.com/900474/100333589-d3a7c000-2fe3-11eb-814f-f4c64ef8b060.png">
три кнопки слева - надо рисовать вручную

аналогичные кнопки справа - это то, что рисуете вы сейчас (но в боксе они то рисуются, то нет, а модераторы требуют их заменять на вручную добавленные кнопки)

[2020-11-26 09:40] and7ey commented on #75
https://github.com/sberdevices/salute-issues/issues/70
здесь я писал о похожем, только в моем issue - более полноценная реализация того же самого)

[2020-11-26 09:44] and7ey opened #78 "Plasma UI Kit: добавить css для различных поверхностей"
**Где пригодится фича**: для всех CanvasApp
**Описание фичи**: хотелось бы пример CSS, в котором были бы готовые стили для разных разрешений экранов - чтобы не каждый самостоятельно css создавал, а был бы какой-нибудь шаблон. В идеале - еще и обновить текущий пример CanvasApp, куда надо добавить поддержку разных разрешений и ориентаций экранов. Туда же добавить примеры дизайна suggestion buttons (

[2020-11-26 09:52] Yeti-or commented on #78
Привет, а вот такого не хватает? https://plasma-docs.netlify.app/theme
я правильно понял?

[2020-11-26 09:55] and7ey commented on #78
Кажется, что нет.
Если открыть один и тот же смартап на Боксе и в Салюте на телефоне, то ориентация экрана, размеры будут разными. Theme как-то адресует этот кейс? Кажется, что theme лишь про цвета. Или я ошибаюсь?

[2020-11-26 10:10] Yeti-or commented on #78
Нет для размеров у нас есть https://plasma-docs.netlify.app/utils#detectdevice
расширим пример в нём

[2020-11-26 10:11] Yeti-or commented on #70
Спасибо стало понятнее;

[2020-11-26 10:26] snyuryev commented on #75
@subnetsRU ну не только code, допустим у тебя уже была игра/приложение, портируешь ее через api и добавляешь канвас. возникает необходимость сделать саджесты. и в сценарии code и в своем приложение надо добавлять логику обработки событий (хотя если бы приходил текст то уже ничего добавлять не нужно)

[2020-11-26 11:24] Genenko-Svetlana commented on #74
Срок 07.12 - 11.12

[2020-11-26 11:27] Genenko-Svetlana commented on #63
Срок реализации 07.12 - 11.12

[2020-11-26 11:27] Genenko-Svetlana commented on #65
Срок реализации 07.12 - 11.12

[2020-11-26 11:28] Genenko-Svetlana commented on #66
Срок реализации 07.12 - 11.12

[2020-11-26 11:28] Genenko-Svetlana commented on #67
Срок реализации 07.12 - 11.12

[2020-11-26 11:29] Genenko-Svetlana commented on #68
Срок реализации 07.12 - 11.12

[2020-11-26 11:29] Genenko-Svetlana commented on #77
Срок реализации 07.12 - 11.12

[2020-11-26 12:20] Genenko-Svetlana commented on #64
Проблема устранена? Проверьте, пожалуйста.

[2020-11-26 12:22] Genenko-Svetlana commented on #9
Проверьте завтра, пожалуйста.

[2020-11-26 13:16] oblomil commented on #16
Взяли в проработку, зависим от других команд. Вернемся с новостями на в течение двух недель.

[2020-11-26 13:28] subnetsRU commented on #64
Как же я надеялся, что это утверждение, а не вопрос.... Что знак вопроса это просто опечатка.

Нет, проблема **НЕ** устранена. Испытал на Салюте и он снова выпал в осадок и мне снова придётся его переустанавливать.

Простите, но на сбербоксе даже проверять не буду. Мне не очень удобно лазать за телевизор, который висит на стене.

[2020-11-26 14:26] and7ey opened #79 "Документация: что где поддерживается"
**Где пригодится фича**: нужна табличка в Документации
**Описание фичи**: что где поддерживается, а что нет -

- например, suggestions не поддерживаются на Боксе
- raw ответы не поддерживаются в тестовом виджете в Code (https://t.me/smartapp_studio/5281)
- персонажи (значение в $rawRequest.payload.character.name) не поддерживаются в тестовом виджете в Code и Graph
- https://t.me/smartapp_studio/48

[2020-11-26 15:21] and7ey commented on #73
Поддерживаю вариант с одним словом "хватит".

[2020-11-26 15:29] noskoviv commented on #73
Слова/фразы - их должно быть минимально - согласен
как вариант - в каждом апе должно быть в настройках перечень завершающих слов которые переопределяют глобальные слова

[2020-11-26 15:32] noskoviv commented on #73
и это список слов/фраз (которые должны переопределять глобальные) должен быть не только на завершение...
у меня на фразе Новости - срабатывает глобальная фраза, и мои интенты не отрабатывают

[2020-11-26 15:34] xoxulin commented on #71
Коллеги, а можете чуть шире обосновать это желание. Чисто семантически **Остановить** и **Отозвать с модерации** не опасные и обратимые действия. Красным сейчас обозначены кнопки про **Отключение** и **Удаление** смартапов, они запускают диалог, который просит подтвердить остановку/удаление. Главный вопрос – чем обусловлен выбор красного цвета для приведенных кнопок?
cc @snyuryev

[2020-11-26 16:18] xoxulin commented on #71
Договорились голосом в Zoom:

Я бы кроме покраски в красный цвет всё же ещё и Confirm Dialog лайтовый добавил – дескать "Вы уверены что хотите это сделать?" И для выключения и для отправки / отзыва с модерации.

[2020-11-26 16:26] snyuryev commented on #71
опасения что выключишь апп и не заметишь.
(был момент что я хотел снять с модерации апп, а выключил прод версию - когда открываешь в студии апп то попадаешь в закладку с прод версией)

[2020-11-26 19:10] snyuryev commented on #53
Уже не актуален с появлением Carousel

[2020-11-26 19:10] #53 closed, assigned to awinogradov

[2020-11-27 07:27] subnetsRU commented on #9
Пока версия приложения на мобилке всё та же 20.11.0.4145. В маркете вижу тоже самое. Версия такая же с последней датой обновления 09.11.2020.

Посмотрю вечером тогда.

[2020-11-27 08:40] Genenko-Svetlana commented on #64
1. resizable в grid_card не поддерживается
2. баг еще в работе

[2020-11-27 09:38] asmalakhov-sberdevices commented on #61
@and7ey  принято, будем отключать кнопку, если нет изменений.  Добавили задачу себе в бэклог на q1 21, сделаем до 31.03.21.

[2020-11-27 09:41] asmalakhov-sberdevices commented on #76
@and7ey Добавили задачу себе в бэклог на q2 21 ориентировочно до 01.07.21.

В code возможность настроить таймаут уже есть.
https://developer.sberdevices.ru/docs/ru/developer_tools/ide/JS_API/built_in_services/http/query.md

[2020-11-27 09:56] asmalakhov-sberdevices commented on #72
@and7ey  Мы планируем улучшать логирование в смартпах, добавили себе ваши комментарии.

Сейчас в Code есть возможность смотреть логи запросов и ответов, которые приходят в смартап от ассистена.
Но для этого, нужно включить логирование для проекта в Свойства проекта -> Дополнительно ->  включить Записывать логи запросов смартапа. Логи будут хранить указанное в настройке количество дней.
Лог запроса

[2020-11-27 10:09] subnetsRU commented on #18
На фоне новости о том, что скоро выйдет обновление для ASR в районе 3 млн. слов, совместно пришли к выводу, что пока перестать постить новые тикеты по ASR и дождаться обновления, которое по планам будет 04.12.

Посему ждём обновления, а уж потом будем смотреть по результатам.

[2020-11-27 10:22] Genenko-Svetlana commented on #54
@RulevAnton  Антон, удалось реализовать? Вчера на конференции прозвучало, что нет.

[2020-11-27 10:25] RulevAnton commented on #54
Разработчики сделали, релиз запланирован на 02.12.

[2020-11-27 10:49] asmalakhov-sberdevices commented on #47
@snyuryev
Пока обсудили внутри, и решили, оставить как есть.
Так как в целом это разные ситуации и возможно кто-то завязан на текущем поведении. Изменение может заафектить некоторые сценарии.

Возможно, если запросов по этой теме от разработчиков будет больше, вернемся к вопросу.

@snyuryev а в чем основное неудобство сейчас? только в том, что нужно делать дополнительную проверку в условии?

[2020-11-27 12:21] snyuryev commented on #47
да, дополнительная проверка.
может быть как-то в документации отразить?
я первый раз подумал что как $client и др. JS API: переменные $entities всегда чем-то заполнены.

[2020-11-27 16:08] xoxulin commented on #41
Стараемся начать решать эту фичу в декабре. Это важная задача для многих участников.

[2020-11-27 16:15] talagaev commented on #10
@sdtestersd не помнишь, почили ли?

[2020-11-28 09:50] subnetsRU commented on #9
Ни вечером, ни сегодня с утра ситуация не изменилась. И в store и на мобильнике всё та же старая 20.11.0.4145.

Потому проверять пока нечего.

[2020-11-28 14:49] sdtestersd commented on #64
Падение Салюта исправлено в версии 20.12.1

[2020-11-29 05:14] Genenko-Svetlana commented on #72
Срок реализации до 31.07.2021

[2020-11-29 05:18] Genenko-Svetlana commented on #47
@Lytkini
может быть как-то в документации отразить?
я первый раз подумал что как $client и др. JS API: переменные $entities всегда чем-то заполнены.

[2020-11-29 05:20] Genenko-Svetlana commented on #24
@skobets @asmalakhov-sberdevices  Посмотрите комментарий выше, пожалуйста.

[2020-11-29 05:23] Genenko-Svetlana commented on #32
@and7ey  Исправлено, проверяйте, пожалуйста. Ждём обратную связь.

[2020-11-29 05:24] Genenko-Svetlana commented on #51
@skobets @asmalakhov-sberdevices посмотрите комментарий выше, пожалуйста.

[2020-11-29 08:41] and7ey commented on #32
В своем коде я уже отказался от использования блока Ввод текста, так что проверить, увы, не на чем.

[2020-11-29 15:33] #32 closed

[2020-11-29 19:03] and7ey commented on #76
Из приведенной документации не очень понятно как будет обрабатываться timeout. Если ответ вовремя не поступил, то `isOk` будет `true` или `false`? Какими будут `error` и `status`?

[2020-11-30 06:41] sdtestersd commented on #10
Исправлено в 20.11.1 МП Салют

[2020-11-30 07:35] Genenko-Svetlana commented on #76
@oblomil @Lytkini посмотрите про документацию, пожалуйста, и добавьте комментарий.
Я переоткрыла тикет.

[2020-11-30 07:52] Genenko-Svetlana commented on #47
@oblomil @Lytkini посмотрите в части документации, пожалуйста, и напишите комментарий.
Тикет переоткрыла.

[2020-11-30 08:07] RulevAnton commented on #3
Без "enable_letters" будет распознавать всегда хуже чем с ""enable_letters". Для букв нужно будет использовать данный вид хинтов.
Отлаживаем и документируем, как это все отравить.

[2020-11-30 10:22] sasha-tlt commented on #22
@and7ey, в версии 2.1.0 добавили [возможность подключения ассистента через <script>](https://github.com/sberdevices/assistant-client#%D0%B0%D0%BB%D1%8C%D1%82%D0%B5%D1%80%D0%BD%D0%B0%D1%82%D0%B8%D0%B2%D0%BD%D0%BE%D0%B5-%D0%BF%D0%BE%D0%B4%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5)

[2020-11-30 11:04] Turanchoks commented on #75
С нашей стороны это продуктовое решение. Assistant Client – это лишь обертка над нативными методами, сейчас в нативе нет такого метода. Отпишемся, когда будет продуктовое примем продуктовое решение.

[2020-12-01 07:41] subnetsRU commented on #26
Есть какие-то новости по проблеме ? Очень мешает это в canvas app...

[2020-12-01 10:09] Sergeycul opened #80 "Неправильно работает блок «Ввод числа» в поле «От» - «До»."
ГРАФ. Блок «Ввод числа» - если ввести в поле «От» число, которое начинается на первую цифру больше первой цифры поля «До», то такой блок не дает сохранить. Например, от 3 до 20 – сохранить не получится блок, а уже от 3 до 30 блок сохранится нормально.

[2020-12-01 10:13] Sergeycul opened #81 "Неправильно работает блок «Ввод числа» - нельзя использовать без вводного текста."
ГРАФ. Блок «Ввод числа» - очень желательно сделать, чтобы поле «Сообщение» было не обязательным, т.к. это поле нельзя сделать с разметкой синтеза речи + здесь сейчас не работает подстановка переменных. На данный момент выкручивался так: делал изначально блок «Текст», а в поле «Ввод числа» ставил смайлик.

[2020-12-01 10:14] Sergeycul opened #82 "Неправильно работает блок «Ввод числа»: не воспринимает числа от 80 до 89."
ГРАФ. Блок «Ввод числа» - неправильно воспринимает числа от 80 до 89, съедает часть числа.

[2020-12-01 10:15] Sergeycul opened #83 "Блок с ползунком «Сделать доступным из любой точки сценария» может работать некорректно."
ГРАФ. Проблема с блоком «Помощь». Т.к. этот блок должен отрабатывать по ходу всего апа, то в конструкторе ставим ползунок «Сделать доступным из любой точки сценария». НО! В тогда самом блоке нельзя использовать интент «Любая другая фраза», т.к. этот интент может перебивать по ходу апа другие блоки с интентами, где тоже используется «Любая другая фраза». Желательно сделать так, чтобы при ползунке «

[2020-12-01 10:16] Sergeycul opened #84 "Неправильное воспроизведение текста с разметкой речи."
ГРАФ. Если использовать разметку синтеза речи и в этой строке писать не в 1 строку, а с переносом строки, то потом в этом месте произносит «н».

[2020-12-01 10:17] Sergeycul opened #85 "Невозможно вставить саджесты при завершении сценария."
ГРАФ. В конце апа нельзя поставить саджест вместе с текстом, т.к. при блоке «Завершение сценария» вставка кнопки не возможна.

[2020-12-01 10:18] Sergeycul opened #86 "Показывается старое название апа в Code при переименовке в Graph."
ГРАФ-CODE. При переименовании апа в Graph - в Code остается старое название.

[2020-12-01 13:43] danchistyakov opened #87 "Ошибка в ударении"
Где нашелся баг: в ассистенте;
Описание проблемы: неправильное ударение.
Проблема воспроизводится у других пользователей? да;
Дополнительная информация: ассистент говорит мышка-нОрушка, а надо мышка-норУшка.

[2020-12-02 04:34] kamnevtmb opened #88 "сделать ссылку на номера телефонов и почты в сбер салют"
реализовать ссылки, где присутствуют номера телефонов или почты.
по клику стандартное действие набор номера или открыть почтовую программу.

![Screenshot_20201202-072009_ ](https://user-images.githubusercontent.com/21268026/100828693-be61e400-3470-11eb-808a-e248c148ef1b.jpg)

[2020-12-02 07:01] vkycniichai commented on #78
@and7ey можем закрывать тикет, или есть еще вопросы?

[2020-12-02 07:06] asmalakhov-sberdevices commented on #85
@Sergeycul можно пожалуйста подробнее, не совсем понятно, для каких ситуаций это нужно?

После попадания на экран завершения сценария, управление отдается ассистенту и кнопки в любом случае работать не будут. Нужны подробности, о кейсе, который пытаетесь решить.

[2020-12-02 07:21] and7ey commented on #78
@vkycniichai , а разве есть уже решение, которое закрывает данный вопрос?

[2020-12-02 07:22] RulevAnton commented on #87
Завёл TTSQA-1214

[2020-12-02 07:27] asmalakhov-sberdevices commented on #82
@Sergeycul такая задача уже есть в бэклоге. Планируем исправить до конца декабря.

[2020-12-02 08:37] asmalakhov-sberdevices commented on #80
@Sergeycul добавили баг себе в бэклог, постараемся поправить оперативно.

[2020-12-02 08:38] asmalakhov-sberdevices commented on #83
@Sergeycul я же правильно понимаю, речь о блоке Интенты, и о том, что не срабатывает Любая фраза - если блок глобальный?

[2020-12-02 08:43] asmalakhov-sberdevices commented on #86
@Sergeycul а можно подробнее, пожалуйста, описать проблему?
не смогли точно понять, где именно не удается изменить название.

может быть речь о проблеме https://github.com/sberdevices/salute-issues/issues/23

[2020-12-02 08:44] asmalakhov-sberdevices commented on #81
Планировали добавить в блоки ввода, возможность использовать разметку https://github.com/sberdevices/salute-issues/issues/21 

[2020-12-02 08:57] Sergeycul commented on #85
Пример. Скорее всего, в дальнейшем будет какая-то система отзывов по апам. Чтобы подтолкнуть человека проголосовать было бы не плохо в в конце апа вставить кнопку с переходом на оставление отзыва. Или может потребоваться указать кнопку с переходом на сайт.

[2020-12-02 09:00] Sergeycul commented on #86
Изначально в Студио назвал игру "Безумный курьер", потом переименовал проект на "Веселый курьер" и так она пошла в каталог. А если зайти в Code, то там в проектах так и осталось старое название "Безумный курьер".

[2020-12-02 11:35] subnetsRU opened #89 "[синтез речи] Проблема с синтезом речи слова "хаус" у Джой"
Джой плохо воспроизводит слово "хаус". При этом "Сбер" и "Афина" этой проблемы не имеют.
ударение не помогает, _say-as_ тоже.

Можно ли это исправить ?

[2020-12-02 11:49] RulevAnton commented on #89
Завёл TTSQA-1222

[2020-12-02 11:50] RulevAnton commented on #89
Временное решение, звучит лучше, если на синтез уходит:
хауус

[2020-12-02 11:55] RulevAnton commented on #87
@DCStudioProjects Можете пока воспользоваться временным решением и вручную проставить ударение?
"мышка-нору'шка"

[2020-12-02 12:08] subnetsRU commented on #89
Только это решение ломает синтез для "Сбер" и "Афина".

Пришлось реализовать для id:joy свою фразу, но как по мне что так, что эдак криво. Буду ждать исправления. Спасибо.

[2020-12-02 12:30] Genenko-Svetlana commented on #81
@asmalakhov-sberdevices  т.е. это дубликат #21?
По нему срок реализации 31.03.2021.

[2020-12-02 12:32] Genenko-Svetlana commented on #82
Срок 31.12..2020

[2020-12-02 12:34] Genenko-Svetlana commented on #82
@asmalakhov-sberdevices  дубликат #4?

[2020-12-02 12:38] Genenko-Svetlana commented on #86
Дубликат #23.
Срок 26.02.2021

[2020-12-02 12:43] and7ey commented on #72
Можно еще в диалоги - https://smartapp-code.sberdevices.ru/<>/statistic/dialogs - добавить некий id пользователя (например, id его сбербокса) - чтобы пользователь мог что-то посмотреть у себя, потом это назвать нам, а мы его однозначно идентифицировали в логах?

[2020-12-02 12:53] Genenko-Svetlana commented on #81
@Sergeycul, посмотрите, пожалуйста, https://github.com/sberdevices/salute-issues/issues/21.
Если он о том же, то этот тикет я закрою.

[2020-12-02 12:53] Genenko-Svetlana commented on #82
@Sergeycul, посмотрите, пожалуйста, #4.
Если он о том же, то этот тикет я закрою.

[2020-12-02 12:54] Genenko-Svetlana commented on #86
@Sergeycul, посмотрите, пожалуйста, #23.
Если он о том же, то этот тикет я закрою.

[2020-12-02 14:19] sdtestersd commented on #88
Сылку в тексте можно выполнить с помощью markdown
За основу вязт формат - https://commonmark.org/help/
Формат:
{
  "showText": "privet",  // (пока не приходит!) если пришло поле showText, игнорируем items
                          // поле showText будет приходить вместо текстовых сообщений
  "auto_listening": true, // (пока не приходит!) признак того, что нужно включить слушание автоматически посл

[2020-12-02 14:31] kamnevtmb commented on #88
Понял, спасибо!

Вообще приложение не мое, но в своих буду использовать разметку)

[2020-12-02 14:31] #88 closed, assigned to talagaev

[2020-12-02 14:39] Ivan-Frost235 commented on #71
@xoxulin сообщает, что решение будет до 31.01.2021, пока в бэклоге.

[2020-12-02 14:44] Lytkini commented on #76
В настоящий момент проверяем как работает.
По результатам обновим документацию и добавим ссылку здесь.

[2020-12-02 14:47] talagaev commented on #12
@subnetsRU  проверьте, у вас обновилась прошивка до 1.65?

[2020-12-02 14:48] talagaev commented on #9
@sdtestersd  в какой версии фикс?

[2020-12-02 14:59] subnetsRU commented on #12
Через пару часов буду дома - посмотрю.

[2020-12-02 15:04] subnetsRU commented on #12
Жена оказалась дома, посмотрела. Да, обновилась до 1.65.21.

А это только меня накатили или всех будут ? Т.к. в чате пишут, что у них старая.

[2020-12-02 15:28] talagaev commented on #12
открыли на всех, как правило, ночью девайсы сами обновляются постепенно

[2020-12-02 16:20] Lytkini commented on #47
Добавили уточнение в [документацию](https://developer.sberdevices.ru/docs/ru/developer_tools/ide/NLU_core/entities#использование-сущностей).

[2020-12-02 16:35] danchistyakov commented on #87
Это не критично. И это http-запрос, думаете сработает?

[2020-12-02 16:40] danchistyakov opened #90 "Голосовой ассистент иногда не отвечает"
Где нашелся баг: в ассистенте;
Описание проблемы: ассистент может просто не ответить;
Проблема воспроизводится у других пользователей? Да;
Дополнительная информация: непонятно почему это возникает.

[2020-12-02 16:51] subnetsRU commented on #12
Проверил. Работает. Спасибо.

[2020-12-02 16:51] #12 closed

[2020-12-02 17:54] snyuryev commented on #47
@Lytkini спасибо!

[2020-12-03 05:08] subnetsRU commented on #90
Да, бывает такое. Он тебя слушает, заканчиваешь говорить, иконка показывает, что он перестал тебя слушать, а ничего дальше не происходит и текста распознавания на экране нет.

Обычно само начинается, само проходит. Создаётся впечатление, либо запрос не доходит до ASR, либо её ответ не доходит обратно.

[2020-12-03 05:09] subnetsRU commented on #9
Проверяю обновилась ли версия каждое утро. Пока всё по прежнему. Версия всё ещё прежняя.

[2020-12-03 06:00] #47 closed, assigned to Lytkini

[2020-12-03 07:09] Lytkini commented on #76
При таймауте вернётся объект вида:
[code]

Уточнили поведение в [документации](https://developer.sberdevices.ru/docs/ru/developer_tools/ide/JS_API/built_in_services/http/query).

[2020-12-03 08:08] vkycniichai commented on #90
@DCStudioProjects уточните, пожалуйста, воспроизвелось на боксе или в салюте?
Можете указать id девайса и время воспроизведения бага?

[2020-12-03 09:58] Sergeycul commented on #82
Нет, я описал другую проблему. Также ранее описывал эту проблему Антону Малахову. Отз знает в деталях.

[2020-12-03 09:59] Sergeycul commented on #86
Да, не заметил. Получилось, что это дубликат.

[2020-12-03 10:02] Sergeycul commented on #81
Я бы не сказал, что это дубликат. Я предложил рассмотреть возможность не задавать поле "Сообщение" как обязательное.

[2020-12-03 10:17] Genenko-Svetlana commented on #86
Спасибо. Закрываю, как дубликат #23 (срок решения 26.02.2021)

[2020-12-03 10:19] Genenko-Svetlana commented on #81
@asmalakhov-sberdevices

[2020-12-03 10:20] Genenko-Svetlana commented on #82
@asmalakhov-sberdevices

[2020-12-03 10:21] Genenko-Svetlana commented on #85
@asmalakhov-sberdevices

[2020-12-03 10:22] RulevAnton commented on #89
Для исправления ждём выкатки новой модели синтеза, в которой Erm так не косячит.

[2020-12-03 10:48] Genenko-Svetlana commented on #76
@and7ey  посмотрите, пожалуйста, изменения в документации.

[2020-12-03 11:37] danchistyakov commented on #90
В Салюте, если произнести какую-либо фразу потом, то диалог продолжается.

[2020-12-03 11:42] subnetsRU commented on #90
Это же бывает и на боксе. Не только в салюте. В юзерском чате даже видео было на эту тему.

[2020-12-03 11:43] danchistyakov commented on #90
Да, но из-за этого у меня не одобрили Ап, можете пока это убрать из критериев оценки или делать пока исключения?(

[2020-12-03 12:05] subnetsRU commented on #18
Планы по обновлению не сдвинулись ? Ждём завтра ? Плюс минус во сколько ? Чтобы понимать когда начинать мониторить ситуацию.

[2020-12-03 12:12] RulevAnton commented on #87
должно, если я правильно это представляю.
Можно ещё в закодированном виде в url передать:
%D0%BC%D1%8B%D1%88%D0%BA%D0%B0-%D0%BD%D0%BE%D1%80%D1%83'%D1%88%D0%BA%D0%B0

[2020-12-03 12:19] RulevAnton commented on #18
Мы в процессе, срок пока двигается на понеделньик-вторник.

[2020-12-03 12:57] vkycniichai commented on #90
@DCStudioProjects пришлите сюда, пожалуйста, message_id либо модель телефона (первое предпочтительнее).
В Салюте нужно зажать палцем фразу (либо ошибочную, но судя по всему, она не появилась вообще) либо рядом которые (по обе стороны) и нажать “Сообщить об ошибке” и там будет Message_id указан, вот он нужен.
+ желательно время воспроизведения бага

[2020-12-03 14:29] danchistyakov commented on #90
До ошибки: -1;
После ошибки: 1607005246142.
Xiaomi MI 9.
Время 17:00 — 17:30.

[2020-12-03 14:34] asmalakhov-sberdevices commented on #82
@Sergeycul да, эту задачу добавляли
@Genenko-Svetlana эти проблемы просто будут исправляться вместе с https://github.com/sberdevices/salute-issues/issues/4

[2020-12-03 14:43] asmalakhov-sberdevices commented on #51
@and7ey да, так и есть. Блоки ввод текста в реализации использует тэг InputText, поэтому это будет исправлено вместе.

[2020-12-03 14:45] asmalakhov-sberdevices commented on #85
@Sergeycul кажется в этом случае, достаточно просто поставить логику получения оценки до блока завершения сценария.

[2020-12-03 15:00] danchistyakov commented on #90
Могу сказать точнее:
ID сообщения: -1;
Время 17:58;
Xiaomi MI 9.
Причём, сообщение просто не выводится, но если ответить фразой после этого, то сценарий продолжается.

[2020-12-03 15:10] RulevAnton commented on #90
Если получилось достать id ошибочного сообщения, то оно значит вывелось на экран?

[2020-12-03 15:13] RulevAnton commented on #90
То есть ASR получается распознал фразу перед отсутствующим ответом навыка? раз получилось ID достать.

[2020-12-03 15:38] anisakharov opened #91 "Добавление команды при обращении к смартапу"
Просьба рассмотреть возможность передачи команды в смартап при первом обращении.
Есть смартап с названием "Плейлист Радио". Также работает активационная фраза "что в эфире". Подскажет пользователю, что звучит в прямом эфире радиостанции, отобразит плейлист или назовёт новинки эфира.
Сейчас чтобы узнать песню необходимо совершить 2 запроса - сперва зайти в смартап, а потом спросить внутри командой.

[2020-12-03 15:42] danchistyakov commented on #90
Да, я произнёс "Дальше" — и в ответ тишина. Может просто совпадение, но у меня в основном при переходе из экрана приветствия и при обращении к JS-условию 'random'.

[2020-12-03 15:43] subnetsRU commented on #91
#15

[2020-12-03 15:54] subnetsRU commented on #90
@DCStudioProjects
См. тикет #16

[2020-12-03 15:56] danchistyakov commented on #90
Немного не то, вылетает через раз, но я заметил ещё одну закономерность, если быстро нажать сайджест, который ведёт на богатый сюжет (в первую секунду), то он как будто вылетает от перегрузки (ИМХО). Как будто он не успевает прописать пути сайджестов.

[2020-12-03 15:57] Sergeycul commented on #85
Да, но с этого блока тогда как вести к блоку завершения сценария? Можно поставить интентом любой текст и с него вести на завершение, но это костыль.

[2020-12-03 16:00] asmalakhov-sberdevices commented on #81
@Sergeycul хорошо, вернемся к запросу, когда будет добавлять возможность настроить разметку в блоках ввода.
Постараемся сделать вместе с https://github.com/sberdevices/salute-issues/issues/21

[2020-12-03 19:47] danchistyakov opened #92 "Непонимание двойки"
Где нашелся баг: в ассистенте?
Описание проблемы: Когда ассистент слышит слово "два" и синонимы, то переводит это в цифру, вот только ни интенты не улавливают это слово, ни операции (больше меньше) не работают в условиях.
Проблема воспроизводится у других пользователей? Варианты: не знаю.

[2020-12-03 20:04] #92 closed, assigned to nobody

[2020-12-03 20:04] danchistyakov commented on #92
Извините за беспокойство!

[2020-12-04 06:00] Genenko-Svetlana commented on #82
Ок, значит срок исправления такой же - 31.12.2020

[2020-12-04 06:02] Genenko-Svetlana commented on #81
Ок, тогда срок реализации - 31.03.2021.
Пока закрываю тикет и переношу в отложенные.

[2020-12-04 06:03] Genenko-Svetlana commented on #83
@Sergeycul

[2020-12-04 06:08] Genenko-Svetlana commented on #91
@kuznetsovn Никита, посмотри, пожалуйста. Это дубликат #15?

[2020-12-04 06:11] Genenko-Svetlana commented on #84
@asmalakhov-sberdevices

[2020-12-04 06:39] RulevAnton commented on #54
@snyuryev Добрый день! Можно проверять и закрывать, исправление на проде.
На своей стороне проверили.

[2020-12-04 06:48] snyuryev commented on #54
@RulevAnton Спасибо! Проверю.

[2020-12-04 06:52] ffDowen commented on #22
В версии 2.1.0 добавили возможность подключения ассистента через <script>. Данный тикет закрываем, в случае возникновения вопросов просим создать новый.

[2020-12-04 06:52] #22 closed

[2020-12-04 06:54] subnetsRU commented on #66
По согласованию в ТГ чате пишу сюда.

Тестируя canvas app через assistant-client обнаружил странную нормализация букв. Не знаю важно или нет, но ввожу текст с клавиатуры, а не голосом.

буква "д" нормализуется в "далее":
[code]

буква "м" нормализуется в "метр":
[code]
буква "п" нормализуется в "плата":
[code]
буква "р" нормализуется в "rur":
[code]
буква "т" нормализуется в "том":
[code]

По друг

[2020-12-04 07:01] RulevAnton commented on #66
@kuznetsovn Посмотри, плиз, последнее сообщение, похоже ваше.

[2020-12-04 09:31] vkycniichai commented on #16
@Lytkini назначил доп. на [#90 ](https://github.com/sberdevices/salute-issues/issues/90)

[2020-12-04 09:34] vkycniichai commented on #90
@DCStudioProjects дальше решается в [16-м ](https://github.com/sberdevices/salute-issues/issues/16)

[2020-12-04 09:41] vkycniichai commented on #91
Есть нюанс, но по сути - дубликат [#15](https://github.com/sberdevices/salute-issues/issues/15)

[2020-12-04 09:42] #91 closed, assigned to kuznetsovn

[2020-12-04 10:56] danchistyakov commented on #90
Так у меня же может на любую команду не ответить.

[2020-12-04 11:16] danchistyakov opened #93 "Ассистент плохо распознаёт фразу "к ОГЭ""
Где нашелся баг: в ассистенте?
Описание проблемы: плохо распознаёт фразу "к ОГЭ" после вчерашнего (04.12) обновления.
Проблема воспроизводится у других пользователей? не знаю.
Дополнительная информация: может распознать фразу " к ОГЭ" как "Куга", "Coca", "Okko", "круга", "Кука".

[2020-12-04 11:30] Sergeycul commented on #83
Нет, фраза как раз срабатывает и конкурирует с другими интентами "Любая другая фраза" в других блоках. Желательно, чтобы тут эта фраза была только для этого блока и не встраивалась по всему сценарию.

[2020-12-04 12:50] RulevAnton commented on #93
А фраза просто "к ОГЭ" без контекста?
СалютАпп?

[2020-12-04 13:03] danchistyakov commented on #93
Да, Салют, "Запусти подготовка к ОГЭ".

[2020-12-04 13:15] RulevAnton commented on #93
Распознавание мигает, иногда некорректно распознаёт, да.
Завёл дефект SDVOICECOR-454, но скорее всего станет лучше уже со следущей выкаткой обновлённой модели, которая будет скоро.
Ну плюс уже вот-вот можно будет для ключевых фраз запуска (да и где захочется) использовать asr_hints = words.
Тогда ОГЭ будет лучше распознаваться.

[2020-12-04 13:56] Genenko-Svetlana commented on #83
@asmalakhov-sberdevices

[2020-12-04 14:01] Genenko-Svetlana commented on #85
@asmalakhov-sberdevices

[2020-12-04 17:00] subnetsRU commented on #17
Там что-то совсем поломалось у Джой.

https://t.me/smartapp_studio/7076

[2020-12-05 09:45] danchistyakov opened #94 "Иногда двоится список смартапов в хедере"
Где нашелся баг: в инструментах;
Описание проблемы: Иногда двоится список смартапов в хедере;
Проблема воспроизводится у других пользователей? не знаю;

[2020-12-06 05:22] Genenko-Svetlana commented on #66
@kuznetsovn

[2020-12-06 07:03] kamnevtmb opened #95 "нет произношения слова "площадь""
**Где нашелся баг**: Graph, API
**Описание проблемы**: глотается слово "площадь", любой из персонажей отказывается произносить это слово.
**Проблема воспроизводится у других пользователей?** да.
**Дополнительная информация**: нет

[2020-12-06 07:11] subnetsRU commented on #95
Присоединяюсь.
[code]
Произносит как "Какая помещения".
[code]
Произносит просто "квартиры".

Но при этом текст "Красная площадь" произносит без проблем.

[2020-12-06 07:13] kamnevtmb commented on #95
да, спасибо, забыл указать полную фразу

[2020-12-07 07:53] RulevAnton commented on #95
Завёл TTSQA-1238, постараемся успеть в след релиз (пара недель).

[2020-12-07 07:59] RulevAnton commented on #17
ага, наблюдаем, бага есть TTSQA-1226, Будем стараться исправить к след релизу. Ориентир через неделю-две.

[2020-12-07 08:53] danchistyakov opened #96 "Ассистент может не ответить ВНЕ зависимости от введённой фразы"
Где нашелся баг: в ассистенте;
Описание проблемы: ассистент может не ответить ВНЕ зависимости от введённой фразы;
Проблема воспроизводится у других пользователей? Да;
Дополнительная информация: есть Ап, в котором это происходит очень часто.

[2020-12-07 11:37] subnetsRU commented on #26
Есть какие-то новости по проблеме ? Очень мешает это в canvas app...

[2020-12-08 05:47] Genenko-Svetlana commented on #96
Дубликат #90

[2020-12-08 07:29] talagaev commented on #96
а можете прислать MID чтобы мы посмотрели логи, какая система не ответила

[2020-12-08 08:29] vkycniichai commented on #90
@DCStudioProjects по Вашему кейсу заведен баг на нашей стороне. id: SMSAIDE-1612
Сроки решения, ориентировочно - 10.12.2020, либо 15.12.2020
Навык одобрят сегодня

[2020-12-08 08:29] vkycniichai commented on #96
@talagaev
"Могу сказать точнее:
ID сообщения: -1;
Время 17:58;
Xiaomi MI 9.
Причём, сообщение просто не выводится, но если ответить фразой после этого, то сценарий продолжается."

По этому кейсу баг есть SMSAIDE-1612

[2020-12-08 08:31] vkycniichai commented on #96
Продолжаем в [90](https://github.com/sberdevices/salute-issues/issues/90)

[2020-12-08 08:31] #96 closed, assigned to talagaev

[2020-12-08 09:25] danchistyakov commented on #90
Спасибо!

[2020-12-08 11:28] danchistyakov opened #97 "В мобильной версии Studio если навык уже запущен, то по-прежнему висит статус "в разработке""
Где нашелся баг: в инструментах;
Описание проблемы: в мобильной версии Studio если навык уже запущен, то по-прежнему висит статус "в разработке";
Проблема воспроизводится у других пользователей? Не знаю;

[2020-12-08 12:32] subnetsRU commented on #66
Тут по именам тоже с нормализацией вопрос выплыл. Например:
ввожу с клавиатуры "Дима":
[code]
ввожу с клавиатуры "Люба":
[code]

[2020-12-08 12:47] exitoso opened #98 "добавить функционал для отладки приложений которые создаются целиком на SmartApp API"
**Где пригодится фича**: на сайте
**Описание фичи**: облегчит отладку приложений которые создаются целиком на SmartApp API
**Дополнительная информация**:
Мои предложения:
1. Лог запросов и ответов
2. Коды ошибок
3. Валидатор json который уходит с сервера в Салют

[2020-12-08 15:38] Genenko-Svetlana commented on #26
@talagaev

[2020-12-08 15:39] Genenko-Svetlana commented on #10
@sdtestersd @talagaev эта версия уже вышла?

[2020-12-08 17:10] talagaev commented on #26
https://sberdevices.slack.com/archives/G01BDE8PJ1Z/p1603376755125100

[2020-12-08 19:36] sdtestersd commented on #10
20.11.1 МП Салют уже вышла.

[2020-12-08 19:42] sdtestersd commented on #9
в 20.11.1 поправили

[2020-12-09 05:42] subnetsRU commented on #9
Ага, приложение обновилась. Мобильник не засыпает ! Ура ! Спасибо.

[2020-12-09 05:42] #9 closed

[2020-12-09 05:42] subnetsRU commented on #10
Да, приложение обновилось. Повторить проблему не удаётся. Всё работает корректно. Спасибо.

[2020-12-09 05:42] #10 closed

[2020-12-09 05:48] subnetsRU commented on #26
А что там написано ? Логично, что у меня выползает:
`you doesn’t have an account on this workspace.`

[2020-12-09 08:29] talagaev commented on #26
это связанный тред в нашем слаке, чтобы я не потерял

[2020-12-09 09:13] talagaev commented on #26
оформили баг - https://sbtatlas.sigma.sbrf.ru/jira/browse/ATHENADEV-4148

[2020-12-09 12:26] danchistyakov opened #99 "Вместо окна тестирования сценария пустота"
**Где нашелся баг**: в инструментах;
**Описание проблемы**: вместо окна тестирования сценария пустота;
**Проблема воспроизводится у других пользователей?** Варианты: не знаю;
**Дополнительная информация**: могу предоставить информацию по Апу.

[2020-12-09 13:26] Genenko-Svetlana commented on #26
Срок реализации - 31.03.2021

[2020-12-09 13:34] danchistyakov opened #100 "Ошибка -2010 при чтении текста"
**Где нашелся баг**: в ассистенте;
**Описание проблемы**: ошибка -2010 при чтении текста;
**Проблема воспроизводится у других пользователей?** Варианты: да;
**Дополнительная информация**: могу предоставить данные по Апу.

[2020-12-09 14:03] RulevAnton commented on #100
-2010 Отправка данных в TTS прервалась неизвестной ошибкой.
Что-то некорректное походу в синтез передали.
Нужен message_id для анализа.

[2020-12-09 14:15] danchistyakov commented on #100
message id: 1607523264112
Время 17:14;
MI 9;
Салют.

[2020-12-09 14:50] RulevAnton commented on #100
Текст превышает ограничение на кол-во символов в 4 kB.
В присланном текста (там сказка) 4141 байт.

[2020-12-09 15:08] danchistyakov commented on #100
Скажите, а можно это ограничение снять?

[2020-12-09 15:16] RulevAnton commented on #54
Тикет закрываю.

[2020-12-09 15:16] #54 closed, assigned to RulevAnton

[2020-12-09 15:20] asmalakhov-sberdevices commented on #85
@Sergeycul можно и так сделать.
Но тут скорее лучше добавить несколько интентов, например отдельно интент для каждой оценки, потом например это может быть http запрос в гугл таблицу куда оценка сохраниться, а из блока запроса уже выход из сценария.

[2020-12-09 15:26] RulevAnton commented on #100
Более правильным выходом будет отправлять несколько отдельных запросов на синтез.

[2020-12-09 15:28] danchistyakov commented on #100
У меня просто ап, где ассистент читает сказки, поэтому даже не знаю. Итак массив большой, разбивать его ещё на части это адок.

[2020-12-09 16:55] danchistyakov opened #101 "Когда обращаюсь к random Апп ничего не возвращает"
**Где нашелся баг**: в ассистенте;
**Описание проблемы**: Когда обращаюсь к random Апп ничего не возвращает;
**Проблема воспроизводится у других пользователей?** не знаю;
**Дополнительная информация**: информация по Апу.

[2020-12-09 16:57] danchistyakov commented on #101
Message id: -1;
MI 9;
19:57 MSK;

[2020-12-09 17:10] vkycniichai commented on #101
Ранее предоставлялся комментарий по багу.
"По Вашему кейсу заведен баг на нашей стороне. id: SMSAIDE-1612
Сроки решения, ориентировочно - 10.12.2020, либо 15.12.2020"
Вопрос решается в [90-м тикете](https://github.com/sberdevices/salute-issues/issues/90).

[2020-12-09 17:10] #101 closed, assigned to nobody

[2020-12-09 18:31] RulevAnton commented on #100
Это неправильно с точки зрения производительности сервиса и безопастности.

[2020-12-10 07:43] RulevAnton commented on #100
Нужно помощь какая-то с разделением на отдельные запросы?

[2020-12-10 08:07] RulevAnton commented on #100
Или закрываем?

[2020-12-10 10:31] xoxulin commented on #46
В ближайших релизах тема состояния "Веременно выключено" будет освещена. Важный момент – при расследовании инцидентов со внешними навыками будет задействована прямая коммуникация с разработчиками. Процесс не ставится в терминах "удаления из каталога", а скорее в терминах защиты и информировании пользователей девайсов – дескать "навык сейчас недоступен, мы разбираемся".

Причины могут быть разные,

[2020-12-10 10:46] #87 closed, assigned to RulevAnton

[2020-12-10 10:56] subnetsRU commented on #46
По первому типу: Как именно это мониторится ? Ваш бот/сотрудник ходит и запускает смартапы как обычный пользователь ? Что является фактом фиксирования тех.сбоя ? Смартап единожды не ответил ? Не единожды в рамках определённого времени ? Какого ?

2.

но тут же может быть такое, что ассистент повторил фразу клиента, который матерился, а код смартапа либо не валидирует либо ошибочно не понял, что эт

[2020-12-10 11:02] RulevAnton commented on #17
Исправление поедет на прод сегодня в ночь.

[2020-12-10 11:03] RulevAnton commented on #87
Исправление поедет на прод сегодня в ночь.

[2020-12-10 11:05] danchistyakov commented on #100
В принципе можете закрыть, но в идеале конечно бы повысить)

[2020-12-10 11:07] RulevAnton commented on #89
Исправлено, сегодня в ночь в прод.

[2020-12-10 11:07] #89 closed, assigned to RulevAnton

[2020-12-10 11:12] RulevAnton commented on #100
Опять же, повысить не можем, есть вероятность, что этот лимит может даже снизиться.

[2020-12-10 11:18] voipp commented on #44
Блок условия с пустой строкой выполняется как javascript код:
`if: $session.te = ""`
а этот код работает правильно :http://www.ecma-international.org/ecma-262/5.1/#sec-9.2
операция присваивания вернет пустую строку в условие, а if-условие с пустой строкой вычисляется в false

а блок условия с непустой строкой всегда вернет true

[2020-12-10 11:22] and7ey commented on #44
Не очень понял каким тогда должно быть решение. Протянуть еще одну связь из `else` в текстовый блок? И тогда в $te будет пустота?

Почему `if: $session.te = ""` возвращает `true`, разве не должно быть `undefined`?

[2020-12-10 11:25] danchistyakov commented on #100
Ок, тогда нету вопросов.

[2020-12-10 11:25] #100 closed, assigned to RulevAnton

[2020-12-10 11:34] voipp commented on #44
@and7ey  проверка с пустой строкой вернет false
вот пример работы js : http://jsfiddle.net/57coetar/
ссылка на ecma выше

[2020-12-10 11:36] voipp commented on #44
все зависит от того чего вы хотите добиться

[2020-12-10 11:38] and7ey commented on #44
Хочу присвоить переменной $te пустое значение. Чтобы потом использовать для обращения на "ты" или "вы" -  например, `хоти$te продолжить игру?`.

[2020-12-10 13:32] xoxulin commented on #97
Обратим внимание, но не с самым высоким приоритетом.

[2020-12-10 13:34] xoxulin commented on #98
Это есть в наших планах, и уже довольно скоро. Stay tuned!

[2020-12-10 13:35] xoxulin commented on #94
Без скриншотов невозможно понять, о чем идет речь. Снабдите скриншотами, пометьте стрелками, что вы имеете ввиду.

[2020-12-10 13:38] danchistyakov commented on #97
Ок

[2020-12-10 13:40] xoxulin commented on #73
Почему-бы этот конфиг не пробрасывать на каждую сессию в самом начале в виде отдельного session-manifest-сообщения – дескать «я начинаю сессию и из нее можно выйти вот так "хватит", а еще я хочу чтобы в моем чате фоном был градиент зеленого цвета, а в заголовке было написано "Кастомизируемый заголовок"».

[2020-12-10 13:49] xoxulin commented on #46
Бот обходит навыки, корзинки запросов формируются подвыборкой из живого потока, если процент неответов навыка переходит некоторую отметку, то тест-отчет "краснеет" – дале реагируют люди. Технические детали будут отдельно опубликованы, когда алгоритм вступит в боевое дежурство.

Факт повтора легко проверяется по логам. Важен сигнал, когда сам навык генерирует неприемлемый ответ.

[2020-12-10 13:54] subnetsRU commented on #46
Безусловно. Но будет ли это делать "полуавтоматический режим" ?

Сомневаюсь, что кто-то из разработчиков захочет, чтобы его навык общался с пользователем матом... Слабо себе представляю такую ситуацию, но не отрицаю, что она возможна.

[2020-12-10 14:07] RulevAnton commented on #66
@Genenko-Svetlana Может этот тикет закроем (т.к. распознавание букв есть тикет https://github.com/sberdevices/salute-issues/issues/3).
А историю с некорректной нормализацией "normalized_text" (это два последних сообщения от @subnetsRU ) выделим в отдельных тикет на @kuznetsovn.

[2020-12-10 14:08] Genenko-Svetlana commented on #66
Да, думаю, что можно

[2020-12-10 14:10] RulevAnton commented on #63
Исправлено кроме:

RAW текст: market
маркет

RAW текст: shoppe
шоп

вынесу их в тикет https://github.com/sberdevices/salute-issues/issues/18

[2020-12-10 14:14] Genenko-Svetlana commented on #66
@subnetsRU, создайте, пожалуйста, новый тикет по некорректной нормализацией "normalized_text" (это два последних сообщения). Там будет другой исполнитель.

[2020-12-10 14:17] asmalakhov-sberdevices commented on #44
@and7ey Да, как обходной путь связать else в тот же тестовый блок.
ну или как и сейчас, обыграть это с пробелом в тексте.

[2020-12-10 14:54] #63 closed, assigned to RulevAnton

[2020-12-10 15:02] RulevAnton commented on #65
Остатки выношу в https://github.com/sberdevices/salute-issues/issues/18

[2020-12-10 15:02] #65 closed, assigned to RulevAnton

[2020-12-10 15:03] RulevAnton commented on #67
Остатки выношу в https://github.com/sberdevices/salute-issues/issues/18

[2020-12-10 15:03] #67 closed, assigned to RulevAnton

[2020-12-10 15:04] RulevAnton commented on #68
Остатки выношу в https://github.com/sberdevices/salute-issues/issues/18

[2020-12-10 15:05] #68 closed, assigned to RulevAnton

[2020-12-10 15:07] subnetsRU opened #102 "Некорректная нормализацией "normalized_text""
Тестируя canvas app через assistant-client обнаружил странную нормализация букв. Не знаю важно или нет, но ввожу текст с клавиатуры, а не голосом.

буква "д" нормализуется в "далее":
[code]

буква "м" нормализуется в "метр":
[code]
буква "п" нормализуется в "плата":
[code]
буква "р" нормализуется в "rur":
[code]
буква "т" нормализуется в "том":
[code]

По другим буквам такой проблемы не замечено.

[2020-12-10 15:07] RulevAnton commented on #74
Остатки выношу в https://github.com/sberdevices/salute-issues/issues/18

[2020-12-10 15:07] #74 closed, assigned to RulevAnton

[2020-12-10 15:07] subnetsRU commented on #66
https://github.com/sberdevices/salute-issues/issues/102

[2020-12-10 15:07] #66 closed, assigned to RulevAnton

[2020-12-10 15:07] RulevAnton commented on #77
Остатки выношу в https://github.com/sberdevices/salute-issues/issues/18

[2020-12-10 15:07] #77 closed, assigned to RulevAnton

[2020-12-10 15:12] subnetsRU commented on #18
Обновление вышло. Пока в логах по прежнему "карту" косячит (тикет #67).

"карту":
[code]
[10.12.2020 14:50:52.5554]
"картун":
[code]

[2020-12-10 15:13] RulevAnton commented on #18
Вынес из всех остальных тикетов с ошибочной латиницей остатки.
У нас это тикет SDVOICECOR-460.

1.
маркет
market

2.
шоп
shoppe

3.
макаку
macaco

4.
спа
spa

5.
экс епископ
x епископ

6.
лего
lego

7.
персонаж мультика "дед шер"
dead шер

8.
муфаса
mufasah

9.
Милла
mill

10.
персонаж мультика "дедус"
daddys

11.
персонаж мультика "файер"
fire

12.
мася
masya

13.
н ой е
n ой е

14.
абрахам
abrah

[2020-12-10 15:19] RulevAnton commented on #18
По "карту" мб звук плохой, проверим.
А что такое "картун"? В поисковике пока вижу только всякие "КАРТУН НЕТВОРК".

[2020-12-10 15:22] subnetsRU commented on #18
"картун" это так распозналось "карту", а потом превратилось в "cartoon".

[2020-12-10 15:23] talagaev commented on #7
https://sbtatlas.sigma.sbrf.ru/jira/browse/ATHENADEV-3922

[2020-12-10 16:05] Sergeycul commented on #73
Много думал над этим вопросом. И в итоге вот такой баланс предложил бы:
1. Слово «Хватит» - выход из любого апа.
2. При модерации – разработчик должен сделать в апе саджест выхода, но эту кнопку может назвать сам по стилю игры. Например «Выход» или «Завершить». Без этого ап не проходит модерацию.
Таким образом, есть универсальная фраза + есть подсказка на экране.

[2020-12-10 16:16] xoxulin commented on #46
Пока нет.

Если навык под капотом реализован на ML, то однозначно на это нельзя полагаться – это может происходить даже без осознания разработчиком.

[2020-12-11 06:18] asmalakhov-sberdevices commented on #99
@DCStudioProjects проблема сохранятся?
уточни, пожалуйста кейс. Проблема в графе, верно?
1. Открыт редактор сценария в Graph
2. Нажали тестировать
Пропало все окно графа или только тестовый виджет пустой?

До этого тестовый виджет работал? что-то сделали, перед тем, как начала возникать проблема?

[2020-12-11 06:29] subnetsRU commented on #89
Проверил, подтверждаю, исправлено.

[2020-12-11 06:38] subnetsRU commented on #17
Похоже исправилось, т.к. повторить багу сходу не получилось. Надеюсь, что и не получится.

[2020-12-11 06:44] RulevAnton commented on #18
Ага, вижу. Добавлю в тикет. Будет улучшаться.
Но как я понял это одна из главных фраз в навыке, очень скоро будет дока с описанием хинтов)

[2020-12-11 06:58] subnetsRU commented on #18
Ну да, это карточный навык и это слово, чтобы взять карту.

Мне создавать новые тикеты ?

[2020-12-11 07:39] asmalakhov-sberdevices commented on #83
@Sergeycul в данный момент, любая фраза в глобальных блоках по факту не работает. И срабатывает интент, так как однозначно нельзя в момент определить, в каком именно глобальном блоке она должно сработать.
Мы планировали скрывать переход Любая другая фраза для глобальных блоков, чтобы она не путала при разработке.

Переход любая другая фраза актуален только не для глобальных интентов.

Мы взяли зад

[2020-12-11 08:40] danchistyakov opened #103 "Статус Апа не меняется без очистки кэша"
**Где нашелся баг**: в инструментах;
**Описание проблемы**: статус Апа не меняется без очистки кэша и различается дата редактирования;
**Проблема воспроизводится у других пользователей?** не знаю;
**Дополнительная информация**: там где указано: запущено — обычный режим браузера;
там где "Отправлен на модерацию" — инкогнито.
![Screenshot_23](https://user-images.githubusercontent.com/47912489/101881

[2020-12-11 08:44] danchistyakov commented on #99
Переписку продолжили в Телеграме.

[2020-12-11 10:50] Genenko-Svetlana commented on #99
@DCStudioProjects  тикет можно закрыть?

[2020-12-11 12:53] RulevAnton commented on #18
Да, последний номер бага был [7].

[2020-12-11 13:40] subnetsRU opened #104 "[ASR] Лучшая гипотеза не на русском, а на английском языке [8]"
Продолжаем #18

[10.12.2020 19:50:24.6153]
"шарики":
[code]
[10.12.2020 20:01:08.8226]
"я думаю что это брынь":
[code]
[10.12.2020 22:41:13.2730]
"дембель":
[code]
[11.12.2020 00:00:50.8198]
"элеонора андулина":
[code]
[11.12.2020 08:32:20.6763]
"ставь двадцать":
[code]
[11.12.2020 09:23:55.6438]
"передать ход":
[code]
[11.12.2020 13:44:12.5702] **_(тут ещё какой-то странный messageId)_**
"ограбил

[2020-12-11 13:59] danchistyakov commented on #99
Не знаю как у вас устроено, проблема ещё не решена, но переписка в Телеграме.

[2020-12-12 06:39] kamnevtmb opened #105 "приставка уходит в режим заставки"
**Где нашелся баг**: сбербокс
**Описание проблемы**: играя в игры canvas, конкретно замечено в игре холдем покер, игра шла только через кнопку голосового асистента, приставка включила скринсейвер прямо в момент моего ответа
**Проблема воспроизводится у других пользователей?** как минимум у 2х людей
**Дополнительная информация**: повторное нажатие на кнопку асистента отключает заставку

[2020-12-12 06:46] subnetsRU commented on #105
Присоединяюсь.
Тоже такое было один раз, но, если мне не изменяет память, то в chat app.
Видимо в какой-то момент приставка не апдейтит значение timeout

[2020-12-12 08:33] subnetsRU opened #106 "[ASR] Лучшая гипотеза не на русском, а на английском языке [9]"
Продолжаем #18

11.12.2020 17:31:28.7780]
имя ваня - "вано":
[code]
[11.12.2020 18:46:48.0458]
"траву":
[code]
[11.12.2020 23:00:53.9204]
"селфи":
[code]
[12.12.2020 00:58:18.0886]
"арслан":
[code]
[12.12.2020 09:54:34.8298]
"вика":
[code]
[12.12.2020 10:08:52.7853]
"тягач":
[code]

[2020-12-13 05:15] Genenko-Svetlana commented on #24
@skobets @asmalakhov-sberdevices Посмотрите комментарий выше, пожалуйста.

[2020-12-13 05:16] Genenko-Svetlana commented on #99
Нет, тикет остается открытым до решения проблемы.
Срок реализации 31.01.2021.

[2020-12-13 05:16] Genenko-Svetlana commented on #76
@and7ey посмотрите, пожалуйста, изменения в документации.

[2020-12-13 05:19] Genenko-Svetlana commented on #84
Срок реализации 31.01.2021

[2020-12-13 06:23] subnetsRU opened #107 "a11y: Доступность интерфейсов SmartMarket"
**Где пригодится фича**: везде
**Описание фичи**: Добавить в настройки сбер профиля галку "слабовидящий", "слабослышащий" и передавать эту информацию в JSON для смартапа.
**Дополнительная информация**: Вчера получил отзыв от незрячего человека и я задумался.

Задумался над тем, что мы ведь действительно в смартапах рассчитываем на экран и, дабы сократить проговариваемый ассистентом текст, в TTS от

[2020-12-13 08:11] subnetsRU commented on #3
Интересный случай:
[12.12.2020 14:01:45.0367]
"буква т т":
[code]

[2020-12-13 08:15] subnetsRU commented on #102
[12.12.2020 20:20:23.5974]
"х":
[code]

[2020-12-13 08:18] subnetsRU opened #108 "[ASR] Лучшая гипотеза не на русском, а на английском языке [10]"
Продолжаем #18

[12.12.2020 12:12:16.6019]
"дела":
[code]
[12.12.2020 15:48:19.2341]
"в год":
[code]
[12.12.2020 15:48:26.7991]
"скелет":
[code]
[12.12.2020 16:37:27.2088]
"леди":
[code]
[12.12.2020 17:49:57.6987]
"мафия узник":
[code]
[12.12.2020 18:58:12.5147]
"канал":
[code]
[12.12.2020 20:22:43.4425]
"суслик":
[code]
[12.12.2020 21:49:01.9723]
"губка буква где я":
[code]
[12.12.2020 21:53:57.7

[2020-12-13 11:49] Sergeycul commented on #80
Баг исправлен 👌 Затестил!

[2020-12-14 07:55] RulevAnton commented on #108
@vkycniichai @Genenko-Svetlana Предлагаю не плодить баги эти ASR пока что.
@subnetsRU Можешь пока в этот всё накидывать? Я как обработаю всё что есть (на момент когда смогу обработать) можно будет дальше заводить.

[2020-12-14 09:02] danchistyakov commented on #16
По 90 тикету не удалось решить проблему?

[2020-12-14 10:01] subnetsRU commented on #3
Ещё один интересный случай, в котором есть пустота в **word** и _normalizedText_
[code]

Вот полный JSON:
[code]

[code]
[code]
[code]

[2020-12-14 10:04] xoxulin commented on #107
Это системное требование ко всей платформе, которое должно позволять активировать полностью Speech режим всей платформы. Должно быть озвучание расширенное, а именно на любой экнш уметь озвучить что на экране согласно a11y стандарту WAI-ARIA от W3C. Девайсы должны поддерживать, должны поддерживать смартапы, должны поддерживать в том числе пульты – на них должна быть разметка шрифтом Браиля по ключе

[2020-12-14 10:07] subnetsRU opened #109 "[ASR] Лучшая гипотеза не на русском, а на английском языке [11]"
Продолжаем #18

"уход":
[code]
[13.12.2020 11:55:55.9865]
"йод":
[code]
[13.12.2020 11:57:50.9268]
"сложнее":
[code]
"палка ну дубинка была":
[code]
[13.12.2020 14:09:55.1852]
"ответ марианна":
[code]
[13.12.2020 14:32:40.2009]
"боня":
[code]
[13.12.2020 15:49:52.4374]
"лола":
[code]
[13.12.2020 15:59:18.4216]
"начать раунд":
[code]
[13.12.2020 16:03:18.3247]
"хамелеон":
[code]
[13.12.2020 16:14:1

[2020-12-14 10:10] subnetsRU commented on #107
Это в идеале.

А для начала было бы хорошо иметь в JSON поля, которые бы подсказывали смартапу на какой из интерфейсов вывода (аудио/визуализация) ему стоит упирать.

Ну и, возможно, создать отдельную категорию приложений в каталоге, которые адаптированы для таких людей.

[2020-12-14 19:27] exitoso commented on #64
Падения мобильного приложения Салют продолжается если отправить resizable в grid_card. Версия мобильного приложения 20.12.1.4689

[2020-12-15 07:36] subnetsRU opened #110 "[ASR] Лучшая гипотеза не на русском, а на английском языке [12]"
Продолжаем #18

[14.12.2020 13:56:08.7241]
"бог":
[code]
[14.12.2020 14:06:49.2436]
"ниндзя":
[code]
[14.12.2020 15:15:32.3099]
"магнитку а я тут":
[code]
[14.12.2020 18:43:59.6194]
"лук":
[code]
[14.12.2020 19:34:46.9269]
"слово про писи":
[code]
[14.12.2020 21:18:51.1140]
"перья":
[code]
[14.12.2020 21:26:29.1173]
не знаю что было сказано, но пришло так:
[code]
[14.12.2020 21:58:49.5085]
"стоп а

[2020-12-15 08:09] Genenko-Svetlana commented on #108
@subnetsRU Добрый день! Антон предложил пока всё сюда вносить )))

[2020-12-15 08:21] subnetsRU commented on #108
Упс... я как-то пропустил это сообщение... не вижу уведомления по нему. Прошу прощения.

Хорошо, завтра буду постить сюда.

[2020-12-15 08:51] sdtestersd commented on #64
Добрый день!
Просьба уточнить сценарий воспроизведения для приложения Сбер Салют на андроид.

[2020-12-15 09:57] danchistyakov opened #111 "При создании блока в Graph возможность вставить скопированный блок"
**Где пригодится фича**: в инструментах;
**Описание фичи**: не нужно будет создавать экран с блоком, вставлять скопированный и удалять созданный;
**Дополнительная информация**: добавить (Ctrl + V) при вставке.

[2020-12-15 10:26] Genenko-Svetlana commented on #105
Срок исправления - февраль, 2021

[2020-12-15 11:15] exitoso opened #112 "[SmartApp API] не отображаются карточки если в json есть bubble"
**Где нашелся баг**: SmartApp API
**Описание проблемы**: если в json ответе Салюту передавать одновременно и bubble и card, то карточки не отображаются. Если из json убрать bubble то карточки отображаются.
**Проблема воспроизводится у других пользователей?** не знаю.
**Дополнительная информация**: содержимое payload в котором одновременно есть и bubble и card можно посмотреть в прикрепленном файле

[2020-12-15 12:13] exitoso commented on #64
1. В чате прошу ассистента запустить мой смарт апп
2. Ассистент обращается к моему серверу и получает json. В json у card установлено поля "item_width" в значение "resizable". Если кроме card я отправлял еще и bubble, то приложение не падает, если отправил только card, то приложение падает.
3. После получения сообщения приложение аварийно закрывается
4. Если повторно зайти в приложение и нажать на

[2020-12-15 12:46] sdtestersd commented on #64
Как я понимаю этот навык доступен только тебе, попробую воссоздать еще раз.
Спасибо.

[2020-12-15 12:57] exitoso commented on #64
Да, навык доступен только мне.

[2020-12-15 12:59] sdtestersd commented on #64
Отпишусь по результатам исправления.

[2020-12-15 13:51] danchistyakov commented on #90
@vkycniichai Добрый день, удалось ли решить проблему?

[2020-12-15 14:34] Ibragimow opened #113 "Q&A 2020"
Тикет создан для сбора вопросов для грядущей Q&A-встречи.
В качестве Assignee ставлю пока себя, мониторит Наталия Макарова.

[2020-12-15 15:06] sdtestersd commented on #64
Падение исправлено, но не попало в 20.12.1.
Исправление влилось в 20.12.2.
Просьба проверить на своем навыке после обновления.

[2020-12-16 03:56] Genenko-Svetlana commented on #112
Была неверная структура внутри items
{
    "items": [
    {
        "bubble": {
            "text": "Ну, привет!",
            "markdown": false
        },
    },
    {
        "card": {
            "type": "grid_card",
            "columns": 2,
            "item_width": "small",
            "items": [
                {
                    "type": "greeting_grid_item",
                    "padding

[2020-12-16 04:03] Genenko-Svetlana commented on #112
@exitoso проверяйте и если всё ОК, можно закрыть тикет )))

[2020-12-16 07:58] RulevAnton commented on #3
@subnetsRU Можно попробовать использовать хинты для распознавания коротких фраз, букв "enable_letters".
https://developer.sberdevices.ru/docs/ru/platform_services/context_hint
"Примеры вставки в код приложения хинтов"

[2020-12-16 07:59] RulevAnton commented on #18
@subnetsRU Можно попробовать использовать хинты для распознавания отдельных слов "words".
https://developer.sberdevices.ru/docs/ru/platform_services/context_hint
"Примеры вставки в код приложения хинтов"

[2020-12-16 08:02] subnetsRU commented on #108
[15.12.2020 14:35:42.1067]
"джой":
[code]
[15.12.2020 16:05:53.5551]
"айнур":
[code]
[15.12.2020 16:05:59.2563]
"слово гусь":
[code]
[15.12.2020 18:11:19.9471]
не совсем понимаю, что сказали:
[code]
[15.12.2020 19:49:50.9772]
"бабаев":
[code]
[16.12.2020 07:55:06.5270]
"киев":
[code]

[2020-12-16 09:15] subnetsRU commented on #3
Я использую smartap api, а в доке примеры для code:
[code]
В smartap api нет _body_ и соответственно не понятно куда мне вставлять _asr_hints_.

Обычно в smartap api всё лежит в payload, будем считать, что это и есть _body_. Положил туда:
[code]
Честно не вижу особых изменений. Косяки с буквами как были так и продолжаются.

Какой именно эффект от применения я должен видеть ? Пожалуйста, приведите

[2020-12-16 09:28] Sergeycul opened #114 "Баг в ID-сбера со "/""
ГРАФ.
Сбер отдает ID пользователя иногда со «/» и по такому адресу нельзя записать данные в память конструктора. Приходится изначально убирать из адреса через JS все «/» и уже потом писать в память.
Возможно, и по каким-то другим спецсимволам возникает эта бага.
Хотя на тесте в Граф этот баг не поймать, т.к. там отдается другой ID и без «/». В итоге многие разрабы Графа даже не догадываются, что у

[2020-12-16 09:54] subnetsRU commented on #18
Говорю "ниндзя". Приходит:
[code]
В ответ отправляю:
[code]
Снова говорю "ниндзя". Приходит:
[code]
Иными словами никаких различий. Я что-то делаю не так ?

[2020-12-16 10:09] subnetsRU commented on #113
Речь про сбор в zoom'е ?

[2020-12-16 10:21] subnetsRU opened #115 "[smartapp share] Добавить возможность запуска смартапа не только с аккаунта разработчика"
Перерыл все тикеты, но так и не нашёл. Хотя мы об этом точно говорили, но где... вспомнить и найти не смог.

**Где пригодится фича**: в studio
**Описание фичи**: Добавить возможность давать запускать (шарить) смартапы для других аккаунтов ДО модерации. Например дав человеку некую ссылку и если он зайдёт по ней, то у его аккаунта так же появится возможность запускать смартап до его публикации в кат

[2020-12-16 11:10] vkycniichai commented on #90
@DCStudioProjects прошу прощения за долгий ответ.
Баг еще в работе. Сроки выпуска фикса немного сдвинулись. Актуальные: ночь с 17.12 на 18.12.
Как временное решение этого кейса могу предложить следующий вариант - в блок, где есть random, добавьте else.
У нас при таком способе все работает.
![атач](https://user-images.githubusercontent.com/73777988/102341075-86ef4d80-3fc1-11eb-904a-0a02179f5847.PNG

[2020-12-16 11:10] Genenko-Svetlana commented on #90
15.12 не успели, срок 18.12.2020

[2020-12-16 12:31] danchistyakov commented on #90
@vkycniichai это прописать во всех блоках random? И в Камень, ножницы, бумага у меня нету блоков random.

[2020-12-16 15:14] RulevAnton commented on #3
А можете прислать message_id с запросом, где были хинты enable_letters применены?
Эффект: должен начать распознавать "я", "а".
Пока адаптируем документацию под smratapp api

[2020-12-16 17:32] Ibragimow commented on #113
@subnetsRU да, про Zoom-сессию, которая состоится 28 декабря в 18.00 по Мск.
Приходите!

[2020-12-16 20:22] #112 closed, assigned to talagaev

[2020-12-17 06:53] subnetsRU commented on #108
[16.12.2020 12:25:09.6613]
"мультик":
[code]
[16.12.2020 12:50:01.0410]
"запусти графический диплом":
[code]
[16.12.2020 19:36:22.2471]
"ромео":
[code]
[16.12.2020 19:56:43.8681]
"пока":
[code]
[16.12.2020 20:28:38.7439]
"фарита":
[code]
[16.12.2020 20:55:56.7325]
"лева и меня":
[code]
[16.12.2020 20:59:42.6673]
"слова спутник":
[code]
[16.12.2020 21:44:17.2767]
"пока":
[code]
[16.12.2020 22:04:13

[2020-12-17 08:44] Genenko-Svetlana commented on #114
Исправление в срок до 31.07.2021

[2020-12-17 08:45] Genenko-Svetlana commented on #83
Срок 31.03.2021

[2020-12-17 08:53] talagaev commented on #34
Я предложил закрыть этот тикет.
Нажатия на саджесты в канвасах сделать совсем не просто, да и пользоватлю нажать как показали UX тесты не особо и надо, проще сделать голосом переход на след шаг.
+ мы готовим новый элемент "Подсказки" которые будут вместо саджестов

[2020-12-17 08:53] #34 closed

[2020-12-17 08:56] talagaev commented on #105
https://sbtatlas.sigma.sbrf.ru/jira/browse/STAROS-5671

[2020-12-17 08:57] talagaev commented on #105
@Genenko-Svetlana  тут надо на коллег из строс асайнить

[2020-12-17 09:04] Genenko-Svetlana commented on #24
@and7ey
Речь идет о том, чтобы не редактировать текущий проект Graph, а открыть его в Code как отдельный проект?
Можете подробнее описать кейс, почему именно такой вариант нужен больше.

[2020-12-17 09:05] asmalakhov-sberdevices commented on #111
@DCStudioProjects
Возможность копировать, вырезать, вставлять конкретно для блоков - доступна уже сейчас. Для блока, в контекстном меню(три точки), можно нажать Скопировать и Вырезать. После на нужном Экране в контекстном меню будет возможность вставить блок.
Горячие клавиши да, для этих действий пока не сделаны. Думаю к этому можем вернуться, если будет больше запросов по горячим клавишам в Graph

[2020-12-17 09:25] subnetsRU commented on #3
Сейчас потестил ещё раз. Отличия от вчерашнего теста есть, конечно, но не идеально.

Как прислать message_id если я говорю, но это не уходит в систему распознавания ? Например я "якаю", но через некоторое время микрофон просто отключается и "я" на экран не добавляется.

С "я" и "а" получается только если несколько раз подряд быстро повторить. Например:
* 1608187489820 60dd17dd-dad6-475a-b0a5-ba2ae

[2020-12-17 09:32] RulevAnton commented on #95
Исправлено, в ПРОД появится с пятницы на субботу.

[2020-12-17 10:46] Genenko-Svetlana commented on #105
@talagaev на кого?

[2020-12-17 10:48] Genenko-Svetlana commented on #85
@Sergeycul  рекомендации, были полезны? С нашей стороны доработки по факту не требуются.

[2020-12-17 14:24] Sergeycul commented on #85
Можно закрыть.

[2020-12-17 14:25] #85 closed, assigned to asmalakhov-sberdevices

[2020-12-17 14:35] Sergeycul opened #116 "Блок «Ввод числа» в некоторых случаях не выдает запасное сообщение об ошибке."
ГРАФ. Если в апе используется блок «Ввод числа» и сказать в ап не число, а например «много» или другое слово без численного значения, то не выводится запасное сообщение об ошибке из этого блока.

[2020-12-17 19:52] danchistyakov commented on #111
@asmalakhov-sberdevices Допустим, когда я копирую блок и создаю экран, я не вижу кнопки "Вставить скопированный блок", приходится выбирать ненужный, чтобы потом добавить нужный.
![Screenshot_35](https://user-images.githubusercontent.com/47912489/102536349-8be3f800-40ba-11eb-8851-553c7756eaa2.jpg)

[2020-12-18 04:35] Genenko-Svetlana commented on #76
@and7ey посмотрите, пожалуйста, изменения в документации.

[2020-12-18 04:36] Genenko-Svetlana commented on #4
@asmalakhov-sberdevices 11.12.2020 удалось реализовать?

[2020-12-18 04:38] Genenko-Svetlana commented on #76
@and7ey посмотрите, пожалуйста, изменения в документации.

[2020-12-18 04:39] #80 closed, assigned to asmalakhov-sberdevices

[2020-12-18 04:42] Genenko-Svetlana commented on #26
Пока закрываю и переношу в Deffered

[2020-12-18 04:46] Genenko-Svetlana commented on #64
@sdtestersd  версия 20.12.2.  для Android уже вышла?

[2020-12-18 07:41] vkycniichai commented on #90
@DCStudioProjects баг как в КНБ воспроизводится при использовании RANDOM, и про этот баг мы знаем.
Если RANDOM в блоках нет, но при этом ответ от ассистента не возвращается, то баг, вероятно, не на нашей стороне.
Дополнительно возникает вопрос - как при отсутствии RANDOM происходит выбор в навыке?

[2020-12-18 07:53] danchistyakov commented on #90
@vkycniichai Я сделал рандомизацию на стороне своего сервера через PHP, однако всё равно вылеты.

[2020-12-18 08:20] vkycniichai commented on #90
@DCStudioProjects понял.
Как мы поняли при тесте, у нас проблема возникает при генерации числа 0.
То есть, если в _.random(10) - возвращает числа начиная от 0 до 10 - и в случае если у нас выпал 0 - сценарий ничего не делает и молчит.
Стоит попробовать заменить на использование функции _.random(1, 10).
Если реализовали на своей стороне рандомизацию, попробуйте сделать _.random(1, 3).

[2020-12-18 08:52] subnetsRU commented on #108
[17.12.2020 13:55:01.9072]
"слово эскадра":
[code]
[17.12.2020 14:06:38.7635]
"копирка":
[code]
[17.12.2020 14:11:56.4253]
"скейт":
[code]
[17.12.2020 17:03:50.9180]
"смола":
[code]
[17.12.2020 17:51:40.1946]
"отец рафаэль":
[code]
[17.12.2020 18:04:37.4527]
"пиши":
[code]
[17.12.2020 20:17:51.9463]
"жаба":
[code]
[17.12.2020 20:55:10.8296]
"лук":
[code]
[17.12.2020 21:07:18.4564]
"джульетт":
[cod

[2020-12-18 10:38] RulevAnton commented on #3
@subnetsRU  Вижу, что только для:
`говорил "к" преобразовалось в "как": 1608187489850 60dd17dd-dad6-475a-b0a5-ba2ae3f39c97 `
были переданы хинты.
 1608187489834 - не получилось посмотреть.

 То есть хинты были переданы один раз (странно, что распознал как "как", вместо "к").

 Хинты нужно передавать перед каждым запросом, где мы хотим, чтобы они применились. Может в этом проблема.

 Можете ещё ски

[2020-12-18 11:04] talagaev commented on #105
ну кажется у вас тут никого нет от Старос. Нужны или Саша Дубинин или Антон Дудаков

[2020-12-18 11:12] subnetsRU commented on #3
Хинты передаю с каждым запросом.

Да я его же уже [приводил выше](https://github.com/sberdevices/salute-issues/issues/3#issuecomment-745967455).

Вот так:
[code]

[2020-12-18 11:42] subnetsRU commented on #113
* web версия каталога на сайте будет ?
* как вы смотрите на то, чтобы сделать телеграм бота, который постит в канал новые (только что опубликованные) навыки ?
* будут ли выложены примеры по проектированию Canvas App для СБЕР Салют ?
* когда появится возможность запустить свой Canvas App на Салют, чтобы тестировать ?
* кто-то просматривает assistant-client issues и стоит ли там ожидать ответа ?

[2020-12-18 12:04] RulevAnton commented on #3
@subnetsRU То есть у вас выглядит примерно так?
Ассистент: "Назовите букву" + передаются хинты "enable_letters": true
Пользователь: "к"

[2020-12-18 12:10] subnetsRU commented on #3
Да, именно так.

Я понимаю, что хинт нужно передать сообщением ДО ожидаемого, а не тогда когда уже назвали, то что я как бы ожидал.

[2020-12-18 18:02] oblomil opened #117 "Какие данные о пользователе нужны вашим смартапам?"
Как и обещали, исследуем тему персональных данных. Ответьте, пожалуйста, на два вопроса в комментариях:

1. Какие обобщенные, не персонифицированные данные пригодились бы для вашего смартапа?
2. Какие интересы или предпочтения пользователей пригодились бы для вашего смартапа?

[2020-12-18 18:32] Sergeycul commented on #117
1. Естественно, какой ассистент выбран, чтобы делать под «ТЫ/ВЫ»; сколько ранее уже сыграл раз игрок в ап; текущее время захода в ап.
2. Игрок мужчина/женщина; возраст; какая у пользователя популярная рубрика каталога по апам;  устройство, с которого играет пользователь и платформа; разрешение экрана и в идеале ориентация экрана.

[2020-12-18 18:46] danchistyakov commented on #90
@vkycniichai К сожалению, даже без нуля проблема осталась.

[2020-12-19 07:24] subnetsRU commented on #108
[18.12.2020 20:59:13.8440]
"никиту":
[code]
[18.12.2020 21:40:37.4607]
"до потолка":
[code]
[18.12.2020 23:05:21.1139]
"косарь" (в смысле одна тысяча):
[code]
[19.12.2020 08:57:47.2456]
"угол":
[code]
[19.12.2020 10:04:52.5258]
"мелом":
[code]

[2020-12-19 08:40] subnetsRU opened #118 "Синтез слова "все""
**Где нашелся баг**: во всех ассистентах
**Описание проблемы**: Ассистенты произносят "все" как "всЁ"
**Проблема воспроизводится у других пользователей?** Да.
**Дополнительная информация**: Текст для TTS: "Либо можно заменить вопрос, если не хочется угадывать в
се варианты ответов."

[2020-12-20 09:18] subnetsRU commented on #108
[19.12.2020 11:22:15.3975]
"верблюд":
[code]
[19.12.2020 11:41:15.7590]
"гоша":
[code]
[19.12.2020 11:50:12.0819]
"верка":
[code]
[19.12.2020 17:36:39.0653]
"страус":
[code]
[19.12.2020 19:17:43.8248]
"ванна":
[code]
[19.12.2020 19:22:24.6135]
"лента":
[code]
[19.12.2020 19:37:01.3843]
"славик":
[code]
[19.12.2020 20:57:18.6727]
"банкира":
[code]
[19.12.2020 22:54:17.6902]
"татем":
[code]
[19.12.2

[2020-12-20 12:52] snyuryev commented on #117
Таймзона (вроде бы уже есть)
Город
Страна (если будут пользователи из других стран)
Пол
Возраст
Имя (не полное ФИО, а хотя бы имя - всегда приятнее когда приложение обращается по имени)

[2020-12-21 07:16] sdtestersd commented on #64
20.12.2. для Android уже доступна для обновления.

[2020-12-21 07:28] subnetsRU commented on #117
* город
* пол
* возраст

Желательно, чтобы поля "пол" и "возраст" вычислялись в онлайне, т.е. зависели от того кто именно сейчас общается с ассистентом, а не просто брались из данных аккаунта.

[2020-12-21 08:01] subnetsRU commented on #102
Довольно частая ситуация в последнее время:
[20.12.2020 17:47:15.6564]
[code]
в asr.hypotheses видим пустоту `{"words":"","normalizedText":""}`

[20.12.2020 20:38:02.6415]
[code]

[2020-12-21 08:04] subnetsRU commented on #108
[20.12.2020 18:13:22.0293]
"лупят":
[code]
[20.12.2020 21:23:05.7009]
"именем":
[code]
[20.12.2020 21:38:25.0616]
"кино":
[code]

[2020-12-21 08:48] RulevAnton commented on #118
Бага ТТС, завёл TTSQA-1420, после НГ должно попасть в один из первых релизов.

[2020-12-21 09:12] subnetsRU opened #119 "Полнота каталога"
Тут обнаружился баг в каталоге (сказали уже исправлен) и попутно выяснилось, похоже, что войдя в конкретную категорию каталога (например "игры") оказывается каталог отображается не полным и сделано это специально.

Хочу спросить, так ли это ? А как же тогда посмотреть весь каталог ?

[2020-12-21 09:17] Avalpetrova commented on #119
Нет, не так. На странице категории отображаются все смартапы из данной категории. На данный момент часть не отображается и это баг. В ближайшее время будет хотфикс.

[2020-12-21 09:20] Genenko-Svetlana commented on #118
Срок 31.01.2021

[2020-12-21 09:28] subnetsRU commented on #64
Android версия обновилась до 20.12.2.4915.

Проверил. Теперь с item_width: "resizable" на экран теперь вообще ничего не выводится и, соответственно, приложение не падает.

[2020-12-21 09:30] subnetsRU commented on #118
А может есть какой-то лайфхак с ssml ?

[2020-12-21 09:32] subnetsRU commented on #119
Ясно. Тогда просьба сменить метку с "question" на "bug" и ждём фикса.

[2020-12-21 09:38] RulevAnton commented on #118
такая фишка будет в сл. релизе в январе

[2020-12-21 09:40] subnetsRU commented on #64
Эммм.... Closed ? А как же фикс для сбербокс ? Пускай дальше крашится ? :D

[2020-12-21 09:52] Genenko-Svetlana commented on #64
@sdtestersd, а по SberBox устранили проблему?

[2020-12-21 10:11] asmalakhov-sberdevices commented on #111
@DCStudioProjects  хороший кейс, добавили себе в бэклог.  Спасибо!

[2020-12-21 14:07] RulevAnton commented on #3
Если смотреть по MID 1608187489820.
Видим, что хинты отправлены вместе с `"pronounceText\":\"<speak>я я</speak>\"`, то есть следующий от этого запрос пользователя должен был использовать хинты.

[2020-12-21 14:13] subnetsRU commented on #3
Хинты были отправлены ДО 1608187489820 и 1608187489820 как раз должно учитывать хинты.

[2020-12-21 16:32] RulevAnton commented on #3
Пока единственное отличие сообщения, в котором использовались хинты (1608187489850) от остальных в том, что это сообщение было после включения "автослушания" бота.
То есть в запросе до него были переданы хинты, в нём корректно использованы.

[2020-12-21 21:58] snyuryev opened #120 "Увеличить максимальное количество знаков в поле Инструкции для тестирования"
**Где пригодится фича**: smartapp студия
**Описание фичи**: поможет предоставлять полную информацию о приложении для модераторов
**Дополнительная информация**: сейчас лимит 2000 символов

[2020-12-21 22:01] snyuryev opened #121 "В приложении Сбер Салют нет возможности запустить черновик канвас апп"
**Где нашелся баг**: приложение Сбер Салют
**Описание проблемы**:  нет возможности запустить черновик канвас апп
**Проблема воспроизводится у других пользователей?** не знаю
**Дополнительная информация**: при запуске слышно ответ ассистента, но канвас апп не открывается

платформа iOS, версия 20.12.2002
опубликованное приложение запускается (или черновик опубликованного приложения)

[2020-12-22 05:47] ffDowen commented on #115
Добавили такую возможность. [Описание.](https://developer.sberdevices.ru/docs/ru/methodology/testing/smartapp_beta_testing_invitation)

[2020-12-22 05:56] subnetsRU commented on #115
Ага, уже протестировали. Всё работает. СПАСИБО !

[2020-12-22 06:04] #115 closed, assigned to xoxulin

[2020-12-22 06:46] sdtestersd commented on #64
@nasdspb подскажи пожалуйста по статусу исправления дефекта в SberBox, в какой версии можно проверить исправление?

[2020-12-22 07:08] subnetsRU commented on #108
[21.12.2020 11:34:42.5813]
"дедушки":
[code]
[21.12.2020 19:09:05.4186]
"дети дети":
[code]
[21.12.2020 21:39:03.9662]
"бак":
[code]

[2020-12-22 08:26] Genenko-Svetlana commented on #121
@snyuryev  Сергей, добрый день!
Нужна фактура: шаги для воспроизведения проблемы, скрины, видео.
Спасибо.

[2020-12-22 08:37] RulevAnton commented on #108
Всё что не проблема плохого звука и воспроизводится в последней версии завёл сюда SDVOICECOR-476.

[2020-12-22 08:37] RulevAnton commented on #110
Всё что не проблема плохого звука и воспроизводится в последней версии завёл сюда SDVOICECOR-476.

[2020-12-22 08:37] RulevAnton commented on #109
Всё что не проблема плохого звука и воспроизводится в последней версии завёл сюда SDVOICECOR-476.

[2020-12-22 08:37] RulevAnton commented on #106
Всё что не проблема плохого звука и воспроизводится в последней версии завёл сюда SDVOICECOR-476.

[2020-12-22 08:37] RulevAnton commented on #104
Всё что не проблема плохого звука и воспроизводится в последней версии завёл сюда SDVOICECOR-476.

[2020-12-22 08:38] RulevAnton commented on #108
@subnetsRU Можно продолжать постить баги в новый [13] тикет.

[2020-12-22 09:37] RulevAnton commented on #3
@and7ey Добрый день! А у вас получилось пофиксить проблемы с распознаванием "я" с помощью хинтов, не пробовали?
Вечером выйдет ещё одно обновление доки по хинтам.

Повторюсь ещё раз тут:
1. Поможет тип хинтов "enable_letters" - позволяет включить модель коротких фраз, тем самым улучшить распознавание отдельных букв и коротких слов.
2. Передавать так:
Для Smartapp API нужно передавать в payload:
[c

[2020-12-22 09:43] and7ey commented on #3
У меня смартап - в Graph. Там этого увы, не применить.

[2020-12-22 10:30] RulevAnton commented on #3
@and7ey Задачка по передаче хинтов в graph есть в бэклоге, ждём.

@subnetsRU Так и не получилось использовать хинты? Может ваш смартапп с хинтами можно попробовать на прод устройстве? Я бы тогда протестировал хорошенько.

[2020-12-22 10:59] Genenko-Svetlana commented on #121
Завели баг. Срок реализации - 31.01.2021
Можно использовать следующее решение: Передать данные в смартап на старте. Без данных пока не работает в iOS.
Если отправить smart_app_data , то ап запустится.

[2020-12-22 13:18] subnetsRU opened #122 "[SberPortal] Ассистент слышит сам себя"
**Где нашелся баг**: Sberportal
**Описание проблемы**: Полный аналог проблемы описанной в #10
**Проблема воспроизводится у других пользователей?** Скорее ДА, чем НЕТ.
**Дополнительная информация**: Да точно такие же как в #10 тикете.

[2020-12-22 13:40] Genenko-Svetlana commented on #122
Будет исправлено в версии 1.68.
Срок - 31.01.2021.

[2020-12-22 13:47] danchistyakov opened #123 "Не работают глобальные интенты при вводе числа"
**Где нашелся баг**: в ассистенте;
**Описание проблемы**: не работают глобальные интенты при вводе числа;
**Проблема воспроизводится у других пользователей?** не знаю;
**Дополнительная информация**: высвечивается текст, который говорит о неправильном диапазоне ответа.

[2020-12-22 19:37] Hecatoncheir commented on #113
Появятся ли assistant-client и plasma на wasm?

[2020-12-23 07:06] subnetsRU opened #124 "[ASR] Лучшая гипотеза не на русском, а на английском языке [13]"
Продолжаем #18

[22.12.2020 14:07:18.6712]
"бог":
[code]
[22.12.2020 18:14:54.4880]
"свин":
[code]
[22.12.2020 18:33:35.2642]
"верка":
[code]
[22.12.2020 19:00:20.0136]
"филе":
[code]
[22.12.2020 20:36:42.9493]
"лилия":
[code]
[22.12.2020 20:53:03.7038]
"сумо":
[code]
[22.12.2020 21:25:17.5587]
"маркет":
[code]
[23.12.2020 00:58:08.1560]
"лейла":
[code]
[23.12.2020 01:31:04.5845]
"слон":
[code]
[2

[2020-12-23 07:37] subnetsRU commented on #3
Да, вы можете попробовать прямо в бою. Это chat app "Крути барабан" и/или canvas app "Крути барабан 2".

Оба этих апа при угадывании букв шлют asr_hints.

[2020-12-23 10:23] subnetsRU opened #125 "[studio] Добавить иконки поверхностей, на которых опубликован смартап"
**Где пригодится фича**: в studio
**Описание фичи**: Предлагаю добавить, на экране опубликованных смартапов, информацию на каких поверхностях опубликован смартап.
**Дополнительная информация**: Вот примерно так:
![studio](https://user-images.githubusercontent.com/18159237/102984937-68d4a080-451f-11eb-98ac-bc918ceb3acb.png)
SB - SberBox
SP - SberPortal
СО - Сбербанк Онлайн
СС - Сбер Салют

Можно бу

[2020-12-23 10:32] subnetsRU opened #126 "[SberPortal] Добавить возможность использование камеры (getUserMedia)"
**Где пригодится фича**: в SberPortal
**Описание фичи**: Добавить возможность использовать камеру в canvas app.
**Дополнительная информация**: Можно будет создавать собственные конференции.

[2020-12-23 10:36] subnetsRU opened #127 "[SberPortal] Добавить возможность использовать жесты"
**Где пригодится фича**: в SberPortal
**Описание фичи**: Дать API к получению и управлению жестами для canvas app.
**Дополнительная информация**: Как сейчас получить жест пользователя ? Как обучить своим жестам ? Например жест смахивание вправо или влево. Ну и так далее.

То есть представим себе Beat Dancer, но вместо игры на заднем фоне canvas app, который так же может реагировать на жесты пользо

[2020-12-23 10:51] NikolayPakhomov commented on #126
Добрый день!

Такая фича есть в планах на 2021 год. Тикет временно закрываем и переносим в отложенные.

[2020-12-23 11:07] NikolayPakhomov commented on #127
Добрый день!

Такой функционал и его описание планируем реализовать в 1 квартале 2021 года. Тикет временно закрываем и переносим в отложенные.

[2020-12-23 11:31] Ilchenk commented on #125
Добрый день!

Новый дизайн карточки смартапа будет реализован в 1 квартале 2021 года. Пока временно закрываем тикет и переносим в отложенные.

[2020-12-23 12:05] subnetsRU commented on #126
Хорошо. Главное чтобы о фиче не забыли :)

[2020-12-23 12:06] subnetsRU commented on #127
Очень надеюсь, что под "такой функционал" мы понимаем одно и тоже.

А так, первый квартал это здорово ! Буду ждать.

[2020-12-23 12:08] awinogradov commented on #127
Точно одно. Управление жестами будет приходить событиями через AssistantClient

[2020-12-23 12:09] awinogradov commented on #126
Фича в беклоге, как раз в контексте видео-конференций

[2020-12-23 12:20] subnetsRU commented on #127
Хотелось бы не только получать жесты, которым обучен сберпортал, но и своим.

Например сведение рук и их разведение смартап мог бы сам забиндить как увеличение и уменьшение (картинки/графика/и т.д.)

[2020-12-23 12:23] awinogradov commented on #127
Это сильно другое и сильно сложнее. Ибо распознавание построено на обучаемых моделях. Набор доступных жестов будет расти. Но добавления кастомных из смартапа мы пока не рассматриваем.

[2020-12-23 12:32] subnetsRU commented on #127
Да, я прекрасно понимаю, что это всё не просто. Потому и удивился сроку 1 квартал 2021 и решил уточнить.

Теперь понимаю, что это срок получения пальца вверх/вниз, Vиктори и ладонь. Хорошо конечно, но мало :)

Хотелось бы почувствовать себя "железным человеком", который управляет компьютером руками. Уменьшает, увеличивает, смахивает и пролистывает. Уверен, что именно так и будет в скором будущем "

[2020-12-23 12:39] awinogradov commented on #127
И заюзать Джой как Джарвиса, понимаю тебя)

[2020-12-23 12:47] subnetsRU commented on #127
Ага, в точку !

[2020-12-23 13:04] subnetsRU opened #128 "Унификация JSON в device.capabilities.screen"
Сейчас, запуская canvas app на смартфоне, JSON в device.capabilities.screen выглядит так:
[code]
А если запускать на SberPortal, то device.capabilities.screen выглядит так:
[code]
Как видно отсутствуют width,height, scale_factor. Хотелось бы унификации, чтобы эти параметры приходили и для SberPortal.

[2020-12-24 03:51] Genenko-Svetlana commented on #128
Взяли задачу в работу. Срок - февраль, 2021. Пока тикет закрываем и переносим в отложенные.

[2020-12-24 07:17] subnetsRU opened #129 "[ASR] Лучшая гипотеза не на русском, а на английском языке [14]"
Продолжаем #18

[23.12.2020 18:06:31.5322]
"верблюд":
[code]
[23.12.2020 18:09:24.3992]
"мои большие яйца":
[code]
[23.12.2020 18:14:58.3570]
"дом":
[code]
[23.12.2020 18:52:57.3780]
"сувенир":
[code]
[23.12.2020 19:44:32.6237]
"или":
[code]
[23.12.2020 19:56:57.3461]
"и лес":
[code]
[23.12.2020 20:50:01.3989]
"инкогнито":
[code]
[23.12.2020 21:06:42.9607]
"нет":
[code]
[23.12.2020 21:22:26.5230]

[2020-12-24 07:25] RulevAnton commented on #129
@subnetsRU Давайте теперь в этом тикете продолжать пока.

[2020-12-24 08:25] Genenko-Svetlana commented on #123
Срок исправления - 30.04.2021. Пока тикет закрываем и переносим в отложенные.

[2020-12-24 08:26] Genenko-Svetlana commented on #116
Срок реализации - 31.03.2021. Пока тикет закрываем и переносим в отложенные.

[2020-12-24 08:28] Genenko-Svetlana commented on #111
Срок реализации - 31.03.2021. Пока тикет закрываем и переносим в отложенные.

[2020-12-24 10:37] subnetsRU commented on #119
А уже понятны какие-то сроки когда должен выйти фикс ?

[2020-12-24 15:24] snyuryev opened #130 "В канвас апп запущенных в приложении Сбер Салют iOS не приходит AssistantCharacterType"
**Где нашелся баг**: Сбер Салют iOS
**Описание проблемы**: Не приходит AssistantCharacterType
**Проблема воспроизводится у других пользователей?**  не знаю.
**Дополнительная информация**: Сбер Салют iOS 20.12.3002
AssistantCharacterType приходит локально и на сбербокс

[2020-12-25 07:44] subnetsRU commented on #129
[24.12.2020 10:52:55.4465]
"медуза":
[code]
[24.12.2020 10:57:37.1224]
"цитрус":
[code]
[24.12.2020 15:37:14.1667]
"запусти игру ананас":
[code]
[24.12.2020 18:21:36.9835]
"самир":
[code]
[24.12.2020 19:17:26.6027]
"скажи начинать начинай":
[code]
Новая версия для "раунд", т.к. ранее приходило "round", а теперь "ground":
[24.12.2020 21:17:55.7112]
"начать раунд":
[code]
[24.12.2020 21:24:59.6550]

[2020-12-25 08:39] subnetsRU commented on #3
Могу привести массу примеров.

Вот как пример. Шлём asr_hints в ответе:
[code]
А вот пользователь после этого ответа называет букву и приходит:
[code]
Как видно на качество распознавания asr_hints тут точно не повлиял. И, как я уже сказал, таких примеров много.

[2020-12-25 09:07] subnetsRU commented on #16
@oblomil
есть какие-то новости ? А то уже скоро месяц как...

[2020-12-25 11:04] RulevAnton commented on #3
Вижу хинты были успешно переданы и конкретно для буквы "з" распознавание не улучшилось.
Смотрим.

[2020-12-25 11:13] subnetsRU commented on #3
Именно так и именно это я и пытаюсь донести.

И не только с этой буквой так, но и с другими буквами тоже. Это был просто яркий пример, т.к. "з" действительно очень плохо распознаётся.

Вот буква "к" и тоже с хинтами:
[code]

Вот буква "н":
[code]
И так далее.

[2020-12-25 13:02] gotzmann opened #131 "Апп прошел модерацию, но в прод выехала старая версия?"
**Где нашелся баг**: похоже на баг в системе деплоя

**Описание проблемы**: мой чат-апп прошел модерацию, но при тестировании прод-версии различными пользователями, им отвечает какая-то старая версия аппа, а не новая (которая прошла модерацию)

**Проблема воспроизводится у других пользователей?** Да, при тестировании чат-аппа через приложение Салют

**Дополнительная информация**: идентификатор при

[2020-12-25 17:06] Sergeycul commented on #113
1. Есть ли планы по видеоурокам для разработчиков?
2. Когда ждать какое-то упоминание на каталог в СБОЛ в виде рекламного блока?
3. Намекните о новых устройствах в 2021 году, чтобы иметь планы, в какую сторону смотреть с апами?
4. Планируются ли боткэмбы или хакатоны для разработчиков?
5. Приходили ли к Сберу уже коммерческие заказчики (кроме тех, что мы уже давно знаем в каталоге), кого пока попр

[2020-12-26 07:57] subnetsRU commented on #129
[25.12.2020 12:57:25.3068]
"лечу":
[code]
[25.12.2020 14:50:50.6411]
"яна яна":
[code]
[25.12.2020 14:51:03.1303]
"епифания блядь":
[code]
[25.12.2020 15:06:29.5060]
"станком":
[code]
[25.12.2020 15:14:26.9148]
"бар":
[code]
[25.12.2020 15:25:03.4148]
"гора":
[code]
[25.12.2020 16:36:16.7261]
"клей и":
[code]
[25.12.2020 19:36:48.6202]
"лев":
[code]
[25.12.2020 20:38:17.1850]
"год":
[code]
[25.12.

[2020-12-27 09:19] subnetsRU commented on #129
[26.12.2020 10:58:45.5614]
"пропустить ход":
[code]
[26.12.2020 15:02:58.3514]
"умом":
[code]
[26.12.2020 15:36:45.1251]
"мелкая вещь":
[code]
[26.12.2020 15:42:08.9078]
"слушай по буквам тэ р о с":
[code]
[26.12.2020 15:42:32.1901]
"трос":
[code]
[26.12.2020 15:52:03.7931]
"горах":
[code]
[26.12.2020 16:01:24.0154]
"жила старуха":
[code]
[26.12.2020 16:43:49.6690]
"софья двадцать десять":
[code]

[2020-12-28 05:21] Genenko-Svetlana commented on #76
@and7ey пока закрываю тикет и переношу в отложенные. Изменения в документацию внесены.
Срок реализации - 31.07.21.

[2020-12-28 05:28] Genenko-Svetlana commented on #64
@nasdspb подскажи, пожалуйста, по статусу исправления дефекта в SberBox, в какой версии можно проверить исправление?
@talagaev

[2020-12-28 05:30] Genenko-Svetlana commented on #24
@and7ey

[2020-12-28 06:04] and7ey commented on #113
1. Как разработчики портала применяют его в повседневной жизни? Где он стоит (в какой комнате, квартире/доме и т.п.), какие задачи выполняет, какие смартапы используются, как часто используется и т.п.?
2. Планируется ли выпуск какого-либо устройства вообще без экрана и без возможности его подключения (как яндекс.станция мини, например)?
3. Планируется ли запуск SberPlay на портале?
4. Не планирует

[2020-12-28 06:06] and7ey commented on #113
1. Сейчас инструментов разработчиков стало много - Code, Graph, SmartAPI, AimyLogic - какой из них рекомендуется использовать в каких случаях?
2. (вроде на этот вопрос все-таки не ответили) Планируется ли сделать SberCloud бесплатным для хостинга смартапов на SmartAPI и (что тоже очень важно!) - данных смартапа?
3. Планируется ли создать примера CanvasApp'a, который корректно отображается на всех

[2020-12-28 08:27] subnetsRU commented on #129
[27.12.2020 13:55:39.3831]
"стол стул":
[code]
[27.12.2020 15:21:22.7363]
"вера":
[code]
[27.12.2020 15:22:28.7006]
"масла":
[code]
[27.12.2020 15:25:30.3399]
"лес":
[code]
[27.12.2020 15:36:18.8041]
"санта":
[code]
[27.12.2020 16:30:50.4269]
"ананас":
[code]
[27.12.2020 16:31:09.3224]
"манго":
[code]
[27.12.2020 16:52:22.7302]
"сто пятьдесят":
[code]
[27.12.2020 16:54:01.0609]
"бег":
[code]
[27.1

[2020-12-28 09:04] Sergeycul commented on #113
Еще немножко уже про Сберпортал.
1. Можно ли Портал приспособить для просмотра в машине, т.е. можно ли его как-то запитать от прикуривателя? Может через переходники?
2. Планируется ли дать возможность отключать экран при прослушивании музыки? Пара дней опыта показала, что если я ставлю музыку ко сну (ночью), то не хочу чтобы экран освещал комнату.
3. Планируется ли использовать портал, как фоторам

[2020-12-28 12:23] Genenko-Svetlana commented on #131
@gotzmann Сергей, добрый день! Несколько уточняющих вопросов:
1. О каком навыке идет речь?
2. Идентификатор приложения SBER_NLP_2-81743430 - что это за идентификатор?

[2020-12-28 12:43] Genenko-Svetlana commented on #131
Срок реализации - 31.12.2020

[2020-12-28 13:30] danchistyakov commented on #90
Ну, как идут дела?

[2020-12-29 06:33] Genenko-Svetlana commented on #105
Срок - февраль, 2021

[2020-12-29 06:37] Genenko-Svetlana commented on #95
@kamnevtmb @subnetsRU проверяйте, пожалуйста, исправление.

[2020-12-29 06:46] Genenko-Svetlana commented on #78
@Yeti-or

[2020-12-29 06:48] #73 closed, assigned to KKPotapova

[2020-12-29 06:55] Genenko-Svetlana commented on #41
@xoxulin  успеваем до конца года?

[2020-12-29 07:59] asmalakhov-sberdevices commented on #82
@Sergeycul проблема была исправлена. Перепроверьте, для проверки лучше использовать новый проект.

[2020-12-29 08:02] asmalakhov-sberdevices commented on #44
@Genenko-Svetlana предлагаю закрыть тикет.
Это нормальное поведение для JS условия.

[2020-12-29 08:03] subnetsRU commented on #95
Проверил. Заработало. Теперь эти фразы произносятся полностью.

[2020-12-29 08:11] asmalakhov-sberdevices commented on #6
@Genenko-Svetlana @and7ey сделали дополнительное предупреждение, но в релиз пока это не успело попасть.
Давайте ожидать в следующем месяце, срок до 31.01.21 сдвинем

[2020-12-29 08:24] #44 closed, assigned to asmalakhov-sberdevices

[2020-12-29 08:25] #95 closed, assigned to RulevAnton

[2020-12-29 08:27] subnetsRU commented on #129
[28.12.2020 11:58:53.7754]
"овца овца":
[code]
[28.12.2020 13:56:01.3262]
"сам":
[code]
[28.12.2020 15:53:31.4657]
"ноябрь":
[code]
[28.12.2020 15:55:03.1691]
"декабрь":
[code]
[28.12.2020 18:10:52.9228]
"кино":
[code]
[28.12.2020 18:24:59.1434]
"скейт":
[code]
[28.12.2020 19:13:29.7080]
"куку":
[code]
[28.12.2020 19:49:44.2308]
"пионер болл":
[code]
[28.12.2020 19:55:24.3065]
"слово палермо":
[co

[2020-12-29 08:37] asmalakhov-sberdevices commented on #51
@Genenko-Svetlana  проблема исправлена, @and7ey проверьте, пожалуйста.
Спасибо!

[2020-12-29 08:41] asmalakhov-sberdevices commented on #4
@and7ey @Genenko-Svetlana
запрос частично реализован.
Проблемы с вводом чисел "восемьдесят пять" и т.д. была исправлена.

Запрос на склеивание ввода "один два три ..." пока отложен на анализ, так как быстро реализовать не удалось. По срокам, не ранее q2 21.

[2020-12-29 08:47] Genenko-Svetlana commented on #4
Тогда этот тикет закрываю и переношу в отложенные (переоткроем в след.году).
Срок - 30.06.2021

[2020-12-29 09:15] oblomil commented on #117
Всем спасибо, опрос закрываем.

[2020-12-29 09:15] #117 closed, assigned to oblomil

[2020-12-29 09:58] xoxulin commented on #103
Взяли на анализ. Постараемся решить в Январе 2021.

[2020-12-29 10:49] vkycniichai commented on #90
@DCStudioProjects спасибо за длительное ожидание!
Есть проблема в обработке логике самого js кода. В js сравнение с значением "0" не является истинной.
С нашей стороны зарегистрирован только этот баг. Возможно сложность все таки на стороне вашего приложения.
Дайте нам, по возможности, больше информации.

[2020-12-29 10:54] danchistyakov commented on #90
Какую информацию Вам нужно предоставить? А можете по возможности скинуть контакты разработчиков, которые занимаются этой проблемой?

[2020-12-29 10:59] vkycniichai commented on #90
Это не проблема с нашей стороны. Это специфика этого языка программирования.

[2020-12-29 11:02] danchistyakov commented on #90
А какую информацию предоставить-то?

[2020-12-29 11:07] vkycniichai commented on #90
Это по возможности. Необходимо проверять структуру сценария в Graph, а также код на Вашем сервере.
Т.к. на данный момент то, что мы изначально идентифицировали как баг, им не оказалось. И мы можем предполагать только ошибку в самом сценарии.

[2020-12-29 11:08] #113 closed, assigned to Ibragimow

[2020-12-29 11:23] #119 closed, assigned to Avalpetrova

[2020-12-29 11:31] subnetsRU commented on #119
А ответ будет ?

[2020-12-29 13:44] danchistyakov commented on #90
А Вы можете дать контакты в Телеграм разработчиков или Ваш - не хотелось бы выкладывать полный код здесь.

[2020-12-29 14:07] talagaev commented on #7
в других канвас апах проблема не воспроизводилась

[2020-12-29 14:37] eprigarov commented on #131
@gotzmann Сергей, добрый день.
Изучали сегодня проблему. Наиболее вероятный результат: После того как навык прошёл модерацию Вы не нажали кнопку "Опубликовать" в Кабинете Разработчика. Из-за этого новая версия навыка не была опубликована. По этой причине Вы наблюдаете в ПРОМе старую версию навыка.
Пока других причин для подобного поведения мы не можем найти.

[2020-12-29 15:00] subnetsRU commented on #119
Выяснил в телеграм. Всё исправлено.

[2020-12-30 03:52] vkycniichai commented on #90
Направьте на developer@sberdevices.ru

[2020-12-30 09:58] subnetsRU commented on #129
[29.12.2020 13:14:03.2248]
"исмаил":
[code]
[29.12.2020 13:14:49.3662]
"неман":
[code]
[29.12.2020 15:21:37.2239]
"петух":
[code]
[29.12.2020 17:19:37.3218]
"банк":
[code]
[29.12.2020 17:26:32.6256]
"мяу":
[code]
[29.12.2020 17:31:36.2664]
"беру":
[code]
[29.12.2020 18:31:05.7213]
"слон":
[code]
[29.12.2020 19:00:40.6295]
"банкрот":
[code]
[29.12.2020 20:28:44.2703]
"лалалала ла ла ла":
[code]
[29

[2020-12-30 10:38] Ibragimow commented on #64
@subnetsRU проверьте, пожалуйста, сейчас. На прошивке 1.67 уже не должно воспроизводиться.
Если вдруг актуально, уточните, пожалуйста, версию прошивки в ответном комментарии.

[2020-12-30 10:41] subnetsRU commented on #64
А вы на себе уже проверили ? Точно не воспроизводится ?

[2020-12-30 12:17] subnetsRU opened #132 "[canvas] Убрать градиент вверху и внизу экрана в мобильном приложении Салют."
В [ТГ обсудили](https://t.me/smartapp_studio/9647), а тикет так и не создали... Исправляю этот просчёт.

Желательно удалить градиент в мобильном приложении вверху экрана (это на android, а на ios его нет) и внизу экрана (это есть и на android, и на ios). Так как это мешает читать текст, а так же и без того маленький экран становится ещё меньше.

[2020-12-30 12:18] Ibragimow commented on #64
@subnetsRU да, конечно. У нас всё хорошо.

[2020-12-30 12:22] subnetsRU commented on #64
Хорошо, проверю и отпишусь, но скорее всего уже завтра.

Бокс дома. Если мне не изменяет память, то сейчас на нём прошивка 1.67.37.

[2020-12-30 12:46] Ibragimow commented on #64
Для истории:
https://sbtatlas.sigma.sbrf.ru/jira/browse/ATHENADEV-3982
https://sbtatlas.sigma.sbrf.ru/jira/browse/ATHENADEV-3922
https://sberdevices.slack.com/archives/CKT4U1HND/p1609228417430000

[2020-12-31 07:50] subnetsRU commented on #129
[30.12.2020 14:07:48.6825]
"семга":
[code]
[30.12.2020 16:26:28.7251]
"машины":
[code]
[30.12.2020 21:22:39.9520]
"голы":
[code]
[30.12.2020 21:30:54.6326]
"тасс":
[code]
[30.12.2020 22:42:25.8707]
"но":
[code]
[30.12.2020 23:11:01.2987]
"ярмо":
[code]
[30.12.2020 23:13:58.7040]
"дима":
[code]
[30.12.2020 23:23:26.2724]
"коридор":
[code]
[31.12.2020 00:33:21.8631]
"ругалась":
[code]
[31.12.2020 06

[2020-12-31 08:40] subnetsRU commented on #64
Проверил. Проблема больше не воспроизводится. Версия прошивки бокса 1.67.37.

[2020-12-31 08:40] #64 closed, assigned to talagaev, sdtestersd

[2020-12-31 08:47] subnetsRU commented on #7
Да, я убрал сайджесты, т.к. надо было решать проблему на которую указывали модераторы.

Сейчас проверил, вернул сайджесты и вижу что проблема по прежнему актуальна. При первом запуске сайджестов на экране нет, не смотря на то, что в JSON они есть.
[code]
И такая ситуация на всех канвасах.

P.S. Не понимаю как она у вас не воспроизводится. Может у вас другая прошивка на боксе ? У меня сейчас 1.67.3

[2020-12-31 09:27] snyuryev commented on #7
@talagaev @subnetsRU Аналогично, саджесты не отображаются при первом запуске на Сбербокс - приложение Курс биткоина. Отображаются только если что-то сказать и получить ответ от приложения (сами саджесты отправляются из сценария всегда)

[2021-01-01 05:24] Genenko-Svetlana commented on #131
@gotzmann проверьте, пожалуйста.

[2021-01-01 07:51] subnetsRU commented on #129
[31.12.2020 12:27:36.2602]
"илья мурат":
[code]
[31.12.2020 13:03:31.5561]
"кирилл":
[code]
[31.12.2020 13:05:35.4595]
"артем":
[code]
[31.12.2020 15:50:51.9196]
"называется лава полностью":
[code]
[31.12.2020 16:04:28.4833]
"ариана":
[code]
[31.12.2020 16:15:02.1564]
"люся":
[code]
[31.12.2020 17:18:57.3172]
"верка":
[code]
[31.12.2020 17:26:11.3942]
"астры":
[code]
[31.12.2020 18:01:27.3052]
"од

[2021-01-02 08:27] subnetsRU commented on #129
[01.01.2021 10:57:03.2110]
"качан":
[code]
[01.01.2021 11:08:35.1584]
"мост":
[code]
[01.01.2021 12:07:47.3294]
"ход":
[code]
[01.01.2021 12:37:02.9631]
"умом":
[code]
[01.01.2021 14:06:42.2066]
"саванна сова сова":
[code]
[01.01.2021 14:10:11.1608]
"тортилла":
[code]
[01.01.2021 15:41:01.3160]
"карие":
[code]
[01.01.2021 17:05:01.7097]
"трос":
[code]
[01.01.2021 17:10:04.4867]
"я знаю слово иогур

[2021-01-03 08:14] subnetsRU commented on #129
[02.01.2021 13:52:52.8060]
"колеса хорошая середина":
[code]
[02.01.2021 14:43:01.4447]
"кастролог":
[code]
[02.01.2021 15:13:50.5652]
"стекло":
[code]
[02.01.2021 15:22:44.3148]
"луна":
[code]
[02.01.2021 15:24:16.0297]
"семена":
[code]
[02.01.2021 15:26:58.3367]
"будет хотел":
[code]
[02.01.2021 15:27:14.4515]
"дед хотел загадать желание":
[code]
[02.01.2021 15:40:39.8988]
"танк танк":
[code]
[0

[2021-01-04 08:52] subnetsRU commented on #129
[03.01.2021 12:58:01.4603]
"квас":
[code]
[03.01.2021 12:58:13.1039]
"гуашь":
[code]
[03.01.2021 13:50:11.5386]
"целофан":
[code]
[03.01.2021 18:28:41.5850]
"синий":
[code]
[03.01.2021 19:02:26.4688]
"фен":
[code]
[03.01.2021 19:09:38.4277]
"титул":
[code]
[03.01.2021 20:03:11.4138]
"титан":
[code]
[03.01.2021 20:26:33.7140]
"кощей бессмертный":
[code]
[03.01.2021 22:00:13.5320]
"холодок":
[code]

[2021-01-05 08:53] subnetsRU commented on #129
[04.01.2021 11:58:44.5234]
"клава":
[code]
[04.01.2021 12:08:53.1190]
"проекты":
[code]
[04.01.2021 12:25:17.7920]
"сидр":
[code]
[04.01.2021 14:45:57.9254]
"громко":
[code]
[04.01.2021 14:49:16.1158]
"волк":
[code]
[04.01.2021 14:55:05.6456]
"тучи":
[code]
[04.01.2021 14:56:37.4902]
"таймер":
[code]
[04.01.2021 15:22:25.9749]
"тигр":
[code]
[04.01.2021 15:38:21.6304]
"верка":
[code]
[04.01.2021 1

[2021-01-06 08:30] subnetsRU commented on #129
[05.01.2021 12:05:06.1194]
"во льду":
[code]
[05.01.2021 13:39:04.6568]
"аккордеон":
[code]
[05.01.2021 13:40:25.4155]
"даяна":
[code]
[05.01.2021 13:44:26.3317]
"фламинго":
[code]
[05.01.2021 14:02:09.9748]
"призеры":
[code]
[05.01.2021 14:29:20.6673]
"столяр":
[code]
[05.01.2021 14:30:19.2941]
"сливовые":
[code]
[05.01.2021 15:12:53.3204]
"кисель":
[code]
[05.01.2021 17:00:13.6388]
"пинбол":
[co

[2021-01-07 08:16] subnetsRU commented on #129
[06.01.2021 11:25:45.7590]
"павел":
[code]
[06.01.2021 13:35:45.5772]
"детей":
[code]
[06.01.2021 14:27:56.4655]
"айша":
[code]
[06.01.2021 14:38:39.2708]
"сачок":
[code]
[06.01.2021 14:40:56.6398]
"остаться у разбитого окна":
[code]
[06.01.2021 16:20:22.8919]
"катя яна":
[code]
[06.01.2021 16:20:46.8091]
"ваня жильцов":
[code]
[06.01.2021 17:00:10.0132]
"борьба":
[code]
[06.01.2021 17:35:01.3682]

[2021-01-08 08:29] subnetsRU commented on #129
[07.01.2021 11:31:14.7571]
"дальше друг":
[code]
[07.01.2021 11:54:56.4093]
"сам корабль":
[code]
[07.01.2021 12:58:16.9161]
"киль":
[code]
[07.01.2021 12:58:46.0343]
"киви":
[code]
[07.01.2021 13:10:04.9878]
"сложные":
[code]
[07.01.2021 13:18:57.2597]
"страус":
[code]
[07.01.2021 13:40:58.5035]
"мел":
[code]
[07.01.2021 14:21:13.2164]
"адель":
[code]
[07.01.2021 14:23:52.4152]
"лобода":
[code]
[

[2021-01-08 14:48] subnetsRU commented on #16
Пришёл отзыв от пользователя.

Пользователь отвечал на вопрос "что делают водители в авто?" и в ответе говорил "слушают музыку".

Итогом было, что смартап закрывался и включался Сбер Звук...

[2021-01-09 08:48] subnetsRU commented on #129
[08.01.2021 11:27:10.8768]
"грейпфрут":
[code]
[08.01.2021 12:46:56.0087]
"сайга":
[code]
[08.01.2021 14:07:06.4651]
"метра два два с половиной наверное":
[code]
[08.01.2021 14:26:03.9479]
"мандатра":
[code]
[08.01.2021 14:32:32.6616]
"партию":
[code]
[08.01.2021 14:52:18.1262]
"камаз":
[code]
[08.01.2021 14:52:19.9658]
"беслан":
[code]
[08.01.2021 16:48:22.3440]
"жулик":
[code]
[08.01.2021 18:19:

[2021-01-10 08:12] subnetsRU commented on #129
[09.01.2021 14:59:08.7003]
черепаха "тортилла":
[code]
[09.01.2021 15:00:44.4654]
"мастер":
[code]
[09.01.2021 15:02:13.8567]
"фары":
[code]
[09.01.2021 15:12:23.7534]
"низина":
[code]
[09.01.2021 16:00:49.8834]
"план":
[code]
[09.01.2021 16:02:49.5608]
"а умка":
[code]
[09.01.2021 16:05:51.7399]
"омон":
[code]
[09.01.2021 17:35:34.5267]
"гол":
[code]
[09.01.2021 17:41:35.5131]
"чихать":
[code]
[0

[2021-01-11 08:14] subnetsRU commented on #129
[10.01.2021 11:26:34.6927]
"маракасы":
[code]
[10.01.2021 12:16:05.4599]
"наука":
[code]
[10.01.2021 13:06:02.8296]
"карьер":
[code]
[10.01.2021 14:23:08.6272]
"слива":
[code]
[10.01.2021 16:56:03.2822]
"слушал старику":
[code]
[10.01.2021 17:01:36.1133]
"заноза":
[code]
[10.01.2021 20:07:42.3498]
"инструменты":
[code]
[10.01.2021 21:54:51.6177]
"тишина":
[code]
[10.01.2021 22:10:01.9497]
"коса":

[2021-01-11 14:00] subnetsRU opened #133 "[canvas] В Сбер Салют iOS не доходит smart_app_data при первом запуске."
**Где нашелся баг**: Сбер Салют iOS
**Описание проблемы**: Пользователь запускает canvas апп. Апп отправляет smart_app_data, в котором есть текст для вывода на экран, но до пользователя smart_app_data не доходит, т.к. текста у него на экране просто нет. Только со вторым сообщением, если нажать кнопку (саджест), smart_app_data начинает доезжать и всё идёт как надо.
**Проблема воспроизводится у друг

[2021-01-11 15:27] snyuryev commented on #133
Столкнулся с аналогичной проблемой.

[2021-01-11 15:49] christinadomanskaya commented on #69
Исправили

[2021-01-11 15:49] #69 closed, assigned to christinadomanskaya

[2021-01-11 15:56] subnetsRU opened #134 "[canvas] Отсутствует виртуальная клавиатура"
**Где нашелся баг**: Салют
**Описание проблемы**: При запуске canvas иконка виртуальной клавиатуры с панели ассистента исчезает и клавиатура становится недоступной.
**Проблема воспроизводится у других пользователей?** да
**Дополнительная информация**: Например на сберпортале иконка виртуальной клавиатуры внутри canvas доступна и работает.

[2021-01-12 03:47] Genenko-Svetlana commented on #133
@Turanchoks

[2021-01-12 03:53] Genenko-Svetlana commented on #24
@and7ey  в связи с отсутствием комментариев тикет закрываем.

[2021-01-12 03:53] #24 closed

[2021-01-12 04:00] Genenko-Svetlana commented on #94
@DCStudioProjects в связи с отсутствием комментариев тикет закрываем.

[2021-01-12 04:00] #94 closed, assigned to xoxulin

[2021-01-12 04:01] Genenko-Svetlana commented on #131
@gotzmann  в связи с отсутствием комментариев тикет закрываем.

[2021-01-12 04:01] #131 closed, assigned to skobets

[2021-01-12 06:13] Genenko-Svetlana commented on #15
@kuznetsovn будет реализация?

[2021-01-12 07:55] subnetsRU commented on #129
[11.01.2021 15:45:41.3855]
"ежевика":
[code]
[11.01.2021 19:17:14.8013]
"солнце":
[code]
[11.01.2021 19:21:01.3169]
"васильев":
[code]
[11.01.2021 19:24:01.9856]
"джин":
[code]
[11.01.2021 19:38:43.0884]
"колесо":
[code]
[11.01.2021 19:40:27.7201]
"вау":
[code]
[11.01.2021 20:34:24.3203]
"секс":
[code]
[11.01.2021 21:01:37.9674]
"санитар":
[code]
[11.01.2021 21:14:30.8535]
"я макар":
[code]
[11.01

[2021-01-12 09:29] Genenko-Svetlana commented on #133
Команды, которые приходят на открытии смартаппа помещаются в поле appInitialData , его можно дернуть из getInitialData AssistantClientSDK https://github.com/sberdevices/assistant-client#getinitialdata-assistantcommands,
все последующие команды для работающего смартаппа приходят в onData , метод также есть AssistantClientSDK https://github.com/sberdevices/assistant-client#ondata-cb-data-assistantch

[2021-01-12 09:38] snyuryev commented on #133
@Genenko-Svetlana стоит ожидать что на iOS будет аналогичное поведение - добавлено дублирование данных в onData?

[2021-01-12 09:48] Genenko-Svetlana commented on #133
Мы в AssistantClient будем отфильтровывать эти сообщения из onData. Нивелируем эту разницу на уровне AssistantClient

[2021-01-12 09:59] subnetsRU commented on #133
Действительно есть такое дело:
![image](https://user-images.githubusercontent.com/18159237/104299086-d1d38680-54d5-11eb-90ea-5ba4ff51dbea.png)

Спасибо.

Но присоединяюсь к вопросу Сергея. Очень желательно, чтобы как в армии - принцип единообразие :)

[2021-01-12 10:18] Genenko-Svetlana commented on #134
Сознательно убрали.
Если добавить клавиатуру в канвас, то по нажатию она выедет и у пользователя появится возможность написать "в никуда" свой текстовый запрос, а он даже его не увидит, т.к. чата нет же на экране.

В SberPortal - другая история, там оказалась больше потребность у пользователей ввести что-то в клавиатуре - например, при включении музыки редкого исполнителя, где asr не распознает.
А

[2021-01-12 10:35] subnetsRU commented on #134
Если честно не совсем понял.

Открываем в Салют чат с ассистентом. Тыкаем в клавиатуру, видим:
![image](https://user-images.githubusercontent.com/18159237/104302913-6e982300-54da-11eb-8b49-99ea4d07d6f5.png)
Да, клавиатура съела часть экрана (выехала поверх диалога с ассистентом), но и что с того ? Ведь всё что я введу отправится в ассистента. Точно так же как я бы сказал это голосом.

Открываем ch

[2021-01-12 11:38] Genenko-Svetlana commented on #134
Мы подразумеваем, что канвас должен быть построен таким образом, чтобы у пользователя была возможность осуществить действие голосом либо тапом по экрану. Т.е. ему не надо писать, например, выбери пункт 1, а он может выбрать его сам касанием по этому пункту.
Если же в канвасе умышленно содержится текстовое поле ввода, например, нужно ввести адрес доставки или еще что-то, то при нажатии на текстовое

[2021-01-12 12:02] talagaev commented on #59
@subnetsRU  а какой у вас кейс, когда нужно убрать кнопку с ассистентом?
+ по какому тригеру/действию пользователя его возвращать?

[2021-01-12 12:25] subnetsRU commented on #133
А можете поделиться как правильно использовать getInitialData ?

Проблема в том, что это ф-ция:
[code]
Вызываем:
[code]
console.debug напечатает 0, т.к. в  initialData пустота. Массивом с данными он станет чуть позже (чему равен этот "позже" неведомо). Я так понимаю данные туда доезжают по мере поступления.

Мне нужно, чтобы как только там появится "smart_app_data" сделать что-то типа emit.event `

[2021-01-12 12:27] Genenko-Svetlana commented on #98
@xoxulin  есть более точный срок? Квартал?

[2021-01-12 12:29] subnetsRU commented on #134
Я в canvas реализовал многопользовательский чат. И одним из первых вопросов, когда туда пришли модераторы, был "а как печатать с клавиатуры?". Типа голосового ввода недостаточно. Отсюда и родился мой вопрос. Ведь в портале клава есть, а в  Салюте нет.

[2021-01-12 12:54] Genenko-Svetlana commented on #57
В сборке салюта, которая в проме 20.12.2.4915 не воспроизводится.
@and7ey  проверьте, пожалуйста.

[2021-01-12 13:07] subnetsRU commented on #59
Кейс, что панель ассистента съедает треть экрана в Салюте.  Как и было сказано выше те же кнопки приходилось "рисовать" самому, но дело не только в этом. Экран мобилок и так небольшой....

Хотелось бы самому позиционировать лавашар на экране и кнопки.

Как пример. Вот так сейчас:
![2](https://user-images.githubusercontent.com/18159237/104318023-e290f600-54ef-11eb-9c8a-7bf922e0e701.jpeg)
А как могл

[2021-01-12 13:33] talagaev commented on #59
первичней ведь для нас именно голосовой интерфейс взаимодействия, поэтому мы не спешим отказываться от панели с ассистентом или давать метод по скрытию. Глобальная проблема как я вижу - это то что жалко место на экране -> тут мы подумаем с дизанейрами над этим @Dina-Abyzova

[2021-01-12 13:36] subnetsRU commented on #59
Да, именно место.

Ну если не убирать, то хотя бы давать выбирать саму иконку, её размер и выставлять ей позицию на экране.

[2021-01-12 14:01] snyuryev commented on #133
отмечу еще что на Сбербоксе и Сберпортале работает отлично через onData, как и на андроид - отличается только iOS.

[2021-01-13 03:55] Genenko-Svetlana commented on #134
Взяли задачу в бэклог. Сроки уточняю

[2021-01-13 04:00] Genenko-Svetlana commented on #59
Завели в дизайн задачу. Сроки уточняю

[2021-01-13 09:54] Ibragimow commented on #132
Обсуждаем тут: https://sbtatlas.sigma.sbrf.ru/jira/browse/SDDESIGN-1430

[2021-01-13 09:56] RulevAnton commented on #102
по последнему комменту:
Это история с распознаванием букв, решается в остальных тикетах, которые на ASR на мне висят.

[2021-01-13 10:17] Genenko-Svetlana commented on #7
Срок реализации - 31.03.2021

[2021-01-13 11:48] vkycniichai commented on #90
@DCStudioProjects у Вас функция (https://tangerine.gq/cuefa/cuefa.php) возвращает от 0 до 2.
И в самом коде видно, что сравнение с нулем, про которое здесь писали выше, тоже осталось. Обратите внимание, в частности, на ноды: 10, 18. А в 21-й ноде "else" вообще отсутствует, как 0 был получен, так он и остался.
Еще раз отмечу, что в js сравнение с значением "0" не является истинной. Перепроверьте ко

[2021-01-13 14:06] Turanchoks commented on #133
@subnetsRU @snyuryev Ребята, привет!
Мы проверили, и appInitialData должна появляться до выполнения и парсинга. Можете прислать пример странички простой, с которой не работает? 🙏

[2021-01-13 14:38] subnetsRU commented on #133
[code]

[2021-01-13 17:33] Turanchoks commented on #133
@subnetsRU Вы ведь на девайсе тестируете не с createSmartappDebugger? Он подходит только для локальной разработки.

[code]

вот такой код на нашем канвасе на айфоне в консоль выводит заполненный массив с initialData.

И лучше не переобъявлять глобальную переменную с ассистентом :)

[2021-01-13 20:01] and7ey opened #135 "[canvas] Canvas App без таймаута"
**Где пригодится фича**: canvas app
**Описание фичи**: нужно позволить некоторым канвас аппам работать бесконечно, без таймаута. Где это может быть полезно - пользователь запускает канвас апп на сбербоксе или портале, а вторую копию - у себя на телефоне. Канвас апп как-то эти две сессии линкует. В итоге с телефона можно управлять тем, что отображается на сбербоксе. При этом с самим сбербоксом поль

[2021-01-14 07:06] Yeti-or commented on #50
Иконки добавили ещё в прошлом году: https://github.com/sberdevices/plasma/pull/115
Забыли закрыть эту задачу.

Доступные иконки можно посмотреть здесь:
http://plasma.sberdevices.ru/current/components/Icon

[2021-01-14 07:06] #50 closed, assigned to Yeti-or

[2021-01-14 07:15] subnetsRU commented on #133
Конечно нет. На девайсе запускается assistant.createAssistant.

Так я и не говорю, что он не выводит. [Он выводит](https://github.com/sberdevices/salute-issues/issues/133#issuecomment-758544691), но данные в initialData появляются не сразу, а постепенно, что я и описал [тут](https://github.com/sberdevices/salute-issues/issues/133#issuecomment-758623083). Этот нюанс вылез как раз при попытке исполь

[2021-01-14 07:21] subnetsRU commented on #135
На портале нет скринсейвера, по крайней мере сейчас и этой проблемы нет.

[2021-01-14 07:25] subnetsRU opened #136 "[canvas] Какие условия запуска скринсейвера на сбербокс ?"
В догонку к тикету #135

Вопрос в том, а можно ли сейчас как-то побороть запуск скринсейвера на сбербокс ?

Если бы знать по каким условиям он запускается, то может быть уже сейчас можно придумать что-то, что позволит использовать [такого плана](https://t.me/smartapp_studio/10764) аппы.

[2021-01-14 09:32] Genenko-Svetlana commented on #135
Для этого нужно либо захватить WakeLock, либо использовать внутри своих компонентов FLAG_KEEP_SCREEN_ON. https://developer.android.com/training/scheduling/wakelock

[2021-01-14 09:46] and7ey commented on #135
@Genenko-Svetlana это невозможно сделать из Canvas App

[2021-01-14 10:45] Turanchoks commented on #130
@snyuryev Привет! Подскажи, не приходит в appInitialData? Сейчас в ios не дублируются данные в onData

[2021-01-14 10:50] Turanchoks commented on #133
@subnetsRU Спасибо за ответ! В нашем примере поправим, это мы, конечно, фигню написали.
То, что заполняется не сразу – проблема с текущей прошивкой на андройде. Судя по тому, что скриншот из хрома, я полагаю, что все же вы смотрите не iOS. В андройде это скоро поправится

[2021-01-14 11:19] subnetsRU commented on #133
На андройде как раз проблем нет, проблема именно на iOS. Вы опечатались ?

Да, я смотрю в браузере на компе, т.к. удобнее разбираться. Суть в том, что когда я добавил обработку initialData, то на iOS ничего не изменилось. Вот я и полез разбираться и обнаружил, то о чём писал выше.

На iOS заработало только тогда когда я применил [этот костыль](https://github.com/sberdevices/salute-issues/issues/13

[2021-01-14 12:01] subnetsRU commented on #134
А может и не понадобится.

Я тут обнаружил, что если в html  вывести `<input type="text">`, то при тыке (фокусе) на этом поле и мобильник и сбербокс открывают таки клавиатуру. И если добавить отслеживание 'keydown', то есть возможность отследить нажатие `enter`.
![kb1](https://user-images.githubusercontent.com/18159237/104588486-7f32cf80-5679-11eb-8cbc-ff6104cff2b1.png)

А вот с отслеживанием нажа

[2021-01-14 12:02] Turanchoks commented on #133
Да, костыль ваш абсолютно понятен, у нас даже висит PR в assistant-client, подобное сделать для поддержки обратной совместимости, только для андройда :). Мы тестили на нашем аппе и ваш пример на iOS и appInitialData инджектится верно.

Я не понял, как и что конкретно вы смотрите через хром? Это апп, запущенный где?

[2021-01-14 12:22] subnetsRU commented on #133
В адройде как раз всё верно работает. Благодаря [этому](https://github.com/sberdevices/salute-issues/issues/133#issuecomment-758527271):

и на нём срабатывает `a.on('data', (command)...` и всё замечательно, т.к. отрабатывается сразу же как появились данные в InitialData. Вот надо сделать тоже самое, но для iOS.

Это тестовая среда. Апп запущенный в браузере, который соединен с платформой через ass

[2021-01-14 16:57] subnetsRU commented on #136
Попробовал гонять между front и back ping pong каждые 3 минуты. Не помогло... :(

[2021-01-14 18:46] snyuryev commented on #130
@Turanchoks привет! пока не проверял что в appInitialData, использовал только onData.
Проверю - вернусь с ответом

[2021-01-14 18:49] snyuryev commented on #133
@Turanchoks я бы еще раз хотел сказать, что не только на андроиде дублируется onData, но и на сбербоксе, портале и локально при отладке в браузере (везде кроме iOS). Нет планов сделать дублирование из appInitialData в onData для iOS?

[2021-01-14 19:09] Turanchoks commented on #133
@snyuryev Андроид везде один – на сбербоксе, портале и мобилах. Дублирование в onData – это наша техническая ошибка, iOS делался позже и ее воспроизводить не стал.

Архитектурно правильно использовать appInitialData – он доступен до инициализации вашего приложения, поэтому можно сразу отрисовывать то, что нужно. Локально с appInitialData сейчас тоже действительно косяк, потому что ассистент локаль

[2021-01-14 19:14] snyuryev commented on #133
@Turanchoks хорошо, спасибо.

[2021-01-14 19:22] snyuryev commented on #130
да, все приходит.
только надо на событии onStart вызывать getInitialData()

[2021-01-15 07:35] #90 closed, assigned to vkycniichai

[2021-01-15 07:53] subnetsRU commented on #129
Перешли на прямое взаимодействие между системами, вне тикетов.

Наверно можно закрывать тогда.

[2021-01-15 08:02] Genenko-Svetlana commented on #121
@snyuryev Сергей, добрый день! Попробуйте убрать smart_app_data при запуске смартапа.

[2021-01-15 09:23] Genenko-Svetlana commented on #42
Срок реализации - 31.07.2021

[2021-01-15 09:30] Ibragimow commented on #79
Добрый день! Извините, что так долго не отвечаем. За идею спасибо, но реализовывать ее мы пока не планируем.

[2021-01-15 09:30] #79 closed, assigned to Lytkini

[2021-01-15 10:13] subnetsRU opened #137 "[canvas] Ответ от смартапа делает ассистента немым"
**Где нашелся баг**: в ассистенте на sberbox, sberportal
**Описание проблемы**: ассистент замолкает и больше ничего не говорит
**Проблема воспроизводится у других пользователей?** скорее да, чем нет
**Дополнительная информация**: Искал решение как побороть запуск скринсейвера на сбербокс (#136).

Подумал, что возможно периодический ping pong между front и back поможет отложить запуск скринсейвера.

[2021-01-15 10:14] xoxulin commented on #103
Взяли в текущий спринт.

[2021-01-15 10:15] xoxulin commented on #120
Сколько нужно символов для комфортного описания инструкции?

[2021-01-15 11:03] Ibragimow commented on #107
@subnetsRU
Спасибо за идею. Она обсуждается с прошлого декабря, и мы планируем ее реализовать. Однако назвать сроки я сейчас не готов, задача довольно глобальна, и решение ее выходит за рамки нашей доски. Поэтому я ее закрою и перенесу в Declined. Но прошу понимать правильно, что это не отказ, а напротив - эскалация. И спасибо еще раз!

[2021-01-15 11:03] #107 closed, assigned to nobody

[2021-01-15 13:05] Genenko-Svetlana commented on #137
Срок реализации - 15.02.2021

[2021-01-15 13:22] Ibragimow commented on #120
Прогресс будет тут: https://sbtatlas.sigma.sbrf.ru/jira/browse/SMSADT-3014

[2021-01-15 13:22] Ibragimow commented on #103
https://sbtatlas.sigma.sbrf.ru/jira/browse/SMSADT-3013

[2021-01-15 13:26] #52 closed, assigned to Yeti-or

[2021-01-15 13:38] Yeti-or commented on #70
После обсуждений в связанном тикете :
https://github.com/sberdevices/salute-issues/issues/34#issuecomment-747303147
[code]

Пришли к выводу что необходимости реализовывать данную фичу в Plasma UI Kit нет

[2021-01-15 13:38] #70 closed, assigned to awinogradov, Yeti-or

[2021-01-17 19:21] snyuryev commented on #120
@xoxulin может быть увеличить до 5000 знаков?

(у меня было в последний раз чуть меньше 3000 знаков - и это просто описание голосовых команд и экранов в приложении)

[2021-01-17 19:55] snyuryev commented on #121
@Genenko-Svetlana Пока без изменений. Без smart_app_data в первом респонсе приложение на iOS не запускается.

[2021-01-18 14:32] talagaev commented on #135
Думали об этом, оказалось это очень не просто сделать, подумаем продуктово насколько это нужно. Можете свой реальный кейс рассказать когда бы вам это понадобилось в вашем навыке

[2021-01-18 14:43] and7ey commented on #135
Реальный кейс - любая многопользовательская игра, где экран со сбербоксом используется для визуализации чего-либо, а игроки играют на своих телефонах в Сбер Салюте.

[2021-01-18 15:17] subnetsRU commented on #135
Добавлю ещё один: просмотр контента. Например фотографий.

[2021-01-18 16:06] subnetsRU commented on #7
На Сберпортале точно такая же проблема.

[2021-01-19 09:11] subnetsRU opened #138 "[canvas] Проблемы на sberbox и sberpotal при некорректной передаче asr_hints"
**Где нашелся баг**: на sberbox и sberpotal
**Описание проблемы**: При ошибке в передаче [asr_hints](https://developer.sberdevices.ru/docs/ru/platform_services/context_hint) на sberbox и sberpotal canvas app перестаёт работать.
**Проблема воспроизводится у других пользователей?** Скорее да, чем нет.
**Дополнительная информация**: Прикручивал asr_hints и случайно допустил ошибку в коде. Результатом

[2021-01-19 09:47] subnetsRU commented on #138
Дополню, а если canvas был уже отрыт, ДО того как уйдёт ответ с такой ошибкой, то front вообще видимо не получает сообщений от back, так как на front перестаёт что либо изменяться не смотря на действия со стороны пользователя.

[2021-01-19 09:47] Genenko-Svetlana commented on #121
Уточнение по сроку реализации - февраль, 2021

[2021-01-20 06:16] RulevAnton commented on #124
Заведен тикет SDVOICECOR-497

[2021-01-20 06:17] RulevAnton commented on #129
Заведён тикет SDVOICECOR-497

[2021-01-20 09:40] subnetsRU opened #139 "[canvas] При command.type do_nothing с экрана исчезают suggestions"
**Где нашелся баг**: в API
**Описание проблемы**: При ответе от back c _command.type_ = _do_nothing_ с экрана исчезают саджесты
**Дополнительная информация**: Искал способ обмена системными сообщениями между back и front в canvas app. Сообщениями, на которые не требуется ничего ни говорить ни отображать пользователю.

В "телеге" подсказали, что back может ответить вот так:
[code]
Но при таком отве

[2021-01-20 09:45] #129 closed, assigned to RulevAnton

[2021-01-20 09:45] #124 closed, assigned to RulevAnton

[2021-01-20 09:45] #110 closed, assigned to RulevAnton

[2021-01-20 09:45] #109 closed, assigned to RulevAnton

[2021-01-20 09:45] #108 closed, assigned to RulevAnton

[2021-01-20 09:45] #106 closed, assigned to RulevAnton

[2021-01-20 09:45] #104 closed, assigned to RulevAnton

[2021-01-20 13:12] awinogradov commented on #139
Привет! Боюсь, что это ожидаемое поведение. Разработчик должен самостоятельно поддерживать контекст саджестов сквозь команды. Каждая команда проходит несколько слоев из модулей, один из них Assistant SDK, где обрабатываются текущие саджесты на экране. Из твоего примера следует, что в прошлой команде был установлен саджест test, а в новой команде следует удалить все саджесты с экрана.

[2021-01-20 13:15] awinogradov opened #140 "Добавить возможность узнавать, что ассистент закончил озвучивать TTS"
**Где пригодится фича**: в приложении
**Описание фичи**: Хотелось бы как-то получать инфу о том, что ассистент закончил озвучивать TTS. В том числе если пользователь прервал его ответ по кнопке.

[2021-01-20 13:18] subnetsRU commented on #139
Тикет был создан после общения с @christina_domanskaya в ТГ и её просьбе. Вы можете связаться с ней, чтобы она пояснила суть ?

Хорошо, раз это не баг, то можно ли создать фичареквест, чтобы при _command.type = do_nothing_ саджесты игнорировались ?

[2021-01-20 13:22] awinogradov commented on #139
Фичреквест завести можно

[2021-01-20 13:26] subnetsRU commented on #140
Для canvas app это очень хорошая штука.

[2021-01-20 13:29] subnetsRU commented on #139
Спасибо Светлана. Теперь это фичареквест.

Тогда попрошу явным образом, чтобы игнорировались не только саджесты, а вообще всё (включая text и tts).

[2021-01-20 13:45] Genenko-Svetlana commented on #139
Пожалуйста. Сроки уточняю.

[2021-01-20 15:37] subnetsRU commented on #136
Про тикет не забыли ? Хотелось бы получить ответ. Апп уже опубликован и хотелось бы попробовать сделать жизнь пользователя ещё чуточку лучше.

[2021-01-21 07:06] Genenko-Svetlana commented on #102
@subnetsRU  исправлено, проверьте, пожалуйста.

[2021-01-21 07:07] RulevAnton commented on #118
но такой лафхак будет только у нас внутри, будет легче фиксить эти баги.

[2021-01-21 07:18] subnetsRU commented on #102
На тех примерах, что я привёл выше, не воспроизводится. Считаем, что пофикили. Спасибо.

Если появятся ещё примеры, то переоткроем тогда.

[2021-01-21 07:18] #102 closed, assigned to kuznetsovn

[2021-01-21 13:25] Genenko-Svetlana commented on #138
Срок 15.02.2021

[2021-01-21 13:26] Genenko-Svetlana commented on #140
Срок 30.06.2021. Пока временно закрываем и переносим в отложенные.

[2021-01-24 12:30] subnetsRU opened #141 "[ASR] Лучшая гипотеза не на русском, а на английском языке (недельные отчёты)"
Продолжение #18 в новом формате. Тикет для еженедельных csv файлов. (как и договорились в ТГ)

[asr.log.csv.20210124.txt](https://github.com/sberdevices/salute-issues/files/5862199/asr.log.csv.20210124.txt)

[2021-01-25 09:11] subnetsRU opened #142 "[canvas] Проблема на SberPortal при попытке отобразить фото большого размера."
**Где нашелся баг**: SberPortal
**Описание проблемы**: Если в canvas app выводить в теге `<img>` картинку большого размера (на 7 - 12 мегабайт, разрешение 4000x6000 точно проявляется), то портал сначала просто перестаёт отзываться (не откликается ни на голос, ни на нажатия на экране), а потом экран и вовсе тухнет. Через какое-то время включается, оказывается на главном экране с саджестами от canva

[2021-01-25 12:30] RulevAnton commented on #141
файл asr.log.csv.20210124.txt отработан

[2021-01-26 06:39] RulevAnton commented on #93
@DCStudioProjects Напомните, пожалуйста, есть возможность использовать asr_hints?
https://developer.sberdevices.ru/docs/ru/platform_services/hints_usage

[2021-01-26 10:27] sasha-tlt commented on #133
@subnetsRU, в версии assistant-client@2.7.0 все платформы работают одинаково - нужно использовать getInitialData() для получения текущего персонажа и других инициализационных команд; дублирование команд исправлено. Данное решение позволяет получать инициализационные команды не дожидаясь события 'start'.

[2021-01-26 10:27] sasha-tlt commented on #130
@snyuryev, в версии assistant-client@2.7.0 все платформы работают одинаково - нужно использовать getInitialData() для получения текущего персонажа и других инициализационных команд; дублирование команд исправлено. Данное решение позволяет получать инициализационные команды не дожидаясь события 'start'.

[2021-01-26 10:40] subnetsRU commented on #133
`getInitialData()` сразу вернёт данные ? [такого поведения](https://github.com/sberdevices/salute-issues/issues/133#issuecomment-759976696) больше быть не должно ?

[2021-01-26 10:46] sasha-tlt commented on #133
Если ничего не вернет - придет в on('data').  В будущем такое поведение будет исправлено и команды всегда будут в initialData

[2021-01-26 11:35] RulevAnton commented on #18
По asr_hints = words и прото проблемами распознавания латиницы разобрались.
1ое проверили и работает, 2ое - работа в рамках тикета https://github.com/sberdevices/salute-issues/issues/141
Данный тикет закрываю

[2021-01-26 11:35] #18 closed

[2021-01-27 09:23] NikolayPakhomov commented on #51
Добрый день! Так как @and7ey не ответил, а проблема исправлена, задачу закрываю. Если сложности остались, дайте знать.

[2021-01-27 09:25] #51 closed, assigned to asmalakhov-sberdevices

[2021-01-27 09:27] NikolayPakhomov commented on #57
Добрый день! Так как @and7ey не ответил, а проблема исправлена, задачу закрываю. Если сложности остались, дайте знать.

[2021-01-27 09:27] #57 closed, assigned to talagaev

[2021-01-27 09:31] NikolayPakhomov commented on #82
Добрый день! Так как @Sergeycul не ответил, а проблема исправлена, задачу закрываю. Если сложности остались, дайте знать.

[2021-01-27 09:31] #82 closed, assigned to asmalakhov-sberdevices

[2021-01-27 11:45] Genenko-Svetlana commented on #142
@subnetsRU  Дмитрий, к сожалению мы не планируем работать с данной задачей.
С Дмитрием из команды разработки портала (ник в ТГ @ya_thatguy) этот вопрос обсудили.

Рекомендуем использовать общепринятый подход, используемый при разработке приложений: приложение не должно надолго занимать процессор, должно минимально потреблять памяти и быть как можно более маленьким по размеру.

Так же и с картинкам

[2021-01-27 11:45] #142 closed, assigned to talagaev

[2021-01-27 11:53] subnetsRU commented on #142
Да это понятно, что я, как разработчик, постараюсь что-то придумать, чтобы этого не происходило. Но, в данном случае, мне как разработчику, хотелось бы избегать выкачивания контента пользователя на свои сервера для предварительной обработки.

Да и тикет был больше о том, что сторонний разработчик может случайно (или специально) обрушить устройство пользователя.

Ну хорошо, как скажете. Решать есте

[2021-01-27 11:58] Genenko-Svetlana commented on #142
Спасибо за вовлеченность!

[2021-01-28 06:12] Genenko-Svetlana commented on #75
@Turanchoks Павел, есть новая информация?

[2021-01-28 06:13] Genenko-Svetlana commented on #97
@xoxulin  Алексей, есть новая информация?

[2021-01-28 06:16] Genenko-Svetlana commented on #16
@oblomil @Lytkini есть новая информация?

[2021-01-28 12:31] Genenko-Svetlana commented on #78
@Yeti-or

[2021-01-28 12:32] Genenko-Svetlana commented on #120
@xoxulin

[2021-01-28 12:48] Genenko-Svetlana commented on #120
@snyuryev Увеличено максимальное количество знаков поля “Инструкции для тестирования” до 4000 символов

[2021-01-28 12:57] Genenko-Svetlana commented on #134
@subnetsRU Дмитрий, можно тикет закрыть и перенести в отложенные? Пока не планируется доработка.

[2021-01-28 13:08] talagaev commented on #135
Рассмотрели кейс - возьмем во второй половине года проработку на своих апах, псоле этого как апробируем идею и концепт дадим внешним разработчикам инструменты

[2021-01-28 14:13] subnetsRU commented on #134
Да можно.

[2021-01-28 14:13] #134 closed, assigned to talagaev

[2021-01-29 04:05] Genenko-Svetlana commented on #136
@subnetsRU  не забыли ))) обсуждаем