[2021-01-29 04:38] Genenko-Svetlana commented on #60
@Yeti-or

[2021-01-29 08:02] Ibragimow commented on #136
@subnetsRU , разобрались: запуск скринсейвера на канвасах сейчас отменить все-таки нельзя. @talagaev в #135 отписался, что работу канвасов без таймаута планируем рассмотреть в Q3 2021, а это как раз и должно решить в т. ч. текущий вопрос. Об успехах, конечно, сообщим.
Спасибо за предложение и извините, что так долго отвечаем.

[2021-01-29 08:03] Ibragimow commented on #136
Для истории: должен закрыться вместе с #135 , метим в Q3-Q4 2021.

[2021-01-29 08:15] Genenko-Svetlana commented on #130
@snyuryev  подтвердите, пжл, выполнение.

[2021-01-29 08:16] snyuryev commented on #120
спасибо!

[2021-01-29 08:16] Genenko-Svetlana commented on #133
@subnetsRU можно закрывать?

[2021-01-29 08:18] #120 closed, assigned to xoxulin

[2021-01-29 08:18] snyuryev commented on #130
да, через getInitialData() работает

[2021-01-29 08:21] #133 closed, assigned to Turanchoks, talagaev

[2021-01-29 08:22] #130 closed, assigned to Turanchoks

[2021-01-29 08:23] subnetsRU commented on #136
Вопрос был в другом. Об условиях запуска скринсейвера.

А вы ответили так как будто никакие действия не остановят запуск скринсейвера.

[2021-01-29 08:31] Ibragimow commented on #136
@subnetsRU извините, если ответил только на половину вопроса. Но верхнеуровнево, по условиям: скринсейвер запускается в случае бездействия пользователя в течении 15 мин (если не выбрано другое значение в настройках).

[2021-01-29 08:31] #136 closed, assigned to nobody

[2021-01-29 08:45] Genenko-Svetlana commented on #37
Взяли задачу на подумать в бэклог. Ориентировочно - 3 квартал 2021.

[2021-01-29 08:53] Genenko-Svetlana commented on #139
Вопрос будет вынесен на обсуждение на след.неделе. После этого будет понятен срок реализации.

[2021-01-29 16:54] oblomil opened #143 "Собираем ошибки в распознавании названий смартапов"
Наши ассистенты каждый день учатся чему-то новому. Одна из важнейших задач ассистентов – быстро запустить нужный пользователю смартап. Часто бывает, что название смартапа – креативное, но не очень распространенное в русском языке слово или выражение.

**Вы можете помочь нам с более точной настройкой сервиса распознавания речи, поделившись примером ошибочного или неудачного распознавания названия (

[2021-01-30 09:27] subnetsRU commented on #143
"моя фоторамка" часто распознаётся как "моя футурама"
"крути барабан" часто распознаётся как "крутой барабан"

[2021-02-01 06:27] subnetsRU commented on #141
[asr.log.csv.20210201.txt](https://github.com/sberdevices/salute-issues/files/5902218/asr.log.csv.20210201.txt)

[2021-02-01 07:22] RulevAnton commented on #118
Исправлено, устеновлено в прод.

[2021-02-01 07:23] #118 closed, assigned to RulevAnton

[2021-02-01 09:15] Genenko-Svetlana commented on #103
@DCStudioProjects
Есть вариант переключения версий смартапа через дропдаун из навигационной панели.
“Работает” - это опубликованная версия смартап.
Если переключиться на “черновик“, то можно будет без перезагрузки страницы и без очистки кэша посмотреть статус черновика, который может быть в текущий момент “Отправлено на модерацию”.
![Uploading image (6).png…]()

[2021-02-01 09:21] Genenko-Svetlana commented on #97
@DCStudioProjects
см. https://github.com/sberdevices/salute-issues/issues/103
Нужно попробовать в мобильной версии переключиться на “опубликованную версию“, то по ней можно будет увидеть статус опубликованной версии “Работает”.
А статус “в разработке” относится к параллельной версии смартапа - к черновику. 2 версии существуют одновременно и между ними можно переключаться.

[2021-02-01 09:30] asmalakhov-sberdevices commented on #6
@Genenko-Svetlana @and7ey предупреждение должно уже отображаться, проверьте пожалуйста.

[2021-02-01 09:36] asmalakhov-sberdevices commented on #99
@DCStudioProjects подскажите, пожалуйста, проблема актуальна? была исправлена схожая проблема и после исправление, указанное поведение воспроизвести не смогли.

[2021-02-01 10:05] Lytkini commented on #16
В рамках этой задачи ведутся доработки, которые сократят количество обязательных фраз для интента “назад“, а также позволят задавать свои фразы для него. Работы по изменению других интентов не планируются. Все изменения будут соответственно отражены в  документации соответственно.

Примерные сроки окончания работ — второй квартал.

[2021-02-01 11:07] Genenko-Svetlana commented on #71
Срок реализации 31.03.21

[2021-02-01 11:12] Genenko-Svetlana commented on #16
Пока тикет закрываем и переносим в отложенные.
Срок реализации - 30.06.21.

[2021-02-01 11:35] #103 closed, assigned to xoxulin

[2021-02-01 11:40] RulevAnton commented on #141
файл asr.log.csv.20210201.txt обработан

[2021-02-01 11:41] #97 closed, assigned to xoxulin

[2021-02-01 14:08] danchistyakov opened #144 "Неправильные ударения в словах"
**Где нашелся баг**: в ассистенте;
**Описание проблемы**: Неправильные ударения в словах
**Проблема воспроизводится у других пользователей?** да;
**Дополнительная информация**:
 - Ударения в словах типа "журят", "смежила", "косы", "добре";
 - Проблемы с произношением до сих пор встречаются: "У страха глаза велИки", "Курочка рябА"

[2021-02-01 15:57] subnetsRU commented on #144
Так это же правится [ssml](https://developer.sberdevices.ru/docs/ru/developer_tools/ssml/overview) разметкой. Вот [про ударения](https://developer.sberdevices.ru/docs/ru/developer_tools/ssml/supported_characters):

[2021-02-01 16:17] danchistyakov commented on #144
В http-запросах разве будет работать?

[2021-02-02 03:39] Genenko-Svetlana commented on #144
@DCStudioProjects В Graph разметку можно изменить в блоке "Текст". Ударение можно указать с помощью символа '

https://smartapp-code.sberdevices.ru/documentation/#/docs/ru/developer_tools/ssml/overview
https://developer.sberdevices.ru/docs/ru/developer_tools/ssml/supported_characters

[2021-02-02 04:33] #99 closed, assigned to skobets

[2021-02-02 06:02] RulevAnton commented on #144
по поговоркам - TTSQA-1593
по словам "журят", "смежила", "косы", "добре" нужен контекст.

[2021-02-02 06:15] danchistyakov commented on #144
Коровушка-матушка! Меня бьют-**журят**, хлеба не дают, плакать не велят.
Двуглазка тоже на солнышке распеклась и на травушке разлеглась, материно приказанье забыла и глазки **смежила**.
Сёстры хотели их сбить – листья глаза засыпают, хотели сорвать – сучки **косы** расплетают.
Угостила она того сильного человека и он на ней женился, и стала она в **добре** поживать, лиха не знать.

[2021-02-02 07:26] talagaev commented on #122
версия 1.68 отменена, поэтому ждем фикс в 1,69 через две  недели на проде

[2021-02-02 07:30] RulevAnton commented on #144
@DCStudioProjects Подобный тикеты с проблемным ударением можно фиксить на своей стороне проставляя ударение символом апострофа '
Как сказал выше @subnetsRU

Так что вы можете поправить это на своей стороне, как-то так:

Коровушка-матушка! Меня бьют-**журя'т**, хлеба не дают, плакать не велят.
Двуглазка тоже на солнышке распеклась и на травушке разлеглась, материно приказанье забыла и глазки смежил

[2021-02-02 08:31] ESergMeshkova opened #145 "test"
**Где нашелся баг**: в инструментах, в ассистенте, в приложении?
**Описание проблемы**: в чем заключается ошибка?
**Проблема воспроизводится у других пользователей?** Варианты: да, нет, не знаю.
**Дополнительная информация**: какие-то детали, которые могут помочь в решении проблемы.

[2021-02-02 08:31] #145 closed, assigned to nobody

[2021-02-02 08:57] danchistyakov commented on #144
Да, но тогда портится вид ответа от ассистента и символ ' виден.

[2021-02-02 09:01] danchistyakov commented on #93
Уже распознавание восстановилось, всё работает, поэтому думаю некритично, если опять будут проблемы, то переоткроем тикет.

[2021-02-02 09:01] #93 closed, assigned to RulevAnton

[2021-02-02 09:22] RulevAnton commented on #93
Такие ключевые фразы можно покрыть хинтами, вы их можете использовать согласно инструкции https://developer.sberdevices.ru/docs/ru/platform_services/hints_usage
Или апп написан на graph?

[2021-02-02 10:43] danchistyakov commented on #93
Написан на Graph

[2021-02-02 10:47] Genenko-Svetlana opened #146 "Собираем вопросы к митапу 11.02.2021"

[2021-02-02 11:09] Genenko-Svetlana commented on #144
В text - то что выводим на экран, в sint - то что будет озвучиваться (с проставленным ударением)

[2021-02-02 11:11] danchistyakov commented on #144
Да, вернусь с ответом в Телеграме

[2021-02-02 11:12] Genenko-Svetlana commented on #122
Срок - 16.02.2021

[2021-02-02 12:35] RulevAnton commented on #144
@DCStudioProjects Я так понял, что это можно сделать, давайте здесь эту тему добьём.

[2021-02-02 12:35] danchistyakov commented on #144
Давайте!

[2021-02-02 12:36] danchistyakov commented on #144
А слова в синтезе речи перечислять через запятую или пробел просто?

[2021-02-02 12:43] Genenko-Svetlana commented on #144
В случае с переменной, просто весь текст продублировать и проставить знаки ударения

[2021-02-02 12:44] danchistyakov commented on #144
Не очень понял, мне все 20 сказок в одной строчке размечать?))

[2021-02-02 12:58] RulevAnton commented on #144
Это про поле sint ("Текст для синтеза речи")?

Вы просто разделяете любой текст (сказка или просто фраза любая) на 2 блока:
Реплика ассистента - то, что выводится на экран
Текст для синтеза речи - то, что отправляется на синтез.

То есть как пример.
Реплика ассистента: Коровушка-матушка! Меня бьют-журят, хлеба не дают, плакать не велят.
Текст для синтеза речи: Коровушка-матушка! Меня бьют-**журя'т

[2021-02-02 13:00] danchistyakov commented on #144
Да, но у меня на 1 блок приходит 20 сказок и в зависимости от рандомно сгенерированного числа выводится соответствующая сказка. Как мне разделить несколько слов, в которых нужно проставить ударения: запятой или просто пробелом?

[2021-02-02 13:26] RulevAnton commented on #144
Созвонились, обсудили голосом. Ждём фидбека, получилось или нет.

[2021-02-02 18:25] xoxulin commented on #71
Мы доуточнили немного кейс красной кнопки – она на странице должна быть одна – тк все остальные реально обратимы. В остальном мы учли что цвет у нее должен быть не базовый primary, а также в местах, где требуется аккуратность (от случайного нажатия например) снабдим дополнительным Confirm диалогом. Выйдет это реально раньше чем конец Q1 – как раз сейчас тестируем новую версию UI и скоро выведем в

[2021-02-03 08:50] and7ey commented on #6
Уведомление нашел, спасибо!

Теперь бы еще научить Graph все-таки отправлять запросы на front ;)

[2021-02-03 08:53] #6 closed

[2021-02-03 09:05] and7ey commented on #76
Прошу прощения за столь поздний ответ. В документации все увидел, спасибо.

Возник другой вопрос. Я в Code открыл проект, сделанный в Graph. В нем используется другой код для http-запроса -
[code]

Как здесь обработать таймаут? `$httpResponse.error` будет содержать `Read timed out`? Какой `state` отработает? `errorState`? Или как-то код выше на `query(url, settings)` переписать? Не очень понимаю к

[2021-02-03 16:26] DenisNP commented on #146
**Собрал свои вопросы + некоторые по итогам обсуждений в чате:**

1. Почему в первом этапе премии нет 2-3 места в категории DAU? Почему нет категорий "удержание" и "ревеню"?
2. Сколько на площадке пользователей, которые запускают смартаппы?
3. Как продвигать свои смартаппы? Прямых ссылок нет, каталога нет.
4. Когда Canvas App будут доступны в обычном приложении СберБанк Онлайн?
5. 30 дней отсчитыв

[2021-02-03 17:32] DenisNP commented on #146
И отдельно два сугубо технических вопроса, может мне так ответят, не на митапе.

1.

То есть в строках нельзя передавать символ `\n`, и в целом никакой перенос работать не будет, текст сплошной?

2.
Можно ли в поле url изображения передавать base64 код?

[2021-02-04 05:12] subnetsRU commented on #146
1. Разбей по \n на несколько bubble.

2. Не совсем понятен вопрос. Если это о chat app, то в url не может быть ничего кроме ссылки, которая выдаётся после загрузки изображения в studio. Там ещё и его хеш надо передавать.

[2021-02-04 08:20] Genenko-Svetlana commented on #41
Срок реализации - 31.03.2021

[2021-02-04 09:16] danchistyakov commented on #144
Всё получилось, если будут возникать ещё некритичные проблемы с ударением буду добрасывать сюда, критичные — в другой тикет.

[2021-02-04 09:17] Genenko-Svetlana commented on #144
@DCStudioProjects этот тикет можно зарыть?

[2021-02-04 09:19] danchistyakov commented on #144
Смотрите, как у Вас устроено, по идее — да, и в deffered или done можно закинуть, так как по-любому сюда ещё добросы будут.

[2021-02-04 09:21] Genenko-Svetlana commented on #144
@DCStudioProjects  Лучше собрать несколько примеров и создать новый.

[2021-02-04 09:21] #144 closed, assigned to RulevAnton

[2021-02-04 09:22] danchistyakov commented on #144
Ок

[2021-02-04 09:26] danchistyakov commented on #143
Плохо распознается фраза "Запусти подготовку к ОГЭ по обществознанию".
Возможные варианты: "Подготовку Куган по обществознанию";
"Подготовку кого по обществознанию";
"Подготовку угол по обществознанию";
"Подготовку ОГЭ по обществознанию";
"Подготовку Google по обществознанию";
"Подготовку Гугль по обществознанию";
"Подготовку кугл по обществознанию";
"Подготовку Гуга по обществознанию";
"Подготовк

[2021-02-04 09:46] danchistyakov commented on #143
Плохо распознается фраза "Запусти подготовку к ОГЭ по обществознанию".
Возможные варианты: "Подготовку Куган по обществознанию";
"Подготовку кого по обществознанию";
"Подготовку угол по обществознанию";
"Подготовку ОГЭ по обществознанию";
"Подготовку Google по обществознанию";
"Подготовку Гугль по обществознанию";
"Подготовку кугл по обществознанию";
"Подготовку Гуга по обществознанию";
"Подготовк

[2021-02-04 14:47] Genenko-Svetlana commented on #15
@gaphex  посмотри, пожалуйста, задачу

[2021-02-05 07:05] talagaev commented on #75
привет, решили не делать пока sendText, тк сейчас есть sendData, в которую можно положить любую обработку для апа.

[2021-02-05 07:05] #75 closed, assigned to Turanchoks

[2021-02-05 07:52] and7ey commented on #72
Еще в лог Code было бы неплохо писать в каком State сейчас выполняется код. Например,
2021-02-05T07:46:28.766Z [botserver] INFO [ js] - STATE: newNode_7

[2021-02-05 09:47] Genenko-Svetlana commented on #72
@skobets @asmalakhov-sberdevices

[2021-02-05 12:51] ygerzen opened #147 "Лаги в Салюте в gallery_card"
Если в Салюте в одном аппе вывести несколько галерей gallery_card с большим количеством изображений (по 28 штук) на выбор пользователю, то Салют начинает притормаживать при выводе дальнейших сообщений и при прокрутке истории сообщений.
Как вариант решения проблемы можно было бы удалять из аппа галерею после её отображения пользователю и выбора нужной картинки, но вроде такой опции нет. Предлагаю е

[2021-02-05 13:58] Genenko-Svetlana commented on #147
@ygerzen iOS?

[2021-02-05 14:14] ygerzen commented on #147
да, iOS 14.4
Версия приложения Салюта 21.2.1007

[2021-02-08 05:55] subnetsRU commented on #141
[asr.log.csv.20210208.txt](https://github.com/sberdevices/salute-issues/files/5941530/asr.log.csv.20210208.txt)

[2021-02-08 08:43] Genenko-Svetlana commented on #139
@subnetsRU обсудили. Срок реализации - до 30.06.21.
Пока тикет закрываем и переносим в отложенные.

[2021-02-08 08:43] Genenko-Svetlana commented on #147
Срок реализации - до 30.06.21.
Пока тикет закрываем и переносим в отложенные.

[2021-02-08 08:54] Genenko-Svetlana commented on #111
Возвращаем в работу

[2021-02-08 08:56] Genenko-Svetlana commented on #26
Возвращаем в работу.

[2021-02-08 08:57] Genenko-Svetlana commented on #43
Возвращаем в работу.

[2021-02-08 08:58] Genenko-Svetlana commented on #81
Возвращаем в работу.

[2021-02-08 08:59] Genenko-Svetlana commented on #61
Возвращаем в работу.

[2021-02-08 08:59] Genenko-Svetlana commented on #62
Возвращаем в работу.

[2021-02-08 09:00] Genenko-Svetlana commented on #29
Возвращаем в работу.

[2021-02-08 09:01] Genenko-Svetlana commented on #31
Возвращаем в работу.

[2021-02-08 09:02] Genenko-Svetlana commented on #30
Возвращаем в работу.

[2021-02-08 09:03] Genenko-Svetlana commented on #14
Возвращаем в работу.

[2021-02-08 09:04] Genenko-Svetlana commented on #83
Возвращаем в работу.

[2021-02-08 09:05] Genenko-Svetlana commented on #116
Возвращаем в работу.

[2021-02-08 09:06] Genenko-Svetlana commented on #125
Возвращаем в работу.

[2021-02-08 09:07] Genenko-Svetlana commented on #127
Возвращаем в работу.

[2021-02-08 09:08] Genenko-Svetlana commented on #21
Возвращаем в работу.

[2021-02-08 09:10] Genenko-Svetlana commented on #33
@subnetsRU можем перенести в выполненные? CanvasApp работают в СберСалюте.

[2021-02-08 09:24] subnetsRU commented on #33
Ну строго говоря автор тикета не я. Да и тикет же не реализован. Как я понимаю его суть не в том, что CanvasApp не работает в Сбер Салют (тем более сейчас он там работает), а в том, чтобы под одним названием смартапа как то могли со существовать и chat app и canvas app.

[2021-02-08 09:35] Genenko-Svetlana commented on #33
Срок реализации - 2 квартал 2021

[2021-02-08 10:45] ygerzen opened #148 "Копирование текста в приложении Сбер Салют для ios"
**Где пригодится фича**: в приложении Сбер Салют при тестировании аппов.
**Описание фичи**: Есть проблема в Сбер Салюте(ios), нельзя копировать текст через контекстное меню. Предлагаю добавить возможность копирования, т.к. это часто нужно при отладке аппа и для общения с тех.поддержкой.
**Дополнительная информация**: На данный момент доступна только одна опция "Сообщить о проблеме" при выборе, отк

[2021-02-08 11:18] asmalakhov-sberdevices commented on #39
Обновлений по задаче нет, в бэклоге задача стоит, но так как запросов по ней практически нет, в планы на проработку и реализацию пока не стоит.

[2021-02-08 11:23] talagaev commented on #148
@ygerzen  добавьте  учетную запись в стандарный mail агент, тогда откроется форма, где вы сможете все скопировать.

[2021-02-08 11:25] talagaev commented on #148
#

[2021-02-08 11:25] #148 closed, assigned to talagaev

[2021-02-08 12:54] NikolayPakhomov commented on #148
Над возможностью копирования через Салют подумаем, но пока не планируем добавлять.

[2021-02-09 04:44] Genenko-Svetlana commented on #98
Срок реализации - февраль, 21

[2021-02-09 14:11] subnetsRU commented on #146
Касаемо одного из возможных методов монетизации.

Сейчас в документации в "Требования к смартапу" написано:

Вопрос 1: Есть ли шанс, что это когда-то изменится ? Обсуждалось ли такое ? (или весь затык в том, что "деньги мимо кассы" ? :))

Вопрос 2: Речь, как я понимаю, идёт про прямую рекламу. А возможна ли скрытая (неявная) ?

Так же написано:

Вопрос 1: Если с порнографией более-менее всё понятн

[2021-02-09 18:47] exitoso opened #149 "[SmartApp API, Chat App] - проблема с выходом из смартаппа"
**Где нашелся баг**: В мобильном приложении, в Сбербоксе
**Описание проблемы**: ассистенту передается json (пример во вложении) на закрытие смартаппа, ассистент принимает json, но закрытие не происходит, на экране отображается содержимое смартаппа, не происходит переход на предыдущее запущенное приложение.
**Проблема воспроизводится у других пользователей?** не знаю.
**Дополнительная информация**:

[2021-02-10 07:48] talagaev commented on #149
не увидел, а вы отправляете close app ?
https://developer.sberdevices.ru/docs/ru/developer_tools/amp/smartappapi_description_and_guide

[2021-02-10 08:47] subnetsRU commented on #149
Прошу прощения, что влез, но сообщение с типом CLOSE_APP отправляет платформа, а не смартап ;)

О чём и написано в этой же доке чуть выше:

[2021-02-10 08:52] Genenko-Svetlana commented on #60
Срок реализации - 1 квартал 2021

[2021-02-10 08:52] Genenko-Svetlana commented on #78
Срок реализации - 1 квартал 2021

[2021-02-11 05:37] noskoviv opened #150 "SmartApp Graph - Если один блок Интенты на экране - не появляется возможность добавить еще блок"
Если на экране присутствует только один блок интенты, то не появляется под экраном ссылка на добавление блоков.

[2021-02-11 05:49] noskoviv opened #151 "SmartApp Graph - блок Интенты"
В предыдущей версии интерфейса был особый значок на блоке Интенты - если он доступен из любой точки сценария.
Сейчас надо зайти в режим редактирования, чтобы увидеть - глобальный интент или нет.

http://joxi.net/zANPpzQi8v4yDm

[2021-02-11 07:14] asmalakhov-sberdevices commented on #150
Да, эта метка будет добавлена. Появится со следующими обновлениями, планируем до 01.03.21

[2021-02-11 07:52] Genenko-Svetlana commented on #151
Да, эта метка будет добавлена. Появится со следующими обновлениями, планируем до 01.03.21

[2021-02-11 10:04] Genenko-Svetlana commented on #150
Воспроизвели у себя, взяли в работу. Срок реализации - 01.03.2021

[2021-02-11 14:36] noskoviv commented on #150
Временное решение для возможности к блоку Интенты добавить Подсказку - добавить Текстовый блок - затем добавить Подсказку, потом удалить Текстовый блок

[2021-02-12 04:35] Genenko-Svetlana commented on #146
Спасибо за участие в митапе!
На вопросы, которые не были озвучены на встрече, ответим в сообществе Телеграм в ближайшее время.

[2021-02-12 04:35] #146 closed, assigned to Genenko-Svetlana

[2021-02-12 07:46] Genenko-Svetlana commented on #146
@subnetsRU
1. Про рекламу был ответ на митапе: во втором полугодии такая возможность появится.
Скрытая реклама запрещена.
2. Про контент сексуальной направленности вот здесь хорошо описано - https://support.google.com/youtube/answer/2802002?hl=ru.
Детский режим ничего не изменит.

[2021-02-12 19:17] ygerzen opened #152 "Логи в смарт-студии от других приложений"
При работе с одним приложением в смарт-студии в логах сервера отображаются логи от другого аппа. Если апп нагруженный, то логов сыпется много и это мешает отладке других приложений.
Предлагаю разделить логи и внутри аппа показывать логи только от этого аппа.

[2021-02-12 21:20] Sergeycul commented on #143
"Музыкальные стулья" в 90% распознается, как "Музыкальная история" и включает мне песни.
Конечно, песни - приятно, но не ТО ))

[2021-02-12 23:07] noskoviv opened #153 "Graph - Переход от кнопок к подсказкам"
- необходимо поменять в гайде информацию про кнопки https://developer.sberdevices.ru/docs/ru/developer_tools/flow/bots_structure/how_al_works/buttons_links
- при функционале кнопок была возможность перемещать кнопки в пределах экрана (менять местами), а сейчас в подсказках такой возможности нет

[2021-02-13 21:37] noskoviv opened #154 "Отображение блока СПИСОК в Smartapp Graph"
**Где нашелся баг**: SberBox, Сбер Салют
**Описание проблемы:** заголовок и подзаголовок блока Список и заголовки и подзаголовки ячеек списка полностью не отображаются. Значение (более 25 символов) в списке ячеек сдвигает заголовок и подзаголовок.
**Проблема воспроизводится у других пользователей?** как минимум у 2х пользователей

**Дополнительная информация:**
Верстка не корректна.
В Эмуляторе -

[2021-02-14 08:53] dbf256 opened #155 "Падение Салют при получении json с max_lines=0"
**Где нашелся баг**: Приложение Салют
**Описание проблемы**: При попытке выставить max_lines=0 (по спецификации https://developer.sberdevices.ru/docs/ru/developer_tools/amp/smartapp_interface_elements#grid-card) приложение Салют падает
**Проблема воспроизводится у других пользователей?** не знаю.
**Дополнительная информация**:

[code]

[2021-02-15 05:48] subnetsRU commented on #141
[asr.log.csv.20210215.txt](https://github.com/sberdevices/salute-issues/files/5979693/asr.log.csv.20210215.txt)

[2021-02-15 08:16] Genenko-Svetlana commented on #155
@dbf256 Добрый день! Подскажите, пожалуйста, ОС и версию.

[2021-02-15 10:41] RulevAnton commented on #141
asr.log.csv.20210208.txt и asr.log.csv.20210215.txt обработаны.

[2021-02-15 11:13] Genenko-Svetlana commented on #152
Срок реализации - 03.03.21

[2021-02-15 11:23] ygerzen commented on #152
ок

[2021-02-15 18:50] dbf256 commented on #155
Запускал под андроидом, версию не скажу т.к. пришлось переустановить, чтобы избавиться от ошибки. На последней не проверял.

[2021-02-16 04:06] Genenko-Svetlana commented on #155
@dbf256 проверьте, пожалуйста. Если в новой версии ошибка не воспроизводится - закройте тикет.

[2021-02-16 07:03] #155 closed, assigned to talagaev

[2021-02-16 09:56] ygerzen opened #156 "Аналитика в Смарт-студии: фильтр Смартап"
В Смарт-студии, в Аналитике по приложению, в разделе Диалоги, в фильтре Смартап выпадает список системных имен приложений и непонятно как выбрать нужное приложение.

[2021-02-16 12:30] subnetsRU commented on #146
Ну про если про "чернуху" всё понятно и вопросов нет (никто ж не собирался делать ничего подобного), то по более лёгкому контенту вопросы всё равно остаются. Но раз:

То наверно нет смысла их задавать, раз даже "вызвать у зрителей сексуальное возбуждение" запрещено.

Ну что сказать - печально. Получается взрослых и тут обделили... Пора идти в монастырь :)

[2021-02-16 12:42] Genenko-Svetlana commented on #156
Срок реализации ориентировочно - 31.03.2021.

[2021-02-16 14:23] ygerzen commented on #156
ок

[2021-02-16 14:50] asmalakhov-sberdevices commented on #153
Поведение: при функционале кнопок была возможность перемещать кнопки в пределах экрана (менять местами), а сейчас в подсказках такой возможности нет
Предварительно поправим до 31.03.21

[2021-02-17 05:29] Genenko-Svetlana commented on #149
Срок реализации ориентировочно - 05.03.2021.

[2021-02-17 06:45] subnetsRU commented on #16
Пришёл отзыв. Человек пытается ответить на вопрос игры и говорит "Футбол".

Итог:
![image](https://user-images.githubusercontent.com/18159237/108166144-d1499380-7104-11eb-9b21-0c53271ad2a4.png)

Ну это то почему перехватывается ? :(

[2021-02-17 11:25] Genenko-Svetlana commented on #146
@subnetsRU Дмитрий, если вы говорите о навыке, который мы обсуждали, то он возможен после реализации детского режима.
Категория 18+ точно будет не доступна детям.
Так что ждём ваш ап на модерацию, как только появится такая возможность )))

[2021-02-17 11:35] subnetsRU commented on #146
Нет, не о том смартапе, что мы обсуждали. С ним же уже всё ясно, он ждет реализации детского режима.

Были другие мысли, чтобы создавать, как пример, игры, но только для взрослой аудитории, а не только просветительские навыки. Просто, повторюсь, что контента для взрослой аудитории в голосовых помощниках ничтожно мало. Можно по пальцам пересчитать, а для детей пруд пруди.

[2021-02-17 12:36] NikolayPakhomov opened #157 "Предложения по доработке эмулятора в SmartApp Studio"
Здесь можно оставить свои предложения по доработке эмулятора.

[2021-02-17 12:40] Genenko-Svetlana commented on #98
Реализовано.
Предложения по доработке можно оставлять в тикете https://github.com/sberdevices/salute-issues/issues/157

[2021-02-17 12:40] #98 closed, assigned to xoxulin

[2021-02-17 13:09] Daniil7davidov opened #158 "Отображение < 2 кнопок в эмуляторе"
Не отображается больше двух кнопок в эмуляторе: http://joxi.ru/vAWzVqLTOwvQD2
Если у меня больше 10-15 кнопок?
Как быть?

[2021-02-17 19:30] and7ey opened #159 "Не работает команда log() в Code"
**Где нашелся баг**: Code
**Описание проблемы**: Не работает команда log() в Code
**Проблема воспроизводится у других пользователей?** да

[2021-02-18 07:33] Genenko-Svetlana commented on #158
Ориентировочный срок реализации - 22.03.21

[2021-02-18 07:50] asmalakhov-sberdevices commented on #159
@and7ey подскажи, пожалуйста, сейчас даже если использовать $jsapi.log()
даже в этом варианте у вас не работает?

[2021-02-18 08:07] and7ey commented on #159
Так работает, спасибо! (где ж вы раньше были? :)

https://developer.sberdevices.ru/docs/ru/developer_tools/ide/log/server_logs
https://developer.sberdevices.ru/docs/ru/developer_tools/ide/JS_API/built_in_functions/log(message)
- тут надо тогда поправить, в примере, например, `log` указано без `$jsapi.`

[2021-02-18 09:12] Genenko-Svetlana commented on #159
@Lytkini Илья, посмотри, пожалуйста. Нужно поправить пример.

[2021-02-18 15:17] ygerzen opened #160 "Мультизагрузка файлов в Смарт-студии в Контент"
**Где пригодится фича**: в Смарт-студии
**Описание фичи**: сейчас когда нужно загрузить в Контент Смарт-студи много картинок, то приходится их загружать поштучно. Это много лишних однотипных действий! Предлагаю сделать загрузку всех выбранных файлов, а не только одного.
**Дополнительная информация**: при копировании хешей из Контента, приходится вручную закрывать уведомления от предыдущих копирова

[2021-02-19 06:04] asmalakhov-sberdevices commented on #160
Добавили в бэклог. Планируем сделать до 31.03.

[2021-02-19 07:38] asmalakhov-sberdevices commented on #154
@noskoviv спасибо за замечание, дополним в ближайшее время в документации.

[2021-02-20 08:21] Genenko-Svetlana commented on #159
@and7ey Добрый день!
Пример исправлен тут: https://developer.sberdevices.ru/docs/ru/developer_tools/ide/JS_API/built_in_functions/log(message)

Вопрос решен? Если, да - то можно закрыть тикет :)

[2021-02-20 08:25] Genenko-Svetlana commented on #154
@noskoviv Поправили документацию:
https://developer.sberdevices.ru/docs/ru/developer_tools/flow/bots_structure/blocks/card
https://developer.sberdevices.ru/docs/ru/developer_tools/flow/bots_structure/blocks/list
Если всё ок, то можно закрыть тикет :)

[2021-02-20 08:30] and7ey commented on #159
Решен, закрываем. Спасибо.

[2021-02-20 08:30] #159 closed, assigned to skobets

[2021-02-20 13:53] noskoviv commented on #154
Спасибо. Все 👍.

[2021-02-20 13:53] #154 closed, assigned to sasha-tlt, Lytkini, asmalakhov-sberdevices

[2021-02-20 14:01] noskoviv opened #161 "Ссылка на описание блока КОД в Smartapp Graph"
**Где нашелся баг**: Smartapp Graph
**Описание проблемы**: битая ссылка на описание (на документацию).
Проблема воспроизводится у других пользователей? -

Дополнительная информация:
https://yadi.sk/i/fEIB7qgeuGF49w
Ссылка сейчас: https://smartapp-code.sberdevices.ru/documentation/docs/ru/developer_tools/flow/bots_structure/blocks/jscode
Должна быть: https://developer.sberdevices.ru/docs/ru/develop

[2021-02-22 06:43] subnetsRU commented on #141
[asr.log.csv.20210222.txt](https://github.com/sberdevices/salute-issues/files/6019950/asr.log.csv.20210222.txt)

[2021-02-25 09:51] Genenko-Svetlana commented on #161
Срок реализации - 11.03.21

[2021-02-25 10:33] ygerzen opened #162 "Новое тип события «переход по ссылке»"
**Где пригодится фича**: везде, где есть возможность отправить пользователя по ссылке
**Описание фичи**: идея в том, что предлагаю пользователю перейти по ссылке из смартапа, мы теряем с пользователем связь, когда он возвращается обратно в смартап. При наличии нового типа события "переход по ссылке" можно будет как-то реагировать на событие и тем самым улучшить пользовательский опыт и сценарии.
**

[2021-03-01 06:42] asmalakhov-sberdevices commented on #150
@noskoviv сделали исправление. Проверьте, пожалуйста, что теперь все корректно
fyi @Genenko-Svetlana

[2021-03-01 06:48] subnetsRU commented on #141
[asr.log.csv.20210301.txt](https://github.com/sberdevices/salute-issues/files/6059605/asr.log.csv.20210301.txt)

[2021-03-01 06:49] asmalakhov-sberdevices commented on #84
@Sergeycul исправлено. Проверьте, пожалуйста, что теперь срабатывает корректно. Спасибо!

[2021-03-01 07:58] Sergeycul commented on #84
Проверил, все работает теперь корректно. Спасибо. Можно закрывать.

[2021-03-01 08:28] #84 closed, assigned to asmalakhov-sberdevices

[2021-03-01 14:18] talagaev commented on #58
это уже можно закрыть, проблема решилась тем, что в Приветствии пояивлся обязательный саджест Каталог, который очищает старые саджесы

[2021-03-01 14:18] #58 closed, assigned to talagaev

[2021-03-01 14:25] talagaev commented on #121
фикс в 21.3.1

[2021-03-01 14:25] #121 closed, assigned to talagaev

[2021-03-01 14:26] talagaev commented on #138
Свет, тут фикс в старос

[2021-03-01 14:27] talagaev commented on #137
это тоже в Старос, но я вижу тикет уже в тестировании и будет в 1.70

[2021-03-01 16:37] Genenko-Svetlana commented on #58
@subnetsRU посмотрите, пожалуйста

[2021-03-01 16:58] Genenko-Svetlana commented on #121
Когда эта версия выйдет в пром?

[2021-03-01 17:21] Genenko-Svetlana commented on #151
@noskoviv проверьте выполнение, пожалуйста.

[2021-03-02 03:32] Genenko-Svetlana commented on #137
@subnetsRU  проверяйте, пожалуйста. Реализовано в 1.69.

[2021-03-02 06:23] Genenko-Svetlana commented on #151
@noskoviv  проверяйте, пожалуйста.

[2021-03-02 06:31] subnetsRU commented on #58
Да, так и есть. Теперь саджесты заменяются.

[2021-03-02 06:33] subnetsRU commented on #137
Смогу проверить не раньше вечера.

[2021-03-02 07:35] noskoviv commented on #150
Все работает.
Спасибо.

[2021-03-02 07:35] #150 closed, assigned to asmalakhov-sberdevices

[2021-03-02 07:40] noskoviv commented on #151
Иконка 🌐 на глобальном блоке интентов появляется - отлично.

[2021-03-02 07:40] #151 closed, assigned to asmalakhov-sberdevices

[2021-03-02 08:00] Genenko-Svetlana commented on #121
@snyuryev  исправление попало в релиз 21.2.1. Проверьте, пожалуйста.

[2021-03-02 09:09] Genenko-Svetlana commented on #138
Срок перенесен на 31.03.21

[2021-03-02 10:18] SokolovVladimir commented on #149
@exitoso
Добрый день! По твоему кейсу понятно, что пользователь нажимает на саджест.
Команда CLOSE_APP отправляется на голосовой запрос пользователя о закрытие смарт аппа. Например, "хватит", "закрой" и тд. https://developer.sberdevices.ru/docs/ru/methodology/testing/smartapp_activation
Поэтому в твоем кейсе, нужно явно в ответе передать в блоке items команду close_app, чтобы смарт апп корректно з

[2021-03-02 10:44] subnetsRU commented on #149
@SokolovVladimir, у меня не было кейса. Кейс был у автора тикета @exitoso.

В его кейсе пользователь тыкает в кнопку, сообщая его аппу о своём желании выйти. Апп видя это желание формирует JSON, согласно которому сессия должна быть завершена.

Я лишь отметил, что в после того как пользователь нажал кнопку, то его смартап явно шлет
payload.finished = true (см. log.txt выше), что согласно [документа

[2021-03-02 14:02] snyuryev commented on #121
@Genenko-Svetlana все работает! спасибо!

[2021-03-03 06:02] subnetsRU commented on #137
Проверил. Проблема не воспроизводится.

[2021-03-03 06:07] subnetsRU opened #163 "[Салют] Подпись (метка) кнопки голосового ассистента для слабовидящих"
Мне снова пришла просьба от слабовидящего человека помочь ему донести до вас его просьбу:

В приложении Салют подписать кнопку вызова голосового ассистента (проставить текстовую метку), а сейчас программа для слабовидящих о кнопке говорит что-то про "input panel data".

P.S. Я понимаю, что есть тикет #107, но ведь небольшие правки, такого плана,  уже могут улучшить ситуацию с доступность.

[2021-03-03 06:10] subnetsRU opened #164 "[SberBox] Звук включения и звук по нажатию на кнопки"
**Где пригодится фича**: Сбербокс
**Описание фичи**: Мне снова пришла просьба от слабовидящего человека помочь ему донести до вас его просьбу:

Если это возможно, сделать, чтобы после включения Сбербокс проигрывал звук или чтобы ассистент говорил что-то. Так же звуковая "индикация" переключения пультом. Чтобы на нажатие кнопок пульта были некие звуки. Можно вынести эту опцию в настройки, например.

[2021-03-03 14:50] noskoviv opened #165 "Необходимы правки в документации"
Кнопок нет - есть саджесты (подсказки)

Заменить документацию с учетом функционала - пересмотреть документацию (сменить картинки).

ИСТОЧНИК
https://developer.sberdevices.ru/docs/ru/developer_tools/flow/bots_structure/how_al_works/buttons_links

[2021-03-03 16:39] Genenko-Svetlana commented on #165
Срок реализации - 12.03.21

[2021-03-03 18:24] exitoso commented on #149
С добавлением
`
      {
          "command": {
              "type": "close_app"
          }
      }
`
проблема решилась.
Оставлю json тут для истории.
[log2.txt](https://github.com/sberdevices/salute-issues/files/6078248/log2.txt)

[2021-03-04 13:25] iqgamesru opened #166 "Конвертация аудио и картинок на стороне Studio"
При загрузке аудио и картинок нужно конвертировать все в определенный формат, что доставляет неудобства и отнимает время. Было бы очень хорошо, если бы Студия сама конвертировала контент, хотя-бы в рамках одного формата. Например, у меня есть WAV файл, но он не подходит по частоте сэмплов, приходится WAV конвертировать в WAV и менять частоту. Хотелось бы этого избежать. Но в идеале, конечно, конве

[2021-03-04 18:01] #149 closed, assigned to christinadomanskaya

[2021-03-04 18:37] iqgamesru opened #167 "Пакетная загрузка файлов в проект"
Сейчас можно загружать по одному файлу в проект Code, это очень неудобно, если нужно загрузить сразу много, лишняя ненужная работа. Было бы хорошо сделать пакетную загрузку.

[2021-03-04 20:54] #167 closed, assigned to skobets

[2021-03-05 05:56] subnetsRU commented on #137
Всё же я поторопился. На портале проблема опять воспроизвелась.

[2021-03-05 06:00] Genenko-Svetlana commented on #137
@subnetsRU  только на портале?

[2021-03-05 06:09] Genenko-Svetlana commented on #166
Сложная и достаточно трудоемкая реализация, при этом потребность закрывается множеством имеющихся внешних продуктов. Например, инструменты рода ffmpeg, позволяющие, в том числе, работать с аудио-форматами и их ресемплированием.
В беклог на 21 год, не планируется

[2021-03-05 06:09] #166 closed, assigned to asmalakhov-sberdevices

[2021-03-05 06:13] subnetsRU commented on #137
Да. Я утром к нему, а он лавашаром "моргает", т.е. видно, что он отвечает, но при этом звука голоса нет, но остальной звук работает. Причём не как ранее, когда весь звук приглушался, а нормальная громкость всех звуков, но голоса ассистента нет.

Как и в прошлый раз - ребут вылечил проблему.

[2021-03-05 08:26] Genenko-Svetlana commented on #105
Перенос срока - 19.03.21

[2021-03-06 10:04] DenisNP opened #168 "[SberPortal] Приложение крашит СберПортал при старте"
**Где нашелся баг**:
в СберПортале пользователя @subnetsRU

**Описание проблемы**:
приложение _«Умный список покупок»_ крашит портал при старте.

![image](https://user-images.githubusercontent.com/720975/110202785-fc114700-7e7b-11eb-9496-517553d00d83.png)

**Проблема воспроизводится у других пользователей?**
не знаю.

**Дополнительная информация**:
В тестировании работает нормально. В мобильных кл

[2021-03-06 10:12] subnetsRU commented on #168
Проблема [стабильно воспроизводится](https://t.me/smartapp_studio/14458).

Запускал апп 4-ре раза и все 4-ре портал выпадал в загрузчик.

При этом если выбрать "try again", то портал загружается, появляется рабочий стол и далее опять уходит в ребут и снова экран загрузчика.

Если выбрать "factory reset", то портал загружается, но общаться с ассистентом невозможно. Система слушает, лавашар помигива

[2021-03-06 10:56] DenisNP opened #169 "[SberBox] В СберБокс не всегда отображаются визуальные элементы сообщения"
**Где нашелся баг**:
в СберБокс, [вот видео с примером](https://yadi.sk/i/vID3qnE-mc5zAw) от пользователя @subnetsRU
Приложение _«Умный список покупок»_, сделано на _Smartapp API_

**Описание проблемы**:
Визуальная часть сообщения выводится не везде, где должна. На телефонах выводится везде.

**Проблема воспроизводится у других пользователей?**
не знаю.

**Дополнительная информация**:
1. Открыть п

[2021-03-07 12:19] iqgamesru opened #170 "Ассистент читает текст с задержкой."
Если поменять способ взаимодействия с ассистентом с голоса на саджесты, то очень часто появляется текст следующего сценария, а ассистент молчит. Голос появляется спустя какое-то время, около 10 секунд.

Воспроизводится так: прерываем реплику ассистента саждестом на более менее длинном тексте. Воспроизводится почти всегда в приложении салют и сбербоксе.

[2021-03-07 19:08] iqgamesru opened #171 "В салюте нельзя оплатить привязанной картой"
В платёжном сценарии в приложении "Салют" нельзя оплатить привязанной картой, приходится каждый раз вводить данные карты. В профиле карта привязана, в сбербоксе работает нормально.

[2021-03-08 11:45] iqgamesru opened #172 "Не открывается платежный сценарий на ios"
Не получается совершить покупку при помощи iphone. Не открывается канвас платежного сценария, хотя само приложение запускается, можно взаимодействовать голосом, но нет картинки.
Наблюдается на iOS 14.3, другие не проверял.

[2021-03-08 11:52] iqgamesru opened #173 "Не работает авторизация по sber id в платежном сценарии в Салюте"
При попытке авторизоваться по сбер id в платежном канвасе в приложении Салют, после подтверждения входа в сбол всегда получаю ошибку: "Не удалось завершить вход по Сбер id".

А так же при попытке выбрать оплату sber pay сразу получаю ошибку:

 "При загрузке веб-страницы sberpay://invoicing/v2?bankInvoiceId=5dbd99bbc8814cfebe46807634b5eaca&orderNumber=6e8dd630-a331-7196-8a5e-a862022ad738 произошла

[2021-03-08 16:29] Genenko-Svetlana commented on #173
@iqgamesru добрый день! Добавьте, пожалуйста, подробности (скрины, видео).

[2021-03-08 19:53] iqgamesru commented on #173
Добрый день!
Видео во вложении.
Комментарий: сначала я нажимаю на кнопку "Оплатить Sber Pay", получаю ошибку. Далее пробую войти по sber id, но после подтверждения опять получаю ошибку. Это повторяется всегда, не получается оплатить вообще никак, кроме ввода данных карты.

https://user-images.githubusercontent.com/78853384/110373808-f9bc1200-8060-11eb-9b5b-8708f8365705.mp4

[2021-03-09 05:08] Genenko-Svetlana commented on #122
@subnetsRU  Дмитрий, проверяйте, пожалуйста.

[2021-03-09 05:14] #46 closed, assigned to Avalpetrova

[2021-03-09 05:30] Genenko-Svetlana commented on #172
Да, на iOS будет реализовано до 31.03.21

[2021-03-09 05:34] Genenko-Svetlana commented on #171
Да, на iOS будет реализовано до 31.03.21

[2021-03-09 06:17] subnetsRU commented on #141
[asr.log.csv.20210309.txt](https://github.com/sberdevices/salute-issues/files/6106258/asr.log.csv.20210309.txt)

[2021-03-09 06:50] RulevAnton commented on #3
@subnetsRU В пятниц вышел фикс, который должен практически полностью убрать проблемы с распознаванием фраз:
1. "Буква" + буква. (пример: "буква р").
2. Буква. Только с хинтами enable_letters. (пример "р").

Будут мониторить тикет https://github.com/sberdevices/salute-issues/issues/141 и следующие файлики в нём на ниличие данных проблем.
Если всё ок, то данный тикет закроем.

[2021-03-09 06:58] talagaev commented on #170
@sdtestersd  проверьте пжл

[2021-03-09 06:58] subnetsRU commented on #122
Проблема всё ещё актуальна. Повторяется не так часто как раньше, но всё же повторяется.

`"messageId":1615272218988870000,"sessionId":"d6461696-1f03-3aa3-8214-eb43eb589a9d"` - ассистент слушал сам себя.

При этом несколько раз происходило, что ассистент услышал сам себя, на экране появилась распознанная фраза, которая в итоге добавилась в историю на экране, но она (эта фраза) до смартапа так и не

[2021-03-09 07:00] subnetsRU commented on #3
Хорошо, посмотрю изменилось ли что-то.

Хинты я передаю.

[2021-03-09 07:00] talagaev commented on #169
@nasdspb  проверьте пжл кейс

[2021-03-09 08:14] DenisNP opened #174 "Добавить прямые ссылки на смартаппы"
**Где пригодится фича**:
1. В тестировании, давать другим ссылку на свой смартап
2. В рекламе и продвижении смартапов
3. В продвижение Салюта среди пользователей Сбера, т.к. не все о нём знают и пробовали пользоваться

**Описание фичи**:
Дать возможность создавать прямые ссылки на смартапп, как минимум в СБОЛ (потому что он уже и так у всех установлен). Нажатие на ссылку должно открывать СБОЛ и вы

[2021-03-09 09:18] iqgamesru commented on #170
Все еще воспроизводится, вот запись экрана на примере игры "Музыкальный перевод": https://disk.yandex.ru/i/Nl_APPtyJvZXIA

Прерываем реплику ассистента саджестом, появляется новый сценарий и тишина, через несколько секунд начинается речь.

[2021-03-09 09:58] RulevAnton commented on #141
asr.log.csv.20210222.txt, asr.log.csv.20210301.txt и asr.log.csv.20210309.txt обработаны.
В будущем должно быть меньше ошибок с буквами.

[2021-03-09 10:02] Genenko-Svetlana commented on #23
Изменился срок реализации - до 31.05.21. Тикет временно закрываем и переносим в отложенные задачи.

[2021-03-09 10:02] Genenko-Svetlana commented on #86
Изменился срок реализации - до 31.05.21. Тикет временно закрываем и переносим в отложенные задачи.

[2021-03-09 10:33] Genenko-Svetlana commented on #128
Изменился срок реализации - до 30.04.21.

[2021-03-09 15:09] Genenko-Svetlana commented on #168
Исправление будет в версии 1.70.
Сейчас можно явно задать max_lines в карточках, например, так:
[code]

[2021-03-09 15:20] DenisNP commented on #168
@Genenko-Svetlana а если я хочу не ограничивать `max_lines` (потому что не знаю сколько получится с учётом ширины карточек), я могу например везде передать `max_lines = 99` ? это не сломает вёрстку?

[2021-03-09 15:37] Genenko-Svetlana commented on #168
Не сломает )

[2021-03-09 17:20] talagaev commented on #162
Не понимаю, зачем по переходу по ссылке выводить саджесты.
кейс:
1 Пользоввателю предлагается перейти по ссылке
2 пользователь переходит по ссылке
зачем ему видеть саджесты перед уходом?

[2021-03-09 17:20] #162 closed, assigned to talagaev, christinadomanskaya

[2021-03-10 06:25] sdtestersd commented on #170
Дефект завели, воспроизводится в салюте и на иос и на андроид

[2021-03-11 06:04] Genenko-Svetlana commented on #170
Срок реализации - ориентировочно 30.04.21

[2021-03-11 06:39] noskoviv opened #175 "Загрузка картинок в сценарий динамически не работает на SberPortale и на SberBox"
ОПИСАНИЕ
Реализация через Graph (через блок JS код) или Code (через script).
https://developer.sberdevices.ru/docs/ru/developer_tools/ide/bot_answers/message_types/#image

script:
       $response.replies = $response.replies || [];
       $response.replies.push({
         type: "image",
         imageUrl: $session.imageurl,
         hash: $session.imagehash,
       })

или

image: {{$session.image

[2021-03-11 06:56] asmalakhov-sberdevices commented on #175
В примере была лишняя запятая после $session.imagehash
вариант в script сейчас работает
[code]

Вариант отправки динамически через тэг image сейчас пока сломан, будем исправлять. Ориентировочно до конца марта возьмем в работу и исправим работу тэга.

[2021-03-11 06:58] Genenko-Svetlana commented on #175
@asmalakhov-sberdevices  Антон, спасибо.
Срок реализации - до 31.03.21.

[2021-03-11 13:35] Genenko-Svetlana commented on #169
Взяли в работу. Срок реализации - до 30.06.21.
Пока тикет временно закрываем и переносим в отложенные задачи.

[2021-03-11 13:39] Genenko-Svetlana commented on #174
Планируем подобные доработки во 2 кв. 2021.
Пока тикет временно закрываем и переносим в отложенные задачи.

[2021-03-11 13:42] Genenko-Svetlana commented on #168
@DenisNP  всё получилось? Вопрос решён?

[2021-03-11 14:40] DenisNP commented on #168
@Genenko-Svetlana да, `max_lines = 99` не крашится теперь. Но приложение не разворачивается само при запуске на Портале. Хотя полагаю это другая ошибка.

[2021-03-12 05:57] subnetsRU commented on #3
Понаблюдал. Жаль логов не так много, видимо смартапы сдвинулись по каталогу и кол-во игроков резко сократилось.

Но из того что есть я действительно вижу положительные сдвиги.

Проблем с распознаванием отдельных букв стало в разы меньше, но всё же пока есть.

Буква "з" продолжает иногда быть "the".

или вот такое, где основная гипотеза пустота:
[code]
а в списке гипотез:
[code]

Но в целом безусло

[2021-03-12 06:59] Genenko-Svetlana commented on #168
@DenisNP тогда по этой новой ошибке можно завести новую задачу (с подробностями, скринами, видео).
Данный тикет закрываем.

[2021-03-12 06:59] #168 closed, assigned to nobody

[2021-03-12 16:52] #143 closed, assigned to oblomil

[2021-03-15 05:22] #157 closed, assigned to xoxulin, sasha-tlt, filomat

[2021-03-15 06:11] Genenko-Svetlana commented on #158
@Daniil7davidov Проверяйте, если всё ок - закройте, пожалуйста, задачу.

[2021-03-15 06:19] Genenko-Svetlana commented on #3
@RulevAnton может закроем? В случае чего Дмитрий новый создаст :-)

[2021-03-15 06:46] subnetsRU commented on #141
[asr.log.csv.20210315.txt](https://github.com/sberdevices/salute-issues/files/6139287/asr.log.csv.20210315.txt)

Да, ошибок по буквам стало в разы меньше, но всё же ещё есть. Этот файл тому подтверждение.

[2021-03-15 06:48] subnetsRU commented on #3
Да думаю, что мы #141 уже сможем обойтись. Кстати в [нём](https://github.com/sberdevices/salute-issues/issues/141#issuecomment-799160580) всё же попалось несколько косяков с буквами.

[2021-03-15 06:49] #3 closed

[2021-03-15 06:57] Genenko-Svetlana commented on #161
@noskoviv  реализовано, проверьте, пожалуйста

[2021-03-15 07:06] Genenko-Svetlana commented on #122
@subnetsRU на какой версии прошивки это воспроизводится?

[2021-03-15 08:14] Genenko-Svetlana commented on #158
Срок реализации до 31.03.21

[2021-03-15 10:17] and7ey opened #182 "Кол-во уникальных пользователей на графиках Graph и Code - разное"
**Где нашелся баг**: Graph и Code
**Описание проблемы**: Кол-во уникальных пользователей на графиках Graph и Code - разное
**Проблема воспроизводится у других пользователей?** не знаю
**Дополнительная информация**: примеры высланы https://t.me/ketkin7 в телеграм

[2021-03-15 13:35] subnetsRU commented on #122
Версия 1.69.35

[2021-03-15 17:49] #161 closed, assigned to Lytkini

[2021-03-15 17:50] noskoviv commented on #161
поправлено.
спасибо

[2021-03-16 06:33] Genenko-Svetlana commented on #152
Срок реализации - 31.03.21

[2021-03-16 07:48] subnetsRU commented on #127
Всё идёт по плану ? Просто уже появился запрос на смартап с использованием жестов.

[2021-03-16 09:14] Genenko-Svetlana commented on #122
@subnetsRU не смогли воспроизвести у себя. Было бы здорово получить видео.

[2021-03-16 09:22] subnetsRU commented on #122
Хорошо, попробую поймать и записать.

[2021-03-16 09:23] Genenko-Svetlana commented on #122
Ок, будем ждать

[2021-03-16 09:29] Genenko-Svetlana commented on #15
Команда запуска "спроси у" добавлена.

[2021-03-16 12:50] Genenko-Svetlana commented on #127
@subnetsRU сроки сдвигаются на 2-3 квартал 2021 :-(

[2021-03-17 04:47] subnetsRU commented on #122
https://disk.yandex.ru/i/ZoId7MDFpjZGRA

[2021-03-17 10:58] Valkinaz opened #183 "Работа через репозитории в Smartapp Code"
Привет. Есть 3 пожелания по воркфлоу при работе с репозиториями в Smartapp Code.

1. Сейчас нельзя поменять настройки размещения проекта, если он изначально был создан без использования репозитория: https://i.imgur.com/8U1mMvQ.png
Можно конечно пересоздать проект, но при этом потеряется вся аналитика.
Предложение: доработать возможность перенастройки и указания удаленного хранилища исходного кода.

[2021-03-19 10:46] Valkinaz commented on #183
@NikolayPakhomov, а можно какой-нибудь комментарий?

[2021-03-19 10:49] NikolayPakhomov commented on #183
@Valkinaz Извините, вроде оставлял, но что-то не опубликовался.
Задачу взяли в бэклог, ориентировочно планируем реализовать в 3-4 квартале. Задачу пока перенес в отложенные.

[2021-03-22 06:03] Genenko-Svetlana commented on #127
Тикет временно закрываем и переносим в отложенные задачи.

[2021-03-22 06:06] Genenko-Svetlana commented on #15
@subnetsRU

[2021-03-22 06:11] Genenko-Svetlana commented on #173
@iqgamesru проверьте, пожалуйста, сохраняется ли проблема?

[2021-03-22 06:17] Valkinaz opened #190 "Не работает pull изменений из репозитория"
**Где нашелся баг**: Smartapp-Code
**Описание проблемы**: Не получается подлить новый код из репозитория
**Проблема воспроизводится у других пользователей?** не знаю
**Дополнительная информация**:
`{"error":"editorbe.repository.error.invalid_remote","message":"External repository is not available. Make sure the repository URL is correct","args":{"message":"Invalid remote: origin","class":"org.ecli

[2021-03-22 08:34] subnetsRU commented on #141
[asr.log.csv.20210322.txt](https://github.com/sberdevices/salute-issues/files/6180603/asr.log.csv.20210322.txt)

[2021-03-22 08:39] subnetsRU commented on #15
"спроси у моего синоптика погоду", "спроси у моего синоптика что за окном" - апп не запускается, выдаётся штатный прогноз погоды.

"спроси у моего синоптика как дела" - ответ "у какого именно из них?"

"спроси у мой синоптик как дела?" - ответ "всё хорошо, почему плохо?"

"спроси у 100 к 1 как дела?" - ответ "Хорошо, Аристарх. Прекрасно, Савелий!"

Увы, но не работает. Ни в одном из случаев апп та

[2021-03-22 09:05] Valkinaz commented on #190
Скачивание архива проекта или загрузка архива тоже не работает
`<ErrorResponse>
<error>Не удалось выполнить запрос. Возникла внутренняя ошибка.</error>
</ErrorResponse>`

[2021-03-22 09:46] Genenko-Svetlana commented on #137
@subnetsRU исправлено в 1.69. Можно проверять

[2021-03-22 09:51] subnetsRU commented on #137
Так я же уже проверял на 1.69. О чём и написано чуть выше.

[2021-03-23 04:14] Genenko-Svetlana commented on #137
@subnetsRU воспроизводится именно после того, как навык шлет пустой звук?
А можно messageId?

[2021-03-23 08:33] subnetsRU commented on #137
Пустой не звук, а пустой текст:
[code]
Я сейчас не дома. Дома ребенок. Попробовал воспроизвести эту ситуацию с ним, не получилось. Говорит, что слышит ответы ассистента даже после пустого ответа. Версия прошивки сейчас 1.69.**35**.

Варианта 2:
* в 1.69.**35** это действительно исправлено
* или всё же надо, чтобы потестил я сам, но сделать это смогу только завтра утром

[2021-03-23 08:34] Genenko-Svetlana commented on #137
@subnetsRU подождём до утра )

[2021-03-23 11:04] waxerdima commented on #190
@Valkinaz двухфакторную авторизация в гитхабе не включали?

[2021-03-23 11:13] Valkinaz commented on #190
Нет, выключена.
По изначальной проблеме: заработало минут 10-15 назад.

[2021-03-23 14:12] subnetsRU opened #191 "[Салют] При попытке добавить карту для оплаты андройд версия приложение падает"
**Где нашелся баг**: В приложении салют.
**Описание проблемы**: При попытке добавить карту для оплаты андройд версия приложения падает
**Проблема воспроизводится у других пользователей?** пока не знаю.
**Дополнительная информация**: Версия приложения Салют 21.3.1.5189.
[Видео с демонстрацией проблемы](https://t.me/smartapp_studio/15887).

Перезагрузка телефона, выгрузка и загрузка приложения Салют

[2021-03-24 05:19] subnetsRU commented on #137
Проверил. Сейчас воспроизвести проблему действительно не получается.

Будем надеяться что больше и не получится. Спасибо.

[2021-03-24 05:19] #137 closed, assigned to nobody

[2021-03-24 05:42] Genenko-Svetlana commented on #137
Чудесно!

[2021-03-24 06:11] and7ey opened #192 "Сделать ссылку на доступ к аналитике смартапов"
**Где пригодится фича**: https://smartapp-studio.sberdevices.ru/
**Описание фичи**: Нужно сделать по ссылке выше для каждого смартапа ссылку на переход в аналитику.
**Дополнительная информация**: Сейчас процесс отслеживания аналитики очень не удобен. Надо заходить отдельно в каждый смартап, куда в нем идти - зависит от того как он реализован (у Графа одна логика, у Кода - другая). Нужно вспоминать

[2021-03-24 06:20] and7ey opened #193 "Переход между апами в Graph работает некорректно"
**Где нашелся баг**: Graph
**Описание проблемы**: захожу в Graph в Разработка - Статистика (https://smartapp-graph.sberdevices.ru/statistics/my-app-name), вижу статистику, затем сверху выбираю другой ап. И оказываюсь в Разработка - Сценарии.
**Проблема воспроизводится у других пользователей?** думаю, да

[2021-03-24 06:30] subnetsRU commented on #191
Вероятная причина проблемы описана [тут](https://pikabu.ru/story/da_vyi_blin_izdevaetes_8094386).

К сожалению обновить [Android System WebView](https://play.google.com/store/apps/details?id=com.google.android.webview&hl=ru&gl=US) не могу, нет кнопки обновить на моём смартфоне (не дошла видимо обнова пока). Как и удалить последнее обновление.

Вообщем буду ждать обновления, а уж по его результатам

[2021-03-24 06:30] #191 closed, assigned to talagaev

[2021-03-24 07:59] Genenko-Svetlana commented on #173
@iqgamesru проверьте, пожалуйста, сохраняется ли проблема?

[2021-03-24 08:11] iqgamesru commented on #173
Проблема вчера была устранена, спасибо большое, все работает сейчас!

[2021-03-24 08:12] #173 closed, assigned to Genenko-Svetlana

[2021-03-24 10:56] subnetsRU commented on #31
Надеюсь, что тут всё идёт по плану. Ибо, ну честно, достал этот минимальный таймаут... Чихнуть не успеваешь как всё уже закрылось :(

Прямо крик души уже !

[2021-03-24 11:09] Genenko-Svetlana commented on #31
@talagaev  @christinadomanskaya

[2021-03-24 12:26] Genenko-Svetlana commented on #15
@subnetsRU можно пробовать )))
Работают фразы:
[
  "спросить у",
  "спросить",
  "спроси у",
  "спроси",
  "узнать у",
  "узнать ",
  "узнай у",
  "узнай",
  "попроси у",
  "попроси",
  "попросить у",
  "попросить"
]

[2021-03-24 13:30] Genenko-Svetlana commented on #31
@subnetsRU  перенос срока на 2-3 квартал 2021 :-(

[2021-03-24 13:38] subnetsRU commented on #31
Печальная печаль... Где моё мыло и верёвка...

[2021-03-24 13:44] subnetsRU commented on #15
Воооот, теперь работает ! Спасибо.

Доработал апп. Теперь если город был установлен, а апп был запущен подобной фразой, то можно просто попросить погоду и не утруждать себя фразой "хватит". Теперь станет много удобнее использовать апп.

P.S. Надо бы обновить документацию по данному поводу ;) Это реально полезная фишка.

[2021-03-25 03:56] Genenko-Svetlana commented on #15
@oblomil @Lytkini посмотрите, пожалуйста, по документации.

[2021-03-25 03:56] #15 closed

[2021-03-25 04:06] Genenko-Svetlana commented on #172
@iqgamesru  проверьте, пожалуйста, уже должно работать.

[2021-03-25 04:06] Genenko-Svetlana commented on #171
@iqgamesru проверьте, пожалуйста, уже должно работать.

[2021-03-25 04:09] Genenko-Svetlana commented on #165
@noskoviv  проверьте, пожалуйста.

[2021-03-25 04:13] Genenko-Svetlana commented on #31
@subnetsRU не надо так расстраиваться )))
Тикет временно закрываем и переносим в отложенные задачи.

[2021-03-25 04:13] #31 closed

[2021-03-25 06:46] iqgamesru commented on #172
Да, сейчас работает.

[2021-03-25 06:46] iqgamesru commented on #171
Заработало, спасибо!

[2021-03-25 06:47] #171 closed, assigned to Genenko-Svetlana

[2021-03-25 06:48] #172 closed, assigned to Genenko-Svetlana

[2021-03-25 06:58] subnetsRU commented on #31
К сожалению тут не получается не расстраиваться. Расстраиваюсь не только я, но и, судя по моим логам, пользователи тоже. Таймаут слишком мал, слишком... Чуть отвлёкся и усё, запускай по новой. А при тестировании чего либо так это вообще становится пыткой.

[2021-03-25 07:00] subnetsRU commented on #15
Ещё момент, эти фразы не появились в smartapp-studio в "Примеры запуска смартапа". А надо бы.

[2021-03-25 07:02] Genenko-Svetlana commented on #15
@subnetsRU  уже в работе

[2021-03-25 07:03] Genenko-Svetlana commented on #31
@subnetsRU Понимаю :-(

[2021-03-25 09:08] Genenko-Svetlana commented on #41
Перенос срока - до 30.06.21.
Пока тикет временно закрываем и переносим задачу в отложенные.

[2021-03-25 09:10] Genenko-Svetlana commented on #71
@filomat уточни срок, пжл.

[2021-03-25 09:11] Genenko-Svetlana commented on #125
@filomat уточни срок, пжл.

[2021-03-26 06:49] Genenko-Svetlana commented on #71
@snyuryev реализовано, проверяйте, пожалуйста.

[2021-03-26 06:50] Genenko-Svetlana commented on #125
Перенос срока на 3-4 квартал 2021.
Тикет временно закрываем и переносим в отложенные задачи.

[2021-03-26 09:01] snyuryev commented on #71
Спасибо!

[2021-03-26 09:30] #71 closed, assigned to xoxulin

[2021-03-29 04:14] Genenko-Svetlana commented on #165
@noskoviv проверьте, пожалуйста.

[2021-03-29 04:49] Genenko-Svetlana commented on #192
Есть в планах. Срок реализации - 3 квартал 2021.
Тикет временно закрываем и переносим в отложенные задачи.

[2021-03-29 07:31] subnetsRU commented on #141
[asr.log.csv.20210329.txt](https://github.com/sberdevices/salute-issues/files/6220014/asr.log.csv.20210329.txt)

[2021-03-29 07:50] Genenko-Svetlana commented on #193
@and7ey  Взяли в работу. Срок - 4 квартал 2021.
Временно закрываем тикет и переносим в отложенные задачи.

[2021-03-29 08:24] Genenko-Svetlana commented on #152
@ygerzen  исправили, проверяйте, пожалуйста.

[2021-03-29 09:43] Genenko-Svetlana commented on #160
Корректировка срока реализации - до 31.05.21

[2021-03-29 11:22] Genenko-Svetlana commented on #190
@Valkinaz Попробуйте, пожалуйста, завести новый проект, но с тем же репозиторием и теми же данными для авторизации.
После таких действий все должно заработать )

[2021-03-29 11:32] Valkinaz commented on #190
@Genenko-Svetlana так уже заработало, я писал в комментарии выше. Пока больше не повторялось.

[2021-03-29 11:33] Genenko-Svetlana commented on #190
Чудесно. Закрываю задачу

[2021-03-29 12:21] #190 closed, assigned to asmalakhov-sberdevices

[2021-03-29 18:31] #165 closed, assigned to Lytkini

[2021-03-29 18:31] noskoviv commented on #165
спасибо

[2021-03-31 17:34] Genenko-Svetlana commented on #182
Срок реализации - 02.04.2021

[2021-04-01 06:38] Genenko-Svetlana commented on #158
@Daniil7davidov проверяйте, пожалуйста. Реализовано.

[2021-04-01 10:42] Genenko-Svetlana commented on #152
@ygerzen исправили, проверяйте, пожалуйста.

[2021-04-01 10:43] Genenko-Svetlana commented on #153
@noskoviv  исправили, проверяйте, пожалуйста.

[2021-04-01 16:16] noskoviv commented on #153
исправили что?
саджесты перемещать пока не удается

[2021-04-02 06:08] Genenko-Svetlana commented on #182
@and7ey проверьте, пожалуйста.

[2021-04-02 08:29] Genenko-Svetlana commented on #158
@Daniil7davidov проверяйте, пожалуйста. Реализовано.

[2021-04-02 08:54] Genenko-Svetlana commented on #138
Срок перенесен на 30.04.21

[2021-04-02 09:40] Genenko-Svetlana commented on #132
Скорректирован срок реализации - 3 квартал 2021.
Тикет временно закрываем и переносим в отложенные задачи.

[2021-04-02 09:42] Genenko-Svetlana commented on #31
3 квартал 2021

[2021-04-02 09:44] Genenko-Svetlana commented on #127
3 квартал 2021

[2021-04-02 09:45] Genenko-Svetlana commented on #59
3 квартал 2021

[2021-04-02 10:14] Genenko-Svetlana commented on #153
Да, пока не исправили. Уточняю срок

[2021-04-02 10:19] Genenko-Svetlana commented on #153
Скорректирован срок реализации - 3 квартал 2021 (предварительно - август).
Тикет временно закрываем и переносим в отложенные задачи.

[2021-04-02 10:35] Genenko-Svetlana commented on #26
Корректировка срока - 31.05.21

[2021-04-02 14:35] subnetsRU commented on #7
Можно ли уточнить срок ?

[2021-04-02 18:45] and7ey commented on #182
Проверил. Не совпадает. Сравнивал статистику за вчера и за сегодня.

[2021-04-05 04:41] Genenko-Svetlana commented on #7
Перенос срока реализации на 3 квартал 2021.

[2021-04-05 09:15] Genenko-Svetlana commented on #182
Внедрение отложено на 06.04.21

[2021-04-05 09:50] subnetsRU commented on #141
[asr.log.csv.20210405.txt](https://github.com/sberdevices/salute-issues/files/6257512/asr.log.csv.20210405.txt)

[2021-04-09 19:50] noskoviv opened #196 "Удаление проектов в smartapp-code"
**Отсутствует** функционал удаления проектов в https://smartapp-code.sberdevices.ru/
Автоматически созданы были несколько проектов, которые не отображаются через https://smartapp-studio.sberdevices.ru/
Надо удалить эти проекты, так как у них совпадают имена и не понятно с каким работаешь.

[2021-04-12 07:13] ygerzen commented on #152
Проверил. Теперь стало лучше. Большое спасибо!

[2021-04-12 07:14] RulevAnton commented on #141
в работе

[2021-04-12 08:04] Genenko-Svetlana commented on #60
Перенос срока реализации - 31.05.21.

[2021-04-12 08:04] Genenko-Svetlana commented on #78
Перенос срока реализации - 31.05.21.

[2021-04-12 08:10] #152 closed, assigned to skobets

[2021-04-12 08:47] ygerzen opened #197 "Фильтр по стейту CatchAll в аналитике smartapp-studio"
**Где нашелся баг**:  smartapp-studio, в разделе Аналитика, подраздел Диалоги
**Описание проблемы**: в фильтре Стейт нет стейта CatchAll, по которому можно было бы получить список диалогов с ошибками
**Проблема воспроизводится у других пользователей?** воспроизводится во всех навыках.
**Дополнительная информация**: в фильтре есть стейт Fallback, которого в сценарии нет.

[2021-04-13 06:31] subnetsRU commented on #141
[asr.log.csv.20210413.txt](https://github.com/sberdevices/salute-issues/files/6301673/asr.log.csv.20210413.txt)

[2021-04-13 07:23] RulevAnton commented on #141
@subnetsRU Добрый день! Давайте пока приостановим процесс. Очень много повторяющихся проблем наблюдаю. Хочется подождать фикса в рамках данного тикета.

[2021-04-13 07:31] subnetsRU commented on #141
Хорошо. Напиши тогда, когда надо будет продолжать.

[2021-04-14 06:17] #158 closed, assigned to xoxulin, sasha-tlt, filomat

[2021-04-15 10:59] DenisNP opened #198 "[Smartapp Code/Brain] Проблема разбора лемм"
### Где нашелся баг:
Проект **Smartapp Code**, который использует **Smartapp Brain** для морфологического анализа.

### Описание проблемы:
**Код Code:**
[code]

**Фактический диалог:**

**Ожидаемый результат:**
С обоими словами разбор ведёт себя одинаково: либо оба проходят, либо оба нет

### Дополнительно
[code]

**Ожидание:**
_Больше_, _ярче_ это не только наречия, но и формы прилагательных. Зал

[2021-04-15 11:23] DenisNP opened #199 "[Smartapp Code] Обновить версию JavaScript"
**Где пригодится фича**:
Всем разработчикам, которые делают приложения на Smartapp Code

**Описание фичи**:
Обновите, пожалуйста, версию JavaScript в вашем интерпретаторе, чтобы использовать `let/const` и разные удобные фишки, такие как `spread operator`, а может даже промисы и `async/await`.

**Важный дополнительный плюс:** можно будет подключать современные библиотеки без транспиляции.

[2021-04-15 12:50] DenisNP opened #200 "[Smartapp Code] Команда smart_app_data не работает при получении события с фронта"
### Где нашелся баг:
**Smartapp Code**, хотя возможно это баг **Assistant Client**

### Описание проблемы:
Canvas-приложение, бэкенд на **Code**. Я отправляю данные на фронт с помощью добавление элемента в массив `context.response.replies`, у которого `type = 'raw'`. Дальше я использую команду `smart_app_data`.

Этот код выполняется на бэкенде в среде **Code**:
[code]

А вот так идёт отправка кома

[2021-04-15 12:57] Genenko-Svetlana commented on #200
Попробуйте так:  { type: 'smart_app_data', smart_app_data: { "action" : "message_from_backend", "data" : { } } }

[2021-04-15 12:59] DenisNP commented on #200
@Genenko-Svetlana не помогло, всё так же: голосом есть, событием нет.

[2021-04-15 13:18] Genenko-Svetlana commented on #200
Рядом с { type: 'smart_app_data' } , должно быть поле smart_app_data , куда нужно складывать данные

[2021-04-15 13:28] DenisNP commented on #200
@Genenko-Svetlana описанную проблему этот подход не решает, увы.

[2021-04-15 13:33] subnetsRU commented on #200
Уверен ?

Должно быть так:
[code]
На API точно работает.

[2021-04-15 13:35] Genenko-Svetlana commented on #200
В sendData убрать второй аргумент, т.к это подписка на ответ и в общую подписку этот ответ не попадает https://github.com/sberdevices/assistant-client#senddata-action-assistantserveraction-requestid-[…]rtapperror--assistantsmartappcommand--void---void

[2021-04-15 13:44] DenisNP commented on #200
@subnetsRU так и у меня работает если голосом говорить. Прочитай топик то :) Не работает только при разборе точно такой же команды событием с фронта. Голосом работает.

[2021-04-15 13:51] DenisNP commented on #200
@Genenko-Svetlana помогло спасибо! Документация не слишком понятная в этом месте, я думал, что речь идёт о каком-то уведомлении о получении, а оказывается речь о любом ответе который сформирует бэкенд.

Думаю, можно закрывать.

[2021-04-16 03:26] Genenko-Svetlana commented on #200
Хорошо ) Постараемся сделать документацию понятнее

[2021-04-16 03:26] #200 closed, assigned to skobets

[2021-04-16 05:38] Genenko-Svetlana commented on #4
Возвращаем в работу

[2021-04-16 05:38] Genenko-Svetlana commented on #16
Возвращаем в работу

[2021-04-16 05:39] Genenko-Svetlana commented on #23
Возвращаем в работу

[2021-04-16 05:40] Genenko-Svetlana commented on #33
Возвращаем в работу

[2021-04-16 05:41] Genenko-Svetlana commented on #41
Возвращаем в работу

[2021-04-16 05:42] Genenko-Svetlana commented on #86
Возвращаем в работу

[2021-04-16 05:43] Genenko-Svetlana commented on #123
Возвращаем в работу

[2021-04-16 05:44] Genenko-Svetlana commented on #139
Возвращаем в работу

[2021-04-16 05:45] Genenko-Svetlana commented on #140
Возвращаем в работу

[2021-04-16 05:46] Genenko-Svetlana commented on #147
Возвращаем в работу

[2021-04-16 05:47] Genenko-Svetlana commented on #169
Возвращаем в работу

[2021-04-16 05:48] Genenko-Svetlana commented on #174
Возвращаем в работу

[2021-04-16 05:59] Genenko-Svetlana commented on #170
@sdtestersd проверьте, пожалуйста

[2021-04-16 06:46] Genenko-Svetlana commented on #182
@and7ey проверьте, пожалуйста.

[2021-04-21 12:38] sdtestersd commented on #170
В текущем проме не воспроизводится

[2021-04-21 13:00] Genenko-Svetlana commented on #170
@sdtestersd проверьте, пожалуйста

[2021-04-26 03:27] Genenko-Svetlana commented on #199
@DenisNP в ближайшее время реализация не планируется.
Тикет временно закрываем и переносим в отложенные задачи.

[2021-04-26 03:27] #199 closed, assigned to asmalakhov-sberdevices

[2021-04-27 09:46] subnetsRU commented on #105
Что по тикету ?

[2021-04-27 12:23] Valkinaz opened #201 "Поле top_text.max_lines в media_gallery_item"
**Где нашелся баг**: Сберпортал, Сбербокс
**Описание проблемы**: Значение количества строк в json структуре media_gallery_item для поля top_text не работает
**Проблема воспроизводится у других пользователей?** Да
**Дополнительная информация**:
Отображение в приложении (iPhone): https://i.imgur.com/HK89bgv.jpg
Отображение в Сбербоксе: https://i.imgur.com/arCZ1Gn.jpeg
Отображение в Сберпортале: http

[2021-04-27 12:25] Valkinaz commented on #201
И, кстати, не знаю, заводить ли отдельным багом или сюда же? На скриншотах видно, что почему-то изображения не отображаются в карточках. Опять же: в мобильном приложении ок, а на девайсах нет

[2021-04-28 21:20] IKRodygina commented on #198
Параметр **tokenizerEngine** в настройках NLU - токенизатор, который будет выполнять токенизацию и лемматизацию текста.

Изменить токенизатор в проекте можно в **_Настройки проекта_** / _**Настройки NLU**_ / _**Расширенные настройки NLU**_:
https://developer.sberdevices.ru/docs/ru/developer_tools/ide/NLU_core/advanced_classifer_settings

Возможные значения параметра **tokenizerEngine**:

- **udpip

[2021-04-29 06:57] ygerzen opened #202 "Доступ на тестирование для группы"
Предлагаю в Смарт-студии, в разделе выдачи доступов тестировщикам сделать фичу с созданием/выбором группы тестировщиков. Чтобы можно было раз создать и потом во всех смартапах выбирать группу постоянных тестировщиков. Это сократит время на добавление постоянных тестировщиков, исключит однотипную операцию при создании новых смартапов.
![image](https://user-images.githubusercontent.com/21137721/1165

[2021-04-29 13:23] Genenko-Svetlana commented on #198
@DenisNP посмотрите, пожалуйста, рекомендации выше

[2021-04-30 08:44] Genenko-Svetlana commented on #105
@subnetsRU версия 1.70 должна была исправить

[2021-04-30 08:49] awinogradov opened #203 "Health check!"

[2021-04-30 08:49] #203 closed, assigned to nobody

[2021-04-30 08:57] Genenko-Svetlana commented on #201
Проверяем

[2021-04-30 10:05] subnetsRU commented on #105
Ок, понаблюдаю. Спасибо.

[2021-04-30 12:25] Genenko-Svetlana commented on #202
@ygerzen  Именно в такой формулировке - не планируем.
Но в текущем году будет реализовано много важных изменений, которые облегчат командную работу.
Следите за нашими новостями!

[2021-04-30 12:25] #202 closed, assigned to xoxulin, filomat

[2021-05-04 10:34] Genenko-Svetlana commented on #182
@and7ey проверьте, пожалуйста.

[2021-05-04 10:42] Genenko-Svetlana commented on #198
@DenisNP посмотрите, пожалуйста, рекомендации выше

[2021-05-09 07:37] subnetsRU opened #204 "[sberbox] Проблема с new_session"
**Описание проблемы**: Пользователь запускает апп. Какое-то время взаимодействует с ним и вдруг, без переоткрытия аппа, от платформы приходит `"new_session":true`
**Проблема воспроизводится у других пользователей?** Да.
**Дополнительная информация**:
Примеры:
Человек запускает апп и начинает игру.
Вот он жмет кнопку внутри канваса:
[code]
При этом "new_session", как и положено false.Ведь апп уже з

[2021-05-09 07:49] subnetsRU commented on #204
Не знаю связано это как-то с этой проблемой, но у "deviceId": "SBB01Y12AB037478" вообще что-то явно идёт не так.

То от девайса приходит три RUN_APP подряд в рамках одной сессии:
[code]

То выход:
[code]
Во всех случаях был отправлен и `"finished":true` и вызван `assistant.close();`

Такая же ситуация, но в меньшем кол-ве сообщений иногда наблюдается и других пользователей, но не у всех. Таких мен

[2021-05-11 09:10] EugeneMesh opened #205 "Несоответствие отображения текста в карточках при тестировании в Smart Graph и в Сбер Салют"
**Где нашелся баг**: Smart Graph / Сбер Салют
**Описание проблемы**: Один и тот же текст в карточках при тестировании в Smart Graph и в Сбер Салют отображается по-разному. в Smart Graph есть word wrap, а в Сбер Салют его почему-то нет.
![image](https://user-images.githubusercontent.com/82206087/117790136-1e4b8a80-b25a-11eb-886f-c084dbc2f62f.png)
![image](https://user-images.githubusercontent.com/8

[2021-05-11 09:26] NikolayPakhomov commented on #205
Добрый день! У карточек есть ограничения, описанные тут: https://developer.sberdevices.ru/docs/ru/developer_tools/flow/bots_structure/blocks/card
Сбер Салют отображает информацию на базе этих ограничений.

[2021-05-11 09:30] NikolayPakhomov commented on #205
Добрый день! Отображение карточек в Сбер Салют отличается от того, что вы видите в эмуляторе. В приложении они отображаются согласно правилам: https://developer.sberdevices.ru/docs/ru/developer_tools/flow/bots_structure/blocks/card

[2021-05-11 10:26] EugeneMesh commented on #205
@NikolayPakhomov Добрый день!
Спасибо за быстрый ответ! Эту статью я читал.
Если сможете сделать в Сбер Салют перенос текста в карточках, как в эмуляторе - будет круто.

[2021-05-12 08:53] NikolayPakhomov commented on #205
@EugeneMesh отображение карточки, созданной через блок "Карточка" в Graph, задумывалось без переноса текста. Вы можете посмотреть в сторону других карточек: https://developer.sberdevices.ru/docs/ru/developer_tools/amp/smartapp_interface_elements#card
Их можно добавлять через блок JS-код. Карточка gallery_card будет выглядеть примерно так:
[code]

[2021-05-13 14:15] DenisNP commented on #198
Да, так работает. Но это половина решения: поведение теперь предсказуемое, но предсказуемо неправильное. Почему на `~ярче` не пропускает слово _ярче_ ?

[2021-05-13 14:18] Genenko-Svetlana commented on #198
@IKRodygina

[2021-05-14 07:47] NikolayPakhomov commented on #205
@EugeneMesh добрый день! Удалось попробовать другие карточки? Могу закрыть тикет?

[2021-05-14 21:26] Nashev commented on #153
А зачем это тикеты тут временно закрываются? Это как-то не правильно... Пока не сделан, должен быть открыт!

[2021-05-14 21:52] Nashev commented on #79
Отдельной табличкой вряд-ли будет удобно, а вот про частные страницы документации - указывать в них про какие-то важные частные случаи, наверное, проблем нет? Думаю, отдельные запросы на такие правки по отдельным страницам документации смысл делать есть.. а?

[2021-05-14 22:01] Nashev commented on #15
А как на такой вид запуска отреагировать в смартаппе, сделанном через Graph?

[2021-05-15 03:07] Genenko-Svetlana commented on #153
Так удобнее. Все отложенные тикеты временно закрыты. Мы следим за сроками реализации задач. Этот тикет мы переоткроем в июле, т.к. работы по нему запланированы в 3 квартале.

[2021-05-15 03:09] Genenko-Svetlana commented on #79
@Lytkini посмотри, пожалуйста

[2021-05-15 03:22] Genenko-Svetlana commented on #197
Планируем вернуться к этому вопросу в 3 квартале 2021.
Пока тикет временно закрываем и переносим в отложенные задачи.

[2021-05-15 03:28] Genenko-Svetlana commented on #196
Планируем реализовать во втором квартале 2021

[2021-05-15 03:37] Genenko-Svetlana commented on #201
Планируется исправление в версии 1.71.
Ориентировочно 21.05.21

[2021-05-15 06:57] Nashev commented on #153
Это не удобно, это серьёзное нарушение ожиданий от issue tracker. Не надо так.

У вас вон проект тут ведётся, с канбаном. И есть колонка DEFFERED, держите в ней открытые заявки, и всё будет норм. А этот статус не трогайте, не вводите людей в недоумение.

[2021-05-16 11:57] subnetsRU commented on #122
Есть новости по тикету ? Проблема всё ещё актуальна. Текущая версия на портале 1.70.52

[2021-05-17 08:27] Genenko-Svetlana commented on #15
В блоке js-код можно использовать вот такой код и дальше уже анализировать и направлять
`$request.rawRequest.payload.message`

[2021-05-17 15:16] Nashev commented on #111
Копирование экранов целиком тоже очень мне сейчас пригодилось бы.
Я сделал экран с текстом, интентом и рядом подсказок - про регистрацию одного вида вещей, а мне нужно то же самое почти, но про другой вид вещей. Имитировать подпрограмму в блоках неудобно, чтоб вид вещей снаружи передавать, так что придётся скопировать. Благо что видов вещей всего два...

[2021-05-17 17:03] noskoviv commented on #196
спасибо - работает

[2021-05-18 06:14] Ibragimow commented on #153
@Nashev привет! Так как доска открытая, формальные процессы предлагаю обсуждать все-таки не здесь. Го в рабочие ЛС.
Мы действительно работаем так, и статистика наша тоже настроена на выстроенные процессы. Если есть необходимость их менять, пиши - готовы к диалогу. Пока работаем, как работали.
Спасибо!

[2021-05-18 08:07] Nashev opened #206 "В SmartApp Graph интенты снабдить встренными подсказками"
Я заметил, что когда делаю в SmartApp интенты, мне хочется чтоб пользователь видел, что он может сказать, и мог при желании ещё и тыкнуть мышкой. Для этого в каждом блоке с интентами делаю подсказки, соответствующие ключевым интентам. То есть, у меня в каждом экране с пачкой интентов оказывается ещё и пачка подсказок, фактически частично дублирующих эти интенты и переходы с них. Пока у меня это ка

[2021-05-18 08:59] Nashev opened #207 "Добавить имя проекта и название открытого раздела в title страниц SmartMarket Studio и SmartApp Studio"
А то адреса специфические, а title у всех страниц одинаковый, ни во вкладках, ни в закладках, ни даже в истории переходов браузера - неразличимо!

[2021-05-18 09:42] NikolayPakhomov commented on #206
Добрый день! Интересная идея, обязательно рассмотрим и подумаем над реализацией. Тикет временно переношу в "Отложенные".

[2021-05-18 09:43] #206 closed, assigned to skobets

[2021-05-18 10:46] Genenko-Svetlana commented on #207
@filomat

[2021-05-18 10:53] EugeneMesh commented on #205
@NikolayPakhomov  Добрый день!
Николай, идея супер - попробовал. Но проект в Smart Graph не собрался. Что делаю: создаю пустой Chat App, добавляю один блок JS Code, туда копирую пример Gallery Card из документации, нажимаю зеленую кнопку "Запустить", получаю ошибку сценария.
В логах вот это:
src/main.sc:6:22 Expected ; but found :                "card": {                      ^DEPLOY FAILED!

что-

[2021-05-19 04:34] NikolayPakhomov commented on #205
@EugeneMesh Доброе утро! Пример в документации написан для API, чтобы это работало в Graph, нужно добавить данные Gallery Card из примера (https://developer.sberdevices.ru/docs/ru/developer_tools/amp/smartapp_interface_elements#gallery-card) в поле body из примера, который выше присылал. Если возникнут сложности, предлагаю написать в нашем чате в телеграмм:  https://t.me/smartmarket_community

[2021-05-19 04:34] #205 closed, assigned to talagaev

[2021-05-19 08:19] Nashev commented on #153
@Ibragimow, на гитхабе я не вижу ЛС, а в профиле у вас нет контактной информации. Где обсудим? В телеге я тоже @Nashev

О самой необходимости, впрочем, я вроде бы уже всё тут написал... Могу ещё разок, чуть поярче: вы списком открытых issue врёте людям о составе нерешённых проблем, держа кучу нерешённых проблем среди закрытых.

[2021-05-19 10:16] Genenko-Svetlana commented on #207
Взяли предложение в бэклог. Постараемся реализовать в 4 кв. 2021.
Тикет временно закрываем и переносим в отложенные задачи.

[2021-05-19 12:08] Nashev opened #208 "Возможность с главного экрана открыть Graph-проект в Code"
Возможность открыть Graph-проект в Code надо б вывести и на главный экран https://developers.sber.ru/studio/workspaces/smartapps (в выпадашку по троеточию у проекта), а не только предлагать на не имеющей прямого входа с лендингов страничке https://smartapp-code.sberdevices.ru/service/code/

[2021-05-19 12:16] xoxulin commented on #208
Как временную меру добавим уже в июне, а позже (июль) скорее всего все проекты Smartapp / Code / Graph станут раздельными проектами (разными карточками в списке проектов). Следите за обновлениями!

[2021-05-19 12:24] Nashev opened #209 "В Graph блоке Текст не надо считать троеточие частью идентификатора переменной"
Я добавил тектовый блок с текстом "Ок, будем делать $todo…", и нарываюсь на ошибку
[code]
Заметьте, тут даже не три точки, а именно символ троеточия! Его-то зачем частью идентификатора считать?

Я по началу три обычных точки вписал, и нарвался на `((__t=($session.todo..))==null?'':__t)+`, с трудом нашёл про какой это блок. Думал, символ троеточия меня спасёт, но упс. Но в принципе, и три отдельных

[2021-05-26 12:42] Tamagocha commented on #201
@Genenko-Svetlana  какие готовности по задаче? когда сможете вылить?

[2021-05-27 03:24] Genenko-Svetlana commented on #201
Уточняю новый срок, т.к. был перенос

[2021-05-31 03:49] Genenko-Svetlana commented on #105
@subnetsRU удалось понаблюдать?

[2021-05-31 06:29] subnetsRU commented on #105
Лично у меня, проблема не повторялась. А как у автора данного тикета не знаю.

[2021-05-31 06:31] Genenko-Svetlana commented on #105
@kamnevtmb  проверьте, пожалуйста

[2021-06-01 06:23] dbf256 opened #213 "Уведомлени на email об изменении статуса приложения"
**Где пригодится фича**: SmartMarket studio
**Описание фичи**: сейчас отсутсвуют какие-либо уведомления о статусе приложений. Чтобы проверить статус модерации приходится постоянно заходить на сайт. Если апп останавливается из-за проблем, об этом вообще не узнаешь, пока случайно не решишь зайти проверить свои приложения.
**Дополнительная информация**: какие-то детали, которые могут помочь в реализа

[2021-06-01 06:39] Genenko-Svetlana commented on #213
У нас есть подобная задача #41

[2021-06-01 06:49] dbf256 commented on #213
Согласен, дубликат.

[2021-06-01 06:49] dbf256 commented on #41
Еще такая проблема: если апп останавливается из-за проблем, об этом вообще не узнаешь, пока случайно не решишь зайти проверить свои приложения.

[2021-06-01 06:53] Genenko-Svetlana commented on #41
О приостановке смартапа при наличии тех.проблем мы уведомляем по почте

[2021-06-01 06:54] Genenko-Svetlana commented on #213
Тогда закрываем )
По #41 срок реализации 2 квартал 2021

[2021-06-01 06:57] #213 closed, assigned to xoxulin

[2021-06-01 07:27] dbf256 commented on #41
@Genenko-Svetlana мой апп  ID версии: f990169f-232a-4392-8b14-9d6209a04e5e  остановили из-за большого числа ошибок, но писем я не нашел в т.ч. и в спаме. Если будет возможность, проверьте, отправилось ли с вашей стороны письмо.

[2021-06-01 09:54] Genenko-Svetlana commented on #41
Да, конечно. Проинформируем на email

[2021-06-01 11:06] DenisNP opened #214 "Передавать на бэкенд навигационные фразы (Назад, Продолжить итд)"
### Описание фичи:
Сейчас на Сбербокс (и, полагаю, на других устройствах кроме телефона) голосовые команды "Вперёд", "Вниз", "Вверх" вызывают навигационное событие в `assistantClient`, и при этом не приходят на бэкенд смартапа. Голосовая команда "Назад" не вызывает событие (!) и не приходит на бэкенд (вероятно, они триггерит `History API`, но у меня не было возможности проверить).

Предлагаю сдела

[2021-06-01 11:10] i200cm3 opened #215 "Идея: передача данных гироскопа смартаппам."
Где пригодится фича: от мышки на экране SberBox и ТВ до спортивных танцевальных игр типа just Dance Now

Описание фичи:

телефон коннектится к поверхностям по bluetooth, приложение Салют передает данные гироскопа, и разработчики получают данные с ассистента сообщениями

[2021-06-01 11:11] DenisNP opened #216 "Возможность самостоятельно выбирать поверхности"
### Описание фичи:
Возможность при настройке смартапа самостоятельно ставить галочки, на каких поверхностях должен работать смартап. А не просить модерацию, как это сейчас происходит.

### Где пригодится фича:
**1. Постепенный выпуск приложения**
Допустим, я сначала сверстал приложение для телефонов, хочу его выпустить, показать людям, протестировать. А потом доделываю версию для больших экранов.

[2021-06-01 11:15] DenisNP opened #217 "Возможность использовать интенты и ресурсы в приложениях на Smartapp API"
### Описание фичи
В проекты, сделанные с использованием `Smartapp API`, необходимо добавить вкладки с _интентами_, _сущностями_, а также _изображениями_ и _звуками_.

### Где пригодится фича
Разработчики приложений на `Smartapp API` очевидно уже используют у себя кастомные картинки и звуки, просто создают для этого фейковое соседнее приложение. Что касается интентов — раз эта функция в системе уже

[2021-06-01 11:17] DenisNP commented on #140
Событие о том, что ассистент _начал_ слушать (по нажатию кнопки или по обращению Салют), тоже очень не помешало бы.

[2021-06-01 11:18] DenisNP commented on #214
А, увидел что похожее есть #16
Если совсем дубликат, то закрывайте.

[2021-06-01 11:23] NikolayPakhomov commented on #214
Добрый день! Да, дубликат, эту задачу закрою

[2021-06-01 11:23] #214 closed, assigned to awinogradov

[2021-06-01 12:00] NikolayPakhomov commented on #216
Добрый день! Планируем сделать такую возможность в 4 квартале этого года. Временно переношу тикет в "Отложенные".

[2021-06-01 12:00] #216 closed, assigned to filomat

[2021-06-01 13:16] NikolayPakhomov commented on #217
Добрый день! Мы работаем над расширением функционала SmartApp API. Некоторые доработки из вашего списка выпустим ориентировочно до конца месяца.

[2021-06-01 13:42] Genenko-Svetlana commented on #215
Крутая идея. Спасибо.
Постараемся реализовать в 1-2 квартале 2022 года.
Временно закрываем тикет и переносим задачу в отложенные.

[2021-06-01 13:42] #215 closed, assigned to Genenko-Svetlana

[2021-06-02 05:10] Valkinaz commented on #201
Какая-нибудь есть информация?

[2021-06-02 12:23] zsxoff opened #218 "Ошибка в SmartApp Code: java.util.NoSuchElementException"
**Где нашелся баг**: в SmartApp Code.
**Описание проблемы**: при нажатии кнопки "Тестировать" проекта с большим количеством тест-кейсов (примерно от 30 блоков `<test-case>` в одном XML-файле), появляется внутренняя ошибка, связанная с Java.
**Проблема воспроизводится у других пользователей?** не знаю.
**Дополнительная информация**:

[code]

[2021-06-02 15:18] dbf256 commented on #41
По почте пришло "приносим извинения, письмо действительно не ушло, это не автоматическая рассылка, пока отправляем письма с багами вручную.". Так что в рамках этой задачи можно и сделать уведомление при остановке (хорошо бы в него и причину сразу помещать, чтобы не писать модераторам).

[2021-06-02 18:11] and7ey commented on #78
Добрый день, получилось сделать?

[2021-06-03 05:54] Genenko-Svetlana commented on #201
Пока нет. Версия 1.71 для Сберпортала еще не вышла

[2021-06-03 05:56] Genenko-Svetlana commented on #41
Спасибо за идею

[2021-06-03 06:38] Genenko-Svetlana commented on #141
@subnetsRU Дмитрий, есть еще материал для работы? ))) Или всё хорошо?

[2021-06-03 07:05] subnetsRU commented on #141
Есть. Но выше же Антон попросил приостановить процесс. Я жду сообщения про возобновление процесса.

[2021-06-03 07:22] RulevAnton commented on #141
Коллеги, up-нул тикет по фиксу.
Посмотрел текущий файлик с 31.05 по  03.06, вижу что основное кол-во примеров связано с некорректным распознаванием из-за плохого звука или просто ошибочной русской гипотезы. Большинство реальных ошибок повторяется с теми, что в существующем тикете.
То есть проблем распознавния как таковых становится всё меньше.

Давайте подождём фикса тикета имеющегося, а этот тике

[2021-06-03 14:18] DenisNP opened #221 "Добавить в описание платформ признак о возможности управлять только голосом"
### Описание фичи
Сейчас в описании платформы, которая приходит с запросом, есть поля `screen`, `mic`, `speak`, показывающие, есть ли у платформы экран, может ли оно говорить и слушать.

Предлагаю добавить признак `handsfree`, который показывает, что устройство можно активировать без рук, а только командой __Салют__. Сейчас это возможно на СберПортал и, как я понимаю, СберБокс Топ.

### Где пригод

[2021-06-03 14:27] waxerdima commented on #221
А почему это по surface не определять?

[2021-06-03 14:36] DenisNP commented on #221
Сейчас определяю по surface, но поверхностей становится всё больше, а функции на них меняются. Ненадёжно.

[2021-06-15 09:12] Genenko-Svetlana commented on #198
@IKRodygina посмотрите доп. комментарий разработчика, пожалуйста.

[2021-06-15 09:12] #196 closed, assigned to asmalakhov-sberdevices

[2021-06-15 09:14] #182 closed, assigned to asmalakhov-sberdevices

[2021-06-15 09:16] Genenko-Svetlana commented on #160
@ygerzen  реализовано

[2021-06-15 09:16] #160 closed, assigned to asmalakhov-sberdevices

[2021-06-15 09:19] Genenko-Svetlana commented on #81
@Sergeycul проверьте, пожалуйста

[2021-06-15 09:20] Genenko-Svetlana commented on #21
@and7ey проверьте, пожалуйста
@Sergeycul

[2021-06-15 09:24] Genenko-Svetlana commented on #61
@and7ey проверьте, пожалуйста.

[2021-06-15 09:27] Genenko-Svetlana commented on #23
@and7ey проверьте, пожалуйста.

[2021-06-15 09:31] Genenko-Svetlana commented on #30
Не работает не сам Math, а вставки из нового js (например trunc). Пока переход на новый js не планируется.

[2021-06-15 09:37] Genenko-Svetlana commented on #128
@subnetsRU исправлено в версии 1.71. Проверьте, пожалуйста.

[2021-06-15 09:42] subnetsRU commented on #128
А когда её накатят ? У меня сейчас портал с 1.70.52 и там пока что:
[code]

[2021-06-15 09:50] DenisNP opened #224 "Добавить в Brain API разбор паттернов"
### Описание фичи
[Паттерны](https://developer.sberdevices.ru/docs/ru/developer_tools/ide/Patterns/about_patterns) это фразы со специальной разметкой, которые в системе `Smartapp Code` пишутся в блоке `patterns`. Они гораздо точнее и мощнее, чем текущий механизм интентов.

Предлагается сделать поддержку паттернов в [Brain API](https://developer.sberdevices.ru/docs/ru/developer_tools/ide/NLU_core/C

[2021-06-15 10:23] Genenko-Svetlana commented on #209
Предварительно запланировали на 3 квартал 2021

[2021-06-15 10:31] Genenko-Svetlana commented on #128
Уточняю срок

[2021-06-15 11:01] Genenko-Svetlana commented on #33
Корректировка срока. Ориентировочно: 4 кв. 2021 - 1 кв. 2022.
Тикет временно закрываем и переносим в отложенные задачи.

[2021-06-15 11:10] Genenko-Svetlana commented on #198
@asmalakhov-sberdevices

[2021-06-17 07:06] Valkinaz commented on #201
Есть какие-нибудь новости?

[2021-06-18 07:40] Genenko-Svetlana commented on #201
Да, сегодня выяснили, что срок снова перенесен на 01.07.21

[2021-06-21 22:33] nikulin-oleg opened #225 "некорректно распознает фразу «включи greekway"
**Где нашелся баг**: в ассистенте
**Описание проблемы**: ассистент некорректно распознает фразу «включи greekway», меняет на «включи greenway», соответственно запускается не то что мне нужно.
**Проблема воспроизводится у других пользователей?** да
**Дополнительная информация**: смартап Greek Way

[2021-06-22 07:19] talagaev commented on #7
перенос на q4

https://sbtatlas.sigma.sbrf.ru/jira/browse/ATHENADEV-3922

[2021-06-22 07:20] talagaev commented on #26
готово, прошу проверить в 1.71

[2021-06-22 07:25] talagaev commented on #139
это похоже уже фиксанули

[2021-06-22 07:26] talagaev commented on #140
как тут кейс? это ж можно сделать все через vps

[2021-06-22 07:27] talagaev commented on #147
холд до 2022

[2021-06-22 07:27] subnetsRU commented on #26
Точно 1.71 ? На сбербоксе 1.71.43 уже достаточно давно. Вчера вечером тестил и проблема всё ещё была.

closed?

[2021-06-22 07:28] talagaev commented on #169
пока на холд до конца года
https://sbtatlas.sigma.sbrf.ru/jira/browse/ATHENADEV-4911

[2021-06-22 07:30] talagaev commented on #170
фиксы уже в майских релизах

https://sbtatlas.sigma.sbrf.ru/jira/browse/ATHENADEV-4881 https://sbtatlas.sigma.sbrf.ru/jira/browse/ATHENADEV-4614

[2021-06-22 07:30] #170 closed, assigned to talagaev

[2021-06-22 07:30] DenisNP commented on #140
@talagaev можно некоторые подробности? Что такое vps?

[2021-06-22 07:31] talagaev commented on #174
мы такой инструмент предоставили коллегами из смартмаркета

[2021-06-22 07:31] #174 closed, assigned to talagaev, Avalpetrova

[2021-06-22 07:31] talagaev commented on #201
фиксы уже в 1.71

[2021-06-22 07:33] talagaev commented on #31
уже реализовано в новом типе чат-апа, в dialog это делать не будет

[2021-06-22 07:34] subnetsRU commented on #140
+1 к вопросу.

[2021-06-22 07:36] talagaev commented on #140
одно название одной из компонентов nlp платформы, который имеет знания о том закончился ли ттс или нет, поэтому реализация задачи должна быть выполнена на беке, а не в мобильном sdk

[2021-06-22 07:46] Valkinaz commented on #201
@talagaev портал у меня все еще 1.70, проверить не могу. Обновление 1 июля только придет?

[2021-06-22 07:50] Genenko-Svetlana commented on #7
Временно закрываем и переносим в отложенные задачи

[2021-06-22 07:51] subnetsRU commented on #31
А что это за новый тип ? Если реализовано, то как этим воспользоваться ?

[2021-06-22 07:52] subnetsRU commented on #140
Простите, но по прежнему не понятно.

Так как её выполнить ? Как получить эти самые "знания" в свой смартап, который работает по API ?

[2021-06-22 07:53] Genenko-Svetlana commented on #139
@subnetsRU проверьте, пожалуйста

[2021-06-22 07:54] DenisNP commented on #174
@talagaev а можно ссылку на документацию по ссылкам?

[2021-06-22 07:54] Genenko-Svetlana commented on #147
Временно закрываем и переносим в отложенные задачи

[2021-06-22 07:54] #147 closed, assigned to talagaev

[2021-06-22 07:56] DenisNP commented on #140
@talagaev позволяет ли эта платформа, как и попросили разработчики в данном треде:
1. Узнавать, что чтение ассистента было прервано пользователем не закончившись
2. Узнавать, когда ассистент начинает слушать (не говорить) в результате действия пользователя (команды Салют или нажатия на кнопку)

И можно, пожалуйста, ссылку на документацию по реализации данной функции для `Smartapp API` ?

[2021-06-22 08:15] Genenko-Svetlana commented on #169
Временно закрываем и переносим в отложенные задачи

[2021-06-22 08:15] #169 closed, assigned to talagaev

[2021-06-22 08:33] waxerdima commented on #174
@DenisNP например так [companionapp://navigation?pageId=assistant&text=запусти кофемания](url)

[2021-06-22 08:37] DenisNP commented on #174
@waxerdima не подходит, потому что при отсутствии установленного Салюта (а это у большинства людей) у таких ссылок нет фолбэка на установку. Тогда лучше [вот такую](https://catalog.smartmarket.sber.ru/apps/6d76832f-8878-414e-bb5a-4c30a8e425a1/) ссылку давать.

[2021-06-23 08:20] Genenko-Svetlana commented on #16
Новый срок реализации - 3 квартал 2021

[2021-06-23 08:22] Genenko-Svetlana commented on #122
Да. Задача ещё в работе

[2021-06-28 21:05] and7ey opened #226 "Нужен пример пустого приложение CanvasApp, где есть как plasma ui, так и assistant"
https://t.me/smartmarket_community/24421

[2021-06-28 21:18] awinogradov commented on #226
https://github.com/sberdevices/salutejs/tree/master/examples/todo

[2021-06-29 06:48] and7ey commented on #226
Спасибо. Как исключить salutejs и вообще, все, что связано с функциональностью todo в этом?

[2021-06-29 08:01] awinogradov commented on #226
Не смотреть сюда https://github.com/sberdevices/salutejs/tree/master/examples/todo/src/scenario
И удалить это https://github.com/sberdevices/salutejs/blob/master/examples/todo/src/store/index.ts#L9-L44

Стаб для CanvasApp скоро появится в виде отдельного репозитория

[2021-06-29 08:01] #226 closed, assigned to awinogradov

[2021-07-04 03:55] Genenko-Svetlana commented on #139
@subnetsRU проверьте, пожалуйста

[2021-07-04 04:07] #21 closed

[2021-07-04 04:08] #81 closed, assigned to asmalakhov-sberdevices

[2021-07-04 04:11] #23 closed

[2021-07-04 04:27] #86 closed, assigned to asmalakhov-sberdevices

[2021-07-04 04:28] #105 closed, assigned to Genenko-Svetlana

[2021-07-04 04:37] Genenko-Svetlana commented on #128
Пока версия 1.71 не вышла в пром (((

[2021-07-04 04:38] Genenko-Svetlana commented on #201
Пока версия 1.71 не вышла в пром (((

[2021-07-04 05:20] #7 closed

[2021-07-04 05:58] #61 closed, assigned to skobets

[2021-07-05 07:11] Genenko-Svetlana commented on #138
@subnetsRU проверьте, пожалуйста

[2021-07-05 07:21] Genenko-Svetlana commented on #201
09.07.21 выйдет сразу 1.72

[2021-07-05 07:26] Genenko-Svetlana commented on #41
Перенос срока на 4 квартал 2021.
Тикет временно закрываем и переносим в отложенные задачи.

[2021-07-05 07:30] Genenko-Svetlana commented on #208
Срок реализации 3 квартал 2021

[2021-07-05 08:43] subnetsRU commented on #138
Девайсы дома, потому напишу о результате проверки только завтра.

[2021-07-05 08:43] subnetsRU commented on #139
Девайсы дома, потому напишу о результате проверки только завтра.

[2021-07-05 08:44] Genenko-Svetlana commented on #138
Договорились )

[2021-07-05 08:46] subnetsRU commented on #140
Есть же ещё пункт, с него и начался тикет (собственно это я просил сделать).

Нужно понимание того факта, что ассистент закончил озвучивать TTS. Не важно он его договорил до конца или он был прерван пользователем. Нужно понимание, что озвучка закончилась.

Может какой-то новый системный тип сообщений. Типа `messageName: "ANSWER_FINISHED"` или ещё как-то. Главное, чтобы явно отличалось от остальных

[2021-07-05 09:07] subnetsRU commented on #139
Не работает.

Вот первое сообщение:
[code]
Результат на экране кнопка.

Вот второе сообщение:
[code]
Кнопка пропала...

https://user-images.githubusercontent.com/18159237/124446856-7b127f80-dd89-11eb-80a2-1f73003f9c85.mp4

[2021-07-05 09:08] waxerdima commented on #224
@DenisNP а этот метод не подходит https://smartapp-code.sberdevices.ru/documentation/caila-api-swagger#/Inference/simpleInference

[2021-07-05 09:12] waxerdima commented on #139
Поведение на основе документации https://developer.sberdevices.ru/docs/ru/developer_tools/amp/smartapp_api_commands
[code]

[2021-07-05 09:14] subnetsRU commented on #139
Ну так это и хотелось бы изменить. В этом и есть [суть данного тикета](https://github.com/sberdevices/salute-issues/issues/139#issuecomment-763605971).

"do nothing" = "ничего не делай" != "удали все кнопки"

[2021-07-05 09:25] subnetsRU commented on #128
Тогда ждём когда выйдет. Иначе потестить не получится :)

[2021-07-05 10:16] DenisNP commented on #224
@waxerdima а как для этого метода задать список паттернов, по которым разбирать?

[2021-07-05 10:28] talagaev commented on #139
на видео саджест исчезает, тк на его месте появляется фраза пользователя, после нее возвразать прошлый саджест очень странно

[2021-07-05 11:15] alexdremov opened #227 "Webhook в Code на самую последнюю версию"
**Где пригодится фича**
Во время тестирования приложения с внешним смартапом в Smart App Code постоянно приходится копировать – вставлять Webhook при обновлении версии
**Описание фичи**
Сделать в Smart App Code Webhook-alias на самую последнюю опубликованную версию смартапа
**Дополнительная информация**
Этакий proxy который перенаправляет запросы на последнюю версию смартапа

[2021-07-05 11:29] subnetsRU commented on #139
а) Не вижу в этом ничего странного когда backend ответил **do_nothing** (ничего не делай).
б) Это был быстрый тест. Считайте, что вместо моего произнесённого "тест" идёт server_action с фронта. Так как поведение будет точно таким же - кнопка исчезнет с экрана.

Отправляем с фронта server_action:
[code]
Отвечаем с бэка do_nothing:
[code]
Всё, саджесты исчезли.

[2021-07-05 12:35] alexdremov opened #228 "Глобальные интенты в смартапп"
**Где пригодится фича**
Глобальные интенты важны, но когда пользователь взаимодействует с одним конкретным приложением, они только вредят

**Описание фичи**
У Алисы, например, если пользователь внутри навыка, то он взаимодействует только с этим навыком и только с ним – что логично. У Салюта во время использования Native App, взаимодействие может быть прервано внешним интентом или активационной фра

[2021-07-05 12:42] alexdremov commented on #228
Дубликат #16

[2021-07-05 12:42] #228 closed, assigned to Lytkini

[2021-07-05 12:56] alexdremov opened #229 "Исправление орфографии"
**Где нашелся баг**
App Studio Code – корректор орфографии только все ломает. Примеры прилагаю

**Описание проблемы**
Вместо исправления ошибочных слов он исправляет верные слова на бред.
В текущей реализации эта фича совершенно не пригодна к использованию

**Проблема воспроизводится у других пользователей?**: **да**
**Дополнительная информация**

<a href="https://imgbb.com/"><img src="https://i.i

[2021-07-05 14:44] waxerdima commented on #229
Исправление орфографии работает согласно документации https://developer.sberdevices.ru/docs/ru/developer_tools/ide/platform_ux/nlu_core_caila/spellcheck если вам не нравится предложенные варианты вы можете выбрать "Не исправлять".

[2021-07-06 06:56] subnetsRU commented on #138
Проверил.

На SberBox проблема перестала воспроизводиться, т.е. исправлена.

А вот на SberPortal нет, проблема по прежнему актуальна:
[code]
Результат на видео https://disk.yandex.ru/i/HTNFvi4DQA5Q6g

[2021-07-06 11:22] Genenko-Svetlana commented on #138
Ждем версию SberPortal 1.72 до конца недели

[2021-07-06 11:23] Genenko-Svetlana commented on #128
Ждем версию SberPortal 1.72 до конца недели

[2021-07-07 13:47] alexdremov opened #230 "Bubble{ text } в тестовом виджете Smart App Code"
**Где нашелся баг**

В Smart App Code

**Описание проблемы**

Не отображается raw ответ вида
[code]
**Проблема воспроизводится у других пользователей?**

App Studio один у всех, должно воспроизводиться

**Дополнительная информация**

Долго дебажил через виджет так как отправлял текстовые запросы в формате raw по документации, но они не отображались. **Протестировал на SberBox – все отображаются.**

[2021-07-07 13:59] Genenko-Svetlana commented on #230
А он и не должен отображаться. Да и простой текст можно без всяких raw показать.
(https://developer.sberdevices.ru/docs/ru/developer_tools/ide/JS_API/variables/response)

[2021-07-07 14:00] Genenko-Svetlana commented on #230
![Uploading Снимок экрана 2021-07-07 в 16.53.24.png…]()

[2021-07-07 14:18] alexdremov commented on #230
Окей, но такое раздвоение тестового режима и production – bad practice

[2021-07-07 14:27] Genenko-Svetlana commented on #230
Спасибо, за предложение.
У нас тестирование не заканчивается на виджете. Необходимо еще на устройствах проверить, а там эти данные будут.

[2021-07-08 11:22] sasha-tlt opened #231 "SmartAppBrain. Не работает заполнение слотов с одинаковыми числами во фразе"
**У нас есть интент для распознавания фразы сложения двух чисел. Если указывать разные числа - работает как ожидается, заполняются оба слота. Если числа одинаковые - заполняется только один слот. Кажется, это неправильное поведение.**

**Интент**
![image](https://user-images.githubusercontent.com/1321399/124913170-dcdc1f00-dfff-11eb-8899-f23576856039.png)

**Если во фразе разные числа, работает ка

[2021-07-11 13:45] and7ey opened #232 "Функция inflect склоняет только одно слово"
**Где нашелся баг**: Code
**Описание проблемы**: inflect("Железная штука", "accs") возвращает "железная штуку", а нужно возвращать "Железную штуку". И не трогать регистр.
**Проблема воспроизводится у других пользователей?** Думаю, да.

[2021-07-11 16:01] and7ey opened #233 "Лог ошибки в тестовом виджете Code показывает неправильную строку"
**Где нашелся баг**: Code
**Описание проблемы**: Лог ошибки в тестовом виджете Code показывает неправильную строку с ошибкой
**Проблема воспроизводится у других пользователей?** Не знаю.
**Дополнительная информация**: Как воспроизвести ошибку -

1. допустить ошибку в коде на js
2. получить в тестовом виджете сообщение "Возникла ошибка посмотреть лог ошибки".
3. кликнуть на ссылку
4. увидеть сообще

[2021-07-11 18:29] and7ey opened #234 "Некорректный порядок вывода $jsapi.log"
**Где нашелся баг**: Code
**Описание проблемы**: Записываешь в Code несколько $jsapi.log (например, log("1"), log("2"), в консоли Code результат вывода отображается в произвольном порядке даже в рамках одного script (например, в консоли может быть сначала 2, а потом 1).
**Проблема воспроизводится у других пользователей?** не знаю.

[2021-07-11 21:32] waxerdima commented on #232
https://developer.sberdevices.ru/docs/ru/developer_tools/ide/JS_API/built_in_services/nlp/inflect как написано в документации:

[2021-07-11 21:34] waxerdima commented on #233
Для воспроизведения проблемы требуется предоставить исходный код. Пришлите нам его пожалуйста. (То что качается строки кода). По поводу "сообщение в этом окне не показывается целиком" после проверки заведем задачу.

[2021-07-12 06:18] and7ey commented on #233
У себя я ошибку в коде, конечно же, поправил уже. Добавлять ошибку и ждать пока вы посмотрите - не очень хочется.
Зачем вам пример кода? У вас проблема не воспроизводится?

[2021-07-12 06:20] and7ey commented on #232
Нужно использовать
[code]
? Давайте тогда в feature request переведем этот issue.
Ну и с регистром точно баг. В документации не вижу, что регистр меняется.

[2021-07-12 07:50] waxerdima commented on #233
Что бы воспроизвести проблему нужен код, код вы не предоставили.

[2021-07-12 08:19] and7ey commented on #233
Сходу воспроизвести проблему не удалось. Как столкнусь снова - пришлю ссылку на версию и скриншот с неверной строкой.

[2021-07-13 05:45] #230 closed, assigned to skobets

[2021-07-13 05:49] Genenko-Svetlana commented on #231
Взяли в работу. Срок - 30.09.21

[2021-07-13 05:55] Genenko-Svetlana commented on #233
Тикет пока закрываю, если ошибка повторится, напишите, пожалуйста

[2021-07-13 05:58] Genenko-Svetlana commented on #234
Взяли задачу в работу, срок - 3 квартал 2021

[2021-07-13 07:51] waxerdima commented on #232
Не переведем.
[code]

[2021-07-13 11:00] vitalets opened #235 "[SmartApp API] В урле вебхука отрезаются get-параметры"
**Где нашелся баг**:
в инструментах

**Описание проблемы**:
При отправке запросов в урле вебхука отрезаются get-параметры.
Например, я в настройках смартапа задал вебхук `https://webhook.site/fae6580f-da8d-4aeb-83fe-ac0ce43f0d35?foo=42`
А запросы приходят на `https://webhook.site/fae6580f-da8d-4aeb-83fe-ac0ce43f0d35` (без `foo`)
Из-за этого есть некоторые неудобства на бекенде.

**Проблема воспрои

[2021-07-13 15:15] waxerdima commented on #235
Добрый день, только что проверил вот такой вебхук https://85a3c463adf60778d640d01ba55e7125.m.pipedream.net?foo=42 и получил значение
<img width="147" alt="Снимок экрана 2021-07-13 в 18 14 48" src="https://user-images.githubusercontent.com/1477455/125477823-c76f0462-e4ef-43bc-86dc-4e8f45c083ed.png">

[2021-07-13 19:37] and7ey commented on #233
<img width="874" alt="Снимок экрана 2021-07-13 в 22 35 17" src="https://user-images.githubusercontent.com/900474/125514308-946fe62b-ccd5-4f20-93ca-bbff0e628380.png">

- вот пример некорректной строки в сообщении об ошибке

[2021-07-13 20:11] and7ey opened #236 "Тестовый виджет не отображает сообщения, если они заданы в $context.response.replies с типом raw"
**Где нашелся баг**: Code & Test Widget
**Описание проблемы**: Тестовый виджет не отображает сообщения, если ответ формируется полностью вручную через $context.response.replies (с типом raw)
**Проблема воспроизводится у других пользователей?** не знаю.
**Дополнительная информация**: Если оставить ответ в тэгах `a:`, то эти тексты в виджете отображаются.

[2021-07-14 03:20] Genenko-Svetlana commented on #236
Конкретно это поведение описано в документации: https://developer.sberdevices.ru/docs/ru/developer_tools/ide/JS_API/variables/response (под пунктом формирование ответов типа raw).
Внимание! Не тестируйте сценарий, в котором есть $rawResponse, в тестовом виджете! Если вы добавите $rawResponse в сценарий, а затем нажмете Тестировать, SmartApp Code вернет ошибку, так как смартап не может получить дан

[2021-07-14 08:02] and7ey commented on #236
На самом деле это не так работает. Если нажать Тестировать, то никакой ошибки нет (хотя в идеале бы выводить сообщение, что тестовый виджет не поддерживает код с $context.response.replies), просто ответы от Бота становятся пустыми. И это вводит в заблуждение - я долго разбирался с кодом, пытаясь понять почему же ответа нет.

Кстати, $context.response.replies с типом raw и $rawResponse - это одно и

[2021-07-14 08:20] Genenko-Svetlana commented on #236
Взяли в работу. До конца недели внесем корректировки в документацию

[2021-07-15 14:10] and7ey commented on #233
@Genenko-Svetlana переоткроем issue?

[2021-07-16 09:06] vitalets commented on #235
Привет! А можешь плз проверить через https://webhook.site ?

[2021-07-18 10:11] vitalets opened #237 "Frontend-first canvas apps!"
Сейчас в канвас аппах платформа шлет запрос в бэк, который уже потом обновляет фронт.

**Идея**
Пусть платформа шлет запрос только во фронт. И уже фронт сам решит, нужно ли ему ходить на бэк или нет.
И если нужно, то по какому протоколу, итд.

Это более привычная схема. Все мобильные приложения строятся именно так: платформа кидает эвенты в ui, а дальше уже приложение ходит на бэк. Смарт ТВ прилож

[2021-07-18 11:39] Genenko-Svetlana commented on #237
В репозитории salutejs есть пример echo, который имитирует ровно это поведение. Посмотрите, пожалуйста.

[2021-07-19 07:25] Valkinaz commented on #201
@Genenko-Svetlana у меня портал все еще 1.70.52. Обновление уже вышло? Если да, то может подскажите как его заставить обновиться?

[2021-07-20 12:05] and7ey opened #238 "В истории SmartMarket Studio время отображается в каком-то неизвестном часовом поясе"
**Где нашелся баг**: SmartMarket Studio
**Описание проблемы**: время в неизвестном часовом поясе в Истории, очень неудобно пользоваться
тут - https://developers.sber.ru/studio/workspaces/<>/smartapp/projects/<>/draft/history
**Проблема воспроизводится у других пользователей?** не знаю.

[2021-07-20 12:36] IgorEgorin commented on #201
Баг всё еще воспроизводится.
Текущая версия 1.70.52

[2021-07-20 13:18] IgorEgorin opened #239 "Кнопки-подсказки отображаются поверх иконки открытия клавиатуры и добавление аватара"
**Где нашелся баг**: Сберпортал
**Описание проблемы**: Кнопки-подсказки отображаются поверх иконки открытия клавиатуры и добавление аватара. Видно на скриншоте.
![2021111103](https://user-images.githubusercontent.com/24498645/126330881-7c08a07e-e6f2-456b-aee9-fc154fcc6c2f.png)

**Проблема воспроизводится у других пользователей?** не знаю.
**Дополнительная информация**: Воспроизводится не всегда. З

[2021-07-20 13:49] IgorEgorin opened #240 "Можно сделать так, чтобы кнопки-подсказки висели пока пользователь не сделает дальнейшие действие?"
Кнопки-подсказки быстро исчезают. Буквально через пару секунд как закончилась озвучка.
В результате, варианты кнопок, которые были в нижней части экрана пропадают.
Их там может быть по 5-7 штук
Итог: Пользователь не успевает запомнить названия кнопок и сделать выбор.
Прикладываю скрины изображения экрана с кнопками и без.
![photo_2021-07-20_16-45-20](https://user-images.githubusercontent.com/24498

[2021-07-20 13:53] Genenko-Svetlana commented on #240
Если отключить автослушание в сценарии, то тогда они не будут исчезать.

Вопрос: какой инструмент вы используете для создания смартапа: граф или код?

[2021-07-20 14:08] Genenko-Svetlana commented on #239
Подскажите, пожалуйста, какая версия на СберПортале?
На какой запрос чаще всего воспроизводится наложение?

[2021-07-20 14:26] IgorEgorin opened #241 "Не отображать слова, которые пользователь произносит ассистенту"
**Где пригодится фича**: В ассистенте
**Описание фичи**:
Не отображать слова, которые пользователь произносит ассистенту.
Выводить на экран только готовую фразу.
**Дополнительная информация**:
Зачем печатать,то что говорит пользователь ассистенту?
Ведь он все равно не может на это повлиять (изменить слова).
Может не отображать, то что пишется под диктовку, а сразу выводить готовый результат на экр

[2021-07-20 14:45] IgorEgorin commented on #240
По поводу инструмента, думаю лучше скажет @Valkinaz

[2021-07-20 14:48] Valkinaz commented on #240
Code
Если автослушание отключить, то пользователю на каждый новый ответ придется щелкать по кружочку или запускать активационной фразой. Мне кажется, это будет неудобно в диалоге.

[2021-07-21 03:17] Genenko-Svetlana commented on #238
Взяли задачу в работу. Срок реализации - 01.08.2021

[2021-07-21 03:26] Genenko-Svetlana commented on #241
Спасибо за комментарий.
Это сделано специально, для того, чтобы пользователи видели, как распознается их речь.

[2021-07-21 03:26] #241 closed, assigned to talagaev

[2021-07-21 03:28] Genenko-Svetlana commented on #239
@IgorRepository @Valkinaz

[2021-07-21 03:31] Genenko-Svetlana commented on #237
@vitalets

[2021-07-21 03:31] Genenko-Svetlana commented on #235
@waxerdima

[2021-07-21 03:34] #232 closed, assigned to skobets

[2021-07-21 03:35] #229 closed, assigned to skobets

[2021-07-21 03:37] Genenko-Svetlana commented on #224
@waxerdima

[2021-07-21 03:38] Genenko-Svetlana commented on #221
@waxerdima

[2021-07-21 03:38] Genenko-Svetlana commented on #204
@christinadomanskaya

[2021-07-21 04:20] Genenko-Svetlana commented on #201
Версия 1.72 вышла в пром сегодня ночью

[2021-07-21 04:21] Genenko-Svetlana commented on #122
Версия 1.72 вышла в пром сегодня ночью

[2021-07-21 04:22] Genenko-Svetlana commented on #138
Версия 1.72 вышла в пром сегодня ночью

[2021-07-21 07:11] subnetsRU commented on #241
+1 убирать нельзя.

[2021-07-21 07:20] Genenko-Svetlana commented on #236
Уточнили поведение ответов типа raw в тестовом виджете тут:
https://developer.sberdevices.ru/docs/ru/developer_tools/ide/bot_answers/message_types#raw
и тут
https://developer.sberdevices.ru/docs/ru/developer_tools/ide/JS_API/variables/response

[2021-07-21 07:55] vitalets commented on #237
Да, это я видел: https://github.com/sberdevices/salutejs/tree/master/examples/echo
Вот мое предложение как раз получать такой же результат, только без эхо-сервера :)

[2021-07-21 07:57] Valkinaz commented on #241
Я думаю стоило связать это с тикетом о том, что очень быстро пропадают кнопки-подсказки. Ассистент ведь начинает слушать, а пропадают саджесты для того, чтобы выводить распознаваемый текст. Поэтому встает вопрос о том, что полезнее: видеть саджесты или видеть распознаваемый текст. На последний пользователь по факту никак не может повлиять, если ассистент неправильно что-то распознал, то это не исп

[2021-07-21 08:55] Genenko-Svetlana commented on #198
Взяли в бэклог. Срок реализации - до 31.12.2021
Тикет временно закрываем и переносим задачу в отложенные.

[2021-07-21 08:55] #198 closed, assigned to skobets

[2021-07-21 09:24] IgorEgorin commented on #239
1. На момент написания бага была 1.70.* , но на текущей версии 1.72.29 баг так же есть.

2. Как пример, воспроизводится в меню "Уточнить параметры" после выдачи вакансии с сайта Rabota.ru

Шаги:
Запустить фразой "Запусти поиск работы"
Указать город
Указать должность
Указать зарплату
После выдачи вакансии, выбрать "Уточнить параметры"

Будет воспроизведен скриншот из описания ошибки.

[2021-07-21 09:29] Valkinaz commented on #201
Спасибо, все ок теперь

[2021-07-21 09:37] IgorEgorin commented on #241
Ссылка на тикет про "очень быстро пропадают кнопки-подсказки" https://github.com/sberdevices/salute-issues/issues/240

[2021-07-21 09:53] Genenko-Svetlana commented on #201
Ура!

[2021-07-21 09:53] #201 closed, assigned to talagaev

[2021-07-21 11:21] awinogradov commented on #237
In progress ;)

Best regards,

Anton Vinogradov
***@***.***
On 21 Jul 2021, 10:55 +0300, Vitaliy Potapov ***@***.***>, wrote:

[2021-07-21 11:21] awinogradov commented on #237
In progress 😉

[2021-07-22 07:04] subnetsRU commented on #122
Проверил. Долго тыкал, но проблему воспроизвести не удалось. Надеюсь потому, что реально зафикшено :)

[2021-07-22 07:06] subnetsRU commented on #128
[code]
[code]
Появилось. Спасибо.

[2021-07-22 07:06] #128 closed, assigned to awinogradov

[2021-07-22 07:11] subnetsRU commented on #138
Проверил. Да, canvas стал открываться и при некорректных asr_hints, но при этом появилась другая проблема. Вызов ассистента срабатывает только со второго раза. Т.е. тыкаешь в лавашар, на секунду появляется "говорите" и пропадает. Только со второй попытки удаётся сказать ассистенту что-то.

Вот видео. В обоих случаях asr_hints я давал такие же как при [тестах ранее](https://github.com/sberdevices/s

[2021-07-22 08:01] Genenko-Svetlana commented on #204
@subnetsRU проверьте, пожалуйста. Должно уже полечиться )))

[2021-07-22 11:27] subnetsRU commented on #204
Хорошо, понаблюдаю.

[2021-07-22 15:07] subnetsRU commented on #204
Похоже, что всё ещё актуально. "surfaceVersion": "1.71.43-star"
[code]
... тут взаимодействие с апом.... и вот один из ответов перед последующим сообщением
[code]
И через 23 сек:
[code]
Снова видим true.

И с выходом у него тоже было не всё гладко:
[code]
[code]
Сообщения идут подряд. Т.е. получается человек вышел два раза на отрезке в 9 сек.

И таких опять больше чем один.

Человек с "surfaceVers

[2021-07-26 09:42] Genenko-Svetlana commented on #236
@and7ey

[2021-07-26 10:52] Genenko-Svetlana commented on #138
Похоже на минорную проблему, взяли в бэклог. Срок реализации - 31.12.2021.
Тикет временно закрываем и переносим в отложенные задачи.

[2021-07-26 10:53] RulevAnton commented on #225
@nikulin-oleg добрый день!
исправлено на проме.

исправление нужно для приложения сбербанк онлайн? или только для сбербокс, портала ..?

[2021-07-26 12:46] Genenko-Svetlana commented on #238
@and7ey исправили, проверьте, пожалуйста

[2021-07-26 15:46] and7ey commented on #238
что-то у меня в истории теперь совсем пусто

[2021-07-26 16:35] Genenko-Svetlana commented on #238
Навык не публиковали в ближайшее время?

[2021-07-26 18:19] and7ey commented on #238
Публиковал 4 дня назад.

[2021-07-27 07:45] #238 closed, assigned to xoxulin

[2021-07-28 12:21] IgorEgorin commented on #239
@Genenko-Svetlana
Есть ли какие новости?

[2021-07-28 12:39] IgorEgorin opened #242 "Листать карусель фразами "Пролистни вправо" или "Пролистни влево""
**Где пригодится фича**: в ассистенте
**Описание фичи**:
Предлагаю такую фичу: После отображения карусели, пролистывать её фразами "Пролистни вправо" или "Пролистни влево"
**Дополнительная информация**:
За пример возьму поиск вакансии на Работа.Ру
После выдачи вакансии было бы удобно листать карточки вакансии голосом, произнеся фразу "Пролистни вправо" или "Пролистни влево" (Вместо того чтобы дела

[2021-07-28 12:48] IgorEgorin commented on #240
@Genenko-Svetlana

[2021-07-30 08:06] and7ey opened #243 "Статистика по всем своим смартапам в одном месте"
**Где пригодится фича**: Code и Graph
**Описание фичи**: сейчас, чтобы посмотреть статистику использования смартапов, нужно заходить в каждый проект отдельно. Это долго и неудобно. Было бы здорово, если бы
1) статистику по всем апам можно было бы смотреть в одном месте,
2) она бы приходила, например, раз в неделю, на email.

В идеале добавить бы еще открытые данные для сравнения с конкурентами - н

[2021-07-30 08:26] NikolayPakhomov commented on #243
Добрый день! Спасибо за интересные предложения, обязательно учтем. Мы планируем доработки в части статистики. Целимся на следующий год, поэтому пока тикет переношу в отложенные.

[2021-07-30 08:26] #243 closed, assigned to filomat

[2021-07-30 10:59] subnetsRU commented on #122
Сейчас от ваших коллег из команды тестирования получил сообщение о том, что у них баг по прежнему периодически воспроизводится :(

[2021-08-03 04:31] NikolayPakhomov commented on #233
@and7ey  Добрый день! Проверим и исправим. По срокам сказать сложно, так как баг встречается нечасто. Ориентировочно до конца года, но будьте, пожалуйста, готовы, что срок может сдвинуться.

[2021-08-03 04:35] Genenko-Svetlana commented on #233
Переносим в отложенные

[2021-08-03 04:37] Genenko-Svetlana commented on #225
@nikulin-oleg проверьте, пожалуйста. Исправлено.

[2021-08-03 04:37] #225 closed, assigned to RulevAnton

[2021-08-03 04:40] Genenko-Svetlana commented on #204
В описанном кейсе между new_session: false и new_session: false был голосовой запрос “который час“, т.е. был вызов навыка времени

[2021-08-03 07:23] subnetsRU commented on #204
Интересная новость. Т.е. при запросе времени мой смартап не закрывается, затем идёт ответ о времени и возврат управления в мой смартап. Я верно понял?

Раз мой смартап не закрывается на это время, то логично, что тогда и new_session должна быть false, а никак не true.

Тогда прошу этот тикет превратить в фичареквест.

[2021-08-03 07:35] sergeyzhirkov opened #244 "В Graph не работает блок Завершение сценария"
При разработке через Graph, если выбрать новый режим чатапа - "открывать в отдельном окне", то блок завершения сценария не отрабатывает.
Пользователь остаётся на уровне смартапа и не может из него выйти.
Проблема воспроизводится в разных чатапах.
Пока пришлось перенести обработку логики выхода на подсказку "выйти" (она работает корректно).

[2021-08-04 20:37] nikulin-oleg commented on #225
Да, везде нужно

[2021-08-04 20:38] nikulin-oleg commented on #225
спасибо! работает

[2021-08-05 07:51] waxerdima commented on #242
Добрый день, а почему вы сами это не реализуете в вашем канвас приложении?

[2021-08-05 08:33] waxerdima commented on #235
Зачем мне проверять на https://webhook.site?

[2021-08-05 10:08] waxerdima commented on #218
Добрый день, задача в работе, но точных сроков по ней назвать не можем. Причина падения тестов, большая нагрузка и у разных навыков она разная, все зависит от сценария.

[2021-08-05 10:13] waxerdima commented on #227
Добрый день, сейчас в студии такое поведение уже есть, вы можете выбрать не SmartApp API а Code и указать нужный навык и сборку, которую использовать.
<img width="511" alt="Снимок экрана 2021-08-05 в 13 11 34" src="https://user-images.githubusercontent.com/1477455/128333243-ceb9383c-ae1d-4686-824f-b1f7dee68a58.png">

[2021-08-05 11:29] IgorEgorin commented on #242
@Valkinaz

[2021-08-05 11:30] IgorEgorin commented on #239
@Genenko-Svetlana

[2021-08-05 11:32] IgorEgorin commented on #240
@Genenko-Svetlana

[2021-08-05 11:38] Valkinaz commented on #242
@waxerdima это не канвас, это чатапп, сделанный в Code

[2021-08-05 11:53] waxerdima commented on #242
Тогда расскажите, что за карусель вы используете в чатаппе?

[2021-08-05 11:55] Valkinaz commented on #242
[code]

[2021-08-05 14:20] alexdremov commented on #227
Да, issue был открыт до этого обновления
Спасибо

[2021-08-05 14:20] #227 closed, assigned to skobets

[2021-08-05 15:03] Ibragimow commented on #221
По результатам внутреннего обсуждения решили пока фичу не реализовывать, в бэклог не включать.
Спасибо за идею!

[2021-08-05 15:03] #221 closed, assigned to asmalakhov-sberdevices

[2021-08-07 08:03] vitalets commented on #235
Потому что это шаги воспроизведения бага.

Можно и локально проверить:
1. Запустить локальный сервер на порту 8080: `npx http-server`
2. Создать туннель: `ngrok http 8080`
3. Проверить локальным запросом с гет-параметрами: `curl -X POST 'https://a2ba5616558f.ngrok.io/some-path/?foo=42'`. В логах сервера гет-параметр есть:
[code]
4. Взять тот же урл и вставить в поле вебхук в студии:
   ![image](ht

[2021-08-10 14:22] vitalets commented on #235
@waxerdima @skobets Ребята, посмотрите в чем тут дело?

[2021-08-12 19:16] vitalets opened #245 "В Салюте на ios обрезается текст под gallery_card"
**Где нашелся баг**:
В Салюте на ios.

**Описание проблемы**:
При выводе изображения gallery_card текст под изображением обрезается (max_lines указан 0, т.е. без ограничений).
Пример:
[code]
Скрин:
<img src="https://user-images.githubusercontent.com/1473072/129254226-887612d0-a00a-4a6e-aaa1-dba009ea2bd4.jpg" width="200">

Бабл можно растянуть, только добавив нужное кол-во `\n` в конец текста:
[cod

[2021-08-14 11:48] sergeyzhirkov opened #246 "Добавить возможность зацикливать аудио в Graph"
Фича пригодится при разработке смартапа на графе.
Иногда нужно включить музыку в фоновом режиме, и чтобы она не отключалась (зациклить какой-то фоновый звук).
Сейчас приходится делать несколько экранов и в каждый добавлять одинаковую звуковую дорожку, что конечно не удобно и общая звуковая дорожка конечна. При этом в ресурсах проекта сохраняется только один звуковой файл, то есть граф понимает что

[2021-08-14 12:05] sergeyzhirkov opened #247 "Добавить таймер для блока "переход" в Graph"
Фича пригодится при использовании блока переход в графе.
Есть несколько последовательных экранов с блоками перехода от одного к следующему. Нужно чтобы они открывались с небольшой задержкой, а не все сразу летели на экран.
Нужно чтобы была возможность показывать пользователю информацию (текст например) дозировано, устанавливая временной интервал (например, 3 секунды). Без интентов (голосового ввод

[2021-08-14 12:26] sergeyzhirkov opened #248 "Показывать в разделе аналитики какой тип ассистента (персонажа) был выбран при использовании смартапа"
Фича пригодится в разделе аналитики SmartMarket Studio
Эта информация может помочь при продумывании диалогов для сценария смартапа (возможно игры). Чтобы представлять, какой тип ассистента чаще всего выбран при использовании твоего смартапа. Конечно в смартапе предусматривается отдельная ветка диалога для каждого типа персонажа (Сбер, Афина, Джой), но у них разная скорость речи и хотелось бы поним

[2021-08-14 19:27] and7ey opened #249 "Сервис конвертации google-таблиц не работает с id"
**Где нашелся баг**: https://smartapp-code.sberdevices.ru/tools/api/csv2json
**Описание проблемы**: https://smartapp-code.sberdevices.ru/tools/api/csv2json?id=xxxx возвращает ошибку -
[code]
Требуется параметр url, хотя судя по документации нужен url **или** id.
**Проблема воспроизводится у других пользователей?** не знаю
**Дополнительная информация**: Whitelabel Error Page тоже бы неплохо поправи

[2021-08-14 19:32] and7ey opened #250 "Сервис чтения Google-таблиц возвращает 404"
**Где нашелся баг**: https://smartapp-code.sberdevices.ru/tools/api/googlesheet2json
**Описание проблемы**: https://smartapp-code.sberdevices.ru/tools/api/googlesheet2json?sheet=2&id=xxx возвращает 404
**Проблема воспроизводится у других пользователей?** не знаю.
**Дополнительная информация**: https://tools.aimylogic.com/api/googlesheet2json?id=xxx, кстати, отрабатывает корректно (таким образом, п

[2021-08-15 12:53] waxerdima commented on #250
Спасибо за сигнал, но мы в курсе и уже работает над исправлением, на следующей недели планируем выпустить исправление.

[2021-08-15 12:54] waxerdima commented on #249
Спасибо за сигнал, но мы в курсе и уже работает над исправлением, на следующей недели планируем выпустить исправление.

[2021-08-15 12:55] and7ey commented on #249
Несколько пугает, что такое важный сервис может несколько дней не работать :(

[2021-08-15 13:01] waxerdima commented on #249
Я понимаю ваше негодование, но это сторонний сервис и мы не можем гарантировать, что он не поменяет API. Вы можете напрямую использовать последнее API google таблиц в своих приложениях прямо сейчас или дождаться исправления нашего сервиса tools. Извиняемся за неудобства.

[2021-08-15 13:05] and7ey commented on #249
Глядя на URL сервиса кажется, что он все-таки ваш, а не сторонний :).
Использовать API Google-таблиц в Graph, думаю, не выйдет. А если выйдет, то зачем вы в документации пишете про сервис csv2json, если есть простой способ обойтись без него? :)

[2021-08-15 14:14] waxerdima commented on #249
Сервис tools наш, но использует он сторонне (API google таблиц). Вы свободно можете использовать в том числе и в графе API google. Если интересует, как то приходите в чат поддержки в телеграмм, я там вам отвечу. Сервис tools создан для упрощения работы с внешними данными, но из-за изменения внешнего API временно не работает и мы прилагаем все усилия для его восстановления, но надо немного подождат

[2021-08-16 11:45] waxerdima commented on #235
Я проверил локально, у меня все передается
<img width="548" alt="Снимок экрана 2021-08-16 в 14 44 15" src="https://user-images.githubusercontent.com/1477455/129558513-a50720ea-ae67-4332-ad60-028c8b4c95b3.png">
<img width="180" alt="Снимок экрана 2021-08-16 в 14 44 29" src="https://user-images.githubusercontent.com/1477455/129558547-3a6e7c6b-db86-4028-8c77-86b0814caa9d.png">

[2021-08-17 09:08] vitalets commented on #235
Так, ну и какие варианты решения?) Надо прикинуть, какой фактор мы не учитываем.
Как минимум предлагаю попросить ребят из чата проверить.

[2021-08-18 08:22] Genenko-Svetlana commented on #249
@and7ey Исправили. Проверьте, пожалуйста.

[2021-08-18 08:23] Genenko-Svetlana commented on #250
@and7ey Исправили. Проверьте, пожалуйста.

[2021-08-18 14:51] and7ey commented on #250
Работает! Спасибо!

[2021-08-18 15:44] #250 closed, assigned to skobets

[2021-08-18 19:38] and7ey commented on #249
По-прежнему требует url, хотя передано id.

[2021-08-18 19:47] waxerdima commented on #249
А зачем вам сейчас этот сервис?

[2021-08-18 19:48] and7ey commented on #249
Светлана попросила проверить - я проверил :).
Мне этот сервис не нужен, мне нужен googlesheet2json.

[2021-08-19 05:08] Genenko-Svetlana commented on #239
Планируемый срок - 01.09.21

[2021-08-19 05:10] Genenko-Svetlana commented on #248
Спасибо за предложение!
Возьмем задачу в бэклог, но с низким приоритетом.
Если будут еще запросы от пользователей по этой задаче, то приоритет повысим.
Пока тикет временно закрываем и переносим задачу в отложенные.

[2021-08-19 05:10] #248 closed, assigned to asmalakhov-sberdevices

[2021-08-19 05:21] Genenko-Svetlana commented on #240
В настоящее время этот кейс решается отключением автослушания.

[2021-08-19 05:25] Genenko-Svetlana commented on #246
Данный функционал не планируется к реализации. Рекомендуем выбрать канвас приложение, а не чатап.

[2021-08-19 05:25] #246 closed, assigned to asmalakhov-sberdevices

[2021-08-19 05:27] Genenko-Svetlana commented on #247
Данный функционал не планируется к реализации. Асинхронной работы протокола нет. Соответственно без запроса к нам мы не можем отправить ответ.
Рекомендуем выбрать канвас приложение, а не чатап.

[2021-08-19 05:27] #247 closed, assigned to asmalakhov-sberdevices

[2021-08-19 05:31] Genenko-Svetlana commented on #242
В чатапх голосовая навигация по элементам чата (карточки и баблы) действительно не поддержана. И в ближайших планах этой задачи нет. А тесты показывают, что пользователям в похожих кейсах проще управлять пультом или тачем.

[2021-08-19 05:31] #242 closed, assigned to asmalakhov-sberdevices

[2021-08-19 08:27] Genenko-Svetlana commented on #16
@subnetsRU @vitalets @DenisNP проблема ещё актуальна?

[2021-08-19 08:35] Genenko-Svetlana commented on #249
Сейчас с гугл таблиц нельзя получить csv. Соответственно, этим методом никто воспользоваться не сможет.
Мы внесем изменения в документацию:
вместо -  https://developer.sberdevices.ru/docs/ru/developer_tools/flow/publication_channels/google_tables/csv_to_json
будет - https://developer.sberdevices.ru/docs/ru/developer_tools/flow/bots_structure/blocks/using_variable_in_url

[2021-08-19 09:54] vitalets commented on #16
Проверил в салюте фразы "Время" и "Дальше" - сообщения приходят и обрабатываются смартапом. Т.е. все хорошо, проблемы не наблюдаю.

**UPDATE:** забыл указать, что проверял в чатапе. Судя по комменту ниже это важно.

[2021-08-19 10:04] vitalets commented on #240
Поддержу автора тикета. Было бы удобно, чтобы саджесты исчезали только тогда, когда пользователь начал говорить, либо нажал на один из саджестов.
Думаю, что сейчас проблема связана исключительно с UX: при слушании ассистент пишет "Говорите" и для этого нужно освободить место, поэтому саджесты пришлось скрывать. Но это надо попросить дизайнеров придумать, как лучше сделать.
Логически показ/скрытие

[2021-08-19 10:21] vitalets opened #251 "[SmartApp API] Запросы от Сбер-платформы не доходят до api gateway Яндекс.Облака"
**Где нашелся баг**:
в инструментах

**Описание проблемы**:
Есть вебхук, развернутый на api gateway Яндекс.облака `https://d5daobsjh4k53557c2nk.apigw.yandexcloud.net/test/sber`.

Он корректно обрабатывает запросы от сбера.
<details>
<summary>Можно проверить через curl:</summary>

[code]
Ответ:
[code]
</details>

Вставляю этот же урл в качестве вебхука в студии:
![image](https://user-images.githubu

[2021-08-19 10:43] Genenko-Svetlana commented on #251
Пришлите, пожалуйста, messageId. Попробуем посмотреть логи.

[2021-08-19 14:28] vitalets commented on #251
[code]

[2021-08-19 14:41] Genenko-Svetlana commented on #251
Запрос ушёл в навык и навык вернул ERROR, http code = 426.
Ошибка на стороне Яндекса.

[2021-08-19 15:10] vitalets opened #252 "Не закреплять жестко обращение на "ты/вы" за персонажами"
**Где пригодится фича**:
в ассистенте, в приложении.

**Описание фичи**:
Сейчас по правилам платформы Сбер и Афина обязаны всегда обращаться к пользователю на "вы", а Джой - всегда на "ты". Понятно, какая мотивация была у этого решения на старте, но сейчас кажется что такое жесткое правило чаще доставляет неудобства и разработчикам и пользователям.

Несколько цитат из чата:

Т.е. фишка это когда п

[2021-08-19 15:16] vitalets commented on #251
А можно посмотреть полный HTTP лог запроса?

[2021-08-19 15:17] vitalets commented on #251
Когда запросы до Яндекса доходят, их видно:
![image](https://user-images.githubusercontent.com/1473072/130094890-0912ffb9-4ad3-4394-bc55-fe7c0bfd9fbd.png)

[2021-08-19 15:32] subnetsRU commented on #252
Во-первых, плюсуюсь к тикету.

Во-вторых, правильным бы было запросить именно возможность менять official для любого голоса в системе. Ну например:
[code]
Всё что нужно будет сделать, чтобы несмотря на character.id Джой установить флаг `character.appeal = official`.
[code]
Всё что нужно будет сделать, чтобы не смотря на character.id Афины установить флаг `character.appeal = no_official`.

Таким об

[2021-08-20 10:50] subnetsRU commented on #16
Проверил на боксе в canvas фразы "дальше", "назад", "обратно" - поведение не изменилось. Проблема всё ещё актуальна.

[2021-08-21 14:07] and7ey opened #253 "Упрощенный способ работы с smart_app_data"
**Где пригодится фича**: Code
**Описание фичи**: сейчас, чтобы передать что-то из Code на фронт (Canvas App), необходимо городить конструкцию из `$context.response.replies.push`. Если же ранее уже формировались ответы (например, pronounceText был сформирован частично ранее в других стейтах), то конструкция вообще становится сложной. Почему бы не разработать библиотеку, которая брала бы это все на

[2021-08-21 15:11] and7ey opened #254 "stopSession не завершает CanvasApp"
**Где нашелся баг**: Code
**Описание проблемы**: вызов `$jsapi.stopSession();` не приводит к завершению канвасапа в Салюте
**Проблема воспроизводится у других пользователей?** Варианты: да, нет, не знаю.
**Дополнительная информация**: `EndSession:` из Graph'a тоже не завершает канвасап

[2021-08-21 15:43] and7ey opened #255 "Инструмент для создания превью"
**Где пригодится фича**: везде
**Описание фичи**: сейчас делать превью - это боль. Выставить нужные размеры, скрыть ненужные элементы (или они нужные?), сделать скрины с телефона и обрезать лишнее (почему в браузере отображается не так, как на телефоне при том же разрешении?)
**Дополнительная информация**: можно как addon к Chrome

[2021-08-22 11:41] waxerdima commented on #255
А чем не устраивает встроенный механизм в Сhrome, который делает скриншеты? Вот тут есть инструкция как им пользоваться https://lifehacker.ru/kak-sdelat-skrinshot-v-chrome/

[2021-08-22 15:39] and7ey commented on #255
Через него, конечно же, и делаю. Но результат отличается от того, что будет на реальном устройстве.
Например, в assistant client есть строка, которая отображает `text`, она отражается поверх кнопок-подсказок (на реальном устройстве такого нет).

[2021-08-23 03:28] Genenko-Svetlana commented on #253
Можно использовать вот такие функции на js и подключить в сценарии:

`function reply(body, response) {
    var replyData = {
        type: "raw",
        body: body
    };
    response.replies = response.replies || [];
    response.replies.push(replyData);
}

function sendAction(action, context) {
    var command = {
        type: "smart_app_data",
        action: action
    };
    return reply({i

[2021-08-23 03:31] Genenko-Svetlana commented on #254
https://developer.sberdevices.ru/docs/ru/developer_tools/amp/smartapp_api_responses

Описание finished:
В приложениях типа Canvas App необходимо самостоятельно закрывать окно приложения после завершения работы смартапа. Для этого требуется передать ассистенту команду close_app с помощью метода assistant.close() или window.AssistantHost.close(), если вы не используете Assistant Client.

[2021-08-23 03:44] Genenko-Svetlana commented on #251
Не нашли проблему на нашей стороне.

Наши запросы выполняются с http/1.1
Почему внешний навык отдает 426? Не понятно.

[2021-08-23 06:57] and7ey commented on #253
Это будет работать не совсем корректно.
Сделайте несколько state'ов с тегом `a:`, например, и безусловным переходом между ними. В последнем используйте `reply`. В итоге будет озвучено значение `pronounceText` только из последнего `replies`.

Ну и самое главное. Очевидно, что отправка `smart_app_data` - самая необходимая функция при разработке CanvasApp на Code. Зачем **каждому** разработчику пропи

[2021-08-23 08:28] and7ey commented on #254
Это и к Code применимо? Тогда надо поправить документацию по Code, там сейчас про это ничего не сказано.

[2021-08-23 08:51] Genenko-Svetlana commented on #254
Это документация по АПИ, она универсальна )

[2021-08-23 09:18] vitalets commented on #251
Смотрите, нам нужен пруф, что запрос вышел за пределы инфраструктуры сбера. Код 426 может отдавать как один из шлюзов внутри, так и гейтвей я.облака. Чтобы понять, куда дальше копать, нужно попробовать добыть этот лог.
На стороне я.облака запросов от сбера не видно.
Можете показать полный http-лог запроса, демонстрирующий код ответа 426?

[2021-08-23 10:27] Genenko-Svetlana commented on #255
Планируем создать подробную инструкцию по снятию скриншотов с помощью АДБ к середине сентября

[2021-08-23 11:45] vitalets commented on #235
Обсудили с Сергеем, проблема действительно есть, в ближайшее время должны пофиксить.
Почему у Димы не воспроизводится - загадка :)

[2021-08-23 14:01] and7ey commented on #254
Правильно я понимаю, что чтобы завершить канвас, мне надо с бэка отправить событие на фронт, а фронт должен уже вызвать `assistant.close()`?

[2021-08-23 14:23] and7ey commented on #255
Вот последний комментарий модератора к моему превью -
`Панель ассистента на превью не соответсвует действительности https://developer.sberdevices.ru/docs/ru/platform_services/moderation/catalogue#оформление-превью; `

но я превью как раз через assistant client делаю((

[2021-08-24 11:56] and7ey commented on #254
В общем, предлагаю сделать это удобнее для разработчиков. Вы на уровне платформы добавляете функцию типа `$jsapi.stopCanvas();`, она что-нить отправляет в smart_app_data сама. И вы же на уровне assistant client обрабатываете полученное значение и вызываете `assistant.close()`. Итого для разработчика канваса - 1 строка кода. Остальное все делается платформой.

[2021-08-24 12:08] and7ey opened #256 "Внутренняя ошибка сервиса при сборке проекта - Сборка во время модерации запрещена"
**Где нашелся баг**: Code
**Описание проблемы**: Текст сообщения - Внутренняя ошибка сервиса при сборке проекта
**Проблема воспроизводится у других пользователей?** не знаю
**Дополнительная информация**: В консоли более правильный текст - ```{"error":"Сборка во время модерации запрещена"}```. Его и надо показывать пользователю.

[2021-08-24 12:11] and7ey commented on #256
<img width="1439" alt="Снимок экрана 2021-08-24 в 15 03 58" src="https://user-images.githubusercontent.com/900474/130613911-a97ceb6b-ff05-43e7-a43a-ad6fe6049cec.png">

[2021-08-25 16:32] elkyspeed opened #257 "SmartMarket Studio падает с ошибкой "Что-то пошло не так...""
При тестировании в Эмуляторе Студия падает с ошибкой:
![image](https://user-images.githubusercontent.com/89537895/130829585-f5bd7f9b-8653-4a24-b19f-e77a10f53fb9.png)

Установлено, что ошибка происходит при примении эмоции ассистента zainteresovannost
В момент падения в консоли разработчика ошибка:
![image](https://user-images.githubusercontent.com/89537895/130828847-0a4fb942-ea69-464f-9d4b-73ed187

[2021-08-25 16:50] elkyspeed commented on #256
@and7ey, у вас смартап в этот момент был уже на модерации? У меня такое сообщение вылезало именно в этот момент. После нажатия кнопочки "Вернуть в разработку" - сообщение пропало.

[2021-08-25 17:35] and7ey commented on #256
@elkyspeed да, был на модерации.

[2021-08-26 10:04] Genenko-Svetlana commented on #257
Спасибо за сигнал. Обновим эмулятор до 03.09.21

[2021-08-26 10:49] and7ey commented on #255
В копилку того, что assistant client отражает панель не так, как реальные устройства -
1) https://t.me/smartmarket_community/28954
2) https://t.me/smartmarket_community/28609

[2021-08-28 13:30] and7ey opened #258 "Скрытие данных в Code"
**Где нашелся баг**: Code скрывает "персональные данные" в Диалогах, в логе за звездочками
**Описание проблемы**: суть в том, что это не персональные данные - "в**** пух" (винни пух), "в 1*** году", "Т*** из Про**********" (Трое из Простоквашино), "Пе**** набор" (первый набор), "Том и Дж****" (Том и Джерри). Думаю, надо пересмотреть алгоритм идентификации Персональных данных. Либо вообще его отклю

[2021-08-28 16:11] and7ey opened #259 "Поиск по ошибке в Диалогах Code"
**Где пригодится фича**: Code, Диалоги
**Описание фичи**: вижу в Диалогах ошибку:
<img width="1165" alt="Снимок экрана 2021-08-27 в 16 32 42" src="https://user-images.githubusercontent.com/900474/131223970-66f1db75-a41c-44de-acc4-737a2c08b3bc.png">
хочу оценить как часто она встречается. Но в фильтрах в Диалогах по "TypeError" ничего не находится (пробовал поиск по разным полям делать)
**Дополните

[2021-08-29 16:51] and7ey opened #260 "Импорт справочника сущностей в Code добавляет лишние кавычки"
**Где нашелся баг**: Code
**Описание проблемы**: создаю файл для импорта сущностей -
`2;белый бим,Белый Бим черное ухо;Белый Бим, чёрное ухо`
ожидаю, что в поле Data попадет значение _Белый Бим, чёрное ухо_, а попадает _"Белый Бим, чёрное ухо"_ (т.е. с кавычками). Приходится руками заходить в каждую запись и убирать кавычки.
https://developer.sberdevices.ru/docs/ru/developer_tools/ide/common/bot_s

[2021-08-29 17:32] and7ey opened #261 "Некорректное указание state в Диалогах"
**Где нашелся баг**: Code
**Описание проблемы**: вижу в диалогах ошибку и указание на конкретный стейт -
<img width="1165" alt="Снимок экрана 2021-08-27 в 16 32 42" src="https://user-images.githubusercontent.com/900474/131259716-6ed95133-87c0-40af-921d-db607b0a5169.png">
но в этом стейте нет обращения к `.a`. Обращение к `.a` есть в следующем стейте, но, как выяснилось, ошибка и не тут, а еще даль

[2021-08-29 17:35] and7ey opened #262 "Подсветка комментариев в Code"
**Где нашелся баг**: редактор Code
**Описание проблемы**: редактор Code подсвечивает комментарий серым, если он обозначен символом #.  Но это работает и в теге скрипт! А в теге скрипт правильный символ комментария - //. Более того, компиляция с "комментарием", обозначенным #, успешно проходит.
**Проблема воспроизводится у других пользователей?** не знаю.
**Дополнительная информация**: надо поправи

[2021-09-03 06:10] and7ey commented on #7
@xoxulin Алексей, добрый день, я правильно понял ответ на вчерашнем митапе - этот issue в ближайшее время будет исправлен вместе с обновлением эмулятора?

[2021-09-03 06:24] and7ey opened #265 "Разделить нажатия кнопок и голосовые сообщения в аналитике Studio"
**Где пригодится фича**: Аналитика Studio
**Описание фичи**: сейчас нажатия кнопок в канвасапе засчитываются как голосовые сообщения в Аналитике, надо их разделить - это позволит лучше понимать чем больше пользуются пользователи (голосом или пультом/тачем) и соответствующим образом оптимизировать приложения
**Дополнительная информация**: https://t.me/smartmarket_community/30434

[2021-09-03 08:37] vitalets commented on #245
Привет! А есть примерный срок по этому таску?

[2021-09-06 08:49] waxerdima commented on #175
Добрый день, работа по данному вопросу ведется, срок исполнения конец 2021.

[2021-09-07 03:23] Genenko-Svetlana commented on #257
@elkyspeed обновили эмулятор. Проверяйте, пожалуйста!

[2021-09-08 09:13] vitalets commented on #235
Все заработало, спасибо!
![image](https://user-images.githubusercontent.com/1473072/132481599-9b0e25b4-fc09-44af-89f8-4a63badf1d20.png)

Таск можно закрывать.

[2021-09-08 10:11] #235 closed, assigned to skobets

[2021-09-08 10:17] subnetsRU commented on #217
А какого месяца? :)

[2021-09-08 10:18] vitalets commented on #217
@NikolayPakhomov
Николай, привет!
А не подскажешь, когда планируете выкатить интенты для Smartapp API?

[2021-09-08 12:34] NikolayPakhomov commented on #217
Добрый день! К сожалению, сейчас не можем сказать срок выкатки интентов, но мы будем иметь в виду ваш интерес к ним, пока переносим тикет в "Отложенные"

[2021-09-10 15:03] Gusev-Alex opened #266 "Возможность использовать порты отличные 443 в SmartApp API"
На данный момент в SmartApp API можно регистрировать веб-хуки только с портов 443. При использовании своих серверов, этот порт может быть занят и его выделение может быть связано с трудностями или костылями.
Просьба дать возможность работать хотя бы с определенным набором портов, а не только с 443.

[2021-09-13 10:07] vitalets commented on #237
Антон, привет! А нет ли примерных сроков, когда планируете это выкатить?
@awinogradov

[2021-09-13 11:03] awinogradov commented on #237
Привет! Пока ещё не добрались. Точной даты нет.

[2021-09-14 08:17] goodwin74 commented on #237
Я думаю это нужно было реализовать еще на старте канвасапп. Общение на фронте намного логичнее и удобнее, к серверу обращаться должен само веб приложение, когда это нужно ему.

[2021-09-14 08:20] goodwin74 commented on #237
очень ждём, я считаю этот тикет проблемой, так как работать дергая постоянно сервер это жесть)

[2021-09-16 12:48] awinogradov commented on #237
так весь интернет устроен) нет проблемы загрузить статику без сервера. Проблема что взаимодействие с NLP будет в любом случае. А это и есть дергание сервера.

[2021-09-16 16:55] goodwin74 commented on #237
тот же ВК делает это все посредством js скрипта подгружаемого на фронт для разработчиков. Который в свою очередь на фронте взаимодействует с серверами ВК. Таким образом Веб приложение общается с Апи на уровне фронта без вмешательства бэка веб приложения. Это удобно, намного быстрее и легко встраивается в любое веб приложение.
Я думаю это отличная практика, которую нужно адаптировать в суперапп сбе

[2021-09-20 05:10] #217 closed, assigned to skobets

[2021-09-20 05:44] Genenko-Svetlana commented on #257
@elkyspeed обновили эмулятор. Проверяйте, пожалуйста!

[2021-09-20 05:44] #257 closed, assigned to xoxulin

[2021-09-20 07:02] Genenko-Svetlana commented on #208
@Nashev реализовано, проверяйте, пожалуйста.

[2021-09-24 11:05] Genenko-Svetlana commented on #255
Обогатили документацию по созданию превью: https://developers.sber.ru/docs/ru/studio/smartapp/preview

[2021-09-24 11:17] subnetsRU commented on #255
Забыли указать, что панели ассистента на скриншотах быть не должно, т.к. модераторы такое бракуют.

[2021-09-24 11:24] Genenko-Svetlana commented on #255
Спасибо!

[2021-09-27 08:23] waxerdima commented on #261
Класс — это название стейта, в котором началась обработка сообщения клиента, а не там где произошла ошибка.

[2021-09-27 08:30] waxerdima commented on #258
Маскирование данных, требование по защите персональных данных, в ближайшее время не планируем изменений.

[2021-09-27 08:33] waxerdima commented on #254
$jsapi.stopSession() и не должен завершать приложение, в документации указано что надо вызвать для завершения приложения и откуда. https://developers.sber.ru/docs/ru/developer_tools/amp/smartapp_api_responses#answer-to-user https://github.com/sberdevices/assistant-client#close-void

[2021-09-27 08:33] #258 closed, assigned to skobets

[2021-09-27 08:36] #254 closed, assigned to skobets

[2021-09-27 08:38] Genenko-Svetlana commented on #253
Изменений  в ближайшее время не планируем

[2021-09-27 08:38] #253 closed, assigned to skobets

[2021-09-27 08:43] Genenko-Svetlana commented on #252
Не планируем изменения. Это основополагающие требования - https://developers.sber.ru/docs/ru/basics/about_assistant

[2021-09-27 08:43] #252 closed, assigned to VsevolodKiselev

[2021-09-27 08:47] #249 closed, assigned to skobets

[2021-09-27 08:57] and7ey commented on #261
Это контринтуитивно. И самое главное - никак не помогает найти проблему. Логику надо поменять.

[2021-09-27 12:11] Khanzo opened #267 "Готовый интент Помощь"
В граф/code  - интент Помощь (по типу прощание и тп), чтобы не гадать варианты для вызова Помощи

[2021-09-27 12:13] Khanzo opened #268 "Готовый интент Далее/Назад Graph"
в граф/code добавьте в качестве готового интента - интент Далее/ Назад (по типу прощание и тп), чтобы не гадать варианты для вызова

[2021-09-27 14:33] Genenko-Svetlana commented on #224
Планируемый срок реализации - до 10.10.21

[2021-09-27 17:58] chernov2021 commented on #26
Коллеги, как тут дела? Уже прям очень-очень надо.

[2021-09-28 08:26] waxerdima commented on #244
Добрый день, к сожалению данная проблема имеет место быть и есть некоторые особенности, что бы блок завершения сценария закрывал (сворачивал) чатап. В будущем мы разработаем новый функционал, который позволит это делать. Что бы сейчас решить эту проблему, вы можете воспользоваться блоком js-код и вставить туда следующий код:
[code]

[2021-09-30 11:12] awinogradov opened #269 "Несоответствие документации в описании формата ответа обработки платежей"
[Документация здесь](https://developers.sber.ru/docs/ru/smartservices/smartpay/processing/smartpay-api#%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%82-%D0%BE%D1%82%D0%B2%D0%B5%D1%82%D0%B0) не соответствует реальному ответу:

[code]

Relates to https://github.com/sberdevices/salutejs/issues/228

[2021-10-03 02:42] #236 closed, assigned to skobets

[2021-10-03 02:47] Genenko-Svetlana commented on #244
@sergeyzhirkov

[2021-10-03 02:51] #255 closed, assigned to oblomil

[2021-10-03 03:23] Genenko-Svetlana commented on #141
@subnetsRU посмотрите, пожалуйста, остались ли проблемы?

[2021-10-03 03:30] Genenko-Svetlana commented on #192
@and7ey доработки по аналитике произведены

[2021-10-03 03:32] #208 closed, assigned to xoxulin

[2021-10-03 08:40] and7ey commented on #192
Напишите, пожалуйста, что изменили. Я улучшений не нашел :(.

[2021-10-03 08:43] and7ey commented on #76
@Genenko-Svetlana в graph добавили таймаут?
https://developers.sber.ru/docs/ru/salute/graph/reference/blocks/http_request - не вижу тут указания на это.

[2021-10-04 07:18] filomat commented on #192
Появился новый раздел с аналитикой по смартапу независимо от способа реализации сценарного бекенда смартапа.
Новый раздел доступен сразу из проекта "SmartApp" в его боковой панели.
Для новых пользователей, ещё не посещавших новый раздел, он подсвечен зеленой точкой =)

[2021-10-04 07:23] and7ey commented on #192
Спасибо. Тогда это не покрывает вопрос, который задан в этом issue. Допустим, у вас два смартапа и нужно посмотреть статистику по ним двоим. Сколько шагов (кликов) нужно сделать, чтобы увидеть статистику?
Нужно решение, которое позволит из аналитики одного смартапа сразу переходить в аналитику другого. Или вынести ссылку на аналитику на https://smartapp-studio.sberdevices.ru/ (как указано в issue)

[2021-10-04 19:08] xoxulin commented on #192
https://developers.sber.ru/docs/ru/salute/studio/smartapp/metrics - метрики смартапов теперь в одном интерфейсе. Старые ссылки в issue больше не являются целевыми и редиректят на новый адрес. Аналитика предоставляется  теперь по всем типам смартапов и всем типам сценарного бекенда. Ранее аналитика была доступна только внутри сценариев Graph и  Code.

[2021-10-04 19:08] #192 closed, assigned to xoxulin, asmalakhov-sberdevices

[2021-10-10 04:08] Genenko-Svetlana commented on #269
В документации описано верно, но нашли баг на проме. Завели задачу.

[2021-10-10 04:08] #269 closed, assigned to Lytkini

[2021-10-10 04:16] Genenko-Svetlana commented on #262
Спасибо за предложение. Взяли задачу в бэклог, в ближайшее время не планируем к реализации.

[2021-10-10 04:16] #262 closed, assigned to skobets

[2021-10-10 04:20] Genenko-Svetlana commented on #153
@noskoviv Илья, расскажите, пожалуйста, более подробно о вашем предложении.

[2021-10-10 04:22] Genenko-Svetlana commented on #209
@Nashev спасибо за предложение. Взяли задачу в бэклог, но в ближайшее время не планируем к реализации.

[2021-10-10 04:22] #209 closed, assigned to asmalakhov-sberdevices

[2021-10-10 04:24] Genenko-Svetlana commented on #127
Перенос срока реализации на 4 квартал 2021

[2021-10-10 04:26] Genenko-Svetlana commented on #261
Спасибо за предложение. Взяли задачу в бэклог, но не планируем к реализации в ближайшее время.

[2021-10-10 04:26] #261 closed, assigned to skobets

[2021-10-10 09:01] Nashev commented on #153
Я не тот Илья, но удивлён. Какие подробности тут ещё нужны? Кнопки нужно мочь менять местами, среда разработки этого не даёт.

Думаю, тут помогли бы уточняющие вопросы

[2021-10-11 07:31] Genenko-Svetlana commented on #132
Новая версия Салют вышла 08.10. Проверяйте, пожалуйста.

[2021-10-11 08:15] subnetsRU commented on #132
Стало заметно лучше.

Вверху его нет совсем - очень хорошо, а внизу чутка всё же есть.
![image](https://user-images.githubusercontent.com/18159237/136755835-f35fb3c7-e83e-4cda-bea2-1a0cee4041b8.png)
Но наверно это уже не критично.

[2021-10-11 08:16] subnetsRU commented on #26
Плюсуюсь. Очень надо. Просто очень мешает в игровых механиках.

[2021-10-11 08:20] subnetsRU commented on #31
Так кто-то объяснит что было реализовано и как этим чем-то пользоваться?

[2021-10-11 08:22] subnetsRU commented on #204
Есть новости по тикету?

[2021-10-11 08:22] subnetsRU commented on #140
Есть ли движения по тикету?

[2021-10-11 10:45] Genenko-Svetlana commented on #132
Не критично )
@subnetsRU спасибо, тикет закрываю.

[2021-10-11 10:45] #132 closed, assigned to talagaev

[2021-10-11 10:49] Genenko-Svetlana commented on #26
Да, это очень важно и нужно. Но пока в работе :(

[2021-10-11 11:11] Genenko-Svetlana commented on #12
Увеличим в 1.75 до 150 сек

[2021-10-11 11:17] subnetsRU commented on #12
Тут вопрос не совсем так уже поставлен ведь. Речь шла про то, что смартап может переопределить таймаут.

Но это уже другой тикет: https://github.com/sberdevices/salute-issues/issues/31

[2021-10-11 11:22] Genenko-Svetlana commented on #31
Новый тип апов  — чат-апы (диалоговые апы в отдельных вкладках, по аналогии с канвас апами). В первую очередь этот тип создавался для длинных диалоговых навыков для того, чтобы пользователи лучше понимали, когда он находится в контексте навыка, решил свои проблемы с навигацией и выходом из скилла. Эти апы отображаются в трее по аналогии с канвас апами.

[2021-10-11 11:24] Genenko-Svetlana commented on #31
Все внешние диалоговые навыки ассистента открываются в отдельных вкладках благодаря этом пользователи не будут терять контекст беседы: история общения будет храниться в каждом смартапе отдельно, а значит, пользователи сразу поймут, где они находятся: в болталке с ассистентом или в конкретном смартапе.

[2021-10-11 11:28] subnetsRU commented on #31
Это конечно всё здорово, но я так и не понял как это относится к сабжу тикета.

Вот я открыл канвас апп на боксе. Через некоторое время запускается заставка и перекрывает экран канваса. А там, например, выведены обновляемые графики. Я сетевой инженер и наблюдаю за состоянием сети. Или я трейдер и торгую на бирже, а тут бах - заставка! Очень полезно... Что нужно? Правильно, не запускать заставку.

[2021-10-11 11:28] Genenko-Svetlana commented on #251
@vitalets
Вебхук - https://d5daobsjh4k53557c2nk.apigw.yandexcloud.net/test/sber - который указан в тикете, уже недоступен
Подскажите, пожалуйста, актуальна ли еще проблема?
Если "да", нужен актуальный урл.

[2021-10-11 16:43] vitalets commented on #251
@Genenko-Svetlana Какой командой проверяете? Какую ошибку получаете?

<details>
  <summary> Только что проверил командой из моего первого сообщения, ответ приходит: </summary>

    *   Trying 84.201.185.129...
    * TCP_NODELAY set
    * Connected to d5daobsjh4k53557c2nk.apigw.yandexcloud.net (84.201.185.129) port 443 (#0)
    * ALPN, offering http/1.1
    * successfully set certificate verify loc

[2021-10-12 14:56] waxerdima commented on #268
Добрый день, могли бы вы более подробно написать, что вы хотите с примерами, так как code и graph в этом вопросе сильно различаются и интенты в code это не совсем тоже что и в graph?

[2021-10-12 15:46] Khanzo commented on #268
Пример на graph: компонент список , подсказка далее, открывается вторая часть списка, подсказка назад.
Для того чтобы голосом можно было листать список делается глобальный Интент где нужно прописать вариации слова Далее и Назад

[2021-10-12 22:31] waxerdima commented on #76
В graph timeout по-умолчанию сейчас установлен в 5 с. Соответственно если запрос был дольше произойдет разрыв по таймауту и в httpStatus будет записано -1 что описано в документации https://developers.sber.ru/docs/ru/salute/code/js-api/services/http/query соответственно вы в блоке условие можете обработать эту ситуацию и сделать то что вам требуется.

[2021-10-13 06:44] and7ey commented on #76
Правильно я понял, что отделить таймаут от другого типа ошибки не выйдет? Например, по таймауту я могу ответить "подождите еще немного", а при 404 - "не удалось получить информацию". Но в Graph такого не сделать?

[2021-10-13 07:11] waxerdima commented on #76
Нет не правильно, при таймауте httpStatus  будет равен -1, а при 404 httpStatus будет равен 404, соответственно можно с помощью блока условие разделить это поведение.

[2021-10-13 07:40] and7ey commented on #76
Понял. Привел неправильный пример. Смущает вот это -

[2021-10-13 08:07] waxerdima commented on #76
Если $http-сервис успеет вернуть любой статус (1xx, 2xx, 3xx, 4xx, 5xx) то он будет в httpStatus если не успеет то будет -1.

[2021-10-13 12:54] chernov2021 commented on #26
Тут по непроверенным данным в релизе 1.75 это должно поддерживаться, интересны сроки этого релиза.

[2021-10-14 08:10] vitalets commented on #251
@skobets написал в личку, что проблему нашли и исправили.

Проверил - теперь все работает! Спасибо!
Запросы от Сбера в логах Я.Облака появились и в тестировании в студии отрабатывают корректно!

![image](https://user-images.githubusercontent.com/1473072/137277358-51487466-55dd-4882-b0bb-39b71fec0b89.png)

[2021-10-14 08:10] #251 closed, assigned to skobets

[2021-10-14 11:13] #76 closed, assigned to skobets, Lytkini, asmalakhov-sberdevices

[2021-10-15 09:20] waxerdima commented on #267
Добрый день, могли бы вы более подробно написать, что вы хотите с примерами, так как code и graph в этом вопросе сильно различаются и интенты в code это не совсем тоже что и в graph?

[2021-10-15 09:27] Khanzo commented on #267
Пример на graph: подсказка Помощь.
Для того чтобы голосом можно было вызвать Помощь делается глобальный Интент где нужно прописать вариации слова Помощь: например что ты умеешь, справка, помощь, как играть и тп

[2021-10-15 09:30] waxerdima commented on #267
Для графа рассмотрим такой вариант, для code вы можете сами создать такой интент.

[2021-10-15 13:09] Genenko-Svetlana commented on #139
1. Запустить Моя фоторамка
Отобразился ответ с саджестами
2. сказать “статус”
саджесты скрылись
Отобразился запрос Статус
В ответ приходит
“payload”:{“items”:[{“command”:{“type”:“do_nothing”}}]
в ответе нет ни текста ни саджестов
Соответственно ничего и не отображается
Это ожидаемое поведение

Саджесты после скрытия на шаге 2 пропадают

[2021-10-15 13:13] subnetsRU commented on #139
Ну да, об этом то и речь [в этом тикете](https://github.com/sberdevices/salute-issues/issues/139#issuecomment-873948902) ж...

* либо поведение нужно менять. Ведь do_nothing переводится как "ничего не делай", а оно делает - убирает кнопки.
* либо убирать упоминания про do_nothing, так как оно не соответствует действительности и просто сбивает с толку.
* либо переименовывать do_nothing во что-то др

[2021-10-31 20:31] and7ey opened #270 "Неизвестные теги "ломают" tts"
**Где нашелся баг**: api, поле `pronounceText`
**Описание проблемы**: если в поле `pronounceText` передать неизвестные теги, то произношение текста не работает. Причем работает это как-то странно - если передать один неизвестный тег, то не произносится только первый bubble. Если передать два неизвестных тега, то не произносятся оба bubble'a. Пример - https://pastebin.com/HwwprEGm (ссылка живет 1 н

[2021-11-01 13:24] Ilchenk commented on #270
@and7ey вы некорректно передаете xml структуру.
Вот так проходит. Тут закрыл тег для 1ого speaker audio и добавил кавычки для второго speaker audio.

<speak><audio text=\"sm-sounds-game-8-bit-coin-1\"/><speaker audio=\"alice-sounds-game-8-bit-coin-1.opus\"/><speaker audio="marusia-sounds/game-8-bit-coin-1"/>Начинаем отличную игру. Я называю по слову из каждой строчки известной песни. Задача игрока

[2021-11-01 13:57] and7ey commented on #270
Понял, спасибо!
Было бы здорово, если бы вы возвращали ошибку на такой запрос.

[2021-11-01 20:22] and7ey opened #271 "Тег с аудио на странице загрузки аудио"
**Где пригодится фича**: Code
**Описание фичи**: на страничке загрузки аудио - Контент в Code - выдаются URL, hash загруженного файла. Но для аудио они не нужны. Нужен тег вида `<audio text="sm:/1234/4567/audio/12345KtWQun6lcYj.wav"/>`, а его нет. Приходится руками копировать URL и забирать путь оттуда - очень неудобно.
**Дополнительная информация**: какие-то детали, которые могут помочь в реализа

[2021-11-02 08:34] NikolayPakhomov commented on #271
Добрый день! Спасибо за предложение, обязательно подумаем над реализацией. Со сроками вернемся, как только они будут известны. Тикет временно переносим в отложенные.

[2021-11-02 08:34] #271 closed, assigned to asmalakhov-sberdevices

[2021-11-03 10:40] NikolayPakhomov commented on #270
Такого функционала не планируем, но мы подумаем, как можно улучшить работу с SSML, спасибо за отзыв.

[2021-11-03 10:41] #270 closed, assigned to skobets

[2021-11-07 20:27] and7ey opened #272 "Блоки в Graph - непонятное разделение"
**Где пригодится фича**: Graph
**Описание фичи**:
<img width="326" alt="Снимок экрана 2021-11-07 в 23 25 22" src="https://user-images.githubusercontent.com/900474/140660890-2b5837d0-a49d-4935-9d7f-9897bbb2234b.png">
плохо визуально разделены блоки JS Код и Условия. Текст "Условия" ближе к коду, чем к условиям. Я вообще вначале подумал, что кнопка редактирования у слова "Условия" исправит JS Код.

[2021-11-08 11:36] NikolayPakhomov commented on #272
Добрый день! Спасибо, что сообщили, учтем в будущем редизайне

[2021-11-10 09:27] IgorEgorin commented on #239
@Genenko-Svetlana
Ошибка всё еще воспроизводится.

[2021-11-10 09:39] IgorEgorin commented on #240
Будет ли менять логику интерфейса?

[2021-11-15 06:39] sasha-tlt commented on #231
@Genenko-Svetlana, это исправлено или есть новая дата?

[2021-11-15 07:38] IgorEgorin commented on #16
@Genenko-Svetlana Есть ли какие-нибудь новости (то когда будет поправлена ошибка) ?

[2021-11-15 09:58] subnetsRU commented on #26
Есть какие-то новости по тикету? Ну очень нужная фича. Пользователи негодуют... а тикету уже больше года...

[2021-11-17 14:52] Genenko-Svetlana commented on #231
Правка уже реализована и находится на тестировании.
По результатам будет определен срок выхода в пром (ориентировочно - до конца года).

[2021-11-17 14:57] Genenko-Svetlana commented on #26
Уточнила, да в 1.75 будет реализовано. По сроку выхода - уточняю.

[2021-11-22 08:28] subnetsRU commented on #26
Сегодня утром мой бокс уже был под 1.75, но прерывания ответа ассистента по прежнему отсутствует :(

[2021-11-24 14:25] and7ey opened #273 "Сборка проекта в Code в любой момент"
**Где пригодится фича**: Code
**Описание фичи**: в настоящий момент во время модерации проекта, его нельзя собирать:
<img width="399" alt="Снимок экрана 2021-11-24 в 11 13 56" src="https://user-images.githubusercontent.com/900474/143256039-5620f232-a237-4bf0-9068-d7fa1c2f0849.png">
+ если я правильно понимаю как это работает, любая модификация проекта в Code, требует его повторной модерации.
Это в

[2021-11-24 14:32] waxerdima commented on #273
Добрый день, вы можете используя Сode или Graph для написания сценария перейти на схему когда вы в SmartApp указываете Webhook смартапа SmartApp API и в качестве Внешняя ссылка указываете вебхук из Code, который вы можете получить в разделе Публикации (Получить вебхук).

[2021-11-24 14:35] #273 closed, assigned to skobets

[2021-11-24 14:40] Genenko-Svetlana commented on #256
@and7ey поправили, проверьте, пожалуйста

[2021-11-24 14:44] #256 closed, assigned to skobets

[2021-11-26 09:05] and7ey commented on #256
Все работает корректно, спасибо.

[2021-12-02 11:46] Genenko-Svetlana commented on #216
@DenisNP реализовано

[2021-12-06 10:58] Genenko-Svetlana commented on #4
@and7ey исправлено, проверяйте, пожалуйста

[2021-12-06 11:06] Genenko-Svetlana commented on #116
@Sergeycul исправлено, проверяйте, пожалуйста

[2021-12-06 11:08] Genenko-Svetlana commented on #123
@danchistyakov исправлено, проверяйте, пожалуйста

[2021-12-06 11:14] Genenko-Svetlana commented on #153
@noskoviv исправлено, проверяйте, пожалуйста

[2021-12-06 11:15] Genenko-Svetlana commented on #175
@noskoviv исправлено, проверяйте, пожалуйста

[2021-12-06 11:33] Genenko-Svetlana commented on #26
@subnetsRU попробуйте ещё раз проверить, пожалуйста

[2021-12-06 11:35] Genenko-Svetlana commented on #138
Срок реализации - 31.01.2022

[2021-12-06 11:56] Genenko-Svetlana commented on #141
@subnetsRU @RulevAnton может пришло время закрыть тикет? :-)

[2021-12-06 12:10] Genenko-Svetlana commented on #140
Срок реализации - 31.01.2022

[2021-12-06 12:15] Genenko-Svetlana commented on #7
Срок - 31.03.2022

[2021-12-06 12:16] Genenko-Svetlana commented on #169
Срок - 31.03.2022

[2021-12-06 12:16] subnetsRU commented on #141
Ну если моя помощь в данном вопросе более не требуется, то можно и закрыть. Я не против.

[2021-12-06 12:17] subnetsRU commented on #26
Хорошо. Завтра с утра проверю и напишу результат.

[2021-12-06 12:18] Genenko-Svetlana commented on #59
Перенос на 2022 год

[2021-12-06 12:19] Genenko-Svetlana commented on #239
Перенос на 2 квартал 2022 года

[2021-12-06 12:20] Genenko-Svetlana commented on #127
Перенос на 4 квартал 2022 года. Пока переносим в отложенные задачи

[2021-12-06 12:23] Genenko-Svetlana commented on #135
@and7ey реализовано

[2021-12-06 12:35] subnetsRU commented on #135
А как пользоваться то? Расскажете?

[2021-12-07 06:59] subnetsRU commented on #26
Проверил. Результат: и работает и нет. Поясню.

Апп "Холдем покер" написан на react. И да, в нём нажатие на кнопку действительно стало прерывать ответ ассистента. Проверить не трудно. Запускаем игру, просим помощь (она довольно длинная) и жмём на любую кнопку на экране, например "Чек". Апп собран давно и assistant-client в нём тоже соответственно давно не обновлялся, но работает.

Апп "Миля за мил

[2021-12-07 08:09] Genenko-Svetlana commented on #245
@vitalets исправлено, проверяйте, пожалуйста

[2021-12-07 08:23] Genenko-Svetlana commented on #26
В обоих случаях

[2021-12-07 08:25] Genenko-Svetlana commented on #135
Должно работать автоматом. Канвасы не закрываются

[2021-12-07 10:45] and7ey opened #274 "Более тонкая настройка SSML"
**Где пригодится фича**: везде
**Описание фичи**: SSML сейчас уже довольно тонко настраивается - https://developers.sber.ru/docs/ru/salute/asr-tts/ssml, но было бы круто, если бы можно было более тонко настраивать произношение отдельных слов. Например, как заставить ассистента спеть "маленькой елочке холодно зимой"? Тонкая настройка длительности произношения отдельной буквы в слове была бы очень п

[2021-12-07 11:12] subnetsRU commented on #26
Ну тогда это работает только в одном случае - react. Сейчас запишу и отправлю видео в ТГ, для наглядности.

[2021-12-09 09:43] Genenko-Svetlana commented on #274
Пока не планируем эту фичу для разработчиков.
Сейчас у нас есть прототип модели с управлением тоном и длительностью, где можно делать их изменение относительно дефолтно сгенерированного для каждой буквы. Но предыдущие модели с этими плюшками сильно проигрывали в качестве. И ещё это может разваливаться от релиза к релизу.

Пока для конкретного кейса можем записать под заказ. И, настроив произношени

[2021-12-09 09:43] #274 closed, assigned to RulevAnton

[2021-12-09 09:51] #245 closed, assigned to talagaev

[2021-12-09 10:02] Genenko-Svetlana commented on #125
Сейчас появляется всё больше и больше поверхностей и проекты - это не только смартапы. Разместить все поверхности красиво не получится.
Поэтому, как вариант, будем смотреть в сторону отображения категорий “Устройства с экраном” и “Устройства без экрана”.

Пока откладываем задачу.

[2021-12-09 10:02] #125 closed, assigned to xoxulin

[2021-12-09 10:05] Genenko-Svetlana commented on #207
Перенос на первый квартал 2022

[2021-12-09 10:08] #127 closed, assigned to awinogradov

[2021-12-09 10:12] #4 closed

[2021-12-09 10:13] #116 closed, assigned to asmalakhov-sberdevices

[2021-12-09 10:14] #123 closed, assigned to asmalakhov-sberdevices

[2021-12-09 10:15] #153 closed, assigned to Lytkini, asmalakhov-sberdevices

[2021-12-09 10:16] #175 closed, assigned to asmalakhov-sberdevices

[2021-12-09 11:41] Genenko-Svetlana commented on #26
Так и было запланировано. Работает только на реакте.

[2021-12-09 12:06] #141 closed, assigned to RulevAnton

[2021-12-10 09:07] vitalets commented on #245
Все заработало, спасибо!

[2021-12-10 10:05] subnetsRU commented on #26
А когда планируется чтобы это работало и без react?

[2021-12-13 11:00] vitalets commented on #237
Я тут еще размышлял над этим тикетом и понял в чем может быть сложность для frontend-first apps -  в ттс. Если запрос пришел сразу на только фронт и я хочу озвучить некий ответ, то потребуется еще один запрос на бэк сбера, чтобы собственно получить озвучку.

Обсуждали с @awinogradov, что подобное есть у гугл-ассистента. У них такие frontend-first apps называются _Interactive Canvas_. Вот кусочек и

[2021-12-14 11:42] Genenko-Svetlana commented on #237
@awinogradov

[2021-12-15 10:22] waxerdima commented on #267
Для графа вы можете использовать готовый интент "Уточнение" он как раз отвечает за помощь и другие подобные фразы.

[2021-12-15 16:38] DenisNP opened #275 "[Studio] Публикация приложения на Sberbox Top не просит скриншоты"
## Где нашелся баг:
SmartMarket Studio, админка Canvas-приложения.

## Описание проблемы:
1. Создайте Canvas app
2. В качестве устройств, на которых доступно приложение, укажите _только_ Sberbox Top

### Ожидаемое поведение:
Показывается блок **Превью для больших экранов** и предлагает загрузить скриншоты для телевизора.

### Фактическое поведение:
Блок **Превью для больших экранов** скрыт, загруз

[2021-12-15 16:43] DenisNP opened #276 "[Assistant Client] Локальный запуск смартапа не работает, если не выбрать Sberbox в списке поверхностей"
## Где нашелся баг:
Assistant Client, локальный запуск с помощью метода `createSmartappDebugger`

## Описание проблемы
1. Создать Canvas App с некоторым именем `%name%` и получить токен для тестирования
2. В поверхностях снять галочки с **Сбер Салют** и **SberBox**
3. Запустить смартап локально с помощью метода `createSmartappDebugger`, передать туда стартовую фразу `запусти %name%`
4. Открыть в б

[2021-12-15 16:58] DenisNP opened #277 "[HTML5, Canvas] Дать возможность загружать разные zip-архивы фронтенда для разных поверхностей"
## Где пригодится фича:
В разработке сложных кроссповерхностных игр на HTML5.

## Описание фичи:
В обычном браузере для HTML-приложения мы можем сделать "резиновую" вёрстку. Но для игр зачастую это неудобный или вовсе невозможный вариант. Игровые движки как правило оперируют конкретным экранным пространством, а элементы в 2D играх это растровая графика: она не является резиновой.

Качество повысит

[2021-12-16 07:09] Genenko-Svetlana commented on #276
Планируем реализовать до конца января 2022

[2021-12-17 08:39] Genenko-Svetlana commented on #275
Планируем доработку в течение 2 квартала 2022 года

[2021-12-17 14:21] Genenko-Svetlana commented on #277
Спасибо за предложение.
Пока такую доработку не планируем.

[2021-12-17 14:22] #277 closed, assigned to filomat

[2021-12-23 09:34] ygerzen opened #278 "Умные лампы. Пресет"
У меня есть три умных лампы. Они висят над одним столом. Дети регулярно просят настроить для разных ламп цвета: красный, зеленый и синий. Мне приходится переключать каждую лампу в цветной режим/либо голосом включать.
Предлагаю сделать фичу, чтобы можно было настраивать пресеты для ламп, чтобы их можно было включать голосом/в мобильном приложении. Например, я сделаю пресет с названием "детский свет

[2021-12-23 10:52] Ilchenk commented on #278
Добрый день!
Предлагаем вам написать это предложение в чат поддержки устройств либо оформить его на доске предложений к устройствам: https://bit.ly/sberdevices
Чат: https://t.me/sberdevices_chat

[2021-12-23 10:52] #278 closed, assigned to Genenko-Svetlana

[2021-12-24 06:02] heyAlyosha opened #279 "При запуске смартаппа зависает приставка Сбербокс Топ"
**Где нашелся баг**: Смартап "Орудия к бою" на Сбербокс Топ
**Описание проблемы**: При запуске смартаппа черный экран и зависание приставки. Выйти из зависания можно только выдернув блок питания сбербокса из розетки.
**Проблема воспроизводится у других пользователей?** Да

[2021-12-27 06:43] Genenko-Svetlana commented on #279
Взяли в анализ

[2022-01-17 08:12] akochanova opened #280 "Реализовать блок «Кнопка» в OpenGraph"
**Какой кейс хотим улучить:** в chat app пользователю отображается кнопка, например, диплинк на другую страницу или целевое действие, например "Отмена заказа", или переход в службу поддержки.

Как реализуется сейчас: нужно создать интент на экране, где нужна кнопка, и от него делать переход на экран с js code,  где вставить переход по диплинку.

Как хотим: Чтобы в OpenGraph был реализован блок «Кн

[2022-01-17 08:15] waxerdima commented on #280
Добрый день, вы можете использовать блок подсказка и от нее вести к нужному js-блок, не совсем понимаю зачем вы используете блок интент в данном случае.

[2022-01-18 13:02] Yeti-or commented on #78
К сожалению вынуждены сообщить что задача постоянно откладывалась в прошлом году, и в текущий квартал она тоже не влезла; Похоже в ближайшее время она не будет сделана; Тикет закрываю, если наши приоритеты изменятся  создадим новый

[2022-01-18 13:02] #78 closed, assigned to awinogradov, Yeti-or

[2022-01-18 13:09] Yeti-or commented on #60
Прочитав тикет свежим взглядом, я понял что от команды Плазмы здесь всё сделано; Документацию по окружению мы описали: https://plasma.sberdevices.ru/ui/environment
а вот то что какая-то информация может попадать на фронт через assistantClient – это можно реализовать с помощью сценария, пример такого сценария на Code:

[code]

Если хочется чего-то другого предлагаю открыть новый тикет

[2022-01-18 13:09] #60 closed, assigned to Yeti-or

[2022-01-25 08:43] waxerdima commented on #268
Вы можете уже сейчас все это реализовать, если у вас большой список то вы можете выводить его по частям, а навигацию по ним сделать через интенты и/или подсказки.

[2022-01-25 09:07] Genenko-Svetlana commented on #231
@sasha-tlt проверьте, пожалуйста

[2022-01-31 06:58] Genenko-Svetlana commented on #276
Добавили параметр surface , который можно указать при вызове createSmartappDebugger  - нужно обновить assistant-client и указать поверхность, которая доступна для аппа. https://github.com/sberdevices/assistant-client#createsmartappdebugger

[2022-01-31 07:00] Genenko-Svetlana commented on #276
Добавили параметр `surface` , который можно указать при вызове `createSmartappDebugger`  - нужно обновить assistant-client и указать поверхность, которая доступна для аппа: https://github.com/sberdevices/assistant-client#createsmartappdebugger

[2022-02-14 10:46] subnetsRU commented on #138
Что по тикету?

[2022-02-14 12:02] Genenko-Svetlana commented on #138
Исправление в 1.78 (ориентировочно 09.03.22)

[2022-03-12 18:28] andreynovikov95 opened #281 "При выборе фона курсор не pointer на карточках"
**Где нашелся баг**: [Jazz](https://jazz.sber.ru/create)
**Описание проблемы**: В настройках при выборе фона курсор не pointer на карточках. Так же можно было бы изменить курсор на скролле, чтобы было понятнее что с элементом можно взаимодействовать с точки зрения UX. Можно еще лучше проработать tabindex (доступность), так как через Tab у меня так и не получилось выбрать другой фон (еще один баг).

[2022-03-28 13:41] Genenko-Svetlana commented on #281
Спасибо!
Похоже на маленький баг. Берем в бэклог, но с низким приоритетом.

[2022-03-28 13:41] #281 closed, assigned to Genenko-Svetlana

[2022-04-10 08:41] NikolayevRoman opened #282 "В SmartMarket Studio в инструменте "Code" разделе "Контент" добавить сортировку и поиск по названию файла"
В SmartMarket Studio в инструменте "Code" в разделе "Контент" добавить сортировку и поиск по названию файла.
При большом количестве контента это упростит поиск нужного файла.